[2019-06-28 16:32] phuocle commented on #595
I found the root case here. If you have user has a role "Bulk Edit" when you select the grid, the "Ediit" button in the command bar show -> openRecord(0) worked.

If user don't have the "Bulk Edit" role. it fail.

[2019-06-29 20:28] bwmodular commented on #596
Hi Krishna,
first up, I'd say this really isn't a question for the EasyRepro repostory, as I think one of the prime rules for EasyRepro is that you should only use it for testing things which can only be tested through the Dynamics frontend, and most, if not all of these tests can be done by issuing queries against the Dynamics data or metadata, and you'll find this an order of magnitude faster (a

[2019-07-02 12:08] mVermaat opened #598 "[BUG] Set MultiValueOptionSet broken"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)
  - [ ] Clas

[2019-07-02 15:26] kishkk84 opened #599 "How to select the option from suggested drop down list??"
## Question

**What is your question?**
How can i select the option from the suggested drop down list. This list will be available and i enter something in address line 1 text field.

I am looking to select the first option.

I tried the both but none worked:
`xrmBrowser.Entity.SetValue(addressLine1_Textbox_fieldName, "G5 0AP");
LookupItem addressLine1 = new LookupItem { Name = addressLine1_Textbo

[2019-07-02 18:33] rcjohnson113 commented on #279
There isn't a method for clicking sub-grid commands that are on the form. I created one:

XrmApp.Entity.ClickCommandOnSubGrid("Account KYC Records", "Add New KYC Account");

Microsoft.Dynamics365.UIAutomation.Api.UCI class add methods:

[code]

[code]

Also there isn't a way to select the record in a sub grid that is on the form. You have to create something similar to achieve this operation.

[2019-07-02 18:54] rcjohnson113 commented on #599
Your addressline1_Textbox_fieldName has to be wrong. Did you create a custom relationship to a custom entity called Country and labeled it Address Line 1. Take that schema name and use it in the lookup.

You can use the Value property in LookupItem as well to set the Lookup instead of index, might be more precise for what you need.

[code]
[code]

I always had problems with lookups, there's like 5

[2019-07-02 18:55] rcjohnson113 commented on #595
Depends on what grid, is it a grid on the form or an associated grid in the related tab?

[2019-07-02 18:59] rcjohnson113 commented on #587
@Haywaii @TYLEROL [Issue#279](https://github.com/Microsoft/EasyRepro/issues/279) has some code to help with this subgrid on the form clicking commands.

I did it by label of the sub grid as the actual metadata name of the sub grid I couldn't find.

[2019-07-02 19:04] rcjohnson113 commented on #503
Depends on how you have it setup. If you have the web resource opening to a new window then you need to switch to the window. Try debugging in Visual Studio then when you hit your break point before the error open your Immediate Window to play with the Window Handlers and see if new windows are appearing in the array. Then switch to that and try to run your code.

`            XrmApp.Driver.Switch

[2019-07-02 19:05] rcjohnson113 commented on #598
Add a screenshot of the multiselect field on the form and show how you called it in code.

[2019-07-04 17:46] Haywaii commented on #587
@rcjohnson113 thanks a lot! It's on dev branch isn't it?

[2019-07-05 09:08] praveenKumarCh opened #600 "How to get the field notification message text."
Ho to get the error message. refer the below screen shot.
![image](https://user-images.githubusercontent.com/50700992/60711361-6862d700-9f32-11e9-981d-3b02997ba9b1.png)
**OR**
![image](https://user-images.githubusercontent.com/50700992/60711432-921bfe00-9f32-11e9-9e8f-339f2fa766dc.png)

[2019-07-05 20:25] kavitham1985 opened #601 "Timeline Error when trying to create an appointment"
I am trying to create appointment using TimeLine and it throws this error in Microsoft.Dynamics365.UIAutomation.Browser\BrowserCommand.cs

public BrowserCommandResult<TReturn> Execute<T1, T2, T3, T4, T5, T6, T7, T8, T9>(IWebDriver driver, T1 p1, T2 p2, T3 p3, T4 p4, T5 p5, T6 p6, T7 p7, T8 p8, T9 p9) Method

{"no such element: Unable to locate element: {\"method\":\"xpath\",\"selector\":\"//li[con

[2019-07-09 19:34] kavitham1985 commented on #514
Looking for help on this one
@TYLEROL @jlattimer

[2019-07-10 06:58] mVermaat commented on #598
`
[TestMethod]
        public void TestMultiSelect()
        {
            var client = new WebClient(TestSettings.Options);
            using (var xrmApp = new XrmApp(client))
            {
                xrmApp.OnlineLogin.Login(_xrmUri, _username, _password);

                xrmApp.Navigation.OpenApp("CRM Hub");

                xrmApp.Navigation.OpenSubArea("Sales", "Accounts");

[2019-07-11 11:09] mVermaat opened #602 "[BUG] OpenEntity fails when first tab is hidden"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2019-07-11 11:18] mVermaat commented on #602
This can be fixed by waiting for the parent element (the tab list) to be clickable instead of the first tab. This way you don't need a certain tab to be visible. Created PR

[2019-07-11 15:52] kishkk84 commented on #520
Hi @TYLEROL
In my case it's not selecting the priority. After it enters the time and the cursor is in time field only and it waited for around 10 seconds and then got the below error:

System.InvalidOperationException: 'Field: prioritycode Does not exist'

Chrome Version: 75.0.3770.100
chromedriver : 75.0.3770.90

**Error Details:**
`System.InvalidOperationException
  HResult=0x80131509
  Message=

[2019-07-12 08:30] prachiwalke commented on #52
hi..
please help me in finding an element wit the customized XPath. below is the code:

 string brandname = "car_cust" + userData.Brand.ToLower() + userData.CarType.ToLower().Remove(3,4) + "walkin";
 string custwalkin_xpath = "//div[@data-id='" + brandname + "']/div/div[2]/div/div/div[2]/div/div[2]/div/input";
IWebElement custwalkin = client.Browser.Driver.FindElement(By.XPath(custwalkin_xpath));

[2019-07-12 11:46] vinodtakke opened #604 "optionset (does not exist) error."
I am getting optionset (does not exist) error but optionset is present on Opportunity. Not giving for  opportunitysource but giving for  opportunitytype so I have to comment the line and move ahead to execute script.

OptionSet oppSource = new OptionSet { Name = "opportunitysource", Value = listdata["SearchText5"].ToString() };
                xrmApp.ThinkTime(5000);
                xrmApp.Entity.

[2019-07-16 17:05] #564 closed, assigned to TYLEROL

[2019-07-16 17:19] TYLEROL commented on #577
@praveenKumarCh - Does this only occur when using the Remote webdriver? Or does it also occur specifying a local browser?

Thanks,
Tyler

[2019-07-18 05:40] praveenKumarCh commented on #587
Any updates on it...?

[2019-07-19 20:45] gvanesa opened #605 "[HOW-TO] Get other values from optionset, not only the select?"
## Get other values from optionset, not only the select?

Well i need check that the optionSet was configurated with (valueA, valueB, valueC). But only show the selected value.

Thanks

[2019-07-20 04:41] thathi commented on #605
I hope this is what you are looking for?

xrmBrowser.Entity.GetHeaderOptionValues(new OptionSet { Name = "status"});
xrmBrowser.Entity.GetOptionValues(new OptionSet { Name = "status"});

[2019-07-21 10:08] tza3688gm commented on #520
P1729

[2019-07-22 18:47] alexanderkbraun opened #606 "Microsoft Dynamics CRM EasyRePro automated test Selenium Error - ElementClickInterceptedException"
I am trying to set up some automated tests for a Microsoft Dynamics CRM inhouse application. For this, I am using C# (Visual Studio 2017), Selenium (Version 3.14), as well as EasyRePro, and ChromeDriver 74.0.3729.6.

The problem that I am having is when I try to do a second Browser.Grid.Switchview within my code I get the following error "Exception Experienced: OpenQA.Selenium.ElementClickIntercep

[2019-07-24 08:59] sagarbajad commented on #104
Is there any same method for UCI? like "xrmApp.Navigation.OpenAdvancedFind()" ?

[2019-07-24 12:12] praveenKumarCh opened #607 "when there is no records in grid _xrmApp.Grid.OpenRecord(0); function should throw an error but this is not happening."
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2019-07-26 10:17] sagarbajad commented on #600
Same issue with following - How to get the text of these 2 notifications?

![Noti](https://user-images.githubusercontent.com/47889413/61945032-a34dad00-afbc-11e9-854d-9581198779ad.png)

[2019-07-26 21:04] TYLEROL commented on #602
Thanks @mVermaat . This change that you submit will be included in a new PR #609  against the develop branch. I will be doing a push to the releases/v9.1 branch later today and updating the NuGet feed with a new package version to also include the change.

[2019-07-26 21:04] #602 closed, assigned to TYLEROL

[2019-07-26 21:21] TYLEROL commented on #526
Thanks @sammcquistan . I've added some of these scenarios to our backlog of feature enhancements and will update if/when we're able to add these in the future.

[2019-07-26 23:52] TYLEROL opened #610 "Timing Issues on Time field with ActivityFeeds.AddTask"
Hi all,

Thanks for helping me look into this. @TYLEROL I am using Chrome 75.0.3770.100 and my chromedriver version is 74.0.0 (most up-to-date version according to NuGet). I am still having issues with this script and am still unable to add a task to my activity feed. I have attached a GIF to display the behavior I am experiencing.

![createtask](https://user-images.githubusercontent.com/49731029/

[2019-07-26 23:55] TYLEROL commented on #520
@kishkk84 - I'll take a look at this as a part of issue #610

@sammcquistan - The core of these changes will be made available in build 9.1.0.6210 and the latest releases/v9.1 branch. Similar to the other issue posted here, it appears there may be a timing problem that is not quite replicating on my side. I was able to test with both Date/Time and Date Only fields with no issue. From your last upd

[2019-07-26 23:55] #520 closed, assigned to TYLEROL

[2019-07-26 23:56] TYLEROL commented on #578
@ArvindBhat83 - We've published some changes today as a part of build 9.1.0.6210 and to the latest releases/v9.1 branch. Could you please test this again?

If the problem is not resolved, please re-open this issue and notify me for further investigation.

Regards,
Tyler

[2019-07-26 23:56] #578 closed, assigned to TYLEROL

[2019-07-26 23:57] #577 closed, assigned to TYLEROL

[2019-07-26 23:58] TYLEROL commented on #577
@praveenKumarCh - Once you're able to validate whether this is related to Remote WebDriver only, or if it reproduces with local browser, please let us know for further assessment.

[2019-07-29 12:31] NicolasPrats opened #611 "[BUG] EasyRepro doesn't recognize crm12.dynamics.com as an online domain"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [X] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [X] UCI (XrmApp)
  - [X] Clas

[2019-07-29 12:40] JINK666 opened #612 "Getting wrong related records from GetGridItems"
## Question

**What is your question?**

Good afternoon,

I need to retrieve all the items from a related entity. When I use:

xrmBrowser.Navigation.OpenRelated("Test cases);

List<GridItem> testCases=  xrmBrowser.Grid.GetGridItems();

I also tried using:

xrmBrowser.Grid.SwitchToRelatedFrame();
driver.WaitForPageToLoad();
driver.SwitchTo().DefaultContent();

I don't get the related testcases in t

[2019-07-30 06:02] Dolph-Dragon opened #613 "Errors after cloning develop Branch with latest Version 9.1"
Hi,
i wanted to check out the latest Version of Easy Repro after running into Issues with older Versions.
So i cloned the Repo and started a build in Visual Studio 15. After the build had finished, i got a lot of Errors, mostly because of this code ( in Microsoft.Dynamics365.UIAutomation.Api -> XrmPage.cs ) :

public BrowserCommandResult<bool> SetValue(TwoOption option)
        {
            retur

[2019-07-30 10:46] Skumar2crr opened #614 "How to handle alerts in xrmApp?"
I was trying to handle alerts in xrmApp. But was not allowed to access driver. And want to know how can we handle this alerts.

[2019-07-31 09:12] #599 closed, assigned to nobody

[2019-07-31 11:02] krishnacs1993 commented on #614
Hello Skumar2crr,

Can you try initializing the driver in the webClient class in the solution and referencing in your test as  client.Browser.Driver.Alert()

[2019-07-31 11:06] Skumar2crr commented on #614
Thank you so much Krishnacs1993: It worked for me. The only change i did after initializing the driver was.
client.Browser.Driver.SwitchTo().Alert().Accept();

[2019-07-31 20:57] kavitham1985 commented on #415
@jlattimer I am looking for similar thing because we want to run a workflow on a view in advanced find. Is there a different way to achieve this?
For Example: I should be running a workflow to change a value on My Accounts View from advanced find

[2019-08-01 09:11] mVermaat opened #615 "[BUG] ChromeDriver not found after updating NuGet package from 9.1.0.5230 to 9.1.0.6210"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2019-08-01 13:39] hemabhandari2410 opened #616 "How to navigate to previous page."
## Question

How to navigate to previous page.
I am trying to navigate to the previous page. so i am using here xrmBrowser.Navigation.PreviousPage();
But its not redirecting  to previous page.
 Let say i have an account under which i have created an activities appointment , it will jump into the appointment page and save it then i want to go back using that above code.

Can you help me out why abo

[2019-08-02 07:06] Skumar2crr opened #617 "Unable to click on lookup value in UCI after saving the record with version 9.0"
Hello

I am trying to check some validations on customized form in UCI, by clicking on the lookup value after saving the record.
Functionality:
1. Open the form and create record.
2. Click on specific lookup field value(which opens the specific record).
3. Verify specific fields to pass the test.

I am unable to to click on the lookup value after saving the record.
Multiple ways i tried:

1. Find

[2019-08-02 12:06] jurka10 opened #618 "Selecting specific driver location"
Hello!

I am trying to change the path to the driver but when assigning a value to the DriversPath variable it doesn't find the driver from the folder.
Has anyone faced the same problem and resolved it? Or any suggestions on how to handle this please?

Thanks

[2019-08-05 15:10] mVermaat opened #619 "[Question] What is the TestMode flag?"
## Question

What is the 'UCITestMode' flag that you can set in the BrowserOptions? I read the summary above the property, however I don't understand the consequences of this. Can you please elaborate or link to documentation regarding this flag?

[2019-08-06 02:34] gabrieljunckes opened #620 "[BUG] Set value for a lookup is selecting the field on the header"
## Bug Report

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dyn

[2019-08-06 09:29] RohitNabhi opened #621 "Phonecall"
How to add on Phone call option value under Activities Subgrid after user clicks on + button in the attached pic
<img width="934" alt="Phonecall" src="https://user-images.githubusercontent.com/37740764/62528649-d0227f80-b85a-11e9-9015-8575a027c601.PNG">

[2019-08-06 13:09] kishkk84 commented on #621
@RohitNabhi Have you tried the below:

xrmBrowser.ActivityFeed.AddPhoneCall(description);

[2019-08-06 14:10] vcinampudi opened #622 "UCI 9.1 : After Search xrmApp.Grid.OpenRecord(index) method Is not Opening Searched Record."
I have searched a record in Grid in Account\Leads\Contacts \etc... Modules but when trying to open the Searched record from Results Grid is neither opening nor throwing an exception.

[2019-08-06 14:22] vcinampudi opened #623 "UCI 9.1 Element not Present exception using SetValue() when reached to bottom of form"
## Bug Report

We have many fields in all modules form's to enter data. When code entered a value in the last field in the left section then Code supposes to enter value's in the section which is present in the right top of the form but it is throwing an exception as Element is not present which is present in the right top of the form. If I scroll up to page manually(during debug) it is entering d

[2019-08-07 06:31] RohitNabhi commented on #474
Yes, getting the below error while i tried with Activityfeed
"The Activity Feed is not available. Please check that the Activities tab is selected."

[2019-08-07 06:32] RohitNabhi commented on #621
Yes, getting the below error while i tried with Activityfeed
"The Activity Feed is not available. Please check that the Activities tab is selected."

[2019-08-07 12:37] mariokrajmer commented on #32
this actually works
`xrmBrowser.Driver.ExecuteScript($"return Xrm.Page.getControl('firstname').getDisabled();");`

so the previous
`xrmBrowser.Driver.ExecuteScript("Xrm.Page.ui.controls.get('firstname').getDisabled();").ToString();`
was missing the "`return`"

[2019-08-08 07:59] pieterh commented on #607
either returning a bool indicating success/failure or an exception. It looks like that the RelatedGrid (OpenGridRow) throws an exceptoin :
throw new InvalidOperationException($"No record with the index '{index}' exists.");

[2019-08-08 14:08] praveenKumarCh opened #624 ""Not able to navigate SubArea. If the app is already logged in the specific test instance, (No need to use of_xrmApp.Navigation.OpenApp(p0);) Then _xrmApp.Navigation.OpenSubArea(area, subarea); is not working Issue : Object reference not set to an instance of an object"
## Question

**What is your question?**

[2019-08-08 14:12] praveenKumarCh commented on #624
Result StackTrace:
at Microsoft.Dynamics365.UIAutomation.Api.UCI.WebClient.<>c__DisplayClass15_0.<OpenSubArea>b__0(IWebDriver driver)
   at Microsoft.Dynamics365.UIAutomation.Browser.DelegateBrowserCommand`1.ExecuteCommand(IWebDriver driver, Object[] params)
   at Microsoft.Dynamics365.UIAutomation.Browser.BrowserCommand`1.Execute[T1,T2,T3,T4,T5,T6,T7,T8,T9](IWebDriver driver, T1 p1, T2 p2, T3 p3,

[2019-08-08 14:15] praveenKumarCh commented on #624
Result StackTrace:
at Microsoft.Dynamics365.UIAutomation.Api.UCI.WebClient.<>c__DisplayClass15_0.<OpenSubArea>b__0(IWebDriver driver)
   at Microsoft.Dynamics365.UIAutomation.Browser.DelegateBrowserCommand`1.ExecuteCommand(IWebDriver driver, Object[] params)
   at Microsoft.Dynamics365.UIAutomation.Browser.BrowserCommand`1.Execute[T1,T2,T3,T4,T5,T6,T7,T8,T9](IWebDriver driver, T1 p1, T2 p2, T3 p3,

[2019-08-09 09:01] #618 closed, assigned to nobody

[2019-08-09 10:09] jurka10 opened #625 "Firefox Options aren't passed on"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2019-08-10 11:06] sagarbajad opened #626 "UCI - xrmApp.Entity.SetValue(new OptionSet { Name="", Value=""}); throws System.NullReferenceException: Object reference not set to an instance of an object."
UCI -  xrmApp.Entity.SetValue(new OptionSet { Name="", Value=""}); throws System.NullReferenceException: Object reference not set to an instance of an object.

Test Name:	TC001ModuleTestCreateNewLead
Test FullName:	Microsoft.Dynamics365.UIAutomation.Sample.UCI.CreateLead.TC001ModuleTestCreateNewLead
Test Source: C:\Users\***\Source\Workspaces\***\UIAutomations\Microsoft.Dynamics365.UIAutomation.Sa

[2019-08-11 13:08] remyanambala commented on #279
Hi,

I faced same issue with an Add button and on debugging found that the Xpath in App reference is different to what is in page. It worked for me after changing xpath slightly - removed the "Associated " text from search.

code:
 xrmApp.RelatedGrid.ClickCommand("Add");

AppElementReference.cs
change below line:
{ "Related_CommandBarButton", "//button[contains(., '[NAME]') and contains(@data-id,'

[2019-08-11 13:10] remyanambala commented on #587
Hi,

I faced same issue with an Add button and on debugging found that the Xpath in App reference is different to what is in page. It worked for me after changing xpath slightly - removed the "Associated " text from search.

code:
xrmApp.RelatedGrid.ClickCommand("Add");

AppElementReference.cs
change below line:
{ "Related_CommandBarButton", "//button[contains(., '[NAME]') and contains(@data-id,'S

[2019-08-13 05:45] #624 closed, assigned to nobody

[2019-08-13 06:51] Ketanb03 opened #627 "Issue with selecting a tab in UCI"
I am not able to select a tab which appears on clicking More Tabs(3 dots) using xrmApp.Entity.SelectTab("Manager's Decision") method. I get an error "The tab with name: Manager's Decision does not exist"

![image](https://user-images.githubusercontent.com/16450265/62920847-87bc1200-bdc4-11e9-9dc0-3f0bb8396f46.png)

[2019-08-13 13:45] ryanpiran opened #628 "Support of Dynamics 2019 release wave 2"
## Question

Hi, Could you please advise if there are plans/timescale to support the 2019 Release Wave 2 version of Dynamics 365? We have updated one of our testing environments to the update scheduled for release in October via early access as detailed here:

https://docs.microsoft.com/en-us/dynamics365-release-plan/2019wave2/features-ready-early-access

We have noticed quite a substantial impact

[2019-08-13 13:58] Jackclarke95 commented on #628
We are also experiencing issues as a result of this. Any guidance at all would be greatly appreciated, so we can plan ahead.

Cheers

[2019-08-13 15:22] Tyler-Arnold commented on #628
What they said ^

Can we get some input on this?

[2019-08-15 10:10] Danbown opened #629 "[HOW-TO] Find missing 'Microsoft.Dynamics365.UIAutomation.Api.dll'"
Hi

I followed instructions to clone project, open Solution in VS 2015 and then Build solution.
I get a few errors that prevent me from seeing any tests. Please see main error and please note that I don't have a folder/file named 'CSC':

Severity: Error
Code: CS0006
Description: Metadata file 'C:\Users\username\Source\Repos\Microsoft.Dynamics365.UIAutomation.Api\bin\Debug\Microsoft.Dynamics365.UIA

[2019-08-16 16:42] tipsey opened #630 "[BUG] Firefox System.InvalidOperationException: (InsecureCertificate)"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [X ] Microsoft Dynamic

[2019-08-19 05:44] sagarbajad commented on #627
Hi Ketan,

If you want to select "Cases" from "Related" then try with xrmApp.Entity.SelectTab("Related","Cases");

[2019-08-19 09:00] prachiwalke opened #631 "Issue in scrolling up/down on the page in Dynamics 365"
Can not find the element present at the far bottom or top of the page. It gives NoSuchElementException. Have to manually scroll up to that element while executing the Automation Script. Please help to solve this issue

[2019-08-19 13:52] Haywaii commented on #622
Can you give us more details of what you do please?
Screenshot, code will be useful to help you.

Unlikely people/dev from easyRepro will have time to help if you throw your error just like this :)

[2019-08-19 13:57] Haywaii commented on #617
From what i understand (tell me if i'm wrong), you fill the lookup field when creating your record and then after that you want to come back to see if your field is populated?

If the case why not use getValue() on lookup instead to get the value of the field?

[2019-08-19 14:00] Haywaii commented on #615
Yes got the same problem, i guess it's the way the new package try to find the chromedriver extension.
I tried to solve it but nothing works so far so I did downgraded to 9.1.0.5230.
@tylerd for you information :)

[2019-08-19 14:04] Haywaii commented on #631
Can you provide more details here so people can help?
Like the code you use, which version of easyRepro, UCI or old interface?

It will be difficult for the community to help without having more information.

Thanks,

[2019-08-19 14:08] Haywaii commented on #629
Hi Danbown,

Did you try to clone your project again?
Did you try to reload project dependencies or resolved potential missing artefact and then clean/build your project again?
Any other error logs you got for the community here to help more?

Thanks,

[2019-08-19 14:12] Haywaii commented on #627
Hi Ketan,

What you are trying to do isn't possible at the moment. "..." is not considered as a tab itself so you will have to use selenium to click and access it.

If you look at the code for SelectTab function you can see it accept "More" as a tab only.
A potential fix will be to add "..." in the function code.
You can clone the dev branch and test by yourself if you want to see if it works and

[2019-08-19 14:19] Haywaii commented on #626
Hi sagarbajad,

Is it possible to provide us the code you are doing so the community can try to help?

In your case you are using OptionSet without filling data for name / value so i don't think it will never work. Name/Value are a key mandatory for xrmApp to find your option set i think.

Thanks,

[2019-08-19 18:19] alexanderkbraun commented on #606
Has anyone else experienced this before?

[2019-08-20 07:56] ryanpiran commented on #631
@prachiwalke See issue #489 as this seems to be the same issue. A fix was released in the 9.1.0.5230 NuGet package. The issue was caused by the introduction of a 'lazy loading' feature released in a recent update of Dynamics. The fix introduced a new browser option called UCITestMode. When this option is set to True, the UCI app is in test mode. This test mode disables the lazy loading functionali

[2019-08-20 10:47] mVermaat commented on #631
Yes the TestMode from issue #489 solves the fact that the page loads all elements. However, if the field is underneath the header (red area in image below), I do still get an error (Element Click Intercepted)

Secondary when the value is not in the view and it has to scroll up, it will scroll up making the field be in the red area too, causing an intercept.

![Error](https://user-images.githubuser

[2019-08-20 14:06] vcinampudi commented on #622
1=>                xrmApp.Grid.Search("ABC");
2=>                if ((xrmApp.Grid.GetGridItems()).Count == 1)
3=>              {
4=>                    xrmApp.Grid.OpenRecord(1);
5=>              }

The above code is searching the specific record but when trying to open searched record(Line 4) from results it is not opening.

I don't see any error but not able to open after search the record.

[2019-08-20 14:14] vcinampudi commented on #631
Seems #631 and  #623 are same

[2019-08-21 11:15] mVermaat commented on #627
I needed this functionality too, so I created a PR for this.

[2019-08-21 12:43] sagarbajad opened #633 "After getting latest v9.1 code, build solution gives "Syntax error, ',' expected""
After getting latest v9.1 code, build solution gives "Syntax error, ',' expected"
![image](https://user-images.githubusercontent.com/47889413/63431912-9a29f180-c43d-11e9-9c04-1cc2f508862e.png)

[2019-08-21 12:51] sagarbajad commented on #633
EasyRepro/Microsoft.Dynamics365.UIAutomation.Api/Pages/Entity.cs
![image](https://user-images.githubusercontent.com/47889413/63433050-060d5980-c440-11e9-9e36-6b75a37fb4d9.png)
![image](https://user-images.githubusercontent.com/47889413/63433079-16bdcf80-c440-11e9-960b-522c1df38c59.png)

EasyRepro/Microsoft.Dynamics365.UIAutomation.Api/XrmPage.cs
![image](https://user-images.githubusercontent.com/4

[2019-08-21 13:11] sagarbajad commented on #626
I am not sure what happened but after creating the code in new file, it started working for me.
I purposely did not put any data for name / value just to give the example of the code I am using.

Thanks

[2019-08-21 13:12] #626 closed, assigned to nobody

[2019-08-21 15:23] #627 closed, assigned to nobody

[2019-08-21 19:58] kishkk84 opened #634 "What is the best way to run the same tests on Old UI and New UCI??"
Currently my tests are designed as per the old instance of CRM (i.e., using xrmBrowser).

However, we are planning to migrate our CRM instance to UCI in phases. So I was asked to run my tests on both the instances  for time being. Once the migration is complete then i will only be running on UCI.

For example:
Current Login Test in format:
`xrmBrowser.LoginPage.Login(xrmUri, username.ToSecureStrin

[2019-08-22 08:07] mVermaat commented on #633
Are you by any chance using an old Visual Studio version (2015 or older)? This language feature was introduced in C# 7.0.

https://www.c-sharpcorner.com/article/out-variables-in-c-sharp-7-0/
https://stackoverflow.com/questions/39461407/how-to-use-c-sharp-7-with-visual-studio-2015

[2019-08-22 08:19] mVermaat commented on #634
I also wanted to do something like this in the past. The problem is that the xrmbrowser and UCI client don't have a shared interface. This will make it quite difficult to do so. You can if you really want to create your own classes that either call the xrmbrowser or the UCI client. I found that the amount of effort needed to do something like this is too high.

Another option is to keep a branch w

[2019-08-22 08:22] sagarbajad commented on #633
I am using:
![image](https://user-images.githubusercontent.com/47889413/63498693-09f2b780-c4e4-11e9-87fe-de3c3bf44f9b.png)

[2019-08-22 09:57] mVermaat commented on #633
I recommend switching to a newer Visual Studio. If that's not an option, then you can try to follow the second link (https://stackoverflow.com/questions/39461407/how-to-use-c-sharp-7-with-visual-studio-2015) from my previous comment. I didn't try myself, but that might work.

[2019-08-23 07:02] sagarbajad commented on #633
Thanks, switching to newer Visual Studio worked.

[2019-08-23 07:02] #633 closed, assigned to nobody

[2019-08-23 09:39] BenjaminDeveloper commented on #628
Has there been any update with this?

[2019-08-23 09:56] Jackclarke95 commented on #628
Bump

[2019-08-23 19:47] ikeselman commented on #185
Hi guys
If I run same test,

using (var xrmBrowser = new Api.Browser(TestSettings.Options))
            {
                xrmBrowser.LoginPage.Login(_xrmUri, _username, _password);
                xrmBrowser.GuidedHelp.CloseGuidedHelp();

                xrmBrowser.ThinkTime(500);
                xrmBrowser.Navigation.OpenSubArea("Sales Hub", "Accounts");

                xrmBrowser.ThinkTime(2000

[2019-08-24 19:52] Haywaii commented on #622
Thanks,
It's because if you have only one record you need to do
xrmApp.Grid.OpenRecord(0) instead of 1 to select the first one

Index start at 0 for the first element.

Tell me if it solves your problem.

[2019-08-24 20:02] Haywaii commented on #634
Hello @kishkk84

It's not something you can do easily.
I highly recommend what @mVermaat suggest which is having a branch or a repo specific for the old interface and then another project/repo for the UCI (where you move piece by piece your old scenarios).

In my company we had to go through that and it was the best solution.
If the migration is still not done from CRM instance i guess it means yo

[2019-08-26 13:32] ikeselman opened #635 "UCI XrmApp test fails, but corresponding Browser test works"
Hi everyone
I am using VSTS Community Edition 2019 and EasyRepro Git Demo Projects

using (var xrmBrowser = new Api.Browser(TestSettings.Options))
{
xrmBrowser.LoginPage.Login(_xrmUri, _username, [_password);
xrmBrowser.GuidedHelp.CloseGuidedHelp();

            xrmBrowser.ThinkTime(500);
            xrmBrowser.Navigation.OpenSubArea("Sales Hub", "Accounts");

            xrmBrowser.ThinkTime(2000

[2019-08-27 12:01] Haywaii commented on #635
Hi @ikeselman

You're last error is a warning not an actual error from what i see but you just need to download through VS the DotNetSeleniumExtra package in your project and use it every time you used the selenium package one.
You can find this one by browsing "DotNetSeleniumExtras" on the marketplace and download the page object one at least.

It will be better and you will not get that anymore.

[2019-08-27 12:31] ikeselman commented on #635
Hi Haywaii,
Appreciate your help
I installed packages you suggested, then Clear Solution and Build Solution again.
Now new warning coming:
**_Warning	CS0436	The type 'Constants' in 'C:\Users\ikeselman\Source\Repos\EasyRepro\Microsoft.Dynamics365.UIAutomation.Browser\Constants.cs' conflicts with the imported type 'Constants' in 'Microsoft.Dynamics365.UIAutomation.Browser, Version=0.0.0.0, Culture=n

[2019-08-27 13:12] Haywaii commented on #635
This one is just a warning nothing to worry about for failure (it could lead to other problem but it's not a blocker). You can build your solution and run your test.
It's just mean you need to choose which constants object you want to use. I don't know your code but will recommand using the one in Constants.cs everytime.

[2019-08-27 13:21] ikeselman commented on #635
Thanks a lot
I am using Demo Solution from GitHub named  _microsoft/EasyRepro_ **UIAutomation** with 4 Project inside. I building Solution but getting

Error	CS1061	'Navigation' does not contain a definition for 'RetrieveServerVersion' and no accessible extension method 'RetrieveServerVersion' accepting a first argument of type 'Navigation' could be found (are you missing a using directive or an a

[2019-08-27 13:41] Haywaii commented on #635
At this point it will be difficult to help. I am not very skilled with the sample project.
I never heard of a method "RetrieveServerVersion" with Navigation object tho.

Maybe someone else would be able to help.
Can you give more details for everyone here please? (for which project you got the error, which version of the package by example)

For the package, i would recommend for every class where

[2019-08-27 13:47] ikeselman commented on #635
I am getting error for Project Microsoft.Dynamics365.UIAutomation.Sample

My packages.config
package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net46" />
package id="Dynamics365.UIAutomation.Api" version="9.0.2.7" targetFramework="net46" />
 <package id="Microsoft.ApplicationInsights" version="2.4.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="1

[2019-08-28 11:47] tipsey commented on #513
This is how I got around Windows Authentication Login (Could not use the ADFS Login on our On-Premise CRM Install).  Just defined the Login elements:

`using (var xrmBrowser = new Browser(TestSettings.Options))
            {
                DateTime dt = DateTime.Now;
                String xpath = "//*[@id='search']";
               // String logoffcrm = "#navBarUserInfoTextId > span.navTabButton

[2019-08-28 13:28] Haywaii commented on #635
Uhm i am wondering if it's not linked to the error with the new version of the framework that some people are getting now.
Can you try to downgrade to an older one and check what happen please?

[2019-08-28 13:35] ikeselman commented on #635
I tried already and I have a feeling it is because Visual Studio 2019 Community Edition I am using and need to downgrade to 2017 one
Do you know if it any way to install 2017 Community edition? When I download 2017 from  MS
and installing it to Windows 10 VM it is installing 2019 instead - I looking for other option
Here where I got VS 2017 version from and still get 2019
https://docs.microsoft.co

[2019-08-28 13:56] grace-davies opened #636 "Can not open record from associated grid"
The record will not open from associated grid, does anyone have any suggestions please?
On version 8.2

**CODE**
xrmBrowser.ThinkTime(10000);
                //xrmBrowser.QuickCreate.Save();
                xrmBrowser.Entity.SwitchToContentFrame();
                //xrmBrowser.ThinkTime(10000);
                xrmBrowser.Entity.Save(3000);
                xrmBrowser.Entity.ClickSubgridGridViewButt

[2019-08-28 15:04] grace-davies opened #637 "How to select value of an Option Set in a Business Process Flow?"
I have been trying to select a value of an option set in a Business Process flow, I can get it to find the value but not select. Does anyone have some recommendations please?

On version 8.2

 **CODE**
 //Recommended Outcome
                xrmBrowser.Entity.SetValue("field_id", "NA");
                xrmBrowser.Entity.SetValue(new OptionSet { Name = "field_id", Value = "Proceed" });

[2019-08-29 07:51] Haywaii commented on #635
I don't use Community edition so i don't know but you can normally install two version of VS without any problem (i got two versions here at work).

best shot is to make sure you deinstall everything from VS 2019 to be sure.

Can't help more here i'm afraid. Good luck

[2019-08-30 18:32] ikeselman commented on #635
Thanks @Haywaii
I uninstalled 2019 version and install 2017,
Installing NuGet Packages required for Dynamics 365 online ver 9.0
When Build Solution getting same Warning
The 'packages' element is not declared.
Microsoft.Dynamics365.UIAutomation.Sample	C:\Users\ikeselman\Documents\Visual Studio 2017\Projects\EasyRepro-develop\Microsoft.Dynamics365.UIAutomation.Sample\packages.config	2

<packages>

[2019-08-30 21:49] Danbown commented on #629
Hi Haywaii
thanks, have got it sorted.
I was missing a project dependency and also needed to fix some code unsupported in my version of VS. Thanks for help

[2019-08-30 21:55] Haywaii commented on #629
Good to know you figured out!

[2019-09-02 08:39] vaclavrozsypal commented on #469
Hi, I'm facing the same issue..

[2019-09-04 15:02] PeteLangdown commented on #628
We are having the same issue and want to ensure our automated regression suite is compatible prior to the new release being deployed.  Is there an ETA on this?

[2019-09-04 15:58] ikeselman commented on #635
Hi Emmanuel,
Good news: we figure out how to fix issue with error when Building Solution.
I was getting error "Does not contain a static 'main' method suitable for an entry point"
Here is Solution under this link:
https://stackoverflow.com/questions/9607702/does-not-contain-a-static-main-method-suitable-for-an-entry-point

That great.
Now I have small issue with Chrome Browser versions
When I try

[2019-09-04 18:44] ikeselman commented on #110
Hi TYLEROL
How to change  testsettings.cs configurations to run Test Cases in Firefox or IE Browsers
Here mu TestSettings

using Microsoft.Dynamics365.UIAutomation.Api;
using Microsoft.Dynamics365.UIAutomation.Browser;
using System;

namespace Microsoft.Dynamics365.UIAutomation.Sample
{
    public static class TestSettings
    {
        public static string InvalidAccountLogicalName = "accounts";

[2019-09-04 22:35] kramburley commented on #593
Hi, I am new to C# so please excuse me if my question is too basic. I am experiencing quite a similar issue as demanibo although different requirement. I have an OnPrem deployment with ADFS.

I tried using the Online version thinking they are both using the webbrowser driver, and it might not be that different from the OnPrem. After restoring package (successful), building the solution (no errors)

[2019-09-05 02:05] bhart24 opened #638 "Is there a version of EasyRepro or other similar package that works with Microsoft Dynamic CRM 2015"
Hi , one of our applications is still on Microsoft Dynamics CRM 2015 (7.0.2.53) (DB 7.0.2.53).
Just wondering if there a version of EasyRepro or other similar package that works with this version of dynamics?

Tried EasyRepro but it fails when trying to navigate to sub areas.

regards,
Bhart

[2019-09-05 12:34] Haywaii commented on #635
Hi, @ikeselman

Good to see you solved your issue.
The issue you are having right know, i think, is linked to the chrome driver packages and your version of chrome.

You need to make sure both of your packages (in your project) and chrome version are the  same version/supported.
packages are :
- Selenium.Chrome.WebDriver
- Selenium.WebDriver.ChromeDriver

So let's say my chrome version is v0.76 th

[2019-09-05 15:09] ikeselman commented on #635
Thank you @Haywaii
Updated all as you suggested
Now when run Test getting new errors

Severity	Code	Description	Project	File	Line	Suppression State
Error		Unable to copy file "C:\Users\ikeselman\Documents\Visual Studio 2017\Projects\EasyRepro1\EasyRepro-develop\packages\Selenium.WebDriver.ChromeDriver.76.0.3809.12600\build\..\driver\win32\chromedriver.exe" to "C:\Users\ikeselman\Documents\Visual S

[2019-09-05 19:36] ikeselman commented on #635
Running Test CreateAccount and getting now

Microsoft.Dynamics365.UIAutomation.Sample.Web.CreateAccount.WEBTestCreateNewAccount threw exception:Login page failed

LoginDialog.cs line 150

[2019-09-05 22:42] kramburley commented on #593
For anyone that might be new to this. I resolved my issue by downloading the latest version of the chromedriver https://sites.google.com/a/chromium.org/chromedriver/ and replacing the chromedriver inside **project/**UIAutomation.Sample/bin/Debug** and **project\packages\Selenium.Chrome.WebDriver.74.0.0\driver** and updating the version number in **packages.config** to 76.0.0

[2019-09-06 07:01] Haywaii commented on #635
From now you need to debug to see why the login doesn't work.

Good luck

[2019-09-06 12:29] abubakarafzal opened #639 "ClickCommand("Save & Close")"
## Question

**i want to know about ClickCommand("Save & Close")?**
i want to edit my other service right now using nurse recruitment.
i want to edit the Sales Sample.
For example i am having a scenario which i am going to implement another button and button name is Click Me . i just need to pass Click Me.
for eg
                xrmApp.CommandBar.ClickCommand("Click Me);

 .Is this command will cl

[2019-09-06 16:34] ikeselman commented on #635
Yes you right, by Debugging code I getting into few conclusions:
- Missing Elements values and I need to define them in code

![image](https://user-images.githubusercontent.com/50208770/64444428-1d844d80-d0a2-11e9-86a0-ef60e6423603.png)

OR/AND

- we using Staging Sandbox for now testing and fail because SubArea we do not have in Staging  and it is designed to find Area and not SubArea:

![image](

[2019-09-06 17:31] kramburley opened #640 "How to handle popup login window?"
Hi Team,

Is there a way to login when I get a popup login window?

![image](https://user-images.githubusercontent.com/25067937/64447842-291b4880-d091-11e9-92c7-3a02a71ede3d.png)

OnPrem v8.2

[2019-09-09 05:34] JINK666 commented on #612
Any suggestions?

[2019-09-09 09:43] prachiwalke opened #641 "How to handle Sub-Grids in UCI? Need to handle "Add Record" etc. operations"
![image](https://user-images.githubusercontent.com/51471781/64520692-4dd32280-d314-11e9-927f-5af136c3d194.png)

[2019-09-11 09:27] deep-hub opened #642 "dynamics 365 adfs login not working of build 8.1 tried with adfs login getting object reference error on commenting xrmBrowser.GuidedHelp.CloseGuidedHelp(); please help"
Please help. Will really appreciate on quick response. Thanks in advance.

Please let me know what changes to made. Easy repro version 8.1, I check earlier post, it was written ADFS login works fine.

------------Contact page information of web browser dynamic 365

using Microsoft.VisualStudio.TestTools.UnitTesting;
using Microsoft.Dynamics365.UIAutomation.Api;
using Microsoft.Dynamics365.UIAutoma

[2019-09-11 10:24] deep-hub commented on #642
@TYLEROL

[2019-09-11 11:06] abubakarafzal commented on #190
i am facing same issue can you help us ? @TYLEROL

[2019-09-11 12:09] abubakarafzal opened #643 "[HOW-TO] <use the custom Xpath in Xrmapp?>"
## Question

**How do i use Xrmapp to find an element?**
i know the xpath of element but unable to use it in my automation script . i want to get the text of graph value .In Web we can find an element by xrmBrowser.Driver.FindElement(By.Xpath("Path"));

How do i use it in UCI . Please tell me how can i use the xpath in UCI.

`

                   xrmApp.OnlineLogin.Login(_xrmUri, _username, _passw

[2019-09-11 16:38] abubakarafzal commented on #599
@rcjohnson113 can you tell me other ways also ?

[2019-09-12 08:52] chinmay367 commented on #581
is this issue fixed now? I am also facing same issue.@TYLEROL

[2019-09-13 03:01] prachiwalke commented on #641
Please reply on this, Stuck in my work due to this

[2019-09-13 19:31] ahirshfield commented on #641
There's an answer inside https://github.com/Microsoft/EasyRepro/issues/279, but it involves downloading the code from here and creating your own DLL. Follow the comment from remnam on Aug 11.

That said, this should be fixed here in the official version.

[2019-09-14 05:14] rafism13 commented on #587
Hi rcjohnson113, the code you mentioned is not clicking on the button.code is getting executed but its not clicking on the Add button.
In the code which you have mentioned
 var items = parentElement.FindElements(By.TagName("li"));

this items count is coming as null.

please suggest

[2019-09-14 05:15] rafism13 commented on #587
Did the issue got resolved for you

[2019-09-18 08:49] Skumar2crr commented on #617
@Haywaii
No that is not what i said, See the screenshot below. I want to click on the lookup value marked in green after saving the record, which takes me to that record.
![Lookup](https://user-images.githubusercontent.com/53076220/65132659-37565680-d9f9-11e9-9755-969c1e975e7e.jpg)

[2019-09-19 07:45] Haywaii commented on #587
@rafism13 i didn't have a chance to take another look so can't help.
Maybe @rcjohnson113 or @TYLEROL will have more feedback.

[2019-09-19 07:55] Haywaii commented on #617
@Skumar2crr ah ok.
Never got this problem when clicking on a lookup value to open something else.

What's the element you try to use to click?

I got a similar action where i do
"[FindsBy(How = How.CssSelector, Using = "[data-id='customerid.fieldControl-Lookup_customerid']")]
protected internal IWebElement AccountLink { get; set; }"

I used data-id property to reach my element.

Be aware after cli

[2019-09-19 12:37] thathi commented on #364
@drkthng did you find any other workarounds uploading an attachment?

[2019-09-19 13:13] Haywaii commented on #639
Hello,

@abubakarafzal if you look at the code of ClickCommand function in the file WebClient.cs of UCI repository, you will find an answer on how it's handled in the code and what you need to do :)

[2019-09-19 16:48] kramburley commented on #640
for anyone interested on a workaround, I handled this by making my test run not in private mode and use a profile specifically created just for testing.

more information in selenium page:
https://github.com/SeleniumHQ/selenium/issues/854

[2019-09-19 16:48] #640 closed, assigned to nobody

[2019-09-23 09:11] rsObjektkultur commented on #615
I got a similar issue:

Is anyone looking into this problem, which makes the latest version completely useless and persists for almost two months?

[2019-09-23 11:05] rsObjektkultur commented on #615
Ok, found a workaround: one needs to set the DriversPath in the options object:

[code]

I still think this behaviour should be fixed, because it worked without an explicit path before the mentioned updated. Moreover the default selenium webdriver does not require an explicit path, so why does EasyRepro?

Luckily in my case the driver is in the same location as the executing assembly:
[code]

[2019-09-23 14:16] rselva22 opened #644 "How To configure selenium grid with Easyrepro framework"
## Question

**What is your question?**
When I change the normal IWebDriver instance to RemoteWebDriver on BrowserDriverFactory class facing issue with EventFiringWebDriver wrapper class. is there any in build support available on Easyrepro. else how can i proceed futher.

[2019-09-23 17:43] pgolightly-fcs opened #645 "[HOW-TO]WebUI Make a selection on a Fly Out menu opened by xrmBrowser.Entity.ClickSubgridAddButton()"
## Question

What is the best way to handle making a selection on a fly out menu that is tied to a Subgrid's Add button? Currently I am working with a Orders page that has a price list and products subgrid who's add button causes a flyout to appear with three options (Get Products, Existing Product, Write Product).

I'm handling the flyout myself with my own locator strategy and Selenium actions,

[2019-09-24 22:24] kramburley commented on #642
Hi I am a bit new to this as well but will try my best to help.

Can you share how you are getting your errors in detail? What steps to make to recreate this error etc...

[2019-09-26 14:40] TheAntz commented on #514
Has anyone found a reliable solution for filtering a grid on a particular column?
The pure Selenium solution I've come up with isn't reliable and often fails due to the filter details dialog closing unexpectedly.

[2019-10-01 11:00] mVermaat commented on #643
When the xrmApp is initialized, you need a WebClient object. This WebClient object has an 'Execute' method. Use that method and pass in a lambda. Inside the lambda you can access the driver.

You can take a look at one of my classes where  i implemented custom functions: https://github.com/mVermaat/Crm.Specflow/blob/master/Vermaat.Crm.Specflow/EasyRepro/SeleniumFunctions.cs

[2019-10-01 19:58] ikeselman opened #646 "[HOW-TO] EasyRepro GetValue from picklist"
## Question

**What is your question?**

Hi everyone,
I am in the middle of implementation Demo EasyRepro Project after it get customized by our sale-force provider

For example below I need to add picklist for Customer Type, Current Membership, Valid cpr, ect.
I need help with correct functions to add to existing Demo code
(screenshot below)
![association](https://user-images.githubusercontent.co

[2019-10-03 15:29] seanmcne opened #647 "[FEATURE] Telemetry Capture - log "AllControlsInitialized" and more fine grained perf metric data to appinsights"
**Describe the feature**
[FEATURE] Capture and log "AllControlsInitialized" perf metric and log it to appinsights

**Explain why this feature is needed**
we only log the full page load marker which can be misleading, for example, I may be editready with all controls initialized in 1.5 seconds, yet my full load is 7.5 seconds due to a laggy subrid.  Knowing the two markers (at least) is key so I ca

[2019-10-03 20:25] sanjotsaini opened #648 "How to run EasyRepro Test on remote server (Selenium Grid)"
Hi,
I have created the project using Easyrepo for D365 and my project is ready I'm able to run it locally but I want to run it on a remote server like on selenium Grid

I have  given the have given url of my selenium hub where I have to run the test in app.config below is code:-

<add key="AzureKey" value="" />

    <add key="BrowserType" value="Chrome" />

    <add key="RemoteBrowserType" value="

[2019-10-04 01:03] bhart24 opened #649 "xrmBrowser.Grid.OpenRecord(0) giving 'CRM Record is Unavailable or not finished loading. Timeout Exceeded'"
For one of the projects  xrmBrowser.Grid.OpenRecord(0) is giving 'CRM Record is Unavailable or not finished loading. Timeout Exceeded'
It opens the right record but fails at this line after waiting for some time.

Complete error-
{System.Exception: CRM Record is Unavailable or not finished loading. Timeout Exceeded at Microsoft.Dynamics365.UIAutomation.Api.Grid.<>c.<OpenRecord>b__9_1(IWebDriver d)

[2019-10-04 03:37] bhart24 commented on #649
Following line in openrecord seems to be throwing the error , time out seems to be hardcoded:

driver.WaitUntilClickable(By.XPath(Elements.Xpath[Reference.Entity.Form]),
                                                    new TimeSpan(0, 0, 30),
                                                    null,
                                                    d => { throw new Exception("CRM Record is Un

[2019-10-07 06:36] krishnacs1993 commented on #646
Hello,

You can use the below line of code to select option set value.

xrmApp.Entity.SetValue(new OptionSet { Name = "customertypecode", Value = "Unrestricted" });
                xrmApp.ThinkTime(5000);

Where Name is schema name of the optionset field and
Value is the option you want to select from the picklist

If you want to Get the values of optionset then use below line of code

var options

[2019-10-08 08:51] phuocle opened #650 "[HOW-TO] Finish BusinessProcessFlow in UCI"
## Question

I'm not found **xrmApp.BusinessProcessFlow.Finish()** in the UCI

But, i found it in **xrmBrowser.BusinessProcessFlow.Finish()**

Is it correct ?

[2019-10-09 11:14] dagobahsw86 opened #651 "[HOW-TO] - Switch Browsers to Test and work through this message"
## Question

Any Web test or Shared test I choose even to open the browser fails with

Test Name:	SharedTestOpenEdge
Test FullName:	Microsoft.Dynamics365.UIAutomation.Sample.SharedAPI.OpenWebBrowserTests.SharedTestOpenEdge
Test Source:	C:\Users\Raj\Source\Repos\Project 2\UIEasyRepro-develop\Microsoft.Dynamics365.UIAutomation.Sample\SharedAPI\BrowserTests\BrowserTests.cs : line 40
Test Outcome:	Fai

[2019-10-09 11:17] dagobahsw86 commented on #651
I am using chrome Version 77.0.3865.90

[2019-10-09 13:24] Haywaii commented on #650
Hello @phuocle

You're right at the moment there is not method in UCI to finish a BPW. You will need to use selenium to do it.

Not sure if this feature is in the backlog of the dev team.
If you're brave enough you can probably create one (not sure there will be a big difference between UCI and normal interface).

[2019-10-09 13:27] Haywaii commented on #648
Hi @sanjotsaini

Is it possible to post your app config you use as well so people can see if you're not missing a property to run on the grid (like BrowserType / RemoteBrowserType / RemoteHubServer)

Thanks,

[2019-10-09 13:30] Haywaii commented on #644
From what i know there is not build support available.
But maybe people will be able to help if you add more description on your problem?
(code you're currently using / screenshot / configuration etc)

[2019-10-10 13:43] mVermaat commented on #651
Basically your chrome version is too new for the installed version of the chrome driver. Update the chrome driver NuGet package.

[2019-10-11 15:01] ikeselman opened #652 "[HOW-TO] Run Automated Test Cases from Test Plan"
Hi all,

I started our company Project with EasyRepro recently and facing some challenges to Run Automated Tests directly from my Test Plan of  Azure DevOps
Steps completed:
1. I added/updated some Tests on EasyRepro Project in Visual Studio 2017 installed on my Virtual Machine, Build Solution, tested locally they are running successfully, add to Source Control, all changes doing Check In
2. I ass

[2019-10-11 15:53] dagobahsw86 commented on #651
Thank you @mVermaat for reviewing my question and coming back to me.

Did that with no luck. Same message.

Also is there a way to switch the tests to firefox or other browsers?

[2019-10-14 06:04] prachiwalke opened #653 "Unable to handle MFA on code check-in on VSTS and Azure DevOps"
Hi,
We are in the urgent need to get this problem resolved.
We have all the users to log into the system which have Multi-Factor Authentication (MFA) enabled for them.
We are using Chrome's plugin Authenticator App (AA) for generating OTP for those users while login.
And in Automation Script, we have used "Aerogear.OTP" class which reads this OTP generated by Authenticator App at runtime.
This was

[2019-10-15 14:17] vcinampudi commented on #622
Sorry, I didn't log in since a while. I have figured it out.
Thanks

[2019-10-15 14:17] #622 closed, assigned to nobody

[2019-10-15 14:46] shijinzu commented on #598
I ran into the same issue with my project. Any idea when this issue will be resolved?

[2019-10-16 11:03] vcinampudi opened #654 "GetHeaderTitle() not Fetching Title of Record on Latest UCI Product Updates"
We have Observed an issue with **xrmApp.Entity.GetHeaderTitle();**  which is not able to fetch any title of the record. it was working fine earlier but since we have Latest product features stooped working.

Server version: 9.1.0000.9034

We are using Framework version\Release  UCI 9.1

[2019-10-16 11:18] vcinampudi opened #655 "Grid.OpenRecord(0) opening Link instead of Record from Grid"
## Bug Report

I am Opening a Case Record from the grid displayed in attached picture but Grid.OpenRecord(0) is opening Account Record instead of Case.

![image](https://user-images.githubusercontent.com/42735003/66913981-7e089200-f033-11e9-8715-d0455fabc9e1.png)

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions

[2019-10-16 12:32] HIREN-AITC commented on #276
@TYLEROL Is this release yet or any probable date when will it be released as full version? And how can I download beta version from NuGet?

[2019-10-17 02:01] phuocle commented on #650
Found solution here
[code]

[2019-10-17 02:01] #650 closed, assigned to nobody

[2019-10-17 15:55] ryanpiran commented on #628
Hi,

Dynamics 365 2019 release wave 2 update has now been deployed (October 1, 2019).
![image](https://user-images.githubusercontent.com/34275228/67015809-0861fc00-f0ef-11e9-910f-933e6528d64c.png)

We identified that this would be an issue with our EasyRepro based regression tests back in August when we tried it out as it was available as an early access. Now that the release has been deployed to

[2019-10-22 21:58] zapanzer514 opened #656 "[HOW-TO] Add existing for N:N grid"
## Question

Trying to add an existing record to a subgrid. I can click on the command "Add Existing" and it opens a fly out on the right hand side (similar to a quick create but instead has a search box and results). Is this supported?

[2019-10-23 11:44] janis-veinbergs opened #657 "[FEATURE] Handling OnPrem URLs with https://domain/org (instead of current default org.domain)"
**Describe the feature**
Introduce `BrowserOption` when constructing `Browser` Object to indicate how URL's are constructed within methods that provide navigation.

Currently IFD (Internet Facing Deployment) URLs that map domain name to organization are constructed: _org.domain_. The alternative would be non-IFD urls (same domain for all CRM orgs and org appended as first URL segment, i.e.: _domai

[2019-10-25 14:02] #620 closed, assigned to nobody

[2019-10-28 14:44] davynupa opened #661 "Mandatory Date Field is not getting populated by Easy Repro Framework"
when a date field  is mandatory on the form, Easy Repro Framework is not able to populate it, however if I make the field non-mandatory then it will get populated successfully

[2019-10-28 16:24] simonbridgwater commented on #649
I'm also encountering this error for one entity only, whereby a record is apparently successfully opened after a few seconds, but still times out. Records for all other entities load ok. I've included error text below, although have redacted some references for privacy.

Result StackTrace:
at Microsoft.Dynamics365.UIAutomation.Api.Grid.<>c.<OpenRecord>b__9_1(IWebDriver d)
   at Microsoft.Dynamics3

[2019-10-29 07:42] aalad commented on #628
Hi all, any news regarding Wave 2 support? We're having the same issues as mentioned by ryanpiran.
Any update is appreciated, thanks!

[2019-10-31 09:31] AndreSProgMine opened #662 "[HOW-TO] <Select a single element from pane>"
## Question

**I'm new to EasyRepro and need pointers on how to select a single element from a pane (see attached image) I want to select the Dashboard element but the following bits of code do not work:

**xrmBrowser.Navigation.OpenSubArea("Dashboard", "some-text-has-to-go-here");**
**xrmBrowser.Grid.SwitchView("Dashboard");**

The first demands 2 values, and the second throws up an exception.
**

[2019-10-31 09:41] Paca commented on #662
Hello

You use the wrong part of the api. xrmBrowser is for legacy web interface.
You should use the XrmApp client describe here:  [XrmApp](https://github.com/microsoft/EasyRepro/blob/develop/Microsoft.Dynamics365.UIAutomation.Sample/UCI/Navigation/FormSelector.cs)

Regards,
Nicolas

[2019-10-31 10:43] AndreSProgMine opened #663 "How do I log into app using XRMAPP, instead of XRMBROWSER?"
## Question

**Using the code below (**xrmapp**), the email field is displayed, but nothing is inserted into the field, but when I use the xrmbrowser, I'm able to login in. Can anyone help with what I'm missing? **

**XRMAPP**
        private readonly SecureString _username = System.Configuration.ConfigurationManager.AppSettings["OnlineUsername"].ToSecureString();
        private readonly SecureSt

[2019-10-31 10:46] AndreSProgMine commented on #662
Thanks **Paca**, much appreciated

[2019-10-31 10:46] #662 closed, assigned to nobody

[2019-10-31 11:28] #663 closed, assigned to nobody

[2019-10-31 11:57] AndreSProgMine opened #664 "How do I select the Yes button to stay signed in on Chrome(Incognito Mode)?"
## Question

**This is my code

[TestClass]
    public class PortalAdminUci
    {
        private readonly SecureString _username = System.Configuration.ConfigurationManager.AppSettings["OnlineUsername"].ToSecureString();
        private readonly SecureString _password = System.Configuration.ConfigurationManager.AppSettings["OnlinePassword"].ToSecureString();
        private readonly Uri _xrmUri =

[2019-10-31 14:28] #664 closed, assigned to nobody

[2019-10-31 16:26] alvarezskinner opened #665 "[BUG] xrmApp.Grid.HighLightRecord() doesnt seem to select records after release wave 2"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

  - [ ] Microsoft Dynamics 365 Online Version 9.

[2019-10-31 18:25] kavitham1985 opened #666 "Early Access - Opportunity Close as Won - Quick Create Form"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2019-10-31 18:27] kavitham1985 commented on #666
We enabled early access features and quick create form for Opportunity Close. When I try to close the opportunity as Won or Lost - Quick create form opens. I am unable to use QuickCreate.Save() method. How can I SaveAndClose or Cancel the quick create form for Opportunity won or lost using EasyRepro?
@jlattimer @TYLEROL

[2019-10-31 20:02] spr0ut commented on #642
Came across this error recently and ended up changing the Loginresult in LoginDialog.cs to wrap the password sendkeys/submit (L128-L130) within the following:
[code]

Might not help, but there you go.

[2019-11-04 17:51] mgr1054 opened #668 "[HOW-TO] Run Tests in Azure DevOps Release Pipeline"
## Question
Hey Guys,

I'm trying to run some UI Tests in a AzureDevOps Release Pipeline. I followed the Tutorial in the Wiki but the pipeline keeps throwing errors.

**Pipeline error:**
[code]

**Code**
[code]

**App Settings**
[code]

**Config**
[code]

[2019-11-05 14:41] kavitham1985 commented on #666
@jlattimer Can you please help me with this?

[2019-11-05 16:43] Murugadass opened #669 "Grid Sort Column is not working"
Grid_SortColumn details are incorrect on AppReference.

**The current value is :**
{ "Grid_SortColumn",            "//div[@id='btnheaderselectcolumn']/parent::*//div[text()='[COLNAME]'"},

**Expected value is :**
{ "Grid_SortColumn",            "//div[@data-id='btnheaderselectcolumn']/parent::*//div[text()='[COLNAME]']"},

Please update the repository.

[2019-11-06 14:39] brawat07 commented on #655
Hi,
Experiencing similar issue on Accounts. It opens user rather than account. Is there any update on when this bug will be fixed?

It is opening the first link as we are finding element using div and hyperlink. I tried changing it to first label. didnt work

![image](https://user-images.githubusercontent.com/41896860/68310220-8b9bbf80-00a7-11ea-84ca-eceacadac36b.png)

[2019-11-06 21:51] AngelRodriguez8008 commented on #653
Hi,
I have added Multi-Factor Authentication (MFA) in this [commit ](https://github.com/AngelRodriguez8008/EasyRepro/commit/4a6d9961071749f9e52976d7814edfefdcf2eaf6) on my branch.

It is so simple as put Secrect Key in app.config & past it to the Login method. To get the Secrect Key follow the first part of [this tutorial](https://support.office.com/en-us/article/create-an-app-password-for-office-

[2019-11-08 15:39] AndreSProgMine opened #670 "How do I create a new contact on the new app using xrmApp...?"
## Question

**When I select the '+' sign in the ribbon to create a new contact, I'm unable to interact with the popup displayed.

I'm unable to either select a method from EasyRepro and Selenium has not been thus far failed. Can anyone point me in the right direction? Thanks**

![Contact](https://user-images.githubusercontent.com/57215518/68488868-e36c2f00-023d-11ea-9248-2a74da355021.png)

[2019-11-08 18:40] ghost opened #671 "[BUG] System.Exception: Login page failed after successful login."
## Bug Report
**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)
  - [ ] Class

[2019-11-11 03:49] Jinfengv opened #672 "[BUG]The value of the drop-down box cannot be selected(Lookup field)"
In the latest version of Dynamics365, the drop-down list selection method has been updated. After UIAutomated testing code runs, the page can expand the values of the drop-down list, but it cannot be selected.

Previous version: cursor positioning text box will expand the drop-down list
Latest version: cursor positioning text box, drop-down list will not appear, must click enter key to be able to

[2019-11-11 07:36] Jinfengv commented on #672
LookupItem defaultuomscheduleid = new LookupItem { Name = "defaultuomscheduleid", Value = "件"};
 xrmApp.Entity.SetValue(defaultuomscheduleid);

[2019-11-11 07:36] #672 closed, assigned to nobody

[2019-11-11 12:19] AngelRodriguez8008 commented on #668
Hi @mgr1054,

Did you install your agent in [Interactive ](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/agents?view=azure-devops#interactive-or-service) Mode?

br
Angel A.

[2019-11-11 12:55] mgr1054 commented on #668
Hey @AngelRodriguez8008,

I don't have a self-hosted agent. The tests are supposed to run on a Microsoft Agent (vs2017-win2016).

Thanks

[2019-11-12 14:17] ghost commented on #671
Hi,

I was having the same issue and that was because of Unified Interface Only experience.

Try to disable by going to https://admin.powerplatform.microsoft.com/support > 'environments' > select the desired CRM and click 'settings' > 'behaviour' > disable 'use only unified interface'.

Then try to run the tests again.

Hope that helps!

[2019-11-12 15:11] ghost commented on #671
Hi DanicCo77,
I disabled this and reran the test again with the same results. What's surprising is that the credentials are accepted and logged in. It's then on the main (dashboard) screen for a minute, before closing the browser and throwing the error in Test Explorer.

[2019-11-12 16:00] ghost commented on #671
Ok, at least you got logged in.

Now it looks like it doesn't recognize the fields. Is the CRM you're testing in english?

Can you please provide a print-screen of the file packages.config in Microsoft.Dynamics365.UIAutomation.Sample?

[2019-11-12 16:49] ghost commented on #671
Just a pointer, I've even tried using the admin credentials, with the same results.

![2019-11-12_10-47-39](https://user-images.githubusercontent.com/57457776/68691789-f3d02280-0539-11ea-8101-f5c03a14f80f.png)

[2019-11-12 17:00] DaniCos77 commented on #671
It looks OK.

Is the CRM you're testing in english language?

[2019-11-12 17:05] ghost commented on #671
Yes it is in English.

In the app.config, since we are on the new ui, I have tried to use the default CRM url - https://orgname.crm.dynamics.com, which fails to redirect, but when I change it the app, says sales absolute url, the sign in process goes through, but then it sits on the Dashboard screen for a minute, then closes out with a login failure.

My understanding is that the failure should oc

[2019-11-12 17:50] ghost commented on #671
DaniCos77,

Your previous solution of changing the 'use only unified interface' to disable worked. It just took a while for the change to take effect. Thank you!

What i did notice though was the test was ran in the Legacy app mode not in the UI.

[2019-11-13 04:47] joserito commented on #668
Hello @mgr1054,

Check [this](https://docs.microsoft.com/en-us/azure/devops/pipelines/test/ui-testing-considerations?view=azure-devops&tabs=mstest) article about special considerations for running UI tests in Azure DevOps.

[2019-11-13 09:06] DaniCos77 commented on #671
Glad to know :)

[2019-11-15 15:12] simonbridgwater opened #673 "In Unified Interface, how do I click a button within a JavaScript confirmation dialog?"
I have a Unified Interface application containing lots of command bar buttons which call various JavaScript functions. Many of these functions use the `confirm()` method to get confirmation from the user that they wish to proceed, before continuing with the rest of the function.

I'm using `XrmApp.CommandBar.ClickCommand()` to click the command bar button. The confirmation dialog does appear very

[2019-11-19 03:53] Jinfengv opened #676 "[Issue]How to click "new" to jump to another page through the drop-down box"
I want to click "New DCC SAP Financial Subject Option" through the drop-down box of "SAP Income Code" to make the page jump,Is there any known method to use?
![1](https://user-images.githubusercontent.com/57609871/69115210-be3fb200-0ac2-11ea-8f5a-5e4e890646d8.png)

[2019-11-19 10:40] pascalkruettli opened #677 "[BUG] Customer Lookup set value not resolved"
**EasyRepro Version**
Microsoft Dynamics 365 Online Version 9.1
 Serverversion: 9.1.0000.10329
 Clientversion: 1.3.2472-191112-195614

Easy Repro
 Library used is the version currently on Develop Branch

**UCI or Classic Web**
  - UCI (XrmApp)

**Online or On Premise**
  - [ ] Online

**Browser**
  - [ ] Chrome

**Describe the bug**
We are testing our sales/quote process automaticaly and implement

[2019-11-19 13:43] simonbridgwater commented on #190
I'm also interested in getting the answer to this question.

[2019-11-19 15:32] #666 closed, assigned to nobody

[2019-11-20 00:57] Jinfengv commented on #677
I've had the same problem before, you can try the following code

_xrmApp.Entity.SetValue(new LookupItem() { Name = “OrderFieldHelper.PotentiellerKunde”, Value = “3H44 AG” });

[2019-11-20 08:39] Jinfengv opened #679 "How to click confirm button in the pop-up"
I want to click the confirm button in the pop-up
I used xrmApp.Dialogs.ConfirmationDialog(true);  but it  doesn't work，can anybody help me？
![QQ截图20191120163840](https://user-images.githubusercontent.com/57609871/69222355-3d60e300-0bb4-11ea-8f0a-03a91e590683.png)

I used the following code and it still doesn't work
                IAlert alert = client.Browser.Driver.SwitchTo().Alert();

[2019-11-20 11:32] pascalkruettli commented on #677
Hey Jinfengv
I am afraid the suggested solutions does not fix the issue.
No matter if I set the index or not it does not work.

[2019-11-20 16:16] Naren2695 opened #680 "How to validate the drop-down options using EasyRepro in-build methods?"
Here I'm trying to validate the expected values are present in the drop-down in the QuickCreate section.

Please tell me if any methods are available and one sample Example.

Thanks...

[2019-11-21 13:26] VasanthChidambaram commented on #655
Try creating new method as below and use it,

![image](https://user-images.githubusercontent.com/33891447/69342100-d7965900-0c90-11ea-8ea4-99f9c1548e75.png)

[2019-11-22 02:00] Jinfengv commented on #679
I finally achieved my goal through element positioning

The following code:
client.Browser.Driver.FindElement(By.XPath("//button[@aria-label='Confirm']")).Click();

Hopefully useful to others

[2019-11-22 09:44] kaleshashaik91 commented on #342
Hi All,

Can you help me how to start working with EasyRepro  ?

Regards,
Kalesha

[2019-11-22 10:47] simonbridgwater opened #681 "[BUG] Exception when switching view: An item with the same key has already been added."
**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [X] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [X] UCI (XrmApp)
  - [ ] Classic Web (XrmBro

[2019-11-22 22:54] Danbown commented on #619
Hi - would also be interested and especially to understand if it can be applied in any other test automation (or even manual) solutions. **Eg, can it be applied as a Chrome switch?**

Any objects on a CRM page do not exist until user scrolls to them, which makes automation difficult... for example a sub-grid with 20 columns may only have 10 visible in the DOM, until user scrolls horizontally

[2019-11-23 05:49] dtu11 commented on #647
Added support for tracking performance center telemetry in UCI and make it easier.  We're just tracking KeyPerformanceIndicators but I believe the one you specified is in there.

[2019-11-25 13:59] Raddyhere opened #683 "WaitForTransaction is not working"
Below line in function WaitForTransaction(this IWebDriver driver, int maxWaitTimeInSeconds)
is returning an error "javascript error: Cannot read property 'isAppIdle' of undefined"

Filename - SeleniumExtensions.cs
Line 467 - state = (bool)driver.ExecuteScript("return window.UCWorkBlockTracker.isAppIdle()", "")

[2019-11-25 14:34] imartinflores commented on #683
I was going to report the same issue, it stopped working 1 week ago.

[2019-11-26 06:14] paarrivanan commented on #683
I am also seeing it. Does anything change with the application. ? I believe there are no framework changes. Same method 'WaitForTransaction' is not working in older versions and newer versions.

I observed this from Yesterday (11/26).

[2019-11-28 05:11] KhoaAN opened #684 "[BUG] Quick Create Form not interactable"
## Bug Report

Quick Create Form issue

**Softwares version**
- Tested on Visual Studio 2019 and 2017
- Dynamics365.UIAutomation.Api **9.1.0.6210**
- Selenium.WebDriver **3.141.0**
- Selenium.WebDriver.ChromeDriver **78.0.3904.10500**
- Selenium.Firefox.WebDriver **0.26.0**

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**

[2019-11-28 06:04] #676 closed, assigned to nobody

[2019-11-28 15:26] aalokkhare opened #685 "OpenQA.Selenium.WebDriverException HResult=0x80131500 Message=javascript error: Cannot read property 'isAppIdle' of undefined"
## Bug Report
OpenQA.Selenium.WebDriverException
  HResult=0x80131500
  Message=javascript error: Cannot read property 'isAppIdle' of undefined
  (Session info: chrome=78.0.3904.108)
  Source=WebDriver
  StackTrace:
   at OpenQA.Selenium.Remote.RemoteWebDriver.UnpackAndThrowOnError(Response errorResponse)
   at OpenQA.Selenium.Remote.RemoteWebDriver.Execute(String driverCommandToExecute, Dictionar

[2019-11-30 15:24] aalokkhare opened #686 "[Feature] New kind of lookup item field in dynamics"
**Describe the feature**
<<input id="id-8da485f4-8197-43b6-a752-36a28ed243d4-25-irm_phase8-irm_phase.fieldControl-LookupResultsDropdown_irm_phase_134_textInputBox_with_filter_new" aria-label="Financial Breakdown Structure  Lookup" aria-required="true" data-id="irm_phase.fieldControl-LookupResultsDropdown_irm_phase_textInputBox_with_filter_new" placeholder="" maxlength="200" autocomplete="off" aria

[2019-12-02 16:20] dtu11 commented on #685
We are investigating this internally and working to get a fix asap.

[2019-12-02 23:08] mhuguet commented on #683
Apologies to all. A dependent client side API in the UCI platform was removed by our peers. It has been added back and we are working on deploying globally. I'll update this issue once it starts rolling out with the plan.

[2019-12-02 23:15] mhuguet commented on #685
Duplicate of #683
Apologies to all. A dependent client side API was removed by our peers. It has been added back and we are working on deploying globally. I'll update #683 once it starts rolling out with the plan.

[2019-12-02 23:15] #685 closed, assigned to mhuguet

[2019-12-03 11:06] OOlashyn opened #687 "[HOW-TO] ADFS configuration with popup window sample"
## ADFS configuration with popup window sample

Can somebody share some example on how to use EasyRepro with ADFS where instead of redirecting into new url it opens popup? (we are using Chrome)

Thanks in advance.

[2019-12-03 16:31] mhuguet commented on #683
Still working on rollout dates. Pushing for sooner than later. Stay tuned.

[2019-12-03 18:46] Raddyhere commented on #683
Thankyou Mike!

On Tue, 3 Dec 2019, 10:31 Mike Huguet, <notifications@github.com> wrote:

[2019-12-04 00:07] mhuguet commented on #683
It appears that we will be able to have the fix rolled out on Friday, 12/6, to all public cloud regions.

[2019-12-04 15:33] TYLEROL commented on #611
Related PR #688 . An updated NuGet package should be made available later today (9.1.0.7606).

[2019-12-04 15:33] #611 closed, assigned to dtu11

[2019-12-05 13:01] simonbridgwater opened #689 "[FEATURE] TwoOption field support in Unified Interface"
**Describe the feature**
Within the legacy interface there is the ability to set Two Option fields, and I haven't found a Unified Interface equivalent or an alternative solution.

**Explain why this feature is needed**
To allow the population of Two Option field values.

**Additional context**
The existing Legacy Interface code is `XrmBrowser.Entity.SetValue(new TwoOption { Name = "fieldname", Val

[2019-12-06 20:53] prdpmv commented on #571
This error is still coming from Microsoft.Dynamics365.UIAutomation.Api.UCI.Webclient OpenApp method in debug mode.

[2019-12-06 21:01] TYLEROL commented on #571
Hi @prdpmv - There is a currently known issue in #683 in a regression of core Dynamics 365 code. This was identified and fixed earlier in the week, **and rollout should occur across all public regions this weekend**.

I am working to identify approximate build numbers that are required for the fix which will help with validation post-deployment. Please keep an eye on #683 for further updates.

[2019-12-06 23:27] prdpmv commented on #155
Any solution for this? We are getting this issue in chrome and unable to use test user for testing automation. We have SSO enabled through OKTA for office 365 apps.

[2019-12-09 19:51] TYLEROL commented on #683
In terms of the rollout referenced by Mike this past weekend, the rollout hit the following regions

- Build 9.1.0.11425 deployed to select servers in Australia, North America, Europe, and Canada

- Build 9.1.0.11129 deployed to South America (crm2), Canada (crm3), India (crm8), France (crm12)

- No Deployment to Japan (crm7), Asia Pacific (crm5), UK (crm11), Australia (crm6)

- Build 9.1.0.10740

[2019-12-09 19:53] TYLEROL commented on #571
@prdpmv - Please see issue #683 for an update with deployments that occurred this last weekend. If your organization received an update, please let us know if you continue to experience issues with the OpenApp() method.

Thanks,
Tyler

[2019-12-10 11:04] jjbright commented on #162
@TYLEROL I've a custom grid like below and its not clicking the column to sort.

`
xrmBrowser.Related.Sort("Ownership Status", 3000);
Log.Info("After Sorting the Owner table");
xrmBrowser.Related.OpenGridRow(0);
xrmBrowser.ThinkTime(10000);
`

![image](https://user-images.githubusercontent.com/55202374/70524274-d313e080-1b6a-11ea-8efd-b2d81bc2dc5d.png)

I need to get the **Ownership Status** click

[2019-12-10 11:21] jjbright opened #692 "System.InvalidOperationException: Column: Ownership Status Does not exist"
I'm pretty new to easy repro.  I'm tasked to fix issues in the existing test code and build additionally on top of that.

In a custom grid displayed, which I click to sort that grid using a column name, it gives me this exception.

`
xrmBrowser.ThinkTime(2000);
xrmBrowser.Grid.Sort("Ownership Status", 3000);
xrmBrowser.Related.OpenGridRow(0);
`
The reason for sorting is to get the current owner in

[2019-12-11 17:24] samy-lab opened #693 "How can we setValue to scheduledstart and scheduledend (Appointment Entity)"
Hello,
Any one have an idea how can I set Value to scheduledstart and scheduledend in Appointment form ?

I faced this error every time :

Test method Microsoft.Dynamics365.UIAutomation.Sample.Lab.CreateVisit.Create_visite threw exception:
    OpenQA.Selenium.ElementClickInterceptedException: element click intercepted: Element <div id="scheduledstart" data-attributename="scheduledstart" data-formi

[2019-12-12 07:41] deep-hub commented on #642
Thanks for everyone for the reply.  Please rply as soon as possible. It will be really helpful. I am working on this project whereby I required ADFS login to be working.

Basically I am trying to run contact,case, lead test cases, which requires ADFS login to enter the website. but it is not working , though ADFS page is available.
and in earlier post @TYLEROL  mentioned in version 8.1 , ADFS page

[2019-12-13 18:15] dtu11 commented on #687
If you're referring to the windows prompt for credentials then you will need to look at AutoIT to handle that dialog.

[2019-12-16 18:19] TYLEROL commented on #683
Build 9.1.0.11134 was deployed to Japan (crm7), Asia Pacific (crm5), UK (crm11), Australia (crm6) this past weekend. This should provide fix coverage to all public GEOs.

Warm Regards,
Tyler

[2019-12-16 18:19] #683 closed, assigned to mhuguet

[2019-12-16 18:53] VivianVoss opened #695 "[BUG] NoSuchElementException for email input field during login in system with single sign-on"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [ ] UCI (XrmApp)
  - [x] Clas

[2019-12-16 20:20] Shakevg commented on #652
Hi, @ikeselman

Firstly Warning it is just warning and usually do not effect tests execution. Probably it is related with VS configuration or version of Agent where you are running tests.
It seems to me issues that you faced just related with incorrect Azure DevOps configuration.

step #4:
Per screen on step #4  you specified TestFilter:"TestCaseCategory=BuildAutomation" and Azure found only one t

[2019-12-16 20:53] ikeselman commented on #652
Hi Shakevg,
Appreciate you follow up with my issue.
Regarding Warning - I got it thank you - no issues
Step #4 you right, I used that Filter (was refer for that on following URL link:  https://www.youtube.com/watch?v=tfWCYXxeTmc) and now Azure found all Test Cases from Test Plan that have Automation Status.

Step #5-6
I have in My Test plan 16 Automated Test Cases and I selected them in Test Plan,

[2019-12-16 21:15] Shakevg commented on #652
Hi, @ikeselman

Tests can be failed due a lot of reasons: usually it is related with slow loading, just need to add waiters for control or Thread.Sleep (xmrApp.ThinkTime(timeout) method for EasyRepo) if is not possible.
Could you share screens with test result error\stack for some failed and blocked tests?

[2019-12-16 21:25] ikeselman commented on #652
![image](https://user-images.githubusercontent.com/50208770/70944260-b40cc700-2020-11ea-8a6f-b82c9934bd89.png)

[2019-12-17 06:29] Shakevg commented on #652
@ikeselman Please share VSTest task log, I can look on it

[2019-12-17 10:15] jjbright commented on #692
@TYLEROL @jlattimer @dtu11

Could you please help?

[2019-12-17 13:16] RobNightingale-LSL commented on #233
Yes @jimmymunoz83 , use this format passing in a boolean for the value:

`xrmBrowser.Entity.SetValue(new TwoOption { Name = "fieldname", Value = "false" });`

[2019-12-17 13:25] ikeselman commented on #652
![image](https://user-images.githubusercontent.com/50208770/70999146-d3e6ce00-20a6-11ea-8cd1-dcc80c06333d.png)

![image](https://user-images.githubusercontent.com/50208770/70999116-c3365800-20a6-11ea-9d0e-c928632ead95.png)

[2019-12-17 15:30] Shakevg commented on #652
@ikeselman

Per log you executed test plan with one test case but test associations is not found in your test sources (see screen below. Something wrong with mapping Azure test from test plan with test in your sources, may you moved test to other namespace and need to re-map.

![2019-12-17_18h23_40](https://user-images.githubusercontent.com/42133199/71009379-29e56100-20fb-11ea-8381-add8436e059d.pn

[2019-12-17 15:34] ikeselman commented on #652
Hi Shakevg,
Thank you very much. I will need to run Test Plan soon and reply to you with results. Currently UAT Environment under Development and Implementation, so, I am pending with Test Run now. As soon I got green light I will run and show you results
Appreciate
@ikeselman

[2019-12-18 09:46] vcinampudi commented on #677
try give Schema Name instead of the value mentioned

[2019-12-18 15:49] dtu11 commented on #692
I'm back from vacation and will look at this today.

[2019-12-18 19:12] Shakevg commented on #668
Hello @mgr1054,

Did this tests passed locally?
Test should work on Agent (vs2017-win2016).
First step was passed (opening url). Per log test just cannot Open SubArea. It can be different reasons, the most likely reason is slow page loading.

You can understand the reason using 2 options:

1. Add additional sleep before OpenSubArea
okBrowser.GoToXrmUri(_xrmUri);
okBrowser.ThinkTime(10000);
okBrows

[2019-12-19 02:04] AngelRodriguez8008 commented on #695
Hi Vivian,

If you don't have to log-in, I guest you should remove this line from your test.
xrmBrowser.LoginPage.Login(_xrmUri, _username, _password);

[2019-12-19 07:05] VivianVoss commented on #695
Hi Angel,

When commenting that line out, the browser does not load D365 page at all. It opens the browser window but it is empty and then the test fails.

![viber_image_2019-12-19_07-59-25](https://user-images.githubusercontent.com/32089254/71152279-3e7a4400-2236-11ea-97a5-57ff19b9abdb.jpg)

[2019-12-19 17:33] TYLEROL commented on #695
@VivianVoss - In the _login_ sequence after inputting your organization URL, do you still get asked to enter an email and then redirect to an external ADFS provider? Or does it immediately redirect with no input requirements for email?

We may need to add a scenario to more properly handle login for this if there is no initial email prompt. In past experiences, generally a user was required to inp

[2019-12-20 07:08] VivianVoss commented on #695
Hi Tyler,
No, there is no email asked before. It immediately logs in and redirects to the apps page, where after a bit the test fails, because it can't find a place to put email.

BR, Vivian

[2019-12-20 09:48] Anjusha-commits opened #696 "Easy Repro,the same code passed and failed in consecutive test runs without any change in the code.i got this issue while test run fails-Microsoft.Dynamics365.UIAutomation.Sample.UCI.CreateContactUCI.UCITestCreateContact threw exception: OpenQA.Selenium.WebDriverException: A exception with a null response was thrown sending an HTTP request to the remote WebDriver server for URL http://localhost:64545/session"
While automating Microsoft Dynamics 365 UI page (test case:Create Contact) using Easy Repro,the same code passed and failed in consecutive test runs. I got this issue while test runs fails -Microsoft.Dynamics365.UIAutomation.Sample.UCI.CreateContactUCI.UCITestCreateContact threw exception: OpenQA.Selenium.WebDriverException: A exception with a null response was thrown sending an HTTP request to th

[2019-12-20 16:23] dtu11 commented on #692
Just updated develop with a fix for the sort.  Please test the latest changes.

[2019-12-20 16:23] #692 closed, assigned to dtu11

[2019-12-20 16:23] dtu11 commented on #669
Just updated develop with a fix for the sort.  Please test the latest changes.

[2019-12-20 16:23] #669 closed, assigned to dtu11

[2019-12-20 17:06] jjbright commented on #692
@dtu11  I need to get the latest changes and try?

[2019-12-20 17:16] TYLEROL commented on #695
@VivianVoss - We've merged a change into the develop branch via #694 . Could you try testing out this new Login method and see if it accommodates your scenario? Based on the description of events, I believe it should.

We're in a holiday code freeze at the moment, but could get this change into the core releases/v9.1 branch by January 3rd, 2020 if you can confirm this works.

Edit: For the legacy

[2019-12-20 19:36] dtu11 commented on #692
Yes pull down the latest develop branch and test it.

[2019-12-20 19:38] dtu11 commented on #692
There are quite a few people on holiday leave so there is a hold on pushing this out to release and Nuget until Jan 3rd.   I'll work with Tyler to get this out to Nuget after the holidays.

[2019-12-21 08:43] VivianVoss commented on #695
Hi Tyler,

When changing the Login statement to the one you provide above, the code behaves differently, but I am left with a new exception. The exception originates from [this statement](https://github.com/microsoft/EasyRepro/blob/develop/Microsoft.Dynamics365.UIAutomation.Api/Pages/LoginDialog.cs#L165). It is looking for an XPath described as `id(\"crmTopBar\")` but this Top Bar element (unlike

[2019-12-23 12:58] Shubh-saxena opened #699 "EasyRepro: . Error message is “session not created: This version of ChromeDriver only supports Chrome version 77 (SessionNotCreated)"
Hi All,
My EasyRepro Automation Test was working good on my Visual Studio 2019. Suddenly the below error starting coming which is as below:
Error message is “session not created: This version of ChromeDriver only supports Chrome version 77 (SessionNotCreated)”

![71155504-df332880-2263-11ea-839b-62c61030afaf](https://user-images.githubusercontent.com/59015119/71359272-e20a8200-25b1-11ea-9018-2bfbf

[2019-12-23 16:57] ikeselman commented on #699
I have same issue with VSTS 2017 Community Edition
Chrome Browser updated version to version 79.0.3945.88
Last time it happen I updated Chrome Driver to v.78.0.3904.70 and was already working fine
If now I try install NuGet package Selenium.WebDriver.ChromeDriver latest 79.0.3945.3600 or even one before  v.78.0.3904.10500 I am getting same error:

Severity	Code	Description	Project	File	Line	Suppre

[2019-12-23 18:49] ikeselman commented on #652
Hi Shakevg,
I am now experiencing issue with new error
EasyRepro: . Error message is “session not created: This version of ChromeDriver only supports Chrome version 77 (SessionNotCreated)  #699

Do you know if any solution found for that problem with Chrome Driver ?
Thank you for advance
@ikeselman

[2019-12-23 20:15] Shakevg commented on #699
You can find how to select right Chrome browser and chrome driver version: https://chromedriver.chromium.org/downloads

There are 2 fixes when you have "session not created: This version of ChromeDriver only supports Chrome version" error:
1. Update chrome driver to compatible with browser version
2. Rollback Chrome browser to previous version and disable chrome update:
https://stackoverflow.com/a

[2019-12-23 21:10] Shakevg commented on #652
@ikeselman Look on [Solution](https://github.com/microsoft/EasyRepro/issues/699#issuecomment-568571448)

[2019-12-24 10:26] AngelRodriguez8008 commented on #699
I just uninstall the old WebDriver and install this [Selenium.WebDriver.ChromeDriver by jsakamoto](https://www.nuget.org/packages/Selenium.WebDriver.ChromeDriver/79.0.3945.3600) from nuget.

[2019-12-24 18:01] sarul84 opened #700 "[HOW-TO] net standard / core support"
## Question

**Is there any plan for .net core or standard support?**

[2019-12-30 04:02] chrizz-msweb opened #701 "[HOW-TO] How to Create Header - Detail entity ?"
I've seen example in UCITestCreateAccount()
That's only header (create Account only).

How to create Header - Detail?
eg:  Create Account and Account's More Address (Account > Personal Customer Information tab > Click New More Address)

Thax

[2020-01-02 12:44] rswafford commented on #354
Any update on this issue? I have a number of grids that do not display their label, yet we need to interact with for testing.

[2020-01-02 13:08] rswafford commented on #581
I am seeing issues with this on an OptionSet as well. Will this be resolved soon?

[2020-01-02 15:32] rswafford opened #702 "[BUG] Quick Create Form Does Not Populate"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-01-02 18:57] rswafford commented on #702
Some additional information - I am able to interact with string fields, and optionset fields on a Quick Create form, and I can get a Two-Option field to work by handling it as an OptionSet.  Lookups however are still failing with the same error.

[2020-01-02 19:14] rswafford commented on #702
...and one more tidbit from debugging -- Line 591 of SeleniumExtensions.cs shows an exception of "no such element":
[code]
Upon reviewing the HTML in Chrome Dev Tools, I suspect it's due to the div[role='tabpanel'] selector, as all of the divs in the tree are set to role='presentation'.

[2020-01-02 19:59] rswafford commented on #702
Further investigation uncovers Bug #620, referenced in Bug #658, that looks to have introduced the role selector.  Removing that and recompiling the DLL fixes my issue; however I'm afraid that may re-break original bug with lookups in the header.

[2020-01-03 13:44] jeffryvu opened #703 "[BUG] Field.IsReadOnly not properly working for UCI Lookup control"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-01-07 07:01] KhoaAN commented on #702
@rswafford Are you using the latest EasyRepro version? After updating EasyRepro nuget package to 9.1.0.7606 during end of 2019, i'm facing this same issue. My codes worked with previous version but not this latest version. Not sure if Chrome version matters but i'm on latest Chrome 79.

[2020-01-07 07:56] Orion7r commented on #693
maybe you can use this code:

to push your data into the element.
I find that SetValue() has a click step,but SendKeys() doesn't have.
And it's the same between Entity.ClearValue() and client.Browser.Driver.FindElement(By.XPath("")).Clear().
I hope it helps you.

[2020-01-07 11:50] shahrukhshakil424 opened #704 "[BUG] <Easyrepro- When run a test case, once done successfully but the another time it throw different exceptions>"
Online
**Browser**
  - [x] Chrome
  - [x] Firefox
  - [ ] IE
  - [ ] Edge
Whenever I run the code it works fine only first time. However, if I run again the same code without any customization it throws different exceptions every time.
Exceptions are :
-[ ]**OpenQA.Selenium.ElementNotInteractableException: 'Element <div class="ms-crm-Inline-Edit ms-crm-Inline-Lookup"> could not be scrolled into vi

[2020-01-07 13:54] rswafford commented on #702
Yes I am - see my last comment, I un-did the change in Bug #658 and recompiled it locally, that resolved my issue for Quick Create forms.

[2020-01-07 16:42] shahrukhshakil424 commented on #704
@TYLEROL I am highly thankful to you if you look into this issue. TIA

[2020-01-07 21:52] KhoaAN commented on #702
If you made changes to the dll, how would you manage your fixes when you upgrade to the new version? Thats my main concern about using custom dll.

[2020-01-08 09:34] shahrukhshakil424 commented on #704
@microsoftopensource I am highly thankful to you if you look into this issue. TIA

[2020-01-08 13:19] rswafford commented on #702
Clone the repo and pull your updates that way, then recompile.

[2020-01-08 13:49] shahrukhshakil424 commented on #704
@ggeiszle  @dtu11. I am highly thankful to you if you look into this issue. TIA

[2020-01-08 18:45] xuejunh opened #705 "[BUG] 'BrowserOptions' does not contain a definition for 'UCIPerformanceMode' after install easyRepro using NuGet"
'UCIPerformanceMode' is set in the TestSettings.cs of Sample project.
When I clone the easyRepro for dynamics365, 'UCIPerformanceMode' is set without error.
But when I install easyRepro using NuGet in my test project and copy over the TestSettings.cs with updated namespace, I get error "'BrowserOptions' does not contain a definition for 'UCIPerformanceMode' after install easyRepro using NuGet".
Ho

[2020-01-08 20:55] xuejunh opened #706 "[HOW-TO] Is there a smart xrmApp.ThinkTime(500)"
I am trying easyRepro and see it is necessary to wait like

xrmApp.ThinkTime(500)

to set lookup value. I am wondering if there is smart think time like wait until the lookup is ready to select as in selenium or protractor?

Thanks!

[2020-01-09 02:49] KhoaAN commented on #702
thanks. I'll try to figure out a way to maintain the custom dll with my fixes because the latest version isn't working perfect.

[2020-01-09 21:30] AngelRodriguez8008 commented on #702
@rswafford

@u3021007

I have the same problem; I fix the bugs, add features & optimize my custom DLLs. My version work well in my "test system", but I'm not sure about how it works other Environments, I have no time to run all sample tests (locally) & I have just one system (is not for play). Most of my tests are not suitable for run in a "clean trial system", because we have our own customizatio

[2020-01-09 22:57] KhoaAN commented on #702
@AngelRodriguez8008
I think the sample tests should be ran when they review the pull requests. That would make sure code changes aren't breaking other functionalities.
If you were to run all sample tests to verify your changes, you will have to build the codes to cleanup the data that were created by sample tests. That would be too much work.

[2020-01-10 09:18] AngelRodriguez8008 commented on #702
@KhoaAN

**That can be done automatically by the Build Server, running all tests in all Environments**

**Cleaning Jobs can run weekly in all Environments**

[2020-01-10 09:49] shahrukhshakil424 opened #708 "[HOW-TO] Easyrepro- When run a test case, once done successfully but the another time it throw different exceptions"
Online
**Browser**
 Chrome
 Firefox

Whenever I run the code it works fine only first time. However, if I run again the same code without any customization it throws different exceptions every time.
**Exceptions are:**
-[ ]OpenQA.Selenium.ElementNotInteractableException: 'Element
could not be scrolled into view'
-[ ]System.InvalidOperationException: 'Composite Control: fullname Does not exist'
**H

[2020-01-10 11:58] Shubh-saxena commented on #699
Thanks for the replies.. I was able to fix this issue as follows:
) Using NuGet Package Manager in Visual Studio, you can manually update the version of the ChromeDriver on the Microsoft.Dynamics365.UIAutomation.Sample project.
a.	Select the Selenium.Chrome.WebDriver from the list of packages
b.	Choose the required version to match the version of ChromeBrowser on your test client, and then click U

[2020-01-11 14:27] Shakevg commented on #699
@Shubh-saxena Looks like on Agent in Azure DevOps you have Chrome browser version different from 79

You can find Chrome version using PowerShell task with next code:
`$ChromeVersion = (Get-Item (Get-ItemProperty 'HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\chrome.exe').'(Default)').VersionInfo
Write-Host "ChromeVersion: " $ChromeVersion`

![image](https://user-images.githubuserconte

[2020-01-12 22:45] KhoaAN commented on #702
@AngelRodriguez8008
I see what you want to have there. It would be nice to have that setup but then its hard to decide who would be fixing the broken tests once a user checked in codes that break other functionalities. I think its not going to be easy to manage.

[2020-01-13 03:43] #684 closed, assigned to nobody

[2020-01-13 09:23] VasanthChidambaram opened #709 "Web driver version issue between local and Azure build agent"
Hello,
We are facing chrome web driver version difference and facing error. Using Selenium chrome web driver nuget package version 79 to run test in local, but when we run against Azure build hosted agent, it has only chrome browser version of 77.xxx.
Due to version conflicts,we are unable to find the solution to this issue. Please suggest any ideas

[2020-01-13 09:41] VasanthChidambaram commented on #699
@Shakevg - Am also facing the same issue as above.
As suggested, we have been Azure hosted build agent vs2017-win2016 and its specification below,
[(https://github.com/actions/virtual-environments/blob/master/images/win/Windows2016-Readme.md)]

[2020-01-13 10:00] deep-hub commented on #642
@TYLEROL
@jason-lachance
@spr0ut

Could you please provide resolution to above query, stuck in this, tried all the methods.

Thanks in advance!!!!!

[2020-01-13 20:31] Shakevg commented on #699
For "windows-2019", "vs2017-win2016" Microsoft-hosted agent next code can be used for generating correct WebDriver folder path for hosted MS Agents (windows-2019, vs2017-win2016): local Agent driver path will return from environment variable for Chrome, IE, Firefox and current working directory otherwise.

[code]

[2020-01-14 09:58] jjbright opened #710 "Deprecated methods..."
## Question

**The automation testing code that I'm trying to enhance is having an older version of EasyRepro, now that I've to enhance it so I updated it thru the Nuget in VS2017 using the below command.**

`PM> Install-Package Dynamics365.UIAutomation.Api -Version 9.1.0.11711`

After getting this, I tried  a clean build which had completely broken the existing code.

Here are the errors -

'Acti

[2020-01-14 13:33] alphonso77 commented on #671
I had the same issue... I think it was because we were running the test: Microsoft.Dynamics365.UIAutomation.Sample.Web.CreateContact.WEBTestCreateNewContact (classic web) rather than the UCI test: Microsoft.Dynamics365.UIAutomation.Sample.UCI.CreateAccountUCI.UCITestCreateAccount.

When I ran the UCI test, the test proceeded after successful login, without having to change the 'use only unified in

[2020-01-14 15:55] ugreg opened #711 "[BUG] Pending email warning blocks test completion"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-01-14 16:16] TYLEROL commented on #711
Hi @gregdegruy

Could you give this snippet below a try, add it immediately following the call to LoginPage.Login()

[code]

Thanks,
Tyler

[2020-01-14 18:56] Shakevg commented on #709
[For "windows-2019", "vs2017-win2016" Microsoft-hosted agent next code can be used for generating correct WebDriver folder path for hosted MS Agents](https://github.com/microsoft/EasyRepro/issues/699#issuecomment-573856361)

[2020-01-14 22:07] TYLEROL commented on #709
Thanks @Shakevg for sharing this solution.

@VasanthChidambaram - This is a limitation of the current feature branch that we are looking to update soon, but the option shared above is a good one for now.

With recent changes to the ChromeDriver requiring version parity between Driver and Browser, this caused some difficulties with the version we were including within the branches. We made a decisi

[2020-01-14 22:07] #709 closed, assigned to nobody

[2020-01-14 22:09] TYLEROL commented on #699
Thanks @Shakevg for sharing this solution.

For others here -- This is a limitation of the current feature branch that we are looking to update soon, but the option shared above is a good one for now.

With recent changes to the ChromeDriver requiring version parity between Driver and Browser, this caused some difficulties with the version we were including within the branches. We made a decision

[2020-01-14 22:36] TYLEROL commented on #705
Hi @xuejunh ,

Which NuGet package version did you test this with?

The 'UCIPerformanceMode' flag adds a query parameter '&perf=true' to the URL string which enables a performance widget in the Unified Interface. Once this widget is enabled, it will capture key performance properties and metrics that could be used to understand the performance you're seeing with your model-driven apps.

![image](h

[2020-01-14 22:58] TYLEROL commented on #706
Hi @xuejunh ,

The xrmApp.ThinkTime() method was introduced as a means to create your own artificial delays in a test. One example would be if you were showing the test as a demo, it allows you to artificially slow down the test and better visualize what is occurring on screen. In some scenarios, the test moves very quickly and much faster than a traditional user making things tougher to see.

For

[2020-01-14 23:11] jowells1 opened #712 "[BUG] No Get/Set API for CompositeControl for UCI"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-01-14 23:13] TYLEROL commented on #703
Thanks @jeffryvu for raising this. I've added it to our backlog and will try to see what we can get worked out in this milestone.

Regards,
Tyler

[2020-01-14 23:28] TYLEROL commented on #710
Thanks for raising this @jjbright - do you know which version of EasyRepro you were upgrading from?

Prior versions like 8.1, 8.2, and 9.0 had some differences from when the latest v9.1 branch was created a while back. With the 'One Version' initiative, you shouldn't have to go through this again. Once I hear back, I'll try to provide some more specific guidance behind the APIs you're having issue

[2020-01-14 23:31] TYLEROL commented on #702
A change was published the latest 9.1.0.11711 NuGet package this past Friday, as well as the latest releases/v9.1 branch.

Please let me know if anyone continues to face this issue and we can re-open for further investigation.

Warm Regards,
Tyler

[2020-01-14 23:31] #702 closed, assigned to nobody

[2020-01-14 23:33] TYLEROL commented on #704
@shahrukhshakil424 - A change was published the latest 9.1.0.11711 NuGet package this past Friday, as well as the latest releases/v9.1 branch.

Please let me know if this issue persists and I can take another look into this problem.

Warm Regards,
Tyler

[2020-01-14 23:36] TYLEROL commented on #700
@sarul84 - This is something that is under consideration (.NET Core) on our roadmap, but we do not have an ETA at this time.

Thanks,
Tyler

[2020-01-14 23:36] #700 closed, assigned to nobody

[2020-01-14 23:37] #687 closed, assigned to nobody

[2020-01-14 23:44] TYLEROL commented on #642
@deep-hub , what error message are you receiving as a part of the failed test for the ADFS login?

Assuming a standard ADFS forms based login experience, what you have so far _looks okay_. Do you know which version of ADFS you are using?

Note: You must be using a forms based login experience -- this will not work for a Windows Authentication prompt.

Thanks,
Tyler

[2020-01-15 10:32] Cornholio1337 opened #713 "[HOW-TO] Click on "Next Stage" button in Business Process Flow"
## Question
Hello everybody.
Maybe I am doing something wrong here but I try to automate an UI Business Process Flow and it looks like there is no way to automate the click on the "Next Stage" button.
xrmApp.BusinessProcessFlow.SelectStage() only selects the current stage, but then I have to click the "Next Stage" button. xrmApp.CommandBar.ClickCommand("Button Text") doesn't do anything apparently

[2020-01-15 12:43] Cornholio1337 commented on #713
Alright. I found out how to activate the button. It was not clear for me, that you have to pass the current stage name as the parameter for xrmApp.BusinessProcessFlow.NextStage() and not the name of the next stage.
Now I have a new problem. I have a multi entity bpf and after clicking on next stage I have to click "+ Create" to create a new record of the entity of step two. Any idea how I can achi

[2020-01-15 13:32] Shakevg opened #714 "[HOW-TO] Wait for canvas app content loading"
It is special canvas apps frame with loading data from server on fly can be created in Dynamics 365.
I cannot find method how to wait for data loading on this form.

I tried:
driver.WaitForPageToLoad();
driver.WaitForTransaction();

**Is any method\UI control or API exist for waiting data load in canvas apps?**

[2020-01-15 15:19] ugreg commented on #711
That fixed it thanks so much! Created [PR 715](https://github.com/microsoft/EasyRepro/pull/715) for this change.

Is the `CloseWarningDialog()` prepared to handle edge cases, like if there's no warning dialog on the page at runtime will the code continue to execute if this method is called with nor warning dialog on the page?

[2020-01-15 16:11] Cornholio1337 commented on #713
Okay I was able to achieve this via var e = client.Browser.Driver.FindElement(OpenQA.Selenium.By.Id("MscrmControls.Containers.ProcessStageControl-CreateNewContainer")); and then e.Click();
But it would still interest me if there is already a function for this.

Greetings

[2020-01-15 16:28] TYLEROL commented on #714
Hi @Shakevg ,

We do not have anything today for this - however I'll add a feature to the backlog to see how we could handle this type of control existing on the form.

Thanks,
Tyler

[2020-01-15 20:17] TYLEROL commented on #713
Hi @Cornholio1337 ,

From re-assessing the current state of the Unified Interface and BPFs, this is a current feature gap. I've added an item to the backlog to track this and will re-open this issue for tracking as well.

Thank you for raising this gap.

Warm Regards,
Tyler

[2020-01-16 08:25] Cornholio1337 commented on #100
Hey guys.
Could it be, that xrmBrowser.Entity.ClickSubgridAddButton function is not implemented at the moment?

Greetings

[2020-01-16 09:14] Cornholio1337 opened #716 "[Question] xrmApp.Entity.ClickSubgridAddButton not working"
## Question

Hey guys. I already commented this to an older closed issue but to be safe I will open a new issue as well.
I need to click on the "add new" button in a UI subgrid. When you search for it on google you always find the function xrmApp.Entity.ClickSubgridAddButton, but when I try to use it, I get the error that Entity does contain a definition for ClickSubgridAddButton.
Is this function

[2020-01-16 19:10] xuejunh commented on #705
I am using NuGet Manager 4.6.0 which is with Visual Studio 2017. Should I use Visual Studio 2019? Will easyRepro works with Visual Studio 2019 (Readme indicates easyRepro works with Visual studio 2017, 2015).

[2020-01-16 19:38] jowells1 opened #717 "[BUG] Get/SetHeaderValue is not working for UCI"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-01-17 01:12] jowells1 opened #719 "[BUG] Unable to Get/SetHeaderValue for Owner"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-01-17 04:35] jjbright commented on #710
Hi Tyler
I couldn't find the version of EasyRepro in my project.  I assume it could be an older version like 8.1/8.2

Help me to find the version too.

I'll change to SelectLookUp as suggested, once you guide me thru on the other issues... so that I'll be upgrading to the newer version of EasyRepro.

Alongside, I've only two projects in my solution... please see screenshot.
![image](https://user-i

[2020-01-17 14:14] JakeObrienMercuryXrm opened #720 "[HOW-TO] Any idea how I can input text to textboxes in dynamics that are not yet initialised?"
Any idea how I can input text to textboxes in dynamics that are not yet initialised?

I am automating dynamics and have come across an issue where I am unable to input into some textboxes that are used in the system.

I have tried:
 xrmApp.Entity.SetValue("crimson_name8", vacancyName);
I then get an error 'Object reference not set to instance of an object' which would indicate the textbox is not y

[2020-01-17 14:44] #720 closed, assigned to nobody

[2020-01-17 23:56] easyrepro opened #721 "[BUG] SetValue for LookupItem failing with Object reference not set exception"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [ ] UCI (XrmApp)
  - [x] Clas

[2020-01-18 14:36] AngelRodriguez8008 commented on #719
UPDATE: I note that a similar fix is done in #707 (but it don't work for me, in header the data-id don't match exactly)

I solve this problem by replacing the follow line:
![image](https://user-images.githubusercontent.com/27274469/72665324-893ed580-3a07-11ea-8715-6a127e50eed2.png)

The idea is remove the parent Tab Panel from the XPath.

You can copy it hier.
`{ "Entity_TextFieldLookupFieldContai

[2020-01-20 07:36] AngelRodriguez8008 commented on #721
Can be related to my comment in #707, please check it.
WaitUntilAvailable is not working properly in that version.

[2020-01-20 08:47] JakeObrienMercuryXrm opened #722 "[HOW-TO] Anyone able to help with using date pickers in Dynamics?"
Is anyone able to help with using date pickers in Dynamics?

I'm attempting to select a from a date picker, I can select the element and then begin to type the the date but as the typing starts the date picker is displayed and then seems to stop the typing as the focus is taken from the textbox and to the date picker instead.

xrmApp.Entity.SetValue("startdate", todaysDate);

![image](https://user

[2020-01-20 09:54] AngelRodriguez8008 commented on #722
Hi @JakeObrienMercuryXrm,

I found yesterday an Issue with the Date Input.
First: check if your date is entered in the right format, default is ("M/d/yyyy h:mm tt") in German I use:
[code]
Second:
in EasyRepro Code for UCI
![image](https://user-images.githubusercontent.com/27274469/72715939-b27b7500-3b71-11ea-97de-2846c1cdd58a.png)
I found that 1 is happening parallel (at the same time) to 2 that

[2020-01-20 11:37] JakeObrienMercuryXrm commented on #722
Thanks for the response but still no luck unfortunately. The focus is switched and then only half of the date entered before eventually closing .

[2020-01-20 12:50] JakeObrienMercuryXrm commented on #722
I've managed to find a work around for now , it's not great as I would like to use GetDateTime.ToString to get today's date but I can input it just using a hard-coded string as follows:

xrmApp.Entity.SetValue("startdate", "01/01/" + "2021");

Why this works, I don't know but I'm able to progress for now until I can put in a good fix for it.

[2020-01-20 13:38] AngelRodriguez8008 commented on #722
It may works because your are calling a different WebClient.SetValue Method, the same as for strings & numbers. I don't know why there is two different implementations, but seems to be with related the Time part of the Date Time.

It should work also with  "01/01/2021". It is the same. Or?
What happen if you try a different day of January?

I will try to fix it.  Did you have the Time Part of the

[2020-01-20 16:09] JakeObrienMercuryXrm commented on #722
Great, I can confirm it does work with alternative dates too.
There is no time, just date in the control dd/MM/yyyy format.

[2020-01-20 16:16] JakeObrienMercuryXrm opened #723 "[HOW-TO] Selecting iFrame buttons in Dynamics"
How can I select a button in Dynamics which is part of an iframe?

In the system in question there is a single button that is in an iframe, once clicked it changes to a dropdown list with a list of addresses in it. However, I can't seem to either locate or click on the button. I have tried using:
'Driver.driver.SwitchTo().Frame("WebResource_AddressLookup"); '
but I don't think will work as the ifr

[2020-01-21 04:23] AngelRodriguez8008 commented on #722
I hope it is fixed now, i add two tests/samples. If it does not work for you, please add your tests hier.

I think format is not longer required, i keep the parameters just in case. But it was required to split it in formatDate & formatTime.

There is also a new GetValue(with DateTimeControl).

[2020-01-21 08:06] tristanperper opened #726 "Login to support multi-factor authentication"
**Describe the feature**
Login to support supplying otp key.
Login method to have otp key parameter and must be able to supply the otp key during login.

**Explain why this feature is needed**
D365 users (in our case) will be asked always for an otp key since MFA is a security feature for Dynamics 365. The key will be coming from Microsoft Authenticator App
<img width="343" alt="Untitled" src="htt

[2020-01-21 08:08] JakeObrienMercuryXrm commented on #722
Great, I shall take a look and get back to you.
Thanks again :)

[2020-01-21 08:27] JakeObrienMercuryXrm commented on #722
Yes, that has worked for me. Thank you!

[2020-01-21 08:27] #722 closed, assigned to nobody

[2020-01-21 11:09] JakeObrienMercuryXrm opened #727 "[HOW-TO] How do I click a button related to a sub-grid?"
How do I click a button related to a sub-grid?

Using: C#, Selenium, ChromeDriver

So, I have an issue where I can't click buttons related to a subgrid.
Take the following code:

`xrmApp.RelatedGrid.ClickCommand("SubGridAddExistingAssociate);`

The above is a custom button but I have also tested using the following code to click the standard Refresh button with no luck.
``xrmApp.RelatedGrid.ClickC

[2020-01-21 12:17] mikhailchub commented on #727
Yes, I had the same issue and solved it by adding a custom method to CommandBar.cs - ClickSubGridCommand, + added missing subgrid locators to AppElementReference.cs and adjusted a bit the original method ClickCommand in WebClient.cs (to switch to subgrid if it gets 'true' as a third parameter).

Shortly: there are no proper locators for subgrid container in AppElementReference.cs, and if you add t

[2020-01-21 12:47] JakeObrienMercuryXrm commented on #727
Thank you very much for this, I'll give it a go now

[2020-01-21 13:13] jjbright commented on #710
@TYLEROL Could you please look into this, it is quite critical for me to continue

[2020-01-21 14:02] JakeObrienMercuryXrm commented on #727
Yes, got it working, thank you very much!

[2020-01-21 14:02] #727 closed, assigned to nobody

[2020-01-21 14:30] Cornholio1337 commented on #716
I tried to do it via client.Browser.Driver.FindElement(OpenQA.Selenium.By.Id(@elementname)); but it's not working because the Element Name of the Button changes a little bit every time you reload the page.
Any suggestions?

[2020-01-21 15:19] jowells1 commented on #717
This issue has been addressed

[2020-01-21 15:19] #717 closed, assigned to nobody

[2020-01-21 15:36] #711 closed, assigned to TYLEROL

[2020-01-21 16:37] mikhailchub commented on #716
Hey!
There was a [question](https://github.com/microsoft/EasyRepro/issues/727), closed just a few hours ago. If your problem is similar to what was described there - you may take a look to the comments for the resolution suggestion. It may help.

[2020-01-21 17:18] jowells1 commented on #719
@AngelRodriguez8008 I had come to a similar pattern but the problem is if you have the owner field within the form as well setting the owner throws an exception.  In fact, I believe this is an issue for all fields that are in the header and available on the form.

AppElementReference.cs:
`{ "Entity_TextFieldContainer", "//*[contains(@id, \'[NAME]-FieldSectionItemContainer\')]" },`

![image](https:

[2020-01-21 20:15] easyrepro commented on #721
Thanks @AngelRodriguez8008  Yes, it seems WaitUntilAvailable is not waiting for Dialog element to be visible and returning null

[2020-01-21 20:59] TYLEROL commented on #710
Hello @jjbright -

I am having difficulties locating the missing methods that you've listed above. In my time on this project, I've made a conscious effort to avoid removing existing methods. If a new, better method becomes available I've marked the old methods as Obsolete with reference pointers to the new replacement method.

- ActivityFeed.OpenActivity() --> **ActivityFeed.OpenActivitiesAssocia

[2020-01-21 21:13] TYLEROL commented on #705
@xuejunh - My apologies, for clarification, I am curious about the NuGet version of the EasyRepro package you are testing with. The latest package version available should be version 9.1.0.11711

In regards to Visual Studio versions, EasyRepro will work with VS 2015, VS 2017, and VS 2019.

Thanks,
Tyler

[2020-01-21 21:25] xuejunh commented on #705
Tyler,

Thanks for your email. I checked easyRepro version just now it is 9.1.0.11711. the Nuget itself is v4.6.0.

I still have the code commented in the setting as //UCIPerformanceMode = true
To run my script.

Thanks for your help!

Best regards,

Xuejun

XUEJUN HUANG
IT QA Analyst II
T: (724) 416-9639

CROWN CASTLE
2000 Corporate Dr., Canonsburg, PA 15317
CrownCastle.com<http://www.crowncastle

[2020-01-22 10:03] Cornholio1337 commented on #716
Awesome! Thanks for the reply. Will try it out right now.

[2020-01-22 10:26] Cornholio1337 commented on #716
Alright I was able to get it working. @mikhailchub your comment got me into the right direction.
In the end i used var elementAdd = client.Browser.Driver.FindElement(OpenQA.Selenium.By.XPath("//button[@aria-label='" + _name of the button_ +"']"));
elementAdd.Click();
The button name I found via pressing F12,  right click on the button > Inspect and copy the name of the aria-label.
Thanks folks!

[2020-01-22 10:26] #716 closed, assigned to nobody

[2020-01-22 15:10] jjbright commented on #710
Hi Tyler,
@TYLEROL I'll try this in my end.

reg: UCI - I think Dynamics CRM we are using is not in Unified Interface as we have moved to Unified Service Desk to be used by the users.
How do I determine if this is Unified Interface
![image](https://user-images.githubusercontent.com/55202374/72905943-5d00bd00-3d57-11ea-9c1e-ba66aae4a809.png)

Thanks
John

[2020-01-22 15:10] JakeObrienMercuryXrm opened #728 "[HOW-TO] How do I handle a popup after an Entity.Save command?"
How do I handle a popup after a Entity.Save command?

On some forms when I use Entity.Save() there is an alert displayed which is custom as a warning to users about what will happen when saved. However, I am unable to accept the alert before the test fails. I'm guessing this is down to the Save command not being able to complete and therefore failing but I can't seem to work around it in any way.

[2020-01-22 15:37] AngelRodriguez8008 commented on #726
Hi @tristanperper,

I got yesterday the same Issue in a new Online Trial version.

I solve it few weeks ago:
See my comment [hier ](https://github.com/microsoft/EasyRepro/issues/653#issuecomment-550516716).
I will try to extract this feature from my Fork & merge to the mainstream, I will come back to you.

br

[2020-01-22 20:15] TYLEROL commented on #710
Hello @jjbright - while I am not that familiar with the USD client, the screenshot you provided appears to be a legacy web client control. I've linked a couple Microsoft Docs articles below with Web Client vs Unified Interface examples. It appears that the **Unified Service Desk Component Type** field on the hosted control should help given an indicator on your client interface type.

- [Web Clien

[2020-01-22 21:54] xuejunh commented on #705
I am sorry for the confusing. I just updated my package to 9.1.0.11711 and I do not see the error anymore. so I am closing this issue.

[2020-01-22 21:54] #705 closed, assigned to TYLEROL

[2020-01-22 23:02] jhandel commented on #726
Our organization uses Azure MFA which doesn't seem to provide a way to get the MFA Secret (it gets handed to the Microsoft Authenticator over a one time SSL call... Anyone have a suggestion on how to get MFA to work or is this an instance were I need to have an "interesting" conversation with IT and security as to why we need a non-MFA account with near "universal" permissions to our dev CRM?

[2020-01-23 00:35] tristanperper commented on #726
will check on this one.

[2020-01-23 00:45] tristanperper commented on #726
thank you very much.. i've seen your code... i also have tried to create a local branch forked from release v9.1 and made that same solution as yours (Login with MFA) / jsakamoto solution. it also worked in my local branch.

though my questions are, 1] when will it be merged and into what release? 2] will it be available as an official package (Visual Studio -> reference -> Manage Nuget Packages)

[2020-01-23 01:09] jhandel commented on #726
I also tried the fix, I got it merged in fine, but ( at least for me) there is no way to get the MFA secret with how our Azure AD and MFA is configured.

[2020-01-23 13:22] xuejunh opened #730 "[HOW-TO] set the path of chromedriver.exe after NuGet Install easyRepro"
From the following error message. I have to put chromedriver.exe to the Temp folder. I tried to add chromedriver.exe to the project directory and set the property to always copy but I still get the error. even when I put the chromedriver.exe and set the Path env. I still have the error.

How can I set the path for the easyrepro project to find the chromedriver.exe not in this Temp directory since

[2020-01-23 14:11] AngelRodriguez8008 opened #731 "[HOW-TO] Check that everything is working fine, after code update or prior pull request?"
## Question
My problem:
I have made many changes in my Fork to make EasyRepro works for my project. It works. Great!
Now. I want to share some of these changes with the Community, also back also slowly merge back to the upstream. However, I found that there are many tests/samples that don't run in an empty Trial environment.
But:
1.	I'm not able to run the Web Tests.
2.	I require Multi-Factor Auth

[2020-01-23 14:15] AngelRodriguez8008 commented on #730
See #729

[2020-01-23 14:29] AngelRodriguez8008 commented on #726
Hi @tristanperper,

I'm glad to ear that it is working for you. I create a branch & I want to merge it to develop. But I found at least an Issue with the UCIPerformanceMode and I want to tests it before I create a pull request. See #731. I hope it will be official soon.

Thanks & br

[2020-01-23 14:43] AngelRodriguez8008 commented on #726
Hi @jhandel,

Try to navigate
1. From your [Profile](https://account.activedirectory.windowsazure.com/r#/profile) to [`Additional security verification `](https://account.activedirectory.windowsazure.com/Proofup.aspx)
2. Click button "Set up Authenticator app"
![image](https://user-images.githubusercontent.com/27274469/72993474-b9b2b500-3df5-11ea-8290-fda0acff29df.png)
3.  Click link "Configure ap

[2020-01-23 14:51] xuejunh commented on #730
Thanks for the reply! Could you please list the steps here to modify the app.config to set the path to chromedriver.exe? I could not find relavent details in #729.

[2020-01-23 14:56] jhandel commented on #726
@AngelRodriguez8008 our IT had moved us to the "preview" version of the MFA UI.. Once we rolled it back to the current UI (like your screen shot) I was able to find it.

Thanks

[2020-01-23 21:33] AngelRodriguez8008 commented on #730
Hi @jxyang,

#729 is a Pull Request that is not approved jet. After it become merged, you will be able to set the drivers path in app.config, for ex.:
[code]

See: the [changed file](https://github.com/microsoft/EasyRepro/pull/729/files#diff-ce019a898b23f81fb001df6c08f9331f)

[2020-01-23 21:48] xuejunh opened #733 "[HOW-TO] run easyRepro on EDGE"
Our CRM project will also support EDGE. Could you provide the information on what I need to install and what are all the settings needed to run in EDGE?

[2020-01-24 01:34] tristanperper commented on #726
Hi @AngelRodriguez8008

Is this somehow related to UCIPerformanceMode being missing? I encountered that in my local... what I do is remove then replace the UIAutomation.Browser binary (dll coming from EasyRepro release v9.1) reference in my solution ...

[2020-01-24 16:43] TYLEROL commented on #733
Hi @xuejunh ,

You'll need to download the [MicrosoftWebDriver ](https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/#downloads), however please note per this link you'll want the 'Microsoft Edge Legacy' driver. We have not yet validated the latest Microsoft Edge browser.

To use Edge instead, update the app.config **BrowserType** to use 'Edge'.

[code]

Thanks,
Tyler

[2020-01-24 18:37] Shakevg commented on #733
@xuejunh, @TYLEROL For latest versions of win 10 Microsoft WebDriver for Microsoft Edge version 18 is a Windows Feature on Demand (setup form features).
To install run the following in an elevated command prompt:
[code]

Also you need to set custom driver path in this case.
You set driver path using app.config with latest dev version or use next code:

[code]

[2020-01-25 00:18] AngelRodriguez8008 commented on #726
Hi @tristanperper,

Thanks for the Info. After merge with #734 the Issue with the UCIPerformanceMode was solved. Maybe was required just Clean & Rebuild of the Solution. I create the Pull Request #735 for this branch.

br

[2020-01-25 08:30] xuejunh commented on #733
But my install run was not successful. Please see the below and help:
C:\WINDOWS\system32>DISM.exe /Online /Add-Capability /CapabilityName:Microsoft.WebDriver~~~~0.0.1.0

Deployment Image Servicing and Management tool
Version: 10.0.17763.771

Image Version: 10.0.17763.864

[==========================100.0%==========================]

Error: 0x800f0954

DISM failed. No operation was performed.
For

[2020-01-25 09:11] xuejunh commented on #733
2020-01-25 04:00:31, Info                  DISM   PID=5396 TID=7068 Scratch directory set to 'C:\Users\xhuang\AppData\Local\Temp\'. - CDISMManager::put_ScratchDir
2020-01-25 04:00:31, Info                  DISM   PID=5396 TID=7068 DismCore.dll version: 10.0.17763.771 - CDISMManager::FinalConstruct
2020-01-25 04:00:31, Info                  DISM   Initialized Panther logging at C:\WINDOWS\Logs\DISM

[2020-01-25 12:59] xuejunh opened #736 "[HOW-TO] easyRpro script failed at login for ie"
[IE.docx](https://github.com/microsoft/EasyRepro/files/4112032/IE.docx)

when I run easyRepro in IE, I have the company security window pops up as shown in the attached file. How to solve this problem

[2020-01-26 21:08] Shakevg commented on #733
@xuejunh What is Edge [version ](https://support.microsoft.com/en-us/help/4027011/microsoft-edge-find-out-which-version-you-have)do you have?
You can try [this ](https://social.technet.microsoft.com/Forums/ie/ru-RU/ef10f8eb-fee0-4cde-bb01-52d1db2ea347/win10-1709-add-feature-fails-with-error-0x800f0954?forum=win10itprogeneral)if version is 18+.

[2020-01-27 09:02] JakeObrienMercuryXrm opened #737 "[HOW-TO] Is it possible to handle pop-out windows in Dynamics using EasyRepro?"
## Is it possible to handle pop-out windows in Dynamics using EasyRepro?

Throughout the system I am automating there are pop-out windows such as the one seen in the screenshot below:
![image](https://user-images.githubusercontent.com/59575810/73161033-7a7cb080-40e2-11ea-88f2-35b108b41cc4.png)

When these popups are displayed they seem to open in new windows, however I can't seem to interact with

[2020-01-28 18:56] Shakevg commented on #736
@xuejunh  I  suppose no simple solution, you can try [this](https://www.dev2qa.com/pass-website-basic-authentication-use-selenium-webdriver/)

[2020-01-28 20:33] AngelRodriguez8008 commented on #736
I suggest not to put errors in a DOCX. I guest the Search Engine of GitHub will not look inside, also I don't trust to open it. You can paste the picture direct in comment. There is not reason to use a Word file.

[2020-01-28 21:55] xuejunh commented on #736
![image](https://user-images.githubusercontent.com/59613444/73308756-f82de280-41ee-11ea-8d37-22c4767706b1.png)

[2020-01-28 22:03] xuejunh opened #738 "[HOW-TO] create testing framework employing easyRepro for multiple envs and users"
We need to test in different staging envs (UAT, QA, PSUP). I am required to create a test framework to use easyRepro for all our staging envs. We also need to switch users during the test, so the expected framework would also handle the different users. For CI, CD the expected framework should also generate reports for validate the test results after all the tests are triggered automatically by th

[2020-01-28 22:25] xuejunh commented on #733
Microsoft EdgeHTML 18.17763 is the version I have.
1. regedit

2. HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\WindowsUpdate\AU

3. UseWUServer -> 0

4. net stop wuauserv && net start wuauserv from cmd

are the above 4 steps I need to do before DISM.exe /Online /Add-Capability /CapabilityName:Microsoft.WebDriver~~~~0.0.1.0 ?

what willl the step 3 & 4 do? will these affect my other tests

[2020-01-29 08:21] AngelRodriguez8008 commented on #738
Hi @xuejunh,

You can create in DevOps different Pipelines with different Variables & Triggers, for each of your Env & users that you have, also associate this to different branches in your code, for diff stages of the code.

see: [Wiki: Azure DevOps Test Execution](https://github.com/Microsoft/EasyRepro/wiki/Azure-DevOps-Test-Execution)

in #729 i put an example for File Transform & Variables Sub

[2020-01-29 16:39] xuejunh opened #739 "[HOW-TO] add WaitUntilAvailable to the test"
I have the following code piece where I try to add waitUntilAvailable for SubArea("Sales", "Contacts"). How can I do this? Thanks!

[Test]
        public void UCITestCreateContact()
        {
            var client = new WebClient(TestSettings.Options);
            using (var xrmApp = new XrmApp(client))
            {
                xrmApp.OnlineLogin.Login(_xrmUri, _username, _password);

[2020-01-29 19:28] joesfshin13 opened #740 "CommandBar is not responding to any Click Events/Commands"
Out of the box project all tests that interact with the CommandBar are failing. Especially anything with "New" - Any help would be appreciated this is on a New D365 Implementation from scratch mostly Out of The Box functionality so far.

[2020-01-29 20:27] Shakevg commented on #733
@xuejunh You should just save current value of UseWUServer key, then perform the same actions with old key value.

1. regedit
HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\WindowsUpdate\AU
2. UseWUServer -> 0 (save current UseWUServer key value)
3. net stop wuauserv && net start wuauserv from cmd
4. DISM.exe /Online /Add-Capability /CapabilityName:Microsoft.WebDriver~~~~0.0.1.0
5. perform

[2020-01-30 01:21] tristanperper commented on #726
Hi @AngelRodriguez8008 ,

Will check on this pull request and skim-thru those changes. Will monitor this pull request until it closed. Thank you very much!! :)

[2020-01-30 02:24] xuejunh commented on #733
![image](https://user-images.githubusercontent.com/59613444/73414629-5fc25b80-42dd-11ea-92fd-51363110fb20.png)
What is the setting for me to have the login page come up for blank user not as the above screenshot which lists all my accounts? Thanks!

[2020-01-30 02:27] xuejunh commented on #733
Or say as seen above the script pops up Pick an account page not the login page as expected. I think I should modify my Edge browser settings to see login page directly. Following is my code:
[Test]
        public void UCITestCreateContact()
        {
            if (TestSettings.Options.BrowserType == BrowserType.Edge)
            {
                var edgeDriverPath = @"C:\Windows\SysWOW64\";

[2020-01-30 03:28] AngelRodriguez8008 commented on #733
I usually use PrivateMode, where this screen is not show. But I see in code that in this case the Login method should pick the option "Use another account" and continue login as usual.
![image](https://user-images.githubusercontent.com/27274469/73417467-7508ab80-4318-11ea-8b30-93065b3474ef.png)
Maybe is this dialog not fully loaded at this point. What happen if you put xrmApp.ThinkTime(5000); befo

[2020-01-30 03:40] xuejunh commented on #733
Then there is bug in the code. I added the thinktime before call login. I can see the first pick account page disappear but instead of showing the sign in page the next, the pick account page is shown again. this is in Edge, for Chrome my script runs fine. I am using the same computer.

[2020-01-30 05:01] xuejunh commented on #738
@AngelRodriguez8008 For different env there is different CRM url. Where in the above Azure DevOps Test Execution is this different CRM url passed in to the tests?

[2020-01-30 08:10] AngelRodriguez8008 commented on #738
CRM url is a parameter in app.config

I wrote:

![image](https://user-images.githubusercontent.com/27274469/73430936-7f8a6b80-433f-11ea-9277-2d9fe37d6c98.png)

![image](https://user-images.githubusercontent.com/27274469/73431178-19521880-4340-11ea-9531-7230e1f9fade.png)

You can also use Tests Filters if you want to run diff tests in diff Envs.

[2020-01-30 08:50] bwmodular commented on #738
Another option is to use Visual Studio RunSettings files.
These are documented here:
https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019

You can have a number of different RunSettings files in your project, and the values will be available in the test run context.

You can switch between the different settings files in Visual Studio

[2020-01-30 13:40] xuejunh commented on #733
Our company tech support changes my settings and now when I run my easyRepro script in Edge I do not even see the login screen. Why?

[2020-01-30 13:42] xuejunh commented on #733
Continued. Although I do not see my login screen in Edge when I my easyRepro script, I am logged in and the rest of my script runs. Could you explain?

[2020-01-30 16:25] joesfshin13 commented on #740
I have tried RelatedGrid as well but seem I still get a dreaded null exception error. Coming from the browserCommand . Any help appreciated or suggestions

[2020-01-30 17:25] AngelRodriguez8008 commented on #733
If you are already logged in, which login screen you expect to see?

[2020-01-30 17:59] xuejunh commented on #738
Thanks for all the details! If I want to run my test suites in Chrome first then in Edge, how should I setup this through AZure DevOp and pipeline?

[2020-01-30 18:04] xuejunh commented on #733
To make it clear: I run the script in Edge, I have the script ran through without seeing login page at all. I am wondering how the login mechanism works for Edge now, could you please explain?
@AngelRodriguez8008

[2020-01-30 18:29] AngelRodriguez8008 commented on #733
No matter Chrome oder Edge, if your are not running in Private Mode. The authentication once entered will be valid for the next 24h (usually). The Login Method do not "see" the "Enter Email" Dialog & move forward. For more details you can debug the Login method.

UPDATE: Well that was not true at all, in some cases Chrome do not use the Default User Profile & recreate one each time, it work simila

[2020-01-30 18:30] xuejunh opened #741 "[HOW-TO] close the browser after each NUnit test in the same class (testFixture)"
I have many tests in same class (testFicture) but each test need it own different test user so I need to close the browser and login again. How could I close the browser? Or I should have other ways to implement such feature to switch to different user for easyRepro tests in same class? Thanks!

[2020-01-30 18:34] xuejunh commented on #733
From my experience, in Chrome, every time I run script I see the login page and the browser get closed at the end of test. But in Edge now I do not see login page pops up and I am just logged in and script ran through and then closed the browser. I could try to run tomorrow in Edge to see what happens.

[2020-01-30 18:41] AngelRodriguez8008 commented on #733
You can just Log out  & try again.

[2020-01-30 18:58] xuejunh commented on #733
I tried to run in Edge just now. I saw Pick an Account page 2 times instead of seeing Pick an Account page then Sign in page. Could you try to fix the issue in Edge since the test need to run in Edge. Thanks! @AngelRodriguez8008

[2020-01-30 19:58] AngelRodriguez8008 commented on #733
Sorry I'm not working in Edge at the moment but I rebuild the Login method in PR #735. You can try again after this got merged or get this specifics version & compile this yourself.

[2020-01-30 22:53] alphonso77 opened #742 "[BUG] unable to login with online and SSO"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [x ] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [ ] UCI (XrmApp)
  - [ x] Cl

[2020-01-31 13:29] alphonso77 commented on #742
I forgot to mention that using CustomRedirectAction didn't work in this instance since it gets called after the trouble begins.

[2020-01-31 15:45] tipsey commented on #728
Have you tried using a try statement?

 try
                {
                //code to save the form
                }
                catch (Exception)
                {

                   //code to dismiss the alert and proceed
                }

[2020-01-31 15:49] tipsey commented on #736
I had a problem with IE 11 so I had to use .Submit() instead of .Click()
if (_browser == "Chrome")
{
    xrmBrowser.Driver.FindElement(By.Id("ContentPlaceHolder1_SubmitButton")).Click();
}

 if (_browser == "IE")
{
    xrmBrowser.Driver.FindElement(By.Id("ContentPlaceHolder1_SubmitButton")).Submit();
}

[2020-02-01 05:33] manas3487 opened #743 "Two Option Set Set Value Issue"
Hi I am unable to set the two option set value using the following code for UCI
xrmApp.Entity.SetValue(new OptionSet { Name = "gendercode", Value = "1" })

Can you please provide me the solution to set the value for UCI

[2020-02-01 19:11] AngelRodriguez8008 commented on #743
Try to use the DisplayName, not the Value (Male or Female).

[2020-02-02 07:22] furqansafdar opened #744 "Login using AD authentication"
How to login into Dynamics 365 using Active Directory credentials?

When navigating to main page, it is prompting me to key in AD username and password. Tried different options but no luck.

[2020-02-02 10:17] KhoaAN commented on #721
I know this issue was raised for D365 classic web not UCI but theres also a D365 problem with setting lookup value through the UI that started happening about 2 or 3 weeks ago (maybe through the last D365 update). Basically whenever a user started a new session and try to find the matching value from the Lookup field (by putting in text search value) on a form, it wouldn't be able to find the matc

[2020-02-02 20:53] ejfdejesus opened #745 "ClearValue for date field"
xrmApp.Entity.ClearValue(datefield) is not clearing the date time field.  Is there anyone experiencing this issue? Thanks.

[2020-02-03 09:13] JakeObrienMercuryXrm commented on #728
Hi, yeah, I've manged to fix this with code similar to the above. Thanks

[2020-02-03 09:13] #728 closed, assigned to nobody

[2020-02-03 09:21] manas3487 commented on #743
I tried with that approach too but i am unable to set the value.
xrmApp.Entity.SetValue(new OptionSet { Name = "gendercode", Value = "Male" });

[2020-02-03 12:17] KhoaAN commented on #721
I discovered that our **ownerid** field isn't returning teams for the 1st time usage. It only returns users for the 1st search. Any searches after that would return both teams and users. Not sure if this issue was caused by our security roles setup and such or its a D365 bug from Microsoft.
1st search (by clicking on the field and hit Enter key):
![image](https://user-images.githubusercontent.com/

[2020-02-04 10:50] KhoaAN commented on #719
@jowells1  Are you working on a fix for this? If you aren't, I wanna give it a go.

[2020-02-04 12:57] mVermaat commented on #743
There is an overload specifically for boolean fields like this:

app.Entity.SetValue(new BooleanItem { Name = LogicalName, Value = true });

[2020-02-04 15:25] AngelRodriguez8008 commented on #719
Hi, @jowells1, Hi @KhoaAN. I 'm working on it.

I fixed it in PR #747, can you please take a look, run some tests i need MFA to tests properly but I create this PR, independently of MFA. to make the changes more understandable.

@jowells1, I reproduce your test UCITestOpenCaseRetrieveHeaderValues as you describe it & also did some others in the same file. This logic should work fine for now just f

[2020-02-04 15:46] AngelRodriguez8008 commented on #743
Hi @manas3487 ,

The follow code run perfectly in the current version. Check that you are moving to the right Tab.
(Details in my case). If this do not work for you, please post hier the error that you get and a screenshot of your form.

[code]
br

[2020-02-04 15:48] AngelRodriguez8008 commented on #745
I fix already the date & times. I guest I forgot the ClearValue methods I will check that.

[2020-02-04 17:27] manas3487 commented on #743
Hi @AngelRodriguez8008 your code works perferly now.
The mistake what i am making is not selecting the tab and now with your code i am able to execute perfectly.Just wanted to know some information on this.
1.For suppose if the field is not available on the form and if we need to set the value to that field and test could it be possible
 2. How do we set the statecode and status code as they are n

[2020-02-04 19:28] AngelRodriguez8008 commented on #743
EasyRepro (like Selenium) is intended to Simulate the normal User Interaction, without Chrome Extensions like "Level up" that simulate God Mode or similar. See more Details in #463

That mean with the "standard" EasyRepro you will not be able to do 1. nor 2.

Also Using JS code & window.Xrm functionalities, the fields should be in the Form, but can be hidden.
With this idea I created PR #172 that

[2020-02-04 19:58] ejfdejesus commented on #745
By the way this was working before. Then from 20 January this specific step is always failing.  :)

[2020-02-04 21:08] AngelRodriguez8008 commented on #743
Set the statecode and status code can you maybe use the commands buttons "Activate" & "Deactivate" in ribbon. Analog Open, Close & Reopen in Opportunities. This is already implemented.

[2020-02-04 23:14] xuejunh opened #748 "[HOW-TO] Test automation for CRM on mobile using easyRepro?"
We need to do test automation for MS CRM on mobile, will easyRepro support mobile testing? Or you have a framework built on Appium?

[2020-02-05 00:05] AngelRodriguez8008 commented on #745
Can you please put your whole test hier. I did see any different in ClearValue before & after the 20 January. I will tests your code with both code versions. I think, the problem ist that this method is not done in particular for DateTime Controls, it is generic for text, numbers fields, etc & the time part of the field is a second "input", that seems not be included in this logic.

[2020-02-05 00:41] ejfdejesus commented on #745
xrmApp.Entity.SetValue(datetimefield, DateTime.ParseExact("29/09/2019", "dd/MM/yyyy", null), "dd/MM/yyyy");
xrmApp.Entity.ClearValue(datetimefield);

[2020-02-05 01:14] KhoaAN commented on #719
@AngelRodriguez8008 Thanks! I will check it out.

[2020-02-05 07:05] manas3487 commented on #743
Thanks @AngelRodriguez8008 . I am closing the ticket as i am able to achieve the functionality with your Inputs.

Thanks,
Manas

[2020-02-05 07:05] #743 closed, assigned to nobody

[2020-02-05 10:19] VivianVoss commented on #695
Hi Tyler, any news on this?

[2020-02-05 11:30] AngelRodriguez8008 commented on #695
Hi @VivianVoss,

Why you are trying to use the Classic Web (XrmBrowser) for 9.1 online? It is mandatory for you? If you use the UCI methods, it will call a different Login method that expect a different page: see it [hier](https://github.com/microsoft/EasyRepro/blob/79229f9e28c4bf8a0e4bcc80dd06402430f1d2c2/Microsoft.Dynamics365.UIAutomation.Api.UCI/WebClient.cs#L78)

See [samples](https://github.c

[2020-02-05 22:32] AngelRodriguez8008 commented on #745
Hi @ejfdejesus,

the PR #749 should solve this Issue. I describe what I think what the problem was. Now you need to clear the field by passing a DateTimeControl to the ClearValue method, exactly like for previously for GetValue.

See the samples [UCITestCreateActivity_ClearDateTimes](https://github.com/microsoft/EasyRepro/blob/005d306bd53e5bd962dc1790e8c155eb04eadf88/Microsoft.Dynamics365.UIAutoma

[2020-02-05 23:30] AngelRodriguez8008 commented on #740
Maybe are you running the "Classic Web (XrmBrowser)" tests in an UCI environment?

[2020-02-06 08:27] rahiltg opened #750 "Services > Cases: Lookup field subjectid not found"
I am trying to automate case creation scenario but i am unable to select the subject as it is a special type of lookup which shows the subject hierarchy when clicked manually. This is how it looks like on case form:

![image](https://user-images.githubusercontent.com/60732048/73918715-913db700-48db-11ea-9d17-dfd876f33341.png)

**This is my code:**
LookupItem subject = new LookupItem { Name = "subj

[2020-02-06 08:31] rahiltg commented on #371
I agree as i am also facing the same problem. I have created a bug with more details.
https://github.com/microsoft/EasyRepro/issues/750

[2020-02-06 10:55] mVermaat commented on #745
Looks good. I also noticed that in the version before this PR, when you perform a save operation right after setting the datetime field. it isn't saved properly. In example when filling an appointment's end time with '10-10-2020' and 15:00' and pressing save right after the operation. It will save it was '10-10-2020' and '8:00' (default time).

As you performed some changes in the SetValue method,

[2020-02-06 12:01] AngelRodriguez8008 commented on #750
Hi @rahasij,

It does not work because "subjectid" is not a Lookup Field it is a "tree-input". Also LookupItem do not requiere the Id, just the display name. See sample [UCITestCreateCase ](https://github.com/microsoft/EasyRepro/blob/60fb2b1455ad59e3f6409d6c4994dd412578a29b/Microsoft.Dynamics365.UIAutomation.Sample/UCI/Create/CreateCase.cs#L39) where customer is set.

I also tried the standard imp

[2020-02-06 15:26] joesfshin13 commented on #740
Nope - just seems not to find the element

[2020-02-06 15:28] joesfshin13 commented on #740
looking for any or possible recommendations

[2020-02-06 21:13] AngelRodriguez8008 commented on #740
Paste one test that you run and the error please.

[2020-02-06 21:22] joesfshin13 commented on #740
![1](https://user-images.githubusercontent.com/60446533/73979723-e5e92e00-48eb-11ea-820c-59a47b2bdfae.png)
![2](https://user-images.githubusercontent.com/60446533/73979761-01eccf80-48ec-11ea-8c29-997e34d5f80e.png)

[2020-02-06 21:22] #721 closed

[2020-02-06 21:22] #726 closed, assigned to nobody

[2020-02-06 21:23] joesfshin13 commented on #740
all other tests seem to be running fine its just related to the CommadBar tests - New, delete... etc all get the same error message

[2020-02-06 21:23] #655 closed, assigned to nobody

[2020-02-07 07:54] Shakevg opened #752 "[BUG] Cannot login to Dynamics due issue in Login method"
## Bug Report
Login method fails due trying to click to not existing controls, but do not check that is is exists before

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [ + ] Microsoft Dynami

[2020-02-07 08:10] AngelRodriguez8008 commented on #752
Fixed in #751 & also merged in #745

Thanks.

[2020-02-07 08:20] AngelRodriguez8008 commented on #745
Hi @mVermaat,

the workaround by to send a 'Keys.Tab' should not required any more, I made a ClearFocus at the end. That should be enough.

Thanks & br

[2020-02-07 14:51] TYLEROL commented on #752
@Shakevg - Per Angel's fixes that have been merged into develop, could you validate that your scenario is resolved by testing with the 'develop' branch?

Thanks,
Tyler

[2020-02-07 21:21] AngelRodriguez8008 commented on #740
Sorry I can not reproduce the error this tests are working fine for me. Try the latest version of 'develop' branch.

Thanks & br

[2020-02-07 21:32] AngelRodriguez8008 commented on #739
You don't need to Wait. This is already included in the call to OpenSubArea in the latest version
![image](https://user-images.githubusercontent.com/27274469/74067476-a9a3f380-49f9-11ea-8021-aa0891c2ee77.png)

[2020-02-07 21:38] AngelRodriguez8008 commented on #730
PR is merged. Now you can do it. Can you please close the Issue?

[2020-02-07 21:42] AngelRodriguez8008 commented on #719
Hi @jowells1,

How had works my fixes for you? I am changing the logic for the other controls types. Did you find some Issue?

BR
Angel A.

[2020-02-07 22:04] AngelRodriguez8008 commented on #741
You should handle the Credentials yourself in a Dictionary, List, JSON, XML, Settings File, ect. or Hard-Coded, whereever you want and past this as parameter to the Login methods. By using Private Mode you don't need to take care about closing the browser or log out. That is happening actually in all the provided samples.

Please close the Issues that you got already clarified.

[2020-02-07 22:07] AngelRodriguez8008 commented on #738
This is posible in the way that we has already explain you. Check the configuration paramenter in app.config & try it is easy.

Please close the Issues that you got already clarified.

BR

[2020-02-07 22:10] AngelRodriguez8008 commented on #733
Try the latest version, this may solve your Issue.

br

[2020-02-07 22:30] #719 closed, assigned to nobody

[2020-02-07 22:30] #704 closed, assigned to TYLEROL

[2020-02-07 22:31] #710 closed, assigned to TYLEROL

[2020-02-07 23:42] AngelRodriguez8008 commented on #701
Hi @chrizz-msweb,

Just move to the Tab 'Details' using: ` xrmApp.Entity.SelectTab("Details")` and continue fulfilling the fields an so on.

See example [hier](https://github.com/microsoft/EasyRepro/issues/743#issuecomment-581972670)

[2020-02-07 23:51] AngelRodriguez8008 commented on #693
Hi @samy-lab,

Check the samples [hier](https://github.com/microsoft/EasyRepro/blob/1fba3d68cb4640cc3ac3e7879f1b9a3febc2762f/Microsoft.Dynamics365.UIAutomation.Sample/UCI/Create/CreateActivity.cs)

All three are working fine for me. Can you use the UCI?

BR

[2020-02-07 23:53] AngelRodriguez8008 commented on #686
Hi @aalokkhare.

Can you provide more details please?

Thanks.

[2020-02-08 00:31] AngelRodriguez8008 commented on #681
Hi @simonbridgwater,

That is working fine for me. Can you try the latest version?
[code]

[2020-02-08 01:04] AngelRodriguez8008 commented on #653
Hi @prachiwalke,

MFA is avaible in the latest version, this Issue can be closed.

Thanks & br

[2020-02-08 11:51] thathi opened #755 "[BUG] Not able to set header status value"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-02-08 11:58] thathi commented on #755
@AngelRodriguez8008 can you have a look at this please?

[2020-02-10 00:49] ejfdejesus opened #756 "Issue on GetValue From Lookup"
I tried to run this test method from the UIAutomation.Sample project and it is failing when the lookup field contains a value. It is showing "System.InvalidOperationException: 'Field: primarycontactid Does not exist'"

public void UCITestGetValueFromLookup()
        {
            var client = new WebClient(TestSettings.Options);
            using (var xrmApp = new XrmApp(client))
            {

[2020-02-10 06:15] Shakevg commented on #752
@TYLEROL, @AngelRodriguez8008
Login is performed now but after Login method is hang on EnterOneTimeCode(driver, mfaSecrectKey); command inside Login method.
Looks like it should be something like:

[code]

[2020-02-10 07:17] AngelRodriguez8008 commented on #756
Hi @ejfdejesus,

I fixed it in PR #754, there is three posibilites for this to fail
1. there is not Records in the Default View in this case use  `xrmApp.Grid.SwitchView("Active Accounts")` before OpenRecord.
2. The DobleClick it not working read the  Description on PR #754,
Please check that in  this PR is also working for you.
3. The Field: primarycontactid  really do not exist in the Form, in t

[2020-02-10 07:32] AngelRodriguez8008 commented on #755
Hi  @thathi,

You find find the right solution, but i prefer to change the path to Top container like this:
[code]
I fixed it in PR #754. Can you test it?

Thanks & br

[2020-02-10 08:37] AngelRodriguez8008 commented on #752
Thanks @Shakevg,

I'm getting some problems by fixing this.
In your way the Chrome Windows, for some estrange reason is keeping open.
![image](https://user-images.githubusercontent.com/27274469/74133355-b175ba80-4be8-11ea-861e-6cccf9ef176a.png)

I't taking some other considerations Like, waiting time to fail & error message.
I will keep you updated.

Thanks.

[2020-02-10 11:35] mVermaat commented on #745
I tested against the latest version of the develop branch and it works perfectly. Setting, updating and clearing works great. Thanks @AngelRodriguez8008!

[2020-02-10 12:38] AngelRodriguez8008 commented on #752
Hi @Shakevg,

Thanks again for the Feedback.  I'm trying to simulate the situation but I not't able to tests without MFA. I will try to find one Env to test. Howerver, I think that my lastest [changes](https://github.com/microsoft/EasyRepro/pull/754/commits/128d8353c2d2c65edf493886decfe3db5106447a) should fix this problem.

I will keep it in PR #754, where I fix other Bug. @TYLEROL  let me know pl

[2020-02-10 12:44] AngelRodriguez8008 commented on #745
@mVermaat Thank you very much! I appreciate your tests & Feedbacks.
@ejfdejesus Can we close this Issue?

[2020-02-10 13:10] AngelRodriguez8008 commented on #731
I has fixed some Tests for in my D365 Env v9.1 UCI only with MFA, PR #754. I think I arrive to a good mark 93 tests passed of 109.

Hier are my red ones

![image](https://user-images.githubusercontent.com/27274469/74154325-c0716280-4c12-11ea-9618-e21077d1b1fe.png)

Some Tests are Data Dependent, I will work in a solution for that.
Some others are Obsolete I think.

Has somebody a better mark? :-)

[2020-02-10 13:57] AngelRodriguez8008 commented on #752
Ok I glad to inform you that I have already tested in an Env. without MFA. It works perfectly. Running also pretty fast. :-)
![image](https://user-images.githubusercontent.com/27274469/74155267-8e610000-4c14-11ea-8ff4-48cf2f3e2e48.png)
the Fail is not because Login.

D365 Online
2019 release wave 2 enabled
Server version: 9.1.0000.12935
Client version: 1.3.379-2001.2

[2020-02-10 14:45] xuejunh commented on #741
@AngelRodriguez8008 Do I need to set something to work in the Private mode? Is the Private mode recommended for all the tests?

[2020-02-10 14:45] #738 closed, assigned to nobody

[2020-02-10 15:06] xuejunh commented on #733
NuGet package not shown any new update for easyRepro yet. and today I got the following error in Edge:
![image](https://user-images.githubusercontent.com/59613444/74161390-de2bd100-4bec-11ea-9f9d-7536091f7810.png)
Even with manual paste the url to the Edge. How to fix the issue? Thanks!

[2020-02-10 15:51] xuejunh commented on #730
NuGet package for easyRepro is still 9.1.0.11711. When the latest will be available ?

[2020-02-10 16:42] AngelRodriguez8008 commented on #733
Sorry @xxuejunh,

I don't know when it will be available via NutGet. See my comment [hier](https://github.com/microsoft/EasyRepro/pull/735#issuecomment-584108671)
But you can compile the DLLs by yourself.

br

[2020-02-10 17:08] rsObjektkultur commented on #752
Can we get the fixes into the Nuget Package asap please?

My whole test suited is blocked by this failed login issue. And I can not simply roleback because the previous (working) version is no longer on Nuget available (only some very old versions, which have other breaking changes).

[2020-02-10 18:38] ejfdejesus commented on #756
Thanks, Angel!

"primarycontactid" lookup field exists however when this field contains a value the above test is failing but when it is null the test is passed.

![image](https://user-images.githubusercontent.com/34220212/74179041-7edbc880-4ca1-11ea-8321-8dc4a006d8fe.png)

[2020-02-10 20:03] xuejunh commented on #733
@AngelRodriguez8008 My issue above is because my Edge is not started inPrivate mode. How could I set the easyRepro script to start edge inPrivate mode?

[2020-02-11 02:35] AngelRodriguez8008 commented on #756
Strange. This Test pass for me. Is OpenRecord(0) working fine in the fail case, did you get the Account Form Open?

[2020-02-11 03:10] AngelRodriguez8008 commented on #752
Sorry @rsObjektkultur, I will test better the next time. Maybe can you compile the DLL by yourself in the middle time, until this get released.

[2020-02-11 15:22] JakeObrienMercuryXrm opened #757 "[HOW-TO] Handle window popouts in Dynamics"
##Automating Dynamics for a system that has multiple popout windows that open in totally new windows but I am unable to switch to the window to continue. Does anyone have any idea how I can get around this?

I have tried:

                Driver.driver.SwitchTo().Window("windowName");
                Driver.driver.SwitchTo().Frame(0);
                Driver.driver.SwitchTo().ActiveElement();

[2020-02-11 19:44] ejfdejesus commented on #756
Yes. I created a test record so that I don't need to switch view and I'm able to open the record using the OpenRecord(0) then it fails on the GetValue step.

When I tried to remove the value on the lookup, this test pass for me, but when I enter a value and re run the test it is failing.

This specific step started failing after the CRM service update on 9 Feb (https://support.microsoft.com/en-us/

[2020-02-11 19:45] xuejunh commented on #741
@AngelRodriguez8008 Could you point me to the sample code where "That is happening actually in all the provided samples."? Thanks!

[2020-02-11 21:44] AngelRodriguez8008 commented on #741
Hi @xuejunh,

Sorry, this PrivateMode was not enable for Edge. I added in this [commit](https://github.com/microsoft/EasyRepro/pull/754/commits/f8720e70ea66b63ece7f294784eee48cb13d7874). This version should be able to get the value from app.config

[code]

Can you check if this code works for you? You need to compile it by yourself.
Did you have tested in Chrome? Did you know what to expect?

In e

[2020-02-11 22:31] ejfdejesus commented on #745
Hi @AngelRodriguez8008 , yes I also tested using the develop branch and it is working fine. Thank you.

[2020-02-11 22:31] #745 closed, assigned to nobody

[2020-02-11 23:00] AngelRodriguez8008 commented on #741
I'm documenting the TestsCreation using the TestsBase class.  Hier is an example, for NUnit just replace the Attributes as shown in comment:
[code]
NOTE: This code is available for the TestBase in PR #754. Not jet released.

[2020-02-12 01:45] AngelRodriguez8008 commented on #756
You mention today that you has testet in develop. Can you try please to tests this error in the code from PR #754 (no approved jet)?

I have none better idea now.

Thanks

[2020-02-12 10:29] vcinampudi opened #758 "[BUG] GetGridItems() Only fetching visible Records instead of all Records"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [X] Microsoft Dynamics

[2020-02-12 17:48] #741 closed, assigned to nobody

[2020-02-12 18:42] ejfdejesus commented on #756
Yes, I tested this on the latest develop branch and still the same result.

[2020-02-12 19:07] AngelRodriguez8008 commented on #756
Hi @ejfdejesus,

The PR #754 is not in 'develop' jet, you can get it from [hier](https://github.com/AngelRodriguez8008/EasyRepro/tree/users/angel/fixSamples). Can you try this?

Thanks & br

[2020-02-12 19:38] xuejunh opened #759 "[BUG] Run test in Nunit failed while succeeded in UnitTest"
Our company use Nunit as our test automation framework. I have tried your sample in earlier version using Nunit successfully. But for the sample I cloned today I am failed when modify your code to use Nunit, the error I am getting is:
   UciTestCreateAccount Failed: OpenQA.Selenium.DriverServiceNotFoundException : The file C:\Users\xhuang\AppData\Local\Temp\oqz4aep4.edy\ha5cor2y.adk\chromedriver.e

[2020-02-12 20:07] xuejunh commented on #759
This is related with the private mode. I commented out the line //options.PrivateMode = privateMode || _usePrivateMode; then the test runs for Nunit as well as UnitTesting.

Is private mode a must for the test if we need to switch users in the same testfixture?

[2020-02-12 23:53] AngelRodriguez8008 commented on #759
The DriverPath & the PrivateMode are not really related, they are configured independently. I think it depends of which Test Runner you use & which NuGet package for the Selenium Web Driver is installed in each Version. You can also put the DriverPath in app.config to indicate where the driver is installed.

Anyway I also remove this code in the las version of TestsBase (no released yet)

[2020-02-13 06:48] AngelRodriguez8008 commented on #759
I will say Yes, because in other case you need to SignOut & Close the browser, all instances probably. That will cost more execution time & is unnecessary. [Private Mode](https://en.wikipedia.org/wiki/Private_browsing) do it automatically because the browser do not save any user data, inclusive the user credentials.

But deactivating PrivateMode, do not means automatically that the credentials wil

[2020-02-13 13:17] xuejunh opened #762 "Would you please add assert to your sample tests to make your tests complete as the expected results are validated?"
It would be very helpful if you could add assert to all your sample tests to show us what the object should we assert and what the attribute of the object should we use for the assert to validate the operations in the sample tests are working as expected. Use createAccount as an example, after save, what the object and its attribute in the page really indicate the createAccount is done successfull

[2020-02-13 13:57] xuejunh opened #763 "[HOW-TO] What is the recommended way to access Browser.Driver based on your sample code"
How to access Bowser.Driver to use the selenium stuff in the following code context?

using NUnit.Framework;

namespace NunitCRMTestProject
{
    [TestFixture]
    public class CreateAccountNunit : TestsBase
    {
        [SetUp]
        public override void InitTest() => base.InitTest();

        [TearDown]
        public override void FinishTest() => base.FinishTest();

        public override v

[2020-02-13 17:00] AngelRodriguez8008 commented on #763
_client.Browser.Driver

if you don't have it already get this version of [TestsBase.cs](https://github.com/microsoft/EasyRepro/blob/c9ff50dbdd31d108ecb7bb42c19c57e42f49b92b/Microsoft.Dynamics365.UIAutomation.Sample/UCI/TestsBase.cs),

See also this [samples ](https://github.com/microsoft/EasyRepro/tree/c9ff50dbdd31d108ecb7bb42c19c57e42f49b92b/Microsoft.Dynamics365.UIAutomation.Sample/UCI/QuickStar

[2020-02-13 17:22] AngelRodriguez8008 commented on #763
In your Code this lines are repeating the same action:

[code]

You have some options:
[code]

[2020-02-13 17:28] xuejunh commented on #763
//_xrmApp.Navigation.OpenApp(UCIAppName.Sales);
I commented out the above line of code since it breaks my test -- always pops up error saying object not found. Without the above line, the script works. I am using the trial link now since we are still in the design phase and the company url is not available ye.

[2020-02-13 17:42] AngelRodriguez8008 commented on #763
I updated my comment, its looks like you need the option 0.
if I understand well: You use a link that bringt you direct to the "Sales Hub App"

[2020-02-13 17:48] #763 closed, assigned to nobody

[2020-02-13 17:52] AngelRodriguez8008 commented on #759
Can you close this also?

[2020-02-13 17:56] #759 closed, assigned to nobody

[2020-02-13 21:37] AngelRodriguez8008 commented on #763
[UPDATE] I solve the Issue. TestsBase change again, for good :-)

Hi @xuejunh,

I found an Issue in MSTests with the TestsBase class. Can you please confirm that it is not happening NUnit?

By running the follow Test the browser still open in MSTest.

[code]

Thanks.

[2020-02-14 12:39] xuejunh commented on #763
The browser was closed running your test in Nunit. But my TestsBase is as follows:
// Created by: Rodriguez Mustelier Angel (rodang)
// Modify On: 2020-01-23 02:51

using System;
using System.Configuration;
using System.Security;
using Microsoft.Dynamics365.UIAutomation.Api.UCI;
using Microsoft.Dynamics365.UIAutomation.Browser;

namespace NunitCRMTestProject
{
    public class TestsBase
    {

[2020-02-14 14:33] AngelRodriguez8008 commented on #763
Great!
replace the InitTest with the follow code, just for the case that the Login or Navigation Fail. You will be able to the right error & the browser get closed.
[code]
Thanks

[2020-02-17 14:17] #595 closed, assigned to nobody

[2020-02-17 14:23] #752 closed, assigned to nobody

[2020-02-17 18:52] ejfdejesus commented on #756
Hi @AngelRodriguez8008 ,

Apologies on late reply. I have tested with your branch and the test passed however the lookupValue is incorrect. My expected value is "test test" based on my screenshot on my previous comment.

![image](https://user-images.githubusercontent.com/34220212/74679718-806a3b00-5223-11ea-9129-9c9f918c903b.png)

[2020-02-17 21:39] AngelRodriguez8008 commented on #756
Ok. I was able to reproduce it. Look like we are getting the wrong XPath value.
![image](https://user-images.githubusercontent.com/27274469/74687905-0fe8fd00-51d6-11ea-8db1-cb5dbb89931e.png)

I will check that!

[2020-02-17 23:07] AngelRodriguez8008 commented on #756
Checking the Code there is two different implementations for GetValue From Lookup:
1. for one value GetValue(LookupItem)
2. activity party fields GetValue(LookupItem[])

It look like 2. should work fine for 1. too, but the current implementation of 1. is no longer working. At least in the cases that I check for 5 lookups.

I will change the  implementation of 1.
In the middle time: Can you check p

[2020-02-18 01:42] AngelRodriguez8008 commented on #733
Hi @xuejunh,

Sorry. I was sure that I answer this question, actually I change the code for you, 6 day ago in this [commit](https://github.com/microsoft/EasyRepro/commit/f8720e70ea66b63ece7f294784eee48cb13d7874). Maybe in another Issue.

If you are able run the last PR set in app.config
    `<add key="UsePrivateMode" value="true" />`
This wats't passed to Edge before, now should work.

Let me know

[2020-02-18 02:11] AngelRodriguez8008 commented on #744
Can you explain you question bit more? Is about EasyRepro? Or just Dynamics 365?

Try [Getting-Started](https://github.com/Microsoft/EasyRepro/wiki/Getting-Started) step 7.

[2020-02-18 10:50] imartinflores opened #765 "[BUG] GetValue not working"
## Bug Report
xrmApp.Entity.GetValue command not working.

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [ ] UCI (XrmApp)

**Online or On Premise**
  - [ ] Online

**Browser**
  - [ ] Chrome

**Describe the bug**
Hi guys, seems like the GetValue command is not working. I have checked EasyRepro repo and it seems to be t

[2020-02-18 11:12] AngelRodriguez8008 commented on #765
Hi @imartinflores,

Thanks for your feedback.

for a lookup value you should use the follow overload of GetValue

`string lookupValue = xrmApp.Entity.GetValue(new LookupItem { Name = "primarycontactid" });`

Can you check please that your bug is not the same that #756?

PR #764 should fix it.

br

[2020-02-18 11:27] Haywaii commented on #765
Hi @AngelRodriguez8008,

I work with @imartinflores and we are already doing the way you offer.
Our description was not entirely correct i must admit so good point from you :)
We will update the problem but even by using Lookup it doesn't work.

Like we said, our assumption so far is that something change on UI with the MS update because we didn't change anything on our code and it was working fin

[2020-02-18 11:34] AngelRodriguez8008 commented on #765
Hi @Haywaii,

Yes, it doesn't works, because this the PR is not merged yet to 'develop' & released.  But is the same Issue as #756?

To be sure you can run your code as I show in this [comment](https://github.com/microsoft/EasyRepro/issues/756#issuecomment-587185743).
or you can get the code from PR #764 & try with this.

That will call the "new" logic. After this PR get approved you will be able

[2020-02-18 12:39] furqansafdar commented on #744
I am talking Active Directory authentication in CRM on-premise version. Does it support on-premise?

[2020-02-18 13:10] #733 closed, assigned to nobody

[2020-02-18 13:40] AngelRodriguez8008 commented on #744
What you means with:

Are you manually navigating or EasyRepro? Which options you tryed? Which Automated UI Tests are you running?

[2020-02-18 14:17] imartinflores commented on #765
Hi @AngelRodriguez8008 , thanks for the answer. Yes, that's ok, do you know when this will get merged ?
By the way, I think the Xpath is not correct for Lookups, we still have some failures when trying to find elements like this one:

Entity_LookupFieldExistingValue: //*[@data-id='[NAME].fieldControl-LookupResultsDropdown_[NAME]_selected_tag']

Seems like not all of the LookupItems have the same x

[2020-02-18 15:12] aalad opened #766 "[BUG] GetGridItems() returns 0 items in editable grid"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-02-18 15:19] AngelRodriguez8008 commented on #765
From the implementation GetValue(LookupItem[]) I deduce that you get in HTML an <input> when the field do not contains any value. I such case GetValue return am empty string. Is it your case?

[2020-02-18 15:56] imartinflores commented on #765
Yes, before was returning "---" as it is the value that the field has. Now, even if it has "---" it returns empty, we can change that on our tests, but need to confirm we will always return empty in this case.

[2020-02-18 16:22] AngelRodriguez8008 commented on #765
Try this:
[code]

You should have already in your API:
[code]
You will never need to change your tests again :-)

Note: or you can implement your own IsEmptyLookupValue & you will be able to change it just in one place.

[2020-02-18 20:13] AngelRodriguez8008 commented on #742
Are working the UCI Tests (xrmApp) for you?

[2020-02-18 23:06] #731 closed, assigned to nobody

[2020-02-18 23:12] #756 closed, assigned to nobody

[2020-02-19 00:20] AngelRodriguez8008 commented on #755
Hi @thathi,

The PR is merged can we close this Issue?

Thanks & br

[2020-02-19 00:21] AngelRodriguez8008 commented on #765
Hi @imartinflores,

The PR is merged can we close this Issue?

Thanks & br

[2020-02-19 00:27] AngelRodriguez8008 commented on #744
By the way it can partially work depending of your CRM version, but officially EasyRepro do not support CRM On-premise. See the [list of supported versions](https://github.com/microsoft/EasyRepro#crm-versions)

[2020-02-19 06:48] #755 closed, assigned to nobody

[2020-02-19 08:47] imartinflores commented on #765
Nice, thanks @AngelRodriguez8008 . Any idea about where these changes are going to be merged ?

[2020-02-19 08:48] imartinflores commented on #765
Yes, very nice !

Thank you!

[2020-02-19 09:13] AngelRodriguez8008 commented on #765
Sorry. I mean:
Can you close it please?
I'm not able to do it.

[2020-02-19 09:35] #765 closed, assigned to nobody

[2020-02-19 09:56] imartinflores commented on #765
@AngelRodriguez8008 have you updated the nuget package ?

[2020-02-19 10:08] imartinflores opened #767 "How often do you update the nuget package ?"
## Question
Hi Guys, How often do you update the nuget package ? There are some fixes that needs to be implemented I think. At the moment, we are not able to run our tests on a pipeline cause the only way we can get the updates are locally, but not from Nuget.

Thanks

[2020-02-19 10:23] AngelRodriguez8008 commented on #765
Sorry. I'm not able to do it. Probably the MS guys did it.

[2020-02-19 10:24] imartinflores commented on #765
No worries, thanks for helping!

[2020-02-19 12:15] AngelRodriguez8008 opened #768 "[FEATURE] Tests Data Manager"
**Describe the feature**
Tests Data Manager ensures that before runs the Tests, the required Data / Dataset / Tests Records are already in the Environment. The Manager should import or update the tests data, if they are not found as expected. If the import fail, tests should not run & fail.

**Explain why this feature is needed**
In many cases, to make a good test (small, easy to read, easy to fix

[2020-02-19 13:48] furqansafdar commented on #744
Ok so i started again with another search particular to on-repmise and got my hands on this [post](https://github.com/Microsoft/EasyRepro/issues/60) and eventually on this on-premise [release](https://github.com/microsoft/EasyRepro/tree/releases/OnPremise) and could able to run the sample to login with AD authentication successfully. Perhaps i was using online packages trying to login into on-prem

[2020-02-19 13:48] #744 closed, assigned to nobody

[2020-02-19 14:29] thathi commented on #756
Hi @AngelRodriguez8008 Entity.GetValue(new LookupItem() { Name = Metadata.LogicalName }) is returning value in lower case?

[2020-02-19 21:26] TYLEROL commented on #767
Hi @imartinflores - We currently do not have a set release cadence for the NuGet packages. Some of this depends on how many fixes have come into the develop branch. I was planning one a couple weeks ago - but we've had a flurry of PR activity and fixes come in during that time.

With the latest PRs merged and confirmation on some of the fixes, I'll start putting one together for release later toda

[2020-02-19 22:21] TYLEROL commented on #767
Hello @imartinflores - Dynamics365.UIAutomation.Api version 9.1.0.12013 has been released as of a few minutes ago.

Please post new issues as appropriate for any problems you encounter.

Thanks,
Tyler

[2020-02-19 22:21] #767 closed, assigned to TYLEROL

[2020-02-19 22:24] TYLEROL commented on #730
Hello @xuejunh - We have released Dynamics365.UIAutomation.Api version 9.1.0.12013 a few minutes ago.

Edit: Clarification - the NuGet releases do not include the sample project. Please see PR #729 for changes that you'll need to make to your local project to adopt the DriversPath pattern that @AngelRodrigues8008 introduced for the Sample project.

Warm Regards,
Tyler

[2020-02-19 22:24] #730 closed, assigned to nobody

[2020-02-20 08:49] AngelRodriguez8008 commented on #696
Some times I have the same problem. It depends of the Internet & PC performance. The Timeout for some action expire, an the next action can not be performed.  There is an Action Retry mechanism that should be fixed.

However can you get the latest version & tell us how it is working now? Paste hier please the results.

I suggest change the Issue title, to remove the exception part, this make diffi

[2020-02-20 13:15] dfo-elca opened #769 "[BUG] LookupItem "Loading..." for customerid"
**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [X] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [X] UCI (XrmApp)
  - [ ] Classic Web (XrmBro

[2020-02-20 13:27] xuejunh opened #770 "[BUG] Get 404 after login successfully to CRM in Edge while in Chrome works"
I updated to the latest easyRepro, I can start Edge inPrivate mode and login to CRM but after login successfully, I got the following:
![image](https://user-images.githubusercontent.com/59613444/74937795-cd344a00-53ba-11ea-8584-6ceb0fff9b06.png)

[2020-02-20 13:32] AngelRodriguez8008 commented on #769
It will wait 3 secs after finish after typing. Wait again until the Items show once with the text that you look for. Did you work with the latest version?

[2020-02-20 13:36] dfo-elca commented on #769
Hi, thanks for the reply.
It's the last version.
The issue is that it displays "loading..." indefinitely, so waiting 3 secs doesn't fix it.
The only way to clear this "loading..." message is, by hand in the browser, erasing part of the value and typing it again.

[2020-02-20 13:50] xuejunh opened #771 "[BUG] Set path to chromedriver does not work for Nunit while works for UnitTesting"
![image](https://user-images.githubusercontent.com/59613444/74939283-9c094900-53bd-11ea-8bd9-37037c24759e.png)
 I have 3 tests in the project, I set the following in the App.config:
<add key="DriversPath" value="C:\Users\xhuang\source\repos\NunitCRMTestProject\NunitCRMTestProject\bin\Debug" />
but only the UnitTesting test passed while other 2 Nunit tests failed at not finding the chromedriver at

[2020-02-20 13:57] AngelRodriguez8008 commented on #756
Thanks @thathi. PR is created.

[2020-02-20 13:59] xuejunh commented on #770
I login manually in Edge I can access the CRM:
https://org09856ed2.crm.dynamics.com/main.aspx?appid=ac28c4b1-e739-ea11-a813-000d3a1a1100&pagetype=dashboard&id=2701de60-8f2a-48a4-8262-4a35ca7441fa&type=system&_canOverride=true

it looks the links are different, is there anyting wrong in the automation settings which embedded in the url after logged in?

[2020-02-20 14:14] xuejunh commented on #730
This works for UnitTesting but not for Nunit. @TYLEROL

[2020-02-20 14:31] AngelRodriguez8008 commented on #771
I work also with NUnit, this is another path as MSTest. You should find the right one. Try first an absolute one. Depends also from the runner

[2020-02-20 14:37] AngelRodriguez8008 commented on #769
Hi,

I mention it because you say that Selenium is typing too fast.

I was able to reproduce it, in the Test **UCITestCreateCase**, same as your I guest, I wonder about that because I fix this test last week.
However for other Lookup Tests it is working fine. I need to stop for the moment, if you find more information about it will help me to fix it later.

Thanks for the Feedback
br.

[2020-02-20 14:53] dfo-elca commented on #769
Thanks.

I confirm it's in the test UCITestCreateCase.

I let you know if I find a fix.
I had this selenium speed idea because it can be reproduced also in CRM without using EasyRepro. Just copy/past a name in the LookUp field and it will do the same, but if you type it by hand, at a human pace, it works.

[2020-02-20 14:58] xuejunh commented on #771
@AngelRodriguez8008 I do not quite get you. I have the following settings in the App.config:
<add key="DriversPath" value="C:\Users\xhuang\source\repos\NunitCRMTestProject\NunitCRMTestProject\bin\Debug" /> but my Nunit test is still complaining not find chromedriver in the temp path while UnitTesting test passed. What should I try to make the Nunit tests work with the driverspath set?

[2020-02-20 15:03] xuejunh commented on #771
add key="DriversPath" value="C:\Users\xhuang\source\repos\NunitCRMTestProject\NunitCRMTestProject\bin\Debug"

[2020-02-20 19:01] AngelRodriguez8008 commented on #770
Hi @xuejunh,

After Login the URL will get to add some Parameters, required to render the App properly, everything that you have after &flag= in your screenshot.  Maybe Edge is redirecting too slow & this method is getting the wrong URL (login.microsoft.com) and redirecting back to it.

Can you set a breakpoint in :
`WebClient.cs -> method InitializeModes  -> Line 57 ->  driver.Navigate().GoToUrl(

[2020-02-20 19:30] xuejunh commented on #770
I tried to set breakpoint with my project with easyRepro installed using NuGet. I have the following which is different from the cloned version. I set the endpoint at the line of gotourl but when I debug I did not see the test stopped at the line. for the cloned project I need more setup including if (TestSettings.Options.BrowserType == BrowserType.Edge)
            {
                var edgeDrive

[2020-02-20 19:52] xuejunh commented on #770
![image](https://user-images.githubusercontent.com/59613444/74972953-a1cc5200-53f0-11ea-92e5-b1cb7ac5e68c.png)

[2020-02-20 23:15] AngelRodriguez8008 commented on #770
Yes, That is what I expected. The redirect in Edge happen too slow. We need to add some wait for this case.

Can you add this & check if this work for you?
![image](https://user-images.githubusercontent.com/27274469/74988761-07dfc600-543f-11ea-8fb4-88ffa1a42a06.png)

[2020-02-20 23:48] AngelRodriguez8008 commented on #771
I guest [this comment](https://github.com/microsoft/EasyRepro/issues/770#issuecomment-589267621) belongs to this thread.

{
var edgeDriverPath = @"C:\Windows\SysWOW64";
TestSettings.Options.DriversPath = edgeDriverPath;
}, right? or I can simply set the driverpath in App.config?

If the version of the [TestSettings](Microsoft.Dynamics365.UIAutomation.Sample/TestSettings.cs) is correct you can simp

[2020-02-21 00:40] AngelRodriguez8008 commented on #769
This Error just happen if the value is a Contact, for Accounts works fine. :-(

[2020-02-21 02:52] AngelRodriguez8008 commented on #769
After the one retry attempt the value is set successfully for contacts.
[code]
I suggest for this case to repair the build-in retry mechanism, this is not working at the moment. That will fix this Issue, I will open a Bug with this in intention.

**Note:**  Simulate typing slowly or retyping the last char do not help, Run the follow code to try it yourself.
<details>
  <summary>Click to expand!</s

[2020-02-21 05:57] tristanperper commented on #726
Hi @AngelRodriguez8008 ,

I already have the new Dynamics365.UI.Automation.Api referenced in our automation solution/project.
The version is v9.1.0.12.013 as referenced thru NuGet Package Manager. It carries the feature Login With MFA.

But upon using or testing the new login (it does convert the mfa/otp), there is an error upon page redirection. Please see attached screenshot.
<img width="945" al

[2020-02-21 13:14] #770 closed, assigned to nobody

[2020-02-21 13:31] #771 closed, assigned to nobody

[2020-02-21 14:20] AngelRodriguez8008 commented on #770
Hi @xuejunh,

Thanks for close this Issue. Works  it now with this fix (`WaitForPageToLoad`) or without? Should I add this line to the standard implementation?

br
Angel A.

[2020-02-21 14:26] xuejunh commented on #770
@AngelRodriguez8008 it works now with this fix (WaitForPageToLoad), should add this line to the standard implementation.

[2020-02-21 14:36] AngelRodriguez8008 commented on #726
Hi @tristanperper,

In which point of the execution are you getting this error? How your "app.config" look like? Which format has your mfa-secrect-key? Did you see the OTC dialog? How look your tests results like, there is some errors printed? Are you getting redirected like in #770? Url? Browser?

I will appreciate more information about this error. You can also open an Issue for that.

Thanks &

[2020-02-21 16:03] AngelRodriguez8008 commented on #739
Hi @xuejunh,

Are you already familiar with the Wait-Methods?

Ex: `var input = client.Browser.Driver.WaitUntilClickable(By.XPath("//input[@aria-label='Customer  Lookup']"));`

here is another way, full example ([at the end, expand to see it](https://github.com/microsoft/EasyRepro/issues/769#issuecomment-589473653))

Can we close this Issue? Can I help you in some way?

br.

[2020-02-21 16:14] AngelRodriguez8008 commented on #723
I think you are doing well, changing the Frame and continue finding the elements as usual with Selenium. Using XPath, Tag, Id, etc.

See my last example in this comment ([at the end, expand to see it](https://github.com/microsoft/EasyRepro/issues/769#issuecomment-589473653)). You can replace the input with your control & use the rights actions for this.

br

[2020-02-21 16:35] AngelRodriguez8008 commented on #679
Thanks @Jinfengv. Can you close this Issue?

[2020-02-21 16:37] xuejunh commented on #739
Thanks! I am closing this one.

[2020-02-21 16:37] #739 closed, assigned to nobody

[2020-02-21 16:39] AngelRodriguez8008 commented on #671
Hi @aeonnovagithub, I think you has solved the problem. Great! Can you close this Issue?

[2020-02-21 17:11] AngelRodriguez8008 commented on #665
Hi @alvarezskinner,

This works fine in the latest version fixed in PR #754, can be closed.

See test: [HighlightAccount.UCITestHighlightActiveAccount
](https://github.com/microsoft/EasyRepro/blob/f07863431991f1fc20b5b5b0a14c1c5f111612a3/Microsoft.Dynamics365.UIAutomation.Sample/UCI/Read/HighlightAccount.cs#L13)
br

[2020-02-21 17:35] AngelRodriguez8008 commented on #643
Or simply use client.Browser.Driver.FindElement(By.XPath(...))

[2020-02-21 18:24] AngelRodriguez8008 opened #774 "[FEATURE] Enable the commands retry mechanism for unexpected exceptions"
**Describe the feature**
Allow to enable the commands retry mechanism for any **unexpected** exception.

**Explain why this feature is needed**

In WebClient there is already implemented a mechanism to retry the Commands in case they throws an "[expected exception](https://github.com/microsoft/EasyRepro/blob/f07863431991f1fc20b5b5b0a14c1c5f111612a3/Microsoft.Dynamics365.UIAutomation.Api.UCI/WebCli

[2020-02-21 22:36] AngelRodriguez8008 opened #775 "[FEATURE] Enable Traces by default in Samples Project"
**Describe the feature**
Enable Traces by default in Samples Project. Provide a Documentation if possible how this configuration works. Change LogFile path, enable  and disable it.

**Explain why this feature is needed**
As Tester, I will run (debug) the sample tests and be able to know  any time which Action is performing EasyRepro in the Output Window (Debug) in Visual Studio.
![image](https://u

[2020-02-23 13:25] alvarezskinner commented on #665
Thanks for this!

[2020-02-23 13:25] #665 closed, assigned to nobody

[2020-02-23 22:04] ejfdejesus opened #777 "Password is not set because unable to locate the Password field"
When I run _xrmApp.OnlineLogin.Login(_xrmUri, _username, _password, _mfaSecrectKey);

It always show this error: Unable to locate element:{"method":"xpath","selector":"//input[@type='password']"}

Upon checking, it is because the page is not too fast to load in order to locate the password field. I tried to increase the thinkTime from 1000 to 2000 and this issue is fixed  (LoginResult function).

[2020-02-24 01:24] tristanperper commented on #726
Hi @AngelRodriguez8008 ,
1. The error is happening after the login.
2. My app.config looks something like this

[code]
3. add key="OTP" value=""      ---->    this parameter carries the mfa-secret key

4. Yes I see the OTC dialog and otp has been successfuly converted and submitted.

5. There is a server application error (please refer to the attached screenshot from my previous comment)

6. I was

[2020-02-24 03:43] tristanperper opened #778 "[BUG] Server Application error during page redirection after successful login."
## Bug Report
After a successful login (with MFA), Server Application error occured during page redirection.
Tried the solution (driver.WaitForPageToLoad) in relation to https://github.com/microsoft/EasyRepro/pull/773/commits/f27f662f408320646f7a323a740da58a573dbf5c but it doesn't work in my end.

Browser I used is Firefox 73.0.1 (64-bit).

### Issues should only be created for items related to [c

[2020-02-24 08:11] AngelRodriguez8008 commented on #777
Hi @ejfdejesus,

Thanks for the feedback. I have a different approach for some cases. I describe it in #774. I don't like to add extra time because the Tests are already taking too much. I have the idea of retry (if needed) or a global TimeFactor that can accelerate or slow the tests depending of the performance of the Client & the Environment.

What do you think?

br

[2020-02-24 08:22] AngelRodriguez8008 commented on #778
Thanks @tristanperper,

like I write in [comment](https://github.com/microsoft/EasyRepro/issues/777#issuecomment-590206440) in #777.

I have a different approach for some cases. I describe it in #774. I don't like to add extra time because the Tests are already taking too much. I have the idea of retry (if needed) or a global TimeFactor that can accelerate or slow the tests depending of the perfor

[2020-02-24 08:31] tristanperper commented on #778
Hi @AngelRodriguez8008 ,

Your idea of retry, is this sort of a page retry? It it works, then let us look at that kind of implementation.

Regards,

Tristan Perper

[2020-02-24 09:22] dfo-elca commented on #769
Thanks!

[2020-02-24 11:33] AngelRodriguez8008 commented on #778
Sorry @tristanperper,

I was testing something in Firefox now & I remember that in Firefox (Manual Testing) I wasn't able to login with the OTC, just via SMS. Now is working different I don't get the SMS, the OTC works. I don't know exactly what is happening with Firefox.

Are you able to login manually with this both MFA possibilities?

Thanks & br

[2020-02-24 18:28] ejfdejesus commented on #777
Hi @AngelRodriguez8008 ,

Thank you. Yes looks like a good idea. But for now is there any workaround on this? My login is always failing because of this so I just increased the thinktime to 2000 and reference the api.uci dll to my project.

[2020-02-24 20:43] xuejunh opened #779 "[HOW-TO] Login to our company CRM since the userName input leads to "Taking you to your organization's sign-in page""
My script runs with my trial CRM which I see userName and password pages. But I could not find a way to login to my company CRM:
I see username page when load my company CRM but enter useName pops up:

![image](https://user-images.githubusercontent.com/59613444/75189260-d1929700-571b-11ea-96e1-89ae462f1d45.png)
and then the following windows security
![image](https://user-images.githubusercontent.

[2020-02-24 20:51] joesfshin13 commented on #740
Follow up question to my issue - could 8x8 integration be causing the issues without being able to click on "New" from CommandBar

[2020-02-25 00:05] AngelRodriguez8008 commented on #740
I didn't know what "8x8 integration" is or does. I guest is this one ["8x8 integration"](https://www.8x8.com/products/integrations/microsoft-dynamics-365-integration). If this tool change the standard structure of the html, yes it is posible that it is the cause.

to check that Open the developer pane (F12) search in Elements (Ctrl+F) for the follow XPaths:
[code]
The result should look like:
![im

[2020-02-25 00:09] AngelRodriguez8008 commented on #777
Sorry. I don't understand your question. You already find a workaround, if this work for you, perfect! I will come to you again, when I re-implement the Retry mechanism & we can check if these works fine for you. OK?