[2021-02-10 08:28] MansaBajaj opened #1084 "Performance issues: Most of the common steps are taking longer than usual"
I upgraded to latest version of easyrepro. Facing performance issues for below actions:

- Area navigation
- change of view
- saving any form or entity
- after searching a record in the grid
- after clicking new button in the command bar

## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

[2021-02-11 15:52] fouquetm commented on #1006
Hello,
In the Step 7
"7. Click on "I want to use a different authenticator app" link if you want to use not 'Microsoft Authenticator' authenticator app"

You **MUST not use** Microsoft Authenticator to get a **Secret Key** and use MFA authentication without notification !
It's not "if you want", it's "you must do not use" !

[2021-02-14 16:29] piyush-crmsupport commented on #1082
Running the test is giving the below error.

![image](https://user-images.githubusercontent.com/79050602/107882516-d42f6300-6f0f-11eb-9a03-a8ef7bccf1c5.png)

[2021-02-15 04:56] krishnacs1993 commented on #1082
Hi @TYLEROL @bwmodular

I'm also facing the same issue from this morning.

[2021-02-15 12:44] imartinflores opened #1086 "[BUG] Stale Element Exception during Login"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [ ] UCI (XrmApp)

**Online or On Premise**
  - [ ] Online

**Browser**
  - [ ] Chrome

**Describe the bug**
stale element reference: element is not attached to the page document
at Microsoft.Dynamics365.UIAutomation.Api.UCI.WebClient.Login(Uri orgUri, SecureS

[2021-02-15 13:00] ryanpiran commented on #1082
We're also facing this issue as of this morning in the UK

[2021-02-15 13:06] badarmunirr opened #1087 "On ClickCommand object reference isn't set to instance of object error is coming"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-02-16 08:55] ryanpiran commented on #1087
I've also got this issue

[2021-02-16 13:19] Gtam12 commented on #983
@hrathiko I have latest version - 9.1.0.27021. Still i face the issue(unable to find elements not visible, though UCITesMode is true). What version should i upgrade or downgrade to make it work.

[2021-02-16 13:27] Gtam12 commented on #993
@ryanpiran  Did you manage to resolve this issue by any other means. I have the same issue and I ve gone through all of related links. Nothing worked. if there is any solution to this would be a great help.

[2021-02-16 15:04] imartinflores commented on #1086
Apart from Stale Element, we are not using MFA, and seems like sometimes we are getting the error:
"Something went wrong entering the OTC. Please check the MFA-SecretKey in configuration."

Can we make a validation if MFA is null, then it should not wait for anything to set the MFA.

[2021-02-17 12:39] badarmunirr commented on #1087
I think this is because Microsoft has changed the UI I was able to find a workAround using Xpath

[2021-02-17 22:44] Keyshon commented on #1087
Looks like a duplicate for https://github.com/microsoft/EasyRepro/issues/1082
The DOM has been changed recently, while the newest version of EasyRepro is not yet released, as we found out it is related to Related Grid, Quick Create, and possibly, something else.

[2021-02-18 03:19] samnbrone commented on #1087
It's the FindElements(By.TagName("li")) in WebClient.cs

The list items do not have the aria-label attribute, so GetAttribute returns null, and the code inside the subsequent if statement does not execute.

I've changed to FindElements(By.TagName("button")) which have the aria-label attribute. Seems to work alright!

[2021-02-18 07:08] badarmunirr commented on #1087
@samnbrone also check for subgrid if your code works fine for subgrid push your code .

[2021-02-18 07:15] badarmunirr commented on #1087
@SAMNBRONE faced similar  object reference issue with GetValue and GetHeaderValue and also with opensubarea

[2021-02-19 11:06] badarmunirr commented on #1087
@3dmundbarton also change line number 2082 in webclient.cs
var subGridButtons = subGrid.FindElements(By.TagName("button"));
this will fix the subgrid clickcommand issue
and also if you can change line number 208 to
var input = driver.WaitUntilVisible(By.XPath(Elements.Xpath[Reference.Login.LoginPassword]));
this will fix the login issue

[2021-02-19 14:56] badarmunirr commented on #1075
@tomdaleywork its working fine .

[2021-02-21 09:09] atear10 opened #1091 "[BUG] Dialog SetValue not working"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-02-21 09:16] atear10 opened #1092 "[FEATURE] Select tab and Click Command for dialog ribbon button"
**Describe the feature**

Select tab and click command on Dialogs feauture is not available. I am trying to click on save button on New Work Order Product Flyout dialog form. Similarly I want to Select Tab such as Pricing or Summary on Flyout Dialog Form

**Explain why this feature is needed**

I need to Create New Work Order Products from booking

**Additional context**

[2021-02-22 17:36] tpalus commented on #1091
really it dosn't work? I tried it on my environment and it works. Try to inspect element, if you give correct name of the field.

[2021-02-23 04:52] atear10 commented on #1091
Hi ,

Please refer my screenshot and analysis which i have done on my environment

the currently configured xpath for the dialogcontext is
{ "Dialog_DialogContext", "//div[contains(@id,'dialogView') and contains(@role, 'dialog')]" }

but in real for my environment "Id" does not contain dialogview instead it has dialogChromeView. please find below screenshot

![image](https://user-images.githubuser

[2021-02-23 21:09] tpalus commented on #1091
I look at html code in my env for dialogs and it matches to definition.
![image](https://user-images.githubusercontent.com/58347555/108908470-a17a1e80-7623-11eb-86d7-cef4e8113a44.png)
It has value "dialog" in ID.
So, probably it is specific for your environment

[2021-02-24 17:27] atear10 commented on #1091
Is  it possible to keep the xpath for the dialog as { "Dialog_DialogContext", "//div[contains(@ROLE, 'dialog')]" } , as this can also uniquely identify the dialog element

[2021-02-24 17:29] thathi opened #1096 "[BUG] XrmApp.Grid.GetGridItems() giving "Index was out of range" exception"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-02-24 20:26] 3dmundbarton commented on #1087
this looks to be fixed with the latest version 9.2.21014.138 - consider closing?

[2021-02-25 01:53] tpalus commented on #1091
I can't answer you to this question :/ But I think that it may not be problem imho. It would be better to ask someone from dev. On the other hand, you can extend easyrepro locally and reuse it in tests

[2021-02-25 12:48] tpalus opened #1099 "[BUG] Project can't be builded because of careless mistake"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-02-25 14:29] tpalus commented on #1099
#1098 here is PR

[2021-02-25 20:55] DavidPezzoli commented on #1087
Now, for me,  ClickCommand("New") work fine....also in a different default language as Italian:
ClickCommand("Nuovo").

Thanks!

[2021-02-25 22:24] #1099 closed, assigned to nobody

[2021-02-26 17:02] tpalus commented on #1096
I already created PR for this bug [#1101 ](https://github.com/microsoft/EasyRepro/pull/1101)

[2021-02-28 03:05] smallteam1 commented on #1087
After updating the latest version, I am getting a new issue

This login.microsoftonline.com page can’t be found
System.Exception: App Name Customer Service not found.

Might be issue with this command : xrmApp.Navigation.OpenApp("Customer Service");

one more observation is previously apps are displaying in content area, but now apps are displaying in dialog box(popup window)

[2021-02-28 08:41] thathi commented on #1087
@smallteam1 I believe that is something to do with this discussion #1089

[2021-02-28 19:55] 3dmundbarton commented on #1087
@smallteam1 - can you raise this on a new ticket please - this issue is unlikely to do with the Command Bar (this issue), it is related to opening specific Dynamics App.

[2021-03-01 06:30] Shakevg commented on #1081
@mnpawan Could you check that app settings (e.g. look on file source) are really contained "OnlineUsername" when you run a test on Jenkins?

[2021-03-01 06:33] Shakevg commented on #1077
@renzo305 This feature not implemented now, you can contribute...

[2021-03-01 06:33] Shakevg commented on #1078
@renzo305 This feature not implemented now, you can contribute...

[2021-03-01 14:10] PavanMudigonda commented on #1081
You can close this. I managed to fix it.

[2021-03-01 17:16] RahulB9940 commented on #1087
commandbar.clickcommand("New") still not working. It was working last thursday, facing this issue since this morning

[2021-03-01 18:01] badarmunirr commented on #1087
Updated to nugget package?

[2021-03-01 18:02] 3dmundbarton commented on #1087
Can you cross check the following and if they match, then it could be an issue with the fix.
- version of dynamics = 9.2.21022.00130
- version of easy repro = 9.2.21014.138

The version of easy repro controlled via nuget needs to match your version of Dynamics (which depends on the D365 agreement your org has with MS regarding patching and wave updates)

[2021-03-02 05:47] RahulB9940 commented on #1087
Thanks click command issue is fixed now but getting index out of range exception on grid.getgriditems(). I see a issue raised but was it published on to nugget ??
Please let me know on this

[2021-03-02 08:23] thathi commented on #1087
@RahulB9940 till we get newer version you can use it as extended method as follows

Usage as follows.
Client.GetGridItemsV2().Value.Count

[code]

[2021-03-02 08:24] thathi commented on #1096
@RahulB9940 Till we get this fix we can use this work around as follows.
Usage as follows.

[code]

[2021-03-02 15:00] tpalus commented on #1087
@3dmundbarton, I know it is not question for this subject, but Are tests works properly for you? e.g. login and click on app(without mfa)

[2021-03-03 02:55] ismail4u commented on #1096
Hi Team, i think the fix will be published by March 12 , since this is one of the critical fix can we make it earlier ? i know workaround is provided but since this method is widely used , there will be too many changes we need to make to accomodate this!!

[2021-03-04 11:36] duanjuanjuan commented on #651
I also meet this issue, why the Nuget Package can't support the latest version of the chrome? who can update it?

[2021-03-04 11:37] duanjuanjuan commented on #651
![image](https://user-images.githubusercontent.com/80037268/109958253-fce19600-7d20-11eb-8f19-314b9033afc4.png)
![Uploading image.png…]()

[2021-03-04 13:17] birvag commented on #1006
Step 8: "Make a note of the 'Code' which is displayed".
-> I have completed till step 8, but not able to see + button mentioned in step 9.
Step 9: Click the '+' to add an account and select 'work or school account'

it only shows next button.
![addbuttonnotvisible](https://user-images.githubusercontent.com/80046721/109997379-2658ec80-7d36-11eb-88a0-2af20ec2dfda.png)

Also how do we scan the QR cod

[2021-03-04 15:00] Maheshwar-konda opened #1103 "while running test case facing issue as : You can't get there from here This application contains sensitive information and can only be accessed from: Devices or client applications that meet Microsoft management compliance policy."
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-03-05 04:41] Maheshwar-konda commented on #1103
For reference adding screenshot .
![image](https://user-images.githubusercontent.com/80052995/110068001-c9435200-7d9a-11eb-93f2-b3ca929efd0e.png)

[2021-03-05 06:59] ewingjm commented on #1103
Don't think this is anything to do with EasyRepro. It'll be how [Conditional Access](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/troubleshoot-conditional-access) is configured in your Azure AD tenant

[2021-03-05 12:02] badarmunirr opened #1104 "On OpenSubArea Element not interactable or element has zero size error is showing"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-03-05 21:33] sanatlami opened #1105 "Why am i getting this Error while clicking save button."
The form is under PCF control, i had to use Selenium to click on those fields, every fields is working except few button to click save is not working. I am getting "Object reference not set to an instance of an object". this Same code was working with my previous solution but when new version came this  same code is not working. I am able to track the xpath but when i use that xpath its not in VS

[2021-03-07 15:33] Shakevg commented on #651
@duanjuanjuan Yes, you can set browser via app.config: https://github.com/microsoft/EasyRepro/blob/develop/Microsoft.Dynamics365.UIAutomation.Sample/app.config
https://github.com/microsoft/EasyRepro#supported-browser-webdriver

[code]

[2021-03-07 15:35] Shakevg commented on #651
@dagobahsw86 You should have the same major version of Chrome browser and driver.
Instruction [here](https://github.com/microsoft/EasyRepro#browser-driver-download-and-install-instructions)

[2021-03-07 16:22] Shakevg commented on #1006
@birvag
Sorry, the steps are outdated now.
I updated the steps, which should be more clear now:

1. Go to your Office365 'Security info' page at: https://mysignins.microsoft.com/security-info
2. Enter your O365 login and password
3. Click 'Add method' and select "Authenticator app" in Combobox, click Add
4. Click on "I want to use a different authenticator app" link
5. Click on the 'Next' button,

[2021-03-08 15:25] tomdaleywork commented on #1075
@badarmunirr care to add some useful info to go here?

[2021-03-09 09:37] badarmunirr commented on #1105
easyrepro version you are? using

[2021-03-09 16:42] sanatlami commented on #1105
@badarmunirr code is up to date with git hub.

![image](https://user-images.githubusercontent.com/51536031/110505552-deceb980-80c3-11eb-91c2-be21dae5ec2f.png)

[2021-03-09 18:58] Shakevg commented on #1105
@sanatlami Could you provide steps and code to reproduce?
Are you using custom methods(XPaths) or provided by the library?
Did you check that issue related to EasyRepro changes but not the D365 update (run the same code with the previous versionlibrary)?

[2021-03-09 21:00] sanatlami commented on #1105
@Shakevg
Steps to reproduce:
1. Create Account-> create Custom form 1 from Sub grid. Populate everything Save. _[This far everything working fine with Easyrepro basice code]._
2. Create Custome form2 from Form1 sub grid. [**_This form is build under PCF control]_**
3. Form lunch , Populate all the fields using Selenium Code **[ _basic EasyPro code doesn't work in this form so i used Selenium code

[2021-03-11 13:30] smallteam1 opened #1107 "[BUG] ChromeDriver issue"
After Chrome browser updates, I am getting below error:

System.Exception: session not created: This version of ChromeDriver only supports Chrome version 87
    Current browser version is 89.0.4389.82 with binary path C:\Program Files\Google\Chrome\Application\chrome.exe (SessionNotCreated)

I changed the packages.config, still not working
  <package id="Selenium.WebDriver.ChromeDriver" version="8

[2021-03-11 14:40] ewingjm commented on #1107
What version did you update the Chrome driver version to?

[2021-03-11 18:14] smallteam1 commented on #1107
![image](https://user-images.githubusercontent.com/18255804/110885430-d7e6b780-830c-11eb-9f56-58c4aa6a7a98.png)

[code]

  C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\: Package 'Selenium.WebDriver.ChromeDriver.89.0.4389.82' is not found on source 'C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\'.
  https://api.nuget.org/v3/index.json: Package 'Selenium.WebDriver.ChromeDriver.89.0.4389

[2021-03-12 09:42] smallteam1 commented on #1107
Issue is resolved.
1) From nuget I have installed latest "Selenium.WebDriver.ChromeDriver"
2) Packages.config got automatically updated with` <package id="Selenium.WebDriver.ChromeDriver" version="89.0.4389.2300" targetFramework="net462" />`

[2021-03-12 09:43] #1107 closed, assigned to nobody

[2021-03-12 22:59] VidhiGarg opened #1108 "CloseWarningDialog not able to find the crmDialogFooter"
Hi,
I am trying to use EasyRepro for dynamics on-premise v8.2. I am able to login but I get the pending email warning screen. To close that I tried using the method CloseWarningDialog() however it throws the below exception even though "crmDialogFooter" exists on screen:
OpenQA.Selenium.NoSuchElementException: 'no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id="crmDi

[2021-03-16 03:56] 3dmundbarton commented on #908
I've been seeing the same behavior (even with current latest 9.2.2).  Presume it's a "why don't you have a look at the open source code and figure it out yourself".  We're using a lot of custom apps and not default.  I'll see if I can find the time to triage this.

[2021-03-16 07:27] vdro opened #1109 "[HOW-TO] <Login to CRM2016 OnPrem 8.2 not working>"
Welcome community.

My current project runs 8,2 Dynamics CRM OnPremise version.
for this i am using code from: https://github.com/microsoft/EasyRepro/tree/releases/OnPremise

- i was trying to use VS 2017 and 2019 - no luck - should i stick to 2017?
- what Google Chrome version should i use to make it work? is it matter at all?
Current version is 89 as i remember correctly.
i was trying on **85**

[2021-03-17 00:49] gayatrig808 opened #1110 "Need clarification around when to use the parameter subViewName in the webclient file and method SwitchView"
https://github.com/microsoft/EasyRepro/tree/develop/Microsoft.Dynamics365.UIAutomation.Api.UCI/WebClient.cs

Please through some light around when and how to use the "subViewName"
internal BrowserCommandResult<bool> SwitchView(string viewName, string subViewName = null, int thinkTime = Constants.DefaultThinkTime)

In the customer service module, we have Queue Item, when we open this it will have 2

[2021-03-17 18:51] lukesaylor commented on #1096
Thanks! nice fix

[2021-03-18 14:05] jane188 opened #1111 "[BUG] get OpenQA.Selenium.ElementClickInterceptedException: element click intercepted: Element xxxx is not clickable at point (505, 300). Other element would receive the click:"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-03-18 14:17] jane188 opened #1112 "[BUG]System.InvalidOperationException: Timeout after 10 seconds. Expected: 9:58 AM. Actual: 09:58"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-03-18 18:23] Peter-Crook commented on #1112
I'm seeing something similar on other field types: Error: Timeout after 10 seconds. Expected: 98. Actual: 98.00. It's not repeatable, failing inconsistently.

[2021-03-19 13:10] jane188 commented on #1111
I also noticed that after the correct form was selected, the control went to 'Save and Close' button immediately (without going to the field in the code to set the value) and the 'unsaved changes' window showed up. Then the test fails with this error message above.

[2021-03-19 15:15] tomdaleywork opened #1113 "[HOW-TO] Set value of picklist in BPF"
## Question

Stage of BPF has two controls, one optionset and one picklist. I can set the optionset with
`XrmApp.BusinessProcessFlow.SetValue(new OptionSet(){ Name = "my_field", Value = "Approved" });`

However, trying this for the picklist (`.fieldControl-pickliststatus-comboBox`) doesn't work
`XrmApp.BusinessProcessFlow.SetValue(new OptionSet(){ Name = "my_picklist", Value = "Completed" });`
thr

[2021-03-21 19:26] Shakevg commented on #1108
@VidhiGarg Looks like it is the custom dialog that not covered by EasyRepro.
Could show screenshot and dialog markup?

[2021-03-21 19:42] Shakevg commented on #1105
@sanatlami I suppose your form2 has the frame and you need to switch to it before XrmApp.CommandBar.ClickCommand("Save");
Could you show the form screen and markup?

[2021-03-22 15:13] ismail4u commented on #1096
When are you planning to publish a new version of Easyrepo which has this fix ?? the existing milestone for this fix has already  gone by the due date ? Please provide a tentative date for new version of easyrepro

[2021-03-22 16:02] jane188 commented on #1111
To work around this, I have to add the code to close the 'unsaved changes' window first, then set the field value. It works.

[2021-03-22 16:02] #1111 closed, assigned to nobody

[2021-03-22 17:35] VidhiGarg commented on #1108
Hi,

Please see the below screenshot of the exception and the dialog markup. As
you can see the dialog's id is crmDialogFooter and yet it is not able to
find the element.

[image: image.png]
![Exception](https://user-images.githubusercontent.com/24980802/112033610-7f49c280-8b35-11eb-8db8-58d58d6df2b7.png)

[image: image.png]
![Dialog Markup](https://user-images.githubusercontent.com/24980802/11203

[2021-03-23 10:45] Saikes opened #1114 "[BUG] "Stay signed in" screen not skipped in new nuget version 9.2.21014.138"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-03-23 12:48] Saikes commented on #1114
Think I found the error. The "Stay Signed In" window is only clicked, if the mfaSecretKey is provided. This is wrong. Workaround is, to send an empty SecureString....

[2021-03-24 06:58] smallteam1 opened #1115 "[HOW-TO] Please let me know the latest stable Easyrepro release."
Hi, I tried to integrated nuGet latest version (9.2.21014.138), I am getting login issues.

With the previous release (9.1.0.27021) login is success, but command bar click and xrmApp.Entity.SubGrid.ClickCommand("SubGrid_Activities", "New Activity", "Email") are nor working. these issues may be because of latest UI changes of Dynamics 365.

Please let me know when can expect the latest working buil

[2021-03-24 08:31] Maheshwar-konda opened #1116 "unable to set text fields on Email Entity."
Hello,

I am using below code to get values on description field on email activity which I created .

string description= xrmApp.Entity.GetValue("description");

Getting exception as 'filed description doesnot exist' .

At this place below code , getting fieldContainer as null

 var fieldContainer = driver.WaitUntilAvailable(By.XPath(AppElements.Xpath[AppReference.Entity.TextFieldContainer].Replac

[2021-03-24 08:33] Maheshwar-konda opened #1117 "Is there any OOB method to add attachments on email entity"
Is there any OOB method to add attachments on email entity ? Please which method we should use to add attachment in attachment tab that we got from 2020 wave2 CRM features.

[2021-03-24 15:36] sanatlami commented on #1105
I did figure this issue. to resolve this, i had to create two layer of Xpath and click the button.

[2021-03-24 15:36] #1105 closed, assigned to nobody

[2021-03-24 15:53] sanatlami opened #1118 "[HOW-TO] parameter the fields?"
How can i parameter fields that populate in the forms ? right now i am populating hard coded value but i want to pull the data from excel sheet. Can someone help me how to do that please ?

[2021-03-24 20:38] jane188 commented on #1112
To work around it, I  used try{} catch() block. But ideally, it should work without timeout error.

[2021-03-24 20:38] #1112 closed, assigned to nobody

[2021-03-25 11:55] birvag opened #1119 "AzureDevOps - Build pipeline - Easyrepro - EdgeDriver - DevToolsActivePort file doesn't exist."
I have AzureDevOps Build pipeline to run test cases written using Easyrepro and we are using EdgeDriver. its throwing below  exception in VsTest Task :
NOTE: locally code runs well in Visual studio.

OpenQA.Selenium.WebDriverException: unknown error: DevToolsActivePort file doesn't exist
Stack Trace:
    at OpenQA.Selenium.Remote.RemoteWebDriver.UnpackAndThrowOnError(Response errorResponse)
   at

[2021-03-25 12:35] KCLAutomation opened #1120 "[BUG] xrmApp.Dialogs.Assign Not Working System.InvalidOperationException: Me/UserTeam toggle button unavailable"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-03-25 17:26] milesatfcbt opened #1121 "Unable to get past login in D365 CRM Easy Repro cloud test"
When the login code fires it uses the username and login from the app.config that works for other users.
            public void UCITestCreateAccount()
        {
            try
            {
                var client = new WebClient(TestSettings.Options);
                using (var xrmApp = new XrmApp(client))
                {
                    **xrmApp.OnlineLogin.Login(_xrmUri, _username, _

[2021-03-26 10:07] imartinflores opened #1122 "[BUG] Stale Element on Login"
## Bug Report

Stale Element exception displayed during Login

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [ ] UCI (XrmApp)

**Online or On Premise**
  - [ ] Online

**Browser**
  - [ ] Chrome

**Describe the bug**
stale element reference: element is not attached to the page document on Login.

**Code to reproduce**

[2021-03-26 13:06] jane188 opened #1123 "[HOW-TO] how to add an existing item to an N:N Subgrid"
## Question
I have a question: how to add an exiting item to an N;N Subgrid? after writing the code below, I don't know how to get the rest to work:
xrmApp.Entity.SubGrid.ClickCommand("subgrid", "buttonname", null, null);

Thanks for your help!

[2021-03-26 20:33] jane188 commented on #1123
find a solution! Thanks!

[2021-03-26 20:33] #1123 closed, assigned to nobody

[2021-03-30 08:33] Saikes commented on #1115
Workaround out of my bug: https://github.com/microsoft/EasyRepro/issues/1114

[2021-03-30 13:43] tipsey commented on #927
Had to get this working with Latest Edge Chromium Edition, could never get it to work with Old Edge. Had to download driver that matches OS Version.

WebDriver downloads:
https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/
Add Microsoft.Edge.SeleniumTools v3.14.2 (or greater) in Manage Packages for Solution
Modified:  **BrowserDriverFactory.cs**

//using OpenQA.Selenium.Edge;  <-

[2021-03-31 13:14] RahulB9940 opened #1124 "Is there any update available for utlizing Edge chromium browser in EasyRepro"
## Question

Do we have any update available to use Edge Chromium browser as Browser type in Easy repro as Edge Legacy browser is not being supported by Microsoft

[2021-03-31 14:30] badarmunirr commented on #364
is there any update on this

[2021-04-03 16:58] Shakevg commented on #1119
@birvag What type of Azure Agent are you using for running tests?
If it is an [Azure Hosted agent](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md) then EdgeDriver will not work on it because EasyRepro [does not support now Microsoft Edge Browser, based on Chromium ](https://github.com/microsoft/EasyRepro#known-issues)

[2021-04-03 17:07] Shakevg commented on #1121
@milesatfcbt I suppose you need to debug on wich place of login code is hanging using EasyRepro source code.
Could you try?

[2021-04-03 17:13] Shakevg commented on #1122
@imartinflores Could you post a stack trace and a screenshot of the browser window?

[2021-04-03 17:23] Shakevg commented on #1119
@birvag You can also try this https://github.com/microsoft/EasyRepro/issues/927#issuecomment-810259048

[2021-04-03 18:06] imartinflores commented on #1122
Hi @Shakevg , I do not have a browser Window screenshot, since at that time the test itself is not being executed , the Login is executed before the scenario on the Hooks Steps. I will post the full stacktrace, but it is surely happening on the login as I could see before. I was having a look at the Login method to try identify what is the element causing the issue, but could not reproduce it loca

[2021-04-03 19:05] Shakevg commented on #1118
@sanatlami Try this http://triagedtester.blogspot.com/2015/05/data-driven-tests-using-mstest-selenium.html

[2021-04-04 05:35] muhammad-naderi commented on #1109
hey there

looks like this approach works

[code]

[2021-04-04 17:02] RahulB9940 commented on #1103
@Maheshwar-konda Did you find any workaround on this ?

[2021-04-06 17:22] vdro commented on #1109
hello,
thanks for the hint.
worked!

[2021-04-06 17:22] #1109 closed, assigned to nobody

[2021-04-08 11:49] smallteam1 opened #1125 "[HOW-TO] click on Activities -> New Activity -> Email"
What is the XPath alternate for -  xrmApp.Entity.SubGrid.ClickCommand("SubGrid_Activities", "New Activity", "Email");

[2021-04-13 08:58] tomdaleywork commented on #1125
If you look at the method behind ClickCommand, you'll be able to find how it's identifying elements, in this case
```driver.FindElement(By.XPath(AppElements.Xpath[AppReference.Entity.SubGridContents].Replace("[NAME]", subGridName)))```

AppElements.Xpath and AppReference are both very useful and worth spending some time to understand.

In this case, using them to look up will return this Xpath: ``

[2021-04-21 11:47] Zwuai commented on #908
This should have been fixed by this PR: https://github.com/microsoft/EasyRepro/pull/1085, it was previously running the app opening scenarios consecutively and each had a wait, and because the UCI option with no default app was running last you had to wait for it to try the non UCI and default app scenarios first, which would take 30 seconds to a minute. Now it checks the URL to identify which one

[2021-04-27 13:17] imartinflores opened #1128 "[HOW-TO] Is there support for Omnichannel Live Chat ?"
## Question

Do we have support for Omnichannel Live Chat ?

[2021-05-04 17:57] asaris-lv opened #1129 "UI test methods for multiple languages"
Hi Team,

Our CRM users are using D365 online only with German language. Do you have a German version? If not, how can we proceed with UI test methods? I have found many checks, etc. with hardcoded English strings in the code.

Regards,
Mark

[2021-05-05 08:51] VasanthChidambaram commented on #1120
Still we don't have fox for this ? Please confirm

[2021-05-05 11:30] abhisekGupta07 commented on #469
i'm still facing the issue.

[2021-05-07 04:06] 3dmundbarton opened #1130 "EasyRepro - support for running tests behind corporate proxy"
## Question

Selenium provides the ability to specify the proxy settings used by the browser.  This is essential when running tests behind a corporate proxy (that isn't the default proxy).  e.g. ChromeOptions.Proxy

What support does Easy Repro provide in this scenario?

[2021-05-09 17:04] Shakevg commented on #1129
@asaris-lv, Localization is not supported now as I know.
I didn't find any hardcoded English text for locators.
Could you post examples?

[2021-05-11 15:52] asaris-lv opened #1131 "[HOW-TO] Get a value of a field not on the form (from a Dataverse table)"
## Question
HOW-TO get a value of a field not on the form (from a Dataverse table)

**What is your question?**
For our testing we need to check field values (not on the form) set by a plugin. How to achieve it using EasyRepro or any other approach.

[2021-05-11 16:14] asaris-lv opened #1132 "[HOW-TO] Set a correct value in a Lookup field"
## Question
HOW-TO set a correct value in a Lookup field?

**What is your question?**
In our test cases we set owner names of users or teams, which are not unique using search filter, e.g.
User: John Hightower
Team: John High

In our test we would like to set a Team as an owner using a team name "John High". EasyRepro sets "John High" in the lookup field and Dynamics finds two hits and takes the w

[2021-05-12 04:05] rtmaus opened #1133 "[BUG] Azure DevOps Pipeline Unable to Navigate to the Specified App"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [X] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [X] UCI (XrmApp)
  - [ ] Clas

[2021-05-14 14:38] swapna-31 opened #1134 "contact no saving[HOW-TO] <Short Question Description>"
## Question

**What is your question?**
When I want to save a new contact record its not saving and closing the window as well.
I wrote the code as To save contact record
xrmApp.Entity.save();

[2021-05-15 19:44] asaris-lv opened #1135 "[BUG] Cannot create a new Activity using Quick Create"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-05-15 19:48] asaris-lv commented on #1129
e.g.

SetValue(new OptionSet { Name = Elements.ElementId[Reference.Dialogs.Assign.AssignToId], Value = "User or team" }, FormContextType.Dialog);

________________________________
Von: Shakevg ***@***.***>
Gesendet: Sonntag, 9. Mai 2021 19:04
An: microsoft/EasyRepro
Cc: Mark Okuns; Mention
Betreff: Re: [microsoft/EasyRepro] UI test methods for multiple languages (#1129)

@asaris-lv<https://github.

[2021-05-16 18:26] Shakevg commented on #1129
@asaris-lv you can replace default hardcoded English strings for such static classes in any place.
E.g. add a parameter with the current language in app.config file:
[code]

Then update the specific values in AssemblyInitialize if the current language is German:
[code]

[2021-05-20 05:29] atear10 opened #1136 "When will be latest nuget will be published"
## Question

Hi , It seems latest nuget package has not been published since 25th feb and I had few chnages merged which is required. Can you please speedify the nuget publish mechanism, Atleast can you give the expected date for next publish

[2021-05-21 07:09] PawelWas1985 opened #1137 "SetValue in DatePicker"
Hi All,
Could anyone help me with setting correct date in one of the custom field in CRM?
Preconditions:
- Login to application by using ADFSLoginAction
- Custom CRM for the client
- UCI tests
I'm trying to set date in one of the custom field but unfortunately is not working. The code is clicking in the field then the calendar is opened but is not pick the date. My code looks like this:

[code]
al

[2021-05-21 23:41] alihassanveripark opened #1138 "How can we handle login popup window for username and password"
How can we handle the username and password of this proxy issue in our browser option?
![question](https://user-images.githubusercontent.com/80479837/119207536-f6f58880-bab7-11eb-941f-ecfb5c150e35.png)

[2021-05-24 23:37] rtmaus commented on #1133
Closing this bug, this is actually the result of Azure Conditional Access Policies blocking MS Hosted Agents.

Authentication is successful, however after login, rather than displaying the App Landing Page a 'Access to Microsoft Dynamics is monitored' page is displayed due the to Azure Conditional Access policy.

[2021-05-24 23:37] #1133 closed, assigned to nobody

[2021-05-25 08:37] samichebbi commented on #1006
Hello,
I have the same issue described above .
I'm unable to see the option described in step 4 : (Click on "I want to use a different authenticator app" link)
Coud anybody help please .
Thanks

[2021-05-25 18:50] Shakevg commented on #1138
@alihassanveripark It is not supported by EasyRepro, You can try one of these solutions:
- https://stackoverflow.com/questions/51853219/proxy-authentication-popup-in-selenium
- https://stackoverflow.com/questions/44940815/how-to-set-proxy-authentication-in-seleniumwebdriver-for-chrome-browser
- https://stackoverflow.com/questions/55582136/how-to-set-proxy-with-authentication-in-selenium-chromedriv

[2021-05-25 19:15] Shakevg commented on #1006
@samichebbi Could you show the screenshot of what do you see?

I see next:
![image](https://user-images.githubusercontent.com/42133199/119555745-de7eba00-bda6-11eb-8cab-9bcf87a8fce5.png)

[2021-06-02 12:33] LukeBenting commented on #1120
Same issue occurs when using XrmApp.Entity.Assign.

[2021-06-04 08:37] LukeBenting opened #1139 "[BUG] Xrm.<Entity|QuickCreate>.SetValue is not correctly setting Time component of DateTime field."
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [X] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [X] UCI (XrmApp)
  - [ ] Clas

[2021-06-04 13:13] LukeBenting opened #1140 "[BUG] XrmApp.BusinessProcessFlow.SetValue fails to set the value of a Yes/No field"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [X] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [X] UCI (XrmApp)
  - [ ] Clas

[2021-06-11 08:28] #1137 closed, assigned to nobody

[2021-06-11 08:28] PawelWas1985 commented on #1137
Application error

[2021-06-15 16:43] sukhi-xrm opened #1142 "[HOW-TO] Change Area in UCI App"
Hi, can someone advise how to change the area within UCI?

Example, from this section...

![image](https://user-images.githubusercontent.com/61313535/122091792-1787d880-ce01-11eb-8956-03768451b87f.png)

[2021-06-15 19:00] jane188 opened #1144 "why xrmApp.Entity.GetValue() return null reference if the text field is hidden"
## Question
I try to get a value from a hidden text field by using xrmApp.Entity.GetValue() and I get the null reference error. See error details:
System.NullReferenceException: Object reference not set to an instance of an object.

We don't want to show this text field.

Why does it happen? how to fix it?

Thanks for your help!

[2021-06-16 09:48] PawelWas1985 opened #1145 "[HOW-TO] Avoid the exception: Field does not exist"
## Question

**Could anyone helps me with the problem to SetValue in regular input field? I'm working with the UCI tests. One of the field that i have to fill out is firstname - this field is on the bottom of the site. When i'm scrolling down manually during running tests everything works fine but without any manually action during running test the exception appears: OpenQA.Selenium.NoSuchElementE

[2021-06-18 16:06] asaris-lv opened #1146 "[HOW-TO] Get field values of the record created on the Quick Create form"
## Question
How to get field values of a record created on the Quick Create form after Save?
**What is your question?**

// open Quick Create Form for Tasks

string subject = "Subject";
xrmApp.QuickCreate.SetValue("subject", subject);

xrmApp.QuickCreate.Save;

// after it it's not possible to get value for Subject (GetValues throughs an error)

[2021-06-20 18:56] Shakevg commented on #1145
@PawelWas1985 EasyRepro as Selenium base library cannot work with controls that not available.
You should make control available using custom code. E.g. scroll to some control near your field https://stackoverflow.com/questions/3401343/scroll-element-into-view-with-selenium. You can check in the markup which control is available near your field, maybe you can try section tab4_section_name name.

[2021-06-22 10:10] PawelWas1985 commented on #1145
@Shakevg Thanks for advices but unfortunately nothing helps. i tried:
1. ` public void test()
        {

            var client = new WebClient(TestSettings.Options);
            using (var xrmApp = new XrmApp(client))
            {

                xrmApp.OnlineLogin.Login(_xrmUri, _username, _password, _mfaSecretKey, client.ADFSLoginAction);

                xrmApp.Navigation.OpenSubArea("Sales"

[2021-06-22 13:25] smallteam1 commented on #1125
I tried a lot but still not working

[2021-06-22 20:22] Shakevg commented on #1145
@PawelWas1985
1,2. Will work only if you have full page scroll, but in your case, it is scroll for some container inside page
3-6. You should scroll to the first available (you can check in page source) element (the 'first name' is not available until you scroll to it manually).
I propose to scroll to each section:
[code]

[2021-06-24 13:11] manaswinipolkampally commented on #1025
Can anyone help me how to solve this issue and make my scripts run parallel in Chrome browser.

[2021-06-24 14:40] badarmunirr commented on #1025
Sure we can connect

[2021-06-25 08:43] PawelWas1985 commented on #1145
Hi @Shakevg
The problem is that the driver is not able to find even first element:
![2021-06-25 10_23_17-Movies   TV](https://user-images.githubusercontent.com/84560651/123394622-9e764700-d59f-11eb-9a87-12ee0c28a3b8.png)
I'm wondering why such code doesn't work:
[code]
Do you have any idea? i will be very grateful for any advices.

[2021-06-26 02:32] manaswinipolkampally commented on #1025
Can we have a meeting based on your availability

[2021-06-26 17:51] Shakevg commented on #1145
@PawelWas1985 I suppose because it is inside Frame. You need to switch to Frame first that search text: https://www.guru99.com/handling-iframes-selenium.html
Then switch back driver.switchTo().defaultContent(); after actions with Frame

[2021-07-02 14:47] AngelRodriguez8008 commented on #1080
Multi-Factor Authentication is madatory in almost all new Enviroment.
https://docs.microsoft.com/en-us/microsoft-365/admin/security-and-compliance/set-up-multi-factor-authentication?view=o365-worldwide

[2021-07-02 15:03] AngelRodriguez8008 commented on #1144
That is the standard behavior of EasyRepro. If the User don't see it, you are not able to check it with EasyRepro. You can just simulate the user interaction.

I added the funcionallity long time ago. But the MS-Guys don't wanted to included it in the Master Branch.

  result = xrmApp.FormJS.GetAttributeValue<string>("name");

https://github.com/AngelRodriguez8008/EasyRepro/blob/a34bf32339fe928259

[2021-07-05 07:41] #1145 closed, assigned to nobody

[2021-07-05 20:53] jane188 commented on #1144
Thank you very much for your help and all the information! Appreciate all of your work!

[2021-07-05 20:53] #1144 closed, assigned to nobody

[2021-07-06 20:35] AngelRodriguez8008 commented on #908
I tried in 4 environments, looks like change in the DOM in the landing page avoid to Open the App using both the Side Menu or the Web Menu. Just the App Tile is available, first time on landing page. Switch the App is not working in the current version.

@Zwuai is working for you?
I found that forceUCI is not being included in URL & WebAppMenuButton don't work.
Can you please review the PR #1150

[2021-07-07 01:53] AngelRodriguez8008 commented on #908
Some cause:
1. Any time that you change the App the flags (`&flags=easyreproautomation=true,testmode=true&perf=true`) should be added, that cause a page reload.
2. WebAppMenuButton seen to don't work anymore in the new environments in PR #1150 i move it back in the retrying list.
3. There is some unnecessary waits, removed in PR #1150
4. Some problems in the URL parameters checks cause unwanted re

[2021-07-07 14:54] AngelRodriguez8008 commented on #777
#1151

[2021-07-07 21:48] AngelRodriguez8008 commented on #668
@Shakevg what is the advantage of not to use:
[code]
That save directly the file into the desired location.

[2021-07-08 13:40] penchalamekala opened #1154 "How to select optionset value in DialogPageContainer"
![image](https://user-images.githubusercontent.com/87133679/124931695-1886e100-e020-11eb-9135-748db91fb2c8.png)

[2021-07-08 13:41] penchalamekala commented on #1154
i have to select Letter request for filed and that is an optionset. this alert from DialogPageContainer

[2021-07-10 08:13] AngelRodriguez8008 commented on #1018
Hi @eckevinv,
Hi @SahooNar,

Can you check if this PR #1155 works for you?

Thanks.

[2021-07-11 06:47] Shakevg commented on #668
@AngelRodriguez8008 Agree that it is more simple, but internally the same. Missed this existing method.

[2021-07-15 13:14] VikariiCGI opened #1156 "[HOW-TO] Select Tab"
How can I select entity tab via XrmApp?

[2021-07-15 14:09] jane188 opened #1157 "[HOW-TO] Run a Custom Workflow"
## Question

How to run/execute a custom workflow in UCI?

Before we used this code:
          xrmBrowser.CommandBar.ClickCommand("Run Workflow", "", true);
          xrmBrowser.Dialogs.RunWorkflow("Name of the workflow");

Now:  try to use xrmApp, and don't know how.

Please help!
Thanks

[2021-07-16 00:26] AngelRodriguez8008 commented on #1156
https://github.com/microsoft/EasyRepro/search?q=SelectTab

xrmApp.Entity.SelectTab("Details");
xrmApp.Entity.SelectTab("Related","Contacts");

[2021-07-16 00:47] AngelRodriguez8008 commented on #1157
Are you able to do it manually? How looks your Command Bar / Ribbon now?

[2021-07-16 06:55] VikariiCGI commented on #1156
@AngelRodriguez8008,
Thanks !

[2021-07-16 06:55] #1156 closed, assigned to nobody

[2021-07-19 13:48] tpalus opened #1160 "[BUG] Can't open BPF container"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-07-19 13:51] tpalus commented on #1160
I have already created a PR but if you do not have the same problem or these changes affect your tests we can discuss it. #1161

[2021-07-21 07:36] MaTeMaTuK commented on #1154
Hi,
I use this approach. Maybe I will contribute my solution in this repo :)
[code]

[2021-07-21 14:08] PawelWas1985 opened #1162 "Click on Ribbon button in Subgrid"
Please Help!!! Does any of you know how to click in this button:

![img](https://user-images.githubusercontent.com/84560651/126502938-889b4dc6-647a-470c-be0c-d1bd840d4722.png)

[2021-07-23 20:10] jane188 commented on #1157
Yes, we can run it manually.  Our workflow is under Flow -> Run Workflow (see image below). Sorry the image is not clear:
![Workflow](https://user-images.githubusercontent.com/50111593/126835989-ad665de2-0ae3-453e-b3e7-f7519ba20924.PNG)

Thank you!

[2021-07-26 15:22] shariquekhan1997 commented on #1162
Workaround: Try using XPath to reach there. You may also check this [blog](https://www.inogic.com/blog/2020/11/how-to-add-an-existing-record-into-a-subgrid-in-dynamics-365-crm-using-easyrepro/). 👍

[2021-07-27 09:10] shariquekhan1997 commented on #713
#1158 Now you can access all the buttons in the Business Process Flow Dialog (example: Next Stage)

[2021-07-28 00:01] AngelRodriguez8008 commented on #1018
Hi @SahooNar.

PR was merged, you can use:
`xrmApp.Navigation.GoBack();`

Please consider to close this Issue.

Best regards,
Angel A.

[2021-07-28 07:59] PawelWas1985 commented on #1162
Hi @shariquekhan1997 thanks for response :)  i will try to use your solution but i wonder how to locate the "options" within this button because in the DOM structure i can not see them even if i clicked manually on this button

[2021-07-28 09:07] shariquekhan1997 commented on #1162
There is a trick for this, go in dev tools > Console tab > $x('Xpath of button you want to click in a single quote').click()

The above line will click that button and your dropdown will be visible with the dev tools intact in its place. Now you can inspect and hover on the target dropdown.

[2021-07-28 09:50] PawelWas1985 commented on #1162
hmmm....maybe i made some mistake but i've got something like this:
![img1](https://user-images.githubusercontent.com/84560651/127302063-bc13516a-fcf9-4451-860a-81483cb7b9c9.png)

[2021-07-28 12:01] shariquekhan1997 commented on #1162
Try adding [0] in $x('Xpath of button you want to click in a single quote')[0].click()
as it is a array of elements.

[2021-07-28 16:16] TYLEROL commented on #1162
@PawelWas1985 - This depends on if the grid is truly a "subgrid" on a form, or if it's considered a "related grid".

The commands to call them will vary slightly. Calling ClickCommand() should be the same between them.

Edit: This should be a traditional subgrid based on your original screenshot

`xrmApp.Entity.Subgrid.ClickCommand(); `

vs

`xrmApp.RelatedGrid.ClickCommand();`

[2021-07-29 06:26] PawelWas1985 commented on #1162
Hi @TYLEROL thanks for the response. I will try your solution...btw. i'd like to ask you about such method :
`public BrowserCommandResult<bool> **ClickSubGridCommand**(string subGridName, string name, string subName = null, string subSecondName = null) -->`
do you know the syntax? i mean how code looks like?

[2021-07-29 09:39] PawelWas1985 commented on #1162
Hi @TYLEROL i used this one: xrmApp.Entity.Subgrid.ClickCommand(); but unfortunately received NoSuchElementException :
OpenQA.Selenium.NoSuchElementException: no such element: Unable to locate element: {"method":"xpath","selector":"//div[@id="dataSetRoot_Progress Candidates"]"}
![2021-07-29_11h36_44](https://user-images.githubusercontent.com/84560651/127469554-7334f7bb-fca1-4e4e-876c-399dc5b43b83.

[2021-07-29 10:39] chrizz-msweb opened #1164 "[BUG] SelectTab issue"
CRM Version:
2021 release wave 1 enabled
Server version: 9.2.21071.00134

**UCI or Classic Web**
  - [x] UCI (XrmApp)
  - [ ] Classic Web (XrmBrowser)

**Online or On Premise**
  - [x] Online
  - [ ] On Premise

**Browser**
  - [x] Chrome
  - [ ] Firefox
  - [ ] IE
  - [ ] Edge

We have Customer Screen with 6 Tabs.  But only 4 tabs shown like this

![image](https://user-images.githubusercontent.co

[2021-07-29 10:50] chrizz-msweb opened #1165 "[BUG] SetValue on DateTime control sometimes error"
CRM Version:
2021 release wave 1 enabled
Server version: 9.2.21071.00134

**UCI or Classic Web**
  - [x] UCI (XrmApp)
  - [ ] Classic Web (XrmBrowser)

**Online or On Premise**
  - [x] Online
  - [ ] On Premise

**Browser**
  - [x] Chrome
  - [ ] Firefox
  - [ ] IE
  - [ ] Edge

**Describe the bug**

XrmApp.Entity.SetValue("xts_invoicepostingdate", DateTime.Now.ToShortDateString());

That code som

[2021-08-02 21:10] marcscheuner-bfh opened #1166 "[BUG] OpenApp, OpenSubArea, SwitchView do not seem to work on non-English GUI"
## Bug Report

**EasyRepro Version**
  - [ X ] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [ X ] UCI (XrmApp)

**Online or On Premise**
  - [ X ] Online

**Browser**
  - [ X ] Chrome

**Describe the bug**

I tried to adapt the samples (specifically the "CreateAccount" unit test) to my German UI language - but no matter what I try, I cannot get an

[2021-08-04 13:13] badarmunir commented on #364
is there any update on this

[2021-08-04 13:24] DarkCrow19 opened #1167 "EasyRepro for powerapps portal"
Hi All,

I am completely new to EasyRepro. Can I know, is it possible to UI Automation code for PowerApps portal using EasyRepro or like UI Flows/Selenium to convert recordings to code.

If possible, please share document or link.

Regards,
Chaitanya

[2021-08-10 14:24] VikramKurri opened #1169 "Getting System.InvalidOperationException: 'Unable to Click the PickViewer', while using the function - SwitchView in the Grid."
Visual Studio Code:
xrmApp.Grid.SwitchView("zz_Admin-Child Accts SubGrid view");

Exception details:
System.InvalidOperationException: 'Unable to Click the View Picker'

This exception was originally thrown at this call stack:
    Microsoft.Dynamics365.UIAutomation.Api.UCI.WebClient.SwitchView.AnonymousMethod__0(OpenQA.Selenium.IWebDriver) in WebClient.cs
    Microsoft.Dynamics365.UIAutomation.Bro

[2021-08-10 16:47] NickFol opened #1170 "[BUG] Multiselect clear Email sample data"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-08-10 18:29] nidhimishradeloitte opened #1171 "Support for EasyRepro Dynamics 2021 release wave 2"
## Question

Hi, Could you please advise if there are plans/timescale to support the 2021 Release Wave 2 version of Dynamics 365? We have updated one of our testing environments to the update scheduled for release in October via early access and noticed quite a substantial impact on our automation test scripts. Your answers will help us plan our remediation effort accordingly.

Thanks in Advance.

[2021-08-10 18:51] aliyoussefi commented on #1171
#1169 @VikramKurri, this is related and I'm linking the work items. Reviewing now.

[2021-08-11 16:24] dgowshik opened #1172 "[BUG] Failed to open record from the grid using xrmApp.Grid.OpenRecord(0); - Early access - Dynamics 2021 release wave 2"
**CRM Version:**
2021 release wave 2 enabled (Early access)

**UCI or Classic Web**
- [x] UCI (XrmApp)
- [ ] Classic Web (XrmBrowser)

**Browser**
- [x] Chrome

**Issue Description**
While testing the test environment which enabled with the early access version of Dynamics 2021 release wave 2 (release in October), EasyRepro failed to open the first record which present in the Grid table

**Method

[2021-08-11 16:50] dgowshik opened #1173 "[FEATURE] Entity tab validation - GetValue(string field)"
**Feature Description**
To validate the presence of a particular tab in an entity form without clicking on it

**CRM Version:**
2021 release wave 1 enabled

**UCI or Classic Web**
- [x]  UCI (XrmApp)
- [ ]  Classic Web (XrmBrowser)

**Browser**
- [x]  Chrome

**Method tried to test this scenario**
xrmapp.Entity.GetField(string field);
xrmapp.Entity.GetValue(string field);
xrmapp.Entity.GetValue(Mu

[2021-08-11 20:11] emilybowersox opened #1174 "[BUG] X-path value of "Timeline_Post_Add" needs to be updated in ElementReference.cs (Api.UCI)"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-08-17 05:17] Jyothi-Swaroop-Charla opened #1175 "[BUG] Exception: ' Unable to Click the View Picker', while using the function - SwitchView in the Grid"
Our Test environment recently updated to release wave 2.

After that, Switch view function on Grid throwing exception :  Unable to Click the View Picker

**Error:**

System.InvalidOperationException: Unable to click the View Picker
Stack Trace:
<>c__DisplayClass52_0.<WaitUntilClickable>b__0()
SeleniumExtensions.WaitUntil(ISearchContext driver, Func`2 searchFunc, Nullable`1 timeout, Action`1 succes

[2021-08-18 11:25] Jyothi-Swaroop-Charla opened #1176 "[BUG] xrmApp.Grid.GetGridItems().Count throwing exception after release wave 2 update in Test environment"
**Error:**

Test method Microsoft.Dynamics365.UIAutomation.SuccessHubTesting.vNext.Session.TestCreateSession.CreateSession threw exception:
OpenQA.Selenium.NoSuchElementException: no such element: Unable to locate element: {"method":"css selector","selector":".wj-colheaders"} (Session info: chrome=92.0.4515.131)

**Browser:**

Chrome

[2021-08-18 11:27] Jyothi-Swaroop-Charla opened #1177 "[BUG] client.GetGridItemsV2().Value.Count throwing exception after wave 2 update in Test environment"
**Exception:**

OpenQA.Selenium.NoSuchElementException: no such element: Unable to   locate element: {"method":"css   selector","selector":".wj\-colheaders"}     (Session info: chrome=92.0.4515.131)     Stack Trace:         at   OpenQA.Selenium.Remote.RemoteWebDriver.UnpackAndThrowOnError(Response   errorResponse)      at OpenQA.Selenium.Remote.RemoteWebDriver.Execute(String   driverCommandToExecu

[2021-08-18 11:29] Jyothi-Swaroop-Charla opened #1178 "[BUG] Function xrmApp.Entity.SubGrid.OpenSubGridRecord("subgridname", 0); throwing exception after wave 2 release in Test environment"
**Exception:**

Test method Microsoft.Dynamics365.UIAutomation.SuccessHubTesting.vNext.SessionRegistration.TestUpdateSessionRegistration.UpdateSessionToLive threw exception:
OpenQA.Selenium.NoSuchElementException: no such element: Unable to locate element: {"method":"xpath","selector":"//div[contains(@data-id,'cell-0-1') and contains(@data-lp-id,'SessionRegistration')]"}
(Session info: chrome=92.0

[2021-08-18 11:31] Jyothi-Swaroop-Charla opened #1179 "[BUG] xrmApp.Grid.OpenRecord(0) throwing exception after wave 2 release in our Test environment"
**Exception:**

System.ArgumentNullException: input cannot be null
Parameter name: input
Error Message
at OpenQA.Selenium.Support.UI.DefaultWait`1..ctor(T input, IClock clock)
at OpenQA.Selenium.Support.UI.DefaultWait`1..ctor(T input)
at Microsoft.Dynamics365.UIAutomation.Browser.SeleniumExtensions.WaitUntil(ISearchContext driver, Func`2 searchFunc, Nullable`1 timeout, Action`1 successCallback, Ac

[2021-08-18 11:32] Jyothi-Swaroop-Charla opened #1180 "[BUG] xrmApp.Entity.SubGrid.GetSubGridItemsCount("subgridname") returning zero after recent wave 2 update in Test environment"
**Exception:**

This method is not returning any errors but returning the count of records as 0 when there are records present in the subgrid.

[2021-08-18 11:33] Jyothi-Swaroop-Charla opened #1181 "[BUG] xrmApp.Grid.SwitchView("View name") throwing exception after recent wave 2 release in our Test environment"
**Exception:**

System.InvalidOperationException: Unable to click the View Picker
Stack Trace:
<>c__DisplayClass52_0.<WaitUntilClickable>b__0()
SeleniumExtensions.WaitUntil(ISearchContext driver, Func`2 searchFunc, Nullable`1 timeout, Action`1 successCallback, Action failureCallback)
SeleniumExtensions.WaitUntilClickable(ISearchContext driver, By by, Nullable`1 timeout, Action`1 successCallback, A

[2021-08-22 07:52] pham-hang opened #1183 "[HOW-TO] How To Retrieve Look Up Guid Value"
## Question

I want to check whether the lookup field is set to correct the record but I can not get the guid of the record using GetValue() for lookup item.

I found some hidden table that contains the guid, but the table only appears when we open a record from the grid. Interesting that the index of record in the grid is similar in the hidden table so I guess it was a hidden grid. My current cod

[2021-08-30 15:11] nidhimishradeloitte commented on #1171
@aliyoussefi Do you have any update on this query please? If you could let us know by when EasyRepro is planning to release an update to support the 2021 Release Wave 2 version of Dynamics 365? This will help us in strategizing our next steps accordingly.

Thanks.

[2021-09-02 08:16] PawelWas1985 opened #1185 "[BUG] GetValue is not working"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-09-08 04:31] Ajay1shetty opened #1187 "[HOW-TO] <While running test case facing issue as : "You can't get there from here">"
## Question :

While running test case facing issue as : "You can't get there from here this application contains sensitive information and can only be accessed from devices or client application that meet microsoft compliance policy"

<img width="747" alt="Question related to easy repro" src="https://user-images.githubusercontent.com/90300473/132446783-35e2f490-ded5-41d8-97cd-fc9e9676d333.PNG">

[2021-09-08 17:46] Shakevg commented on #1187
@Ajay1shetty Related question answer https://github.com/microsoft/EasyRepro/issues/1103#issuecomment-791202446

[2021-09-09 05:56] AddalaDeviPriya opened #1188 "[BUG] Unable to open the first record in the Grid. Failing at xrmApp.Grid.OpenRecord(0); for D365 2021 release wave 1 enabled"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-09-09 14:33] dgowshik opened #1189 "[BUG] [Performance Issue] Subgrid & Grid records retrieval methods taking more time to return the grid values"
**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [ ] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online
  - [x] Microsoft Dynamics 365 Online Version 9.2.21074.117

**UCI or Cl

[2021-09-14 08:12] kkamalasekar commented on #935
@gurunadhd Hi, did you get this issue resolved? I am facing the same. Thanks

[2021-09-14 16:07] aliyoussefi commented on #1171
Hi @nidhimishradeloitte I do not have the date for the update for the release wave 2 but I have a change that fixes the grid and most of the subgrid (still working on get subgrid items). The issue is the dynamic loading of data from state that the pcf grid control now performs.  Here is the fork I am referring to and working on: [https://github.com/aliyoussefi/EasyRepro](https://github.com/aliyous

[2021-09-15 11:48] amars4u opened #1190 "OpenRecord method not working - Getting OpenQA.Selenium.ElementNotInteractableException: element not interactable: [object HTMLDivElement] has no size and location"
## Bug Report
Below method is not working when trying to open record from grid.
xrmApp.Grid.OpenRecord(0);
OpenQA.Selenium.ElementNotInteractableException: element not interactable: [object HTMLDivElement] has no size and location

 CRM Online version:
2021 release wave 1 enabled
Server version: 9.2.21081.00147
Client version: 1.4.3101-2108.1

**UCI or Classic Web**
  - [ ] UCI (XrmApp)

**Online

[2021-09-15 11:59] amars4u commented on #1188
Facing this same issued since 9/12/2021. looks like latest product update has caused the issue.

[2021-09-15 16:47] aliyoussefi commented on #1188
@AddalaDeviPriya  and @amars4u Is this related to RW2? The title of the issue states RW1. RW1 should work as expected. Let me know. - Ali

[2021-09-16 04:52] AddalaDeviPriya commented on #1188
@aliyoussefi  I am having issue with RW1 as well

[2021-09-16 07:33] kkamalasekar commented on #935
**Update:** Sorted this out. Issue was, I was trying to run Web tests using UCI app. When provided the correct URL for web it went okay. Likewise for UCI app too.

[2021-09-20 13:46] VikramKurri commented on #1188
Good Morning @aliyoussefi,

I too see this issue in RW1 and Error that is throwing is System.NullReferenceException: 'Object reference not set to an instance of an object.'

Few things to note here, here are the updates i made to the packages -
1. updated the chrome from 91 to 93 version.
2. This is coming in Release wave1 only and when we run the script it fails to open the record and throws this

[2021-09-21 02:25] AmarSinghMSFT commented on #1188
@aliyoussefi I am facing this issue in below mentioned version. My project is on government cloud.
2021 release wave 1 enabled
Server version: 9.2.21082.00150
Client version: 1.4.3120-2108.2

[2021-09-21 07:18] AmarSinghMSFT opened #1191 "xrmApp.Entity.SetValue(new LookupItem() { Name = "entitylogicalname", Value = "", Index = 0 }); Unable to select lookup value by index"
## Bug Report

 xrmApp.Entity.SetValue(new LookupItem() { Name = "entitylogicalname", Value = "", Index = 0 }); Unable to select lookup value by index

**EasyRepro Version**
 - [x] Latest from Nuget Package

**UCI or Classic Web**
  - [x] UCI (XrmApp)

**Online or On Premise**
  - [x] Online

**Version**
2021 release wave 1 enabled
Server version: 9.2.21082.00150
Client version: 1.4.3120-2108.2

*

[2021-09-21 15:35] umarh1 opened #1192 "How to automate click on a list item"
I want to get an element clicked, the element is in a list, i have successfully opened the list but upon clicking the list item its generating exception of web element not found. I tried xpath, id and others but its not working. using C# selenium.
Fields are customized, how can I click on any item on the list.

**action.MoveToElement(client.Browser.Driver.FindElement(By.XPath("//button[contains(@i

[2021-09-24 07:47] AddalaDeviPriya opened #1194 "Testscript fails while running in Azure pipeline but passes in local"
My testcase fails in azure pipeline with the below error while clicking the button in the ribbon. It works well in local
Am I missing anything here?

![image](https://user-images.githubusercontent.com/40159922/134637774-7d113c50-2188-4ddd-8c12-ddb9ac935676.png)

Element <button id="OverflowButton_button2$button" aria-label="More commands for Prospect" aria-describedby="openflyout_description_Overf

[2021-09-24 09:37] TomasRibeiro96 opened #1195 "Easy Repro Release Wave 2 Update - When will it happen?"
## When will Easy Repro receive the update to work with D365 Release Wave 2?
Is there any prediction to when that will happen?

[2021-09-24 18:53] Ketty-Kat opened #1196 "xrmApp.Entity.SubGrid.ClickCommand --> Error say button is not in the commandBar"
Hello,
I have an issue while trying to use xrmApp.Entity.SubGrid.ClickCommand("subgridname", "buttonName").
The error say the button is not in the commanBar even it was.
Do you have any idea ?
Thanks !

[2021-09-26 19:24] Shakevg commented on #1192
@umarh1 Please post page Elements screenshot with a menu item from Dev console

[2021-09-26 19:33] Shakevg commented on #1194
@AddalaDeviPriya According to my experience it can be different reasons (another browser version, other user settings, more quick test behavior, etc..).
Try to capture a screenshot and look witch control block click.

[2021-09-28 03:57] AmarSinghMSFT commented on #1190
@aliyoussefi Thank you. I test the fix and it works perfectly fine.

[2021-09-28 03:58] amars4u commented on #1190
Working fine now.

[2021-09-28 03:58] #1190 closed, assigned to nobody

[2021-09-28 14:31] Ketty-Kat commented on #1196
Thanks work now

[2021-09-28 20:31] aliyoussefi opened #1201 "2021 Release Wave 1 hierarchical grid Open Record not working"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-09-29 15:46] #1196 closed, assigned to nobody

[2021-10-01 06:33] #1194 closed, assigned to nobody

[2021-10-01 06:34] AddalaDeviPriya commented on #1194
Working after adding Screen resolution utility to pipeline

[2021-10-01 12:20] martijnvanes commented on #993
Is there an update to this issue? I am also experiencing problems when I try to open a record in a grid that is not on the screen. Thank you

[2021-10-06 11:27] bugboogie666 opened #1205 "[BUG] Not able to run edge in private(incognito) mode"
Microsoft Dynamics 365
2021 release wave 1 enabled
Server version: 9.2.21091.00138
Client version: 1.4.3205-2109.1

 package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net452"
 package id="Dynamics365.UIAutomation.Api" version="9.2.21084.148" targetFramework="net472"
 package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472"
package id="NUnit" version="3.1

[2021-10-06 15:09] dgowshik commented on #1171
Hi @aliyoussefi
I tested few of the functionalities in Grid with your EasyRepro changes for release wave 2.  It is working well. But, I noticed still it's failing in the validation of subgrid items. Could you please share us the update on the changes related to Subgrid items?

If you are doing the changes in EasyRepro based on the CRM functionality, If possible, Could you please share us what are

[2021-10-06 15:54] ewingjm commented on #1177
@Jyothi-Swaroop-Charla `GetGridItemsV2` isn't part of EasyRepro. I think this functionality is broken in wave 2 but just be aware it'll still be broken even when the EasyRepro update goes out unless you go back to using the EasyRepro API.

[2021-10-08 09:18] prakashm625 opened #1208 "[BUG] <Command bar buttons are not identified like Save button>"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-10-09 14:24] AmarSinghMSFT commented on #1208
@prakashm625 https://github.com/microsoft/EasyRepro/pull/1209 This will fix your issue. Need to wait for PR merge and NuGet creation.

[2021-10-11 04:26] usamasarfraz192 opened #1210 "[How to validate the Id field that start with specific number.] <I want to Validate id field that it should start with specific number, how to compare the first three numbers of ID field?>"
Hi,
I want to validate the the ID field which always start with the specific numbers. I want to validate the First Three numbers of ID field. How to do it, can you guys help me out that how to get the first three numbers of ID field and compare it with with my specific number?
Looking forward to our response.

[2021-10-11 11:11] martijnvanes commented on #750
Hi all, Is there maybe a workaround that can be used until tree-input is supported in Easy Repro?

I tried using Selenium and XPath, I managed to identify the element and click the element (so the tree is opened and values visible). When I try to find the XPath to one of the values in the tree by inspecting the element, the tree and elements disapear form the page and also the elements are no long

[2021-10-11 14:43] PawelWas1985 opened #1211 "[HOW-TO] How to disable SSL Certificate during login to on-premise?"
## Question

**How to disable SSL Certificate during login to on-premise?**

[2021-10-11 15:55] Shakevg opened #1212 "[BUG] xrmApp.Entity.ClickCommand is not working for some buttons"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [+] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [+] UCI (XrmApp)
  - [ ] Clas

[2021-10-11 20:39] #1212 closed, assigned to nobody

[2021-10-12 14:01] OlhaKucheriava opened #1215 "[BUG] Required fields check is not working when saving the records"
## Bug Report

**EasyRepro Version**
EasyRepro-develop-2021ReleaseWave2

**UCI or Classic Web**
  - [ ] UCI (XrmApp)

**Online or On Premise**
  - [ ] Online

**Browser**
  - [ ] Chrome

**Browser**
  - [ ] Chrome

**Describe the bug**
Run the test case with the code below. Or have any other test case, where you create a record and do not fill in the required field on the form and save this record

[2021-10-12 20:21] Shakevg commented on #1210
@usamasarfraz192 Could you show a screenshot with the field?

[2021-10-13 09:37] jaziriferes1 opened #1216 "Online Wave2 : xrmApp.Grid.OpenRecord(0) : I can't select a row grid after search action"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-10-13 14:45] aalad opened #1217 "[BUG] Entity.GetField() fails if the field is not on the form"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)
  - [ ] Clas

[2021-10-13 15:24] aalad opened #1218 "[BUG] Grid.SwitchView() no longer working in Wave 2"
## Bug Report
After Wave 2 2021, the function XrmApp.Grid.SwitchView("My View") runs in time out

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [x] Microsoft Dynamics 365 Online Version 9.1

[2021-10-13 17:42] Shakevg commented on #1218
@aalad Wave 2 will work only with a special branch, this functionality is already fixed on it.
Did you use develop-2021ReleaseWave2](https://github.com/microsoft/EasyRepro/tree/develop-2021ReleaseWave2) brunch for Wave 2?
If yes, please post a screenshot with your item in view.

[2021-10-14 07:15] aalad commented on #1218
I see, thanks for the info. I will check out this branch then, as I was still on the releases/v9.1 version
So this bug can be closed, thank you.

[2021-10-14 07:15] #1218 closed, assigned to nobody

[2021-10-14 12:50] ewingjm commented on #1216
Should be fixed in develop-2021ReleaseWave2 branch. See #1206. There hasn't been a wave 2 NuGet version released yet.

[2021-10-18 06:51] reager opened #1222 "Entity save (and possible others) in preview package is language sensitive"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-10-18 09:10] Shakevg commented on #1222
@ewingjm Could you please look
It is related to changes https://github.com/microsoft/EasyRepro/pull/1206/files
I suppose we can apply this fix for the Wave 2 branch too https://github.com/microsoft/EasyRepro/pull/1209/files
The same for somу other locators, e.g. { "Lookup_AdvancedLookupButton", "//button[.//label[text()='Advanced lookup']]"},

[2021-10-19 06:51] MartijnJong commented on #1222
We're having the same issue for the Dutch Language here.

Using Dynamics365.UIAutomation.Api version 9.2.21084.148 and Dynamics 365 Online

[2021-10-20 14:38] jaziriferes1 opened #1223 "[BUG] <I cannot click on link tag button of grid list >"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-10-21 14:04] szbommasani opened #1224 "[BUG] CommandBar.ClickCommand is unable to find the commandbar buttons when BPF flyout is open"
CommandBar.ClickCommand is unable to find the command bar buttons when BPF flyout is open
### Issues should only be created for items related to [covered functionality]

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0

[2021-10-22 15:32] sarahliTC opened #1225 "[BUG] Issue with entering dates, possibly because of SetValue"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-10-26 11:47] pikappp commented on #699
Can anyone please help me with this? I don't have the automated cases in DevOps.
I write scripts and the artifacts are built in the pipeline but when it runs on the server the error states - "This version of ChromeDriver only supports chrome version 95."
I have ChromeDriver of version 95 but it seems the chrome version on the server is 94. So how can I update the version on the server?

[2021-10-26 17:08] Shakevg commented on #699
@pikappp Did you try the solution above https://github.com/microsoft/EasyRepro/issues/699#issuecomment-573856361?
I am using it now without any issues on Azure Hosted Agent

[2021-10-27 14:20] vipul2018 opened #1227 "[BUG] Unable to open record from global search page"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-10-28 10:18] reager opened #1228 "Opens new window when running multiple tests"
Im using NUnit and latest preview of Easyrepro with chromedriver.

I've a setup were I created a baseclass which is responsible for logging in to my CRM instance. In my test class I have two method both annotated with [Test]-attributes and a method annotated with a [Setup] attribute. The SetUp method navigates to  the start by opening the app and open a new entity form in create mode.

The problem

[2021-10-29 11:16] Shakevg commented on #1228
@reager Could you please provide a code sample?

[2021-10-29 12:44] Ajay1shetty opened #1229 "[HOW-TO] <Facing issue after wave 2 enabled in these methods>"
## Question
Facing issue after wave 2 enabled in these methods
xrmApp.Grid.OpenRecord(0);
xrmApp.Entity.SubGrid.ClickCommand("","");
xrmApp.Grid.HighLightRecord(0);
xrmApp.Grid.SwitchView("");
xrmApp.CommandBar.ClickCommand("");

when will easy repro will receive the update to work with D365 wave 2 ?

[2021-10-29 19:16] Shakevg commented on #1229
@Ajay1shetty Try preview wave2 nuget
https://www.nuget.org/packages/Dynamics365.UIAutomation.Api/#versions-tab

[2021-11-01 04:43] Ajay1shetty commented on #1229
I have tried that but still facing the same issue.

[2021-11-01 05:47] Shakevg commented on #1229
@TYLEROL Could you please look, looks like locators were changed after the D365 update on the previous weekend (maybe you have fixes)?

[2021-11-03 06:28] AmarSinghMSFT opened #1230 "Wave 2 NuGet Package Release Date"
## Question

**What is the planned release date of EasyRepro NuGet Package (Dynamics365.UIAutomation.Api) for Wave 2 code base? Is it possible to release an early beta version for Wave 2 code base?

All test and production environment in my project is upgraded to Wave 2 last weekend and we are using NuGet Package. So it will be very difficult to wait until Dec, 31st. Please advice what can be done

[2021-11-03 15:11] JakeObrienMercuryXrm commented on #1230
Hey, I had the same issue, however there are pre-release versions out that you can update your project with. When you click to manage nuget packages make sure you have ticked 'Include prerelease'. As you can see in the screenshot, the version I have it a Wave 2 preview release. It has fixed a lot of things, although I still have issues opening Subgrid rows and a few other issues.

![image](https:/

[2021-11-03 15:19] JakeObrienMercuryXrm opened #1231 "[BUG] <Unable to open subgrid rows using xrmApp.Entity.SubGrid.OpenSubGridRecord>"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-11-03 15:42] AmarSinghMSFT commented on #1230
Thank you @JakeObrienMercuryXrm

[2021-11-03 15:43] #1230 closed, assigned to nobody

[2021-11-03 15:44] JakeObrienMercuryXrm commented on #1230
@AmarSinghMSFT You're welcome :)

[2021-11-03 16:15] aalad commented on #1217
Additional info: Error happens in BrowserCommand.cs, method Execute(... T9 p9), line 138:
![image](https://user-images.githubusercontent.com/48445423/140099490-1192ecf0-69aa-4601-b3c5-a75b0cff010f.png)

[2021-11-04 02:05] fmamoon opened #1232 "Function not working xrmApp.Entity.Save()"
## Bug Report
If I install EasyRepro via nuget package on my Test Project xrmApp.Entity.Save() command is returning this below error:
System.InvalidOperationException: 'Save Button is not available'
Please note, same command used to work on previous version and still works direct from "Microsoft.Dynamics365.UIAutomation.Sample"

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 9

[2021-11-04 13:36] reager commented on #1228
Sure. This is my current setup

My base class that connects to my instance
[code]

Some extensions to write tests more fluently
[code]

and last my test cases

[code]

When I run my tests the first test that executes works as expected, but the second one opens all commands in new windows for some reason.

[2021-11-06 19:53] Shakevg commented on #1228
@reager I suppose constructor for UIAutomationBase executed for each test.
Move code from constructor  to method with [OneTimeSetUp] attribute

[2021-11-08 06:26] reager commented on #1228
@Shakevg  It should only be called once, but after writing my last comment I did try OneTimeSetUp instead and it still open new windows.

[2021-11-08 08:54] jkanschik commented on #1216
I also experience an issue with Grid.OpenRecord(0) in the latest version of branch develop-2021ReleaseWave2. It seems that the linked ticket doesn't fix the issue completely. Error message is **Unable to locate element: {"method":"xpath","selector":"//div[@ref='eViewport']"}**

The test Microsoft.Dynamics365.UIAutomation.Sample.UCI.Grid.UCIGridOpenRecord() fails when OpenRecord(0) is called:

[cod

[2021-11-08 11:45] CrmAlex opened #1234 "[HOW-TO] <Issues with wave 2 >"
## Question

Since the activation of the 2 wave some errors occur. We have updated our local repo with the main branch, but some errors are still there. I have seen that there is a branch called "develop-2021ReleaseWave2". Is it already foreseeable when this branch will be merged into the main branch?

[2021-11-08 16:37] aliyoussefi commented on #1216
Hi @jkanschik ,

Let me take a look at this one shortly and confirm if I can reproduce on my end.

Thanks!
Ali

[2021-11-08 21:05] aliyoussefi commented on #1216
I am unable to reproduce this in two environments I have for testing. Can you confirm the build version of the environment you're using?

[2021-11-08 21:07] ewingjm commented on #1216
I'm sure we're also using this method successfully  - @jkanschik is it a standard read-only grid or is it an editable grid?

[2021-11-09 10:32] jkanschik commented on #1216
Actually, I just realized that for Opportunities and also some other entities, OpenRecord() works perfectly. At least for my current environment, the UI for Accounts and Opportunities are actually different. Completely different HTML / CSS.

Do you have the same grids for Sales Hub => Account and Sales Hub => Opportunities?

[2021-11-09 10:44] jkanschik commented on #1216
I'm on 2021 Release Wave 2, Database version 9.2.21102.00131

In Sales Hub, these are the two mentioned lists; as you can see, the UI is different:

List of opportunities:
![image](https://user-images.githubusercontent.com/98514/140909233-72d88039-cf2c-483d-9fdf-beb905653106.png)

List of accounts:
![image](https://user-images.githubusercontent.com/98514/140909363-3a22d7e9-09ba-47b7-a7fb-baff15f21

[2021-11-09 11:19] ewingjm commented on #1216
@jkanschik haven't checked but the accounts grid there looks like an editable grid. The 'Group By' is present on editable grids, at least, and I don't believe they got updated in wave 2. The logic for opening records was probably quite similar for editable grids and read-only grids before so it may have actually worked in the past despite the grids different and there not being any obvious code pa

[2021-11-09 13:04] jkanschik commented on #1215
Maybe the following enhancement of the test case would help (it did for me at least):

[code]

This allows you to actually check the correct warning message and you have actually more control over your test case.

[2021-11-10 08:52] OlhaKucheriava commented on #1215
Yes. I know the workaround, thanks!
I just think that this bug should be fixed as this could create false passed test cases for some users and they will never know it.

[2021-11-10 09:31] JakeObrienMercuryXrm opened #1236 "[BUG] GetSubgridItems not returning any attributes"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [X] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [X] UCI (XrmApp)
  - [ ] Clas

[2021-11-10 09:55] jkanschik opened #1237 "Is adding products to opportunities supported (RW 2)?"
## Question

I would like to create an opportunity and add product line items. I can open the "Product Line Items" tab, input a price list and click on the subgrid command "Add Products", which opens the new (preview) experience to select the product line items (see screenshot).

Is this supported in EasyRepro? If so, how can I select product line items?

I'm on 2021 Release Wave 2.

![image](http

[2021-11-10 10:07] aalad commented on #766
The function GetGridItems() now throws a NoSuchElement Exception if used on an editable grid (Wave 2 2021). Same code as above, but with EasyRepro switched to tree "develop-2021ReleaseWave2"

[code]

[2021-11-10 14:54] JakeObrienMercuryXrm opened #1238 "[HOW-TO] Add timeline entries without specifying all string values where not needed"
## Question

When creating timeline entries, Phone Call for this example, you have to specify (string subject, string phoneNumber, string description, string duration) however, the software I am automating does not need the phoneNumber or the duration and these fields are not on the quick create form when opened. Is there a way to specify this as null? I have tried using null as shown below but it

[2021-11-10 14:55] #737 closed, assigned to nobody

[2021-11-10 15:57] Shakevg commented on #1238
@JakeObrienMercuryXrm It is not possible using the current implementation.
You can look at the AddPhoneCall implementation and create your own method.

[2021-11-10 19:24] madhusudhancogn commented on #1010
Hi @bottbott , any update on merging dotnet core feature branch with the latest. I see it is behind many commits

[2021-11-11 08:38] JakeObrienMercuryXrm commented on #1238
Hi @Shakevg thanks for the response. Yeah that was my plan B :)

[2021-11-11 08:38] #1238 closed, assigned to nobody

[2021-11-11 09:24] BhuvanaNallamilli opened #1239 "Opensubarea"
## Question

**What is your question?**
i'm trying to access a areaSwitcher button using  xrmApp.Navigation.OpenMenu("O&M (change area)","Settings") and xrmBrowser.Navigation.OpenRelated("O&M (change area)"); but nothing worked need suggestion on that... how to handle it

I need to access the settings sub area from O&M switcher
![image](https://user-images.githubusercontent.com/94108023/141272578-

[2021-11-15 06:14] jaithunsheik opened #1241 "[BUG] <ADFS login >"
## ADFS login with MFA enabled
Hi Everyone,
The ADFS login is not working for the 1st attempt, it works in second attempt. The ADFS login page which we are using have MFA enabled. It takes more than 2 minutes to login in to the CRM application. The OTP code is not generated at the first attempt and redirects the page after some time then the OTP is generated and successfully logged in to the envir

[2021-11-15 06:17] jaithunsheik commented on #1241
Adding the calling method
![image](https://user-images.githubusercontent.com/94345311/141731942-3135487a-0e26-4534-981e-b1a88751c84f.png)

[2021-11-15 09:15] Ajay1shetty opened #1242 "[BUG] <Facing issue with xrmApp.Grid.OpenRecord(0);>"
## Question

**We are facing issue in this method "xrmApp.Grid.OpenRecord(0);" instead of opening the first record from the grid it is opening some different record which is present on that grid.**

[2021-11-16 11:53] Asaris69 opened #1243 "Stable EasyRepro Branch for Dynamics 2021 release wave 2"
What is the Stable EasyRepro Branch for Dynamics 2021 release wave 2:

- develop
- develop-2021ReleaseWave2
- develop-2021ReleaseWave2Update
- or any other else

[2021-11-16 16:04] CrmAlex commented on #1234
Hello,

we would like to update to the latest version of Easy Repro. Does it make sense to wait until the two branches (develop-2021ReleaseWave2 and develop-2021ReleaseWave2Update) are merged into the master or should we rather use the branch develop-2021ReleaseWave2 or develop-2021ReleaseWave2Update?

Best regards
Alex

[2021-11-18 08:55] singanivinay opened #1244 "Does EasyRepro support "Okta Verify" MFA other than MS Authenticator?"
Hi,

This is Vinay Singani and I work for Neptune TG. As part of automating Dynamics 365 CRM application, we really want to use EasyRepro.
We were trying to run a test script and we encountered issue regarding MFA.
When the script was running it took the username/password and then it redirected to "Okta Verify" authentication page.

"MFA Support" listed in the EasyRepro page states it supports MS

[2021-11-23 21:59] MattAtTelstra opened #1245 "[HOW-TO] Checking for "Saving..." overlay instead of using Thinktime or Thread.sleep"
## Question ##

When you click save after creating a new workflow , you get a "Saving..." overlay which can take for our tests anywhere up to 10 seconds to save the workflow, we are trying not to use any sleep or waits in case the saving takes longer.

Does anyone have a different method of checking when that overlay is no longer visible/stopping any interaction with the other buttons?

[2021-11-25 18:18] miiwo commented on #1245
I would recommend to use a WebClient method for this: `client.Browser.Driver.WaitForTransaction()` whenever you see a "Saving..." overlay so that it waits the appropriate amount before continuing on with your program. Cheers!

[2021-11-26 20:51] LAUZONO opened #1246 "[FEATURE] Add functionality to highlight SubGrid record."
**Describe the feature**
In the Grid class, HighLightRecord() allows you to select a record without opening it. I would like to have this functionality available for the SubGrid class.

**Explain why this feature is needed**
SubGrid only has the functionality to open the specified record but not simply highlight it, and my unit testing is requiring me to select a record and click a SubGrid command

[2021-11-29 19:27] plolon opened #1247 "[BUG] <Save Validation doesn't work>"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-11-29 21:36] ejueldotnet commented on #1232
Bug also occurs on Microsoft Edge Version 96.0.1054.29 (Official build) (64-bit).

[2021-11-29 21:57] ejueldotnet commented on #1232
Issue was with Microsoft.Dynamics365.UIAutomation.Api.UCI\DTO\AppElementReference.cs

Pulling latest version of repo resolve the issue for me.

Older versions of repo had
`{ "Entity_Save"       , "//button[contains(@data-id, 'form-save-btn')]"},`

However latest repo version uses
`{ "Entity_Save"       , "//button[contains(@id, 'SavePrimary')]"},`

[2021-11-29 23:24] ejueldotnet opened #1248 "[FEATURE] Specify Web Drivers File Name"
**Describe the feature**
Requesting improvement to [BrowserDriverFactory.cs](https://github.com/microsoft/EasyRepro/blob/develop/Microsoft.Dynamics365.UIAutomation.Browser/BrowserDriverFactory.cs) to use a new [BrowserOptions](https://github.com/microsoft/EasyRepro/blob/develop/Microsoft.Dynamics365.UIAutomation.Browser/BrowserOptions.cs) parameter that specifies the driver executable file name wh

[2021-11-30 11:28] Shakevg commented on #1248
@zekeinclusa Do you want to use Edge Chromium? If yes it should be feature to support Edge Chromium because of the current implementation for old Edge (non-Chromium).

[2021-11-30 14:56] ItsJ0el commented on #1228
@Shakevg I'm encountering the same Issue. On first execution of ClickElement it works fine, but every subsequent ClickElement opens it in a new tab. This causes the test to fail as it tries to search for the Element on the wrong tab.
The testcase where ClickElement gets called once,  succeeds, but all tests where it gets called more then once fails

[2021-11-30 15:05] ejueldotnet commented on #1248
@shakevg, I currently run tests for both Edge (version 96.0.1054.29) and Chrome (96.0.4664.45).

Are you saying there's an existing feature to specify the webdriver executable file name?

[2021-11-30 17:07] plolon commented on #1247
Nevermind, I created post save assertion by myself.

[2021-11-30 17:07] #1247 closed, assigned to nobody

[2021-11-30 19:08] Shakevg commented on #1228
Opening a new tab after clicking it looks like a separate issue, please create a new issue with steps.
Issue from @reager related just with NUnit Framework.

[2021-11-30 20:24] Shakevg commented on #1228
Understand now. I saw one-time such an issue, but it was temporary. Looks it like something is wrong with the menu item.
@reager Is it possible to reproduce for some standard menu items, not custom, to reproduce on my side?
Can you try to click manually on the menu after the first test?
What is NuGet version are you using, did you try wave2?

[2021-12-01 13:56] ghost opened #1249 "Issue with opening app and selecting sub area"
Hi,

I am trying to automate a dynamics CRM 365 application server version 9.2.21103.00140 with  2021 release wave 2 enabled. I downloaded the EasyRepro-develop-2021ReleaseWave2 and since okta verification was enabled in the application,I used the xpath of controls and logged in. After that I am trying to open apps and subareas but nothing is getting clicked and getting  error Unable to locate ele

[2021-12-01 19:36] Shakevg commented on #1248
@zekeinclusa I just say that ability to specify driver file name is not the right solution.
The current implementation for Edge is expected and will work only with old Edge driver MicrosoftWebDriver.exe .
For using Edge Chromium msedgedriver.exe new method should be implemented in EasyRepro (just changing the file name is not enough, because they are different, diff compatibilities, etc...)
I will

[2021-12-01 20:00] ejueldotnet commented on #1248
@Shakevg Sounds good, thanks for looking into this.

FYI, pulling the repo and manually setting the file name using the Edge Chromium driver worked for the tests I've been running, albeit with a few long pauses. Biggest downside is maintaining my own branch and manually rebasing latest changes from GitHub.

There are a few steps early on that stop and wait until DefaultTimeout expires (likely wait

[2021-12-02 18:18] mattgon commented on #1234
Hi Alex, there are several issues we are looking into and expect further updates to the develop-2021ReleaseWave2 branch before any merge occurs. I expect these to remain separate branches until after the new year.

-Matt.

[2021-12-02 18:20] mattgon commented on #1243
Current recommendation is to use develop-2021ReleaseWave2.

-Matt.

[2021-12-02 18:52] VikramKurri opened #1250 "[BUG] Cannot open the ViewPicker when selecting the view"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-12-02 18:53] VikramKurri commented on #1250
@aliyoussefi - Created based on our discussion, Please check it.

[2021-12-02 19:02] VikramKurri opened #1251 "[BUG] Unable to click on the Related grid in a record"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-12-02 19:02] VikramKurri commented on #1251
@aliyoussefi - opened this defect based on our discussion - Please check it.

[2021-12-07 06:56] ashwinss91 commented on #627
Do We need to use the syntax for more options as _xrmApp.Entity.SelectTab("...", "Manager's Decision") ? @mVermaat  @Haywaii

[2021-12-07 07:16] ychandra888 commented on #87
how to stop the close a browser, what is the line of code

[2021-12-07 12:01] VikariiCGI commented on #1232
@zekeinclusa,
I see this code
[code]

[2021-12-07 12:03] VikariiCGI commented on #1232
And I see that a command should be Ctrl + S
https://docs.microsoft.com/en-us/powerapps/user/keyboard-shortcuts#form-shortcuts

[2021-12-07 12:34] VikariiCGI commented on #1232
Anyway save button works well!

[2021-12-07 22:47] sjakobsen95 commented on #1231
I am facing this issue as well. Any workaround for this?

[2021-12-08 01:21] aliyoussefi commented on #1250
Hi @VikramKurri ,

I've confirmed your bug and am working with the team to address and remediate. Will update with an ETA on the fix rollout.

[2021-12-08 03:23] AddalaDeviPriya opened #1252 "Getting Powerapps cookie error after navigating to the app"
Getting the below cookie error after navigating to the app while running the test
Tried allowing third party cookies in browser settings but still the error occurs for every new session created while running the tests. Is any option need to be changed in the code to get rid of this error?

![image](https://user-images.githubusercontent.com/40159922/145142703-d8f3802b-1859-4471-a185-56007f34da71.pn

[2021-12-08 08:47] thathi commented on #1252
I think you may need to update the settings as suggested in the following link.
https://docs.microsoft.com/en-gb/powerapps/troubleshooting-startup-issues#enable-storage-of-third-party-cookies-and-local-data-in-your-browser-or-app

[2021-12-08 09:40] AddalaDeviPriya commented on #1252
@thathi  Already tried and this is not working for the new session

[2021-12-08 11:40] Shakevg commented on #1252
@AddalaDeviPriya Try set CookieСontrolsMode to 0
[More info on how to enable third-party cookies](https://stackoverflow.com/a/65007362/8951897)
Example bellow.

[code]

[2021-12-08 12:02] JakeObrienMercuryXrm commented on #1231
Hey @sjakobsen95 I do have a work around but it's not great and can be fragile. Will be reverting back as soon as they get it fixed.

If there is only ever one entry in the grid, this code below will highlight all elements in the subgrid. Once highlighted I then have an edit button that can be clicked on the subgrid command bar which I use to open the row.

`driver.FindElement(By.XPath("//i[@data-

[2021-12-08 12:21] smallteam1 opened #1253 "[BUG] <Save not working in EasyRepro>"
Save and some events are stopped working. Currently we are using EasyRepro "9.2.21084.148" which is available in Nuget.
Could we please know by when the EasyRepro supported version for Dynamics 365 will be available in Nuget package

System.Exception: Save Buttton is not available

inspect element showing as Save (Ctrl+S)
![Capture](https://user-images.githubusercontent.com/18255804/145207482-51ec

[2021-12-08 12:31] ychandra888 commented on #1253
xrmApp.CommandBar.ClickCommand("Save (CTRL+S)");

above line will work, for me It's working fine

[2021-12-08 12:40] Shakevg commented on #1231
@JakeObrienMercuryXrm Did you try develop-2021ReleaseWave2 nuget of the branch?

[2021-12-08 12:43] ychandra888 opened #1254 "[BUG] <Ribbon custom button click is not able to handle with EasyRepro test case >"
Hi Team,

I have one custom button(Ribbon button) in my entity, on click of that button need to set some value(from test case), after enter value need to click Ok button automatically.

Note: It's prompt alert box.

 xrmApp.CommandBar.ClickCommand("Search Account");------> from this I am able to click button, but with in 1sec closing automatically.

client.Browser.Driver.SwitchTo().Alert().SendKey

[2021-12-08 14:03] peta commented on #1249
Same issue here. Subareas seem to open in new tab/window instead of being loaded into existing app instance.

Can anybody confirm?

[2021-12-08 14:09] smallteam1 commented on #1253
Thanks for your reply ychandra888, there are 37+ tests which I need to change and not only Save, there are some other events where I am getting errors.

System.Exception: Unable to click the View Picker

is easyrepro team planning  to fix these issues?

[2021-12-08 15:03] JakeObrienMercuryXrm commented on #1231
@Shakevg Hey, I am currently using this version '9.2.21111.116-RW2-Preview'.

[2021-12-08 19:34] ychandra888 commented on #1253
Hi,

I am not sure product team will fix or not but after wave 2 enable, some of
commands are not working in this EasyRepro.

Thanks & Regards,
Chandra Mohan

On Wed, 8 Dec 2021, 19:39 smallteam1, ***@***.***> wrote:

[2021-12-09 01:25] smallteam1 commented on #1253
Thanks Chandra...

https://www.nuget.org/packages/Dynamics365.UIAutomation.Api/9.2.21101.119-RW2-Preview

installed through PM console
Install-Package Dynamics365.UIAutomation.Api -Version 9.2.21101.119-RW2-Preview

I have tested few tests and they are working fine...

Thanks
Narasimha

[2021-12-09 04:54] #1253 closed, assigned to nobody

[2021-12-09 05:51] AddalaDeviPriya commented on #1252
@Shakevg  Tried setting CookieСontrolsMode = 0 and Third Party cookies are enabled. But when this value is set to zero, App is asking for MFA. How to bypass this phone OTP authentication?

![image](https://user-images.githubusercontent.com/40159922/145341797-11a341e3-73bf-4a5e-b676-1a47979359db.png)

[2021-12-09 06:42] ItsJ0el commented on #1228
@Shakevg Sorry for the late reply.
I used the latest preview version 9.2.21111.116-RW2-Preview.
Manually clicking on the new tab sadly doesn't work, it continues running in the first tab.
The Issue #1249 seems to be about the same problem.

[2021-12-09 12:21] simonjpa1 opened #1255 "[BUG] <Click subgrid create new button opens in a new tab behind existing>"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
Nuget: 9.2.21111.116-RW2-P

[2021-12-09 13:18] Shakevg commented on #1255
@simonjpa1 Could you stop the test before ClickCommand and click manually? Is it the same behavior?

[2021-12-09 13:26] simonjpa1 commented on #1255
No if I do that it opens in the current fan as it should.

[2021-12-09 13:31] Shakevg commented on #1252
@AddalaDeviPriya How does it work if you enable cookies manually (screen below) when you start the browser manually? Is it required to sign in too?
I just handled this case by implementing a click to the sign-in button if dialog appeared.
![image](https://user-images.githubusercontent.com/42133199/145405075-ff3f5cdc-94b4-462d-a6b0-7a5f4cc413c0.png)

[2021-12-09 13:33] Shakevg commented on #1228
I mean in debug mode before the step that opens a new tab (I suppose it is OpenSubArea("My sub area") ) click on the link manually.

[2021-12-09 19:02] simonjpa1 commented on #1255
I did some further testing. I appears that this only an issue if I use the
`_xrmApp.Entity.Save()`
So a workaround for this is to use `_xrmApp.CommandBar.ClickCommand("Save")` instead to click the save button.

[2021-12-10 04:10] AddalaDeviPriya commented on #1252
@Shakevg  I manually changed my browser settings to allow all cookies and tried login to the app. It still asks for Sign in with OTP.
I am not getting this sign in OTP if CookieСontrolsMode = 1.It only pops up powerapps error. MFA  appears when the value is set to 0. Looks like MFA is dependent on this key. Is there a way to handle this?

[2021-12-14 15:32] MarvinAmbutu commented on #1191
Here is a work around that has enabled me to set the value for a lookup control:

[code]

This works when I am creating a new record. If you are modifying an existing record, consider clearing the lookup control vale before setting a new value

[2021-12-16 11:04] chrizz-msweb opened #1256 "[HOW-TO] fill option set with special character"
## Question

XrmApp.Entity.SetValue(new OptionSet { Name = "myEquipment", Value = "Don't have" });

How to write string  "Don't have"  properly?  It keep giving me error Object reference not set to an instance of an object.

[2021-12-16 11:16] chrizz-msweb opened #1257 "[BUG] Cannot set value lookup with 1 character"
XrmApp.Entity.SetValue(new LookupItem { Name = "transactioncurrencyid", Value = "円"  });

It will give error: System.InvalidOperationException: No Results Matching 円 Were Found.
The problem is the lookup now start to query after second character

[2021-12-17 21:26] Shakevg commented on #1257
@chrizz-msweb For now SetValue supports set value only with search.
Just select a value from a lookup that is not supported,
If can you perform it manually only after expanding lookup this is a new feature.

[2022-01-13 14:53] dewilliams704 commented on #1250
Hi @aliyoussefi,

Any update on this issue, or a work-around?  It is blocking many of my tests, and increasing the execution of nearly all of them.

[2022-01-14 00:46] ZiaRahman1 commented on #1250
Hi @aliyoussefi
Any update on this or workaround for this issue?

[2022-01-17 13:18] pratyush-prateek opened #1258 "[HOW-TO] Populating tables with seed data before running tests"
I wanted to know if there is any functionality to populate existing entities with some seed data before running tests. Currently, I am trying to achieve this by Dataverse Web API to create records before hand before a test case starts running. Is this use case already supported?

[2022-01-18 17:52] VictoriaBogdevici commented on #1113
Did you end up finding a solution? I have a similar issue right now, a Status Reason field on a business process flow.

[2022-01-18 18:20] VictoriaBogdevici opened #1259 "[HOW-TO] Set Status Reason on a BPF"
I have a BPF and it's last step is to change the status  reason from Planning to Scheduled. I've tried setting it:
 **xrmApp.BusinessProcessFlow.SetValue(new OptionSet() { Name = "statuscode", Value = "Scheduled" });**
When I inspect the element, it's not an option set but rather a combobox/picklist
**statuscode.fieldControl-pickliststatus-comboBox_text-value**

Is there a different approach?

[2022-01-21 14:17] chandramohand commented on #1049
Hi @RavitejaMuthyala ,@Anyone Me too facing the same kind of where it throws this error in one section not all lookups.  Other lookups in the form works fine.  The difference I observed with this lookup where the dropdown aligned to right and going out out of the field which is not exactly underneath.
![issue](https://user-images.githubusercontent.com/36604867/150541931-97eda038-f0e8-49a9-9316-b08

[2022-01-24 18:40] chandramohand opened #1260 "[HOW-TO] <Short Question Description>"
## Question
Hi,
I am unable to use lookup on a drop-down, could you please help which method I can use to select the value in the list.

![image](https://user-images.githubusercontent.com/36604867/150843833-4031dd4f-9a6f-439f-8863-81f0eea2f00d.png)

Thanks,
Chandra.

[2022-01-24 22:24] leungs107 commented on #1260
I think it is an option set instead of lookup
xrmApp.Entity.SetValue(new OptionSet() { Name = "optionname", Value = "Open or other value" });

[2022-01-25 10:35] AddalaDeviPriya opened #1261 "xrmApp.Grid.SwitchView(View Name) not working in CRM wave 2 with 9.2.21111.116-RW2-Preview version"
Switch view is not working for Wave 2 and test script is failing with timeout

[2022-01-25 12:25] tdashworth opened #1262 "[BUG] Cannot `SwitchView` to a view that requires scrolling to"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2022-01-25 19:07] tipsey commented on #1262
I am having similar issue :  I change language  to French and it cannot seen to locate the french view banes.  In English, I can select the views.  Both languages are within viewable window.

xrmApp.Grid.SwitchView("English name works");
xrmApp.Grid.SwitchView("French name does not work");

[2022-01-26 19:12] chandramohand commented on #1260
Hi @leungs107,
I tried  this too where it throws Null pointer exception.

System.ArgumentNullException : input cannot be null
    Parameter name: input

[2022-01-27 12:54] aliyoussefi commented on #1261
Hi @AddalaDeviPriya ,

Thank you for opening this bug. Please provide additional information as I am unable to recreate on build 9.2.21122.00151.
Artifacts including screenshots of the about page located in the Settings area will be helpful.

Thanks!

Ali

[2022-01-27 12:56] aliyoussefi commented on #1262
@tdashworth Thank you for your input. I will take a look at this as soon as possible. Could you please provide the server version you are using located in the Settings->About page?

[2022-01-27 12:59] aliyoussefi commented on #1250
Hi @dewilliams704 and @ZiaRahman1 Please confirm which branch of the source code you are using and the server version located in the Settings->About page so I may reproduce to fix.

[2022-01-27 13:01] aliyoussefi commented on #1242
Hi @Ajay1shetty This issue is now fixed in the https://github.com/microsoft/EasyRepro/tree/users/darent%2Fdevelop-2021ReleaseWave2Update branch. [RW2 2021 Branch](https://github.com/microsoft/EasyRepro/tree/users/darent%2Fdevelop-2021ReleaseWave2Update) Can you confirm and open the issue if this is still an active issue?

[2022-01-27 13:01] #1242 closed, assigned to aliyoussefi

[2022-01-27 15:18] tdashworth commented on #1262
@aliyoussefi Thanks for taking a look.

Timestamp: 2022-01-27T15:14:21.593Z
Build name: 0.0.20220121.2-2201.3-prod
Version 1710 (9.2.21123.167) online

[2022-01-27 15:46] tipsey opened #1264 "[BUG] xrmApp.Grid.SwitchView("ViewName") not working in other language"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2022-01-27 15:55] tipsey commented on #1260
Have you tried Selenium code?

using OpenQA.Selenium.Support.UI;

new SelectElement(client.Browser.Driver.FindElement(By.Id("IdName"))).SelectByText("ValuesListText");

[2022-01-27 17:05] chandramohand commented on #1260
Yeah, today only I tried with Selenium code and worked.  Thanks.

[2022-01-27 19:15] dewilliams704 commented on #1250
Hi @aliyoussefi.  I'm using Dynamics365.UIAutomation.Api v9.2.21084.148 with Server Version 9.2.21113.00137

[2022-01-27 19:37] ZiaRahman1 commented on #1250
Hi @aliyoussefi my server version is Server version: 9.2.21121.00125 and I am using latest code from "develop" branch.

[2022-01-28 12:04] chandramohand opened #1265 "In the form when I click a button it opens a section, in the section Lookup is not working, where I am following the same as other lookups."
In the form when I click a button it opens a section left side, in the section Lookup is not working, where I am following the same as other lookups.  Only observation is when I click on Lookup list is aligned to right underneath and left side dropdown has come outside.
Not sure that would be an issue. Please refer to the screenshot.
I tried regular lookup and Option set  and Business process flow

[2022-01-28 19:06] nidhimishradeloitte commented on #1171
Hi @aliyoussefi @ewingjm,

Could you please let us know if EasyRepro has launched official release of  Wave 2 2021?

Thanks,
Nidhi

[2022-01-31 09:16] ritesh035 opened #1266 "xrmApp.Entity.Save() is not working -System.InvalidOperationException: 'Save Button is not available'"
I have created a blank unit test project and I am facing an issue with record save code.

I have installed the below packages  with the latest version  and I have built code on dot net version 4.6
1)Dynamics365.UIAutomation.API
2)Selenium.WebDriver.ChromeDriver

Below is code snippet .
using (var xrmapp = new XrmApp(client))
            {
                xrmapp.OnlineLogin.Login(_xrmUri, _username

[2022-02-01 04:02] jaithunsheik commented on #1251
I'm facing the same issue, any solution or workaround?
Please help!!!

[2022-02-01 04:15] jaithunsheik commented on #1251
It worked by doing below changes @VikramKurri and @aliyoussefi
![image](https://user-images.githubusercontent.com/94345311/151911949-a82eb241-ebb8-4083-915e-40a598c276ff.png)

[2022-02-01 05:50] ritesh035 commented on #1232
I am facing a similar issue @VikariiCGI please help me understand what needs to be added in code to resolve the issue.
I have already added the required NuGet package.

[2022-02-01 14:14] ejueldotnet commented on #1232
@ritesh035 Pulling the latest version of the NuGet package should resolve.

What happened last time was the HTML code and tags built in to D365 changed, so when EasyRepro/Selenium tried to save it was looking for HTML tags that no longer exist (thereby requiring an update to the repo).

The newest version of EasyRepro is sending the keyboard keys Ctrl+S, which is a shortcut in D365 to save the doc

[2022-02-02 04:31] #1266 closed, assigned to nobody

[2022-02-02 21:23] chandramohand commented on #1265
Hi, any help regarding this, anyone faced these kind of issue?
Team, please let me know whether I need to raise a bug regarding this.

Thanks,
Chandra.

[2022-02-03 15:19] dgowshik opened #1267 "[BUG] Facing issue with xrmApp.Grid.OpenRecord(0); in Headless Mode"
## Bug Report

While running the automation scripts in Headless mode, I am facing the issue in this method "xrmApp.Grid.OpenRecord(0);" instead of opening the first record from the grid, it is trying to open the third column record or hyperlink associated to the first record row.

**EasyRepro Version**
  - [x] develop-2021ReleaseWave2

**UCI or Classic Web**
  - [x] UCI (XrmApp)
  - [ ] Classic We

[2022-02-03 15:22] chandramohand commented on #1073
Hi @VikramKurri, Me too facing the same issue on Quick form where Lookups not working, I tried all the ways even with Business process flow.  Could you please provide some more details how the Business process flow worked for you?
Thanks,
Chandra.

[2022-02-03 23:14] reachsuja commented on #1232
@zekeinclusa I have got the latest version of NuGet package Dynamics365.UIAutomation.Api version 9.2.21084.148 and Powerapps.UIAutomation.Api 9.0.2. But still have the same issue. Can you please advice which version of the package it is fixed?

[2022-02-07 21:54] at-sterling commented on #1232
@zekeinclusa I also have the latest Dynamics365.UIAutomation.Api version 9.2.21084.148 NuGet package, but the issue still persists. It would be great if you could let me know your version and any other steps you took to resolve this issue! For the time being I wrote a manual save function that sends the keys Crtl+S, but aligning to the standard would be much more sustainable for long-term developm

[2022-02-07 22:40] ejueldotnet commented on #1232
@reachsuja Sorry, I'm currently maintaining my own branch to support the newest MS Edge browser (EasyRepro currently only supports the older non-Chromium based browser, weird since the newer one came out in early 2020). Guessing it's a webdriver issue since the save code in question is the same as mine and works on [Edge webdriver 98.0.1108.43](https://developer.microsoft.com/en-us/microsoft-edge/

[2022-02-08 00:01] tipsey opened #1269 "[HOW-TO] Anyone with success Running EasyRepro Tests using Microsoft Agents on Azure DevOps?"
## Question

It seems like EasyRepro really needs the use of an Interactive Agent when using Azure.  Anyone with success using a Microsoft hosted agent?  If I run EasyRepro tests on Azure DevOps Express using Interactive Agent, there is no problem but if I use vm agents by Microsoft , some tests fails (Usually ones that don't run headless).

Thanks in advance!

[2022-02-08 09:30] JakeObrienMercuryXrm commented on #1267
Hey, I have the same issue as above but whilst running it non-headless too!

[2022-02-08 09:47] chandramohand commented on #1250
Hi @aliyoussefi, @VikramKurri ,  Me too facing the same issue, Is this issue fixed?

[2022-02-08 20:40] Shakevg commented on #1269
@tipsey I am using Microsoft Hosted Agents (2019) and haven't had any issues.
Could you describe your issue in detail with code examples and errors

[2022-02-09 13:37] tipsey commented on #1269
Also using windows-2019 agent, tried also vs2017-win2016 agent and windows-latest with same issues.  I can predict which will fail in Azure if they do not run headless locally in Visual Studio:

Most tests fail with this error and scenario:

System.ArgumentNullException: input cannot be null
Parameter name: input

BrowserCommand`1.Execute[T1,T2,T3,T4,T5,T6,T7,T8,T9](IWebDriver driver, T1 p1, T2 p2

[2022-02-09 15:14] thathi commented on #1269
@tipsey we are running in headless too. when I try running with a full browser there were issues around finding the elements. Some of the elements won't be rendered unless you use scrolling. I haven't seen any problems using headless mode with Microsoft agents. But I got your point that Interactive Agent for running Dynamics UI tests in build agents.

[2022-02-09 16:56] chandramohand commented on #1175
Hi, Me too facing this issue, any update regarding the fix?

Thanks and Regards,
Chandra.

[2022-02-11 03:52] madhusudhancogn commented on #435
Hi, Can you give me access to read your blog. This is my email: madhusudhan.usami@gmail.com
Thanks

[2022-02-19 19:27] sreenumay15 opened #1273 "Issues whilst compiling this project with .net framework 4.7.2"
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0117	'EdgeOptions' does not contain a definition for 'UseInPrivateBrowsing'	Microsoft.Dynamics365.UIAutomation.Browser

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0103	The name 'ExpectedConditions' does not exist in the current context	Microsoft.Dynamics365.UIAutomation.Browser

## Bug Report

### Issu

[2022-02-22 13:59] Cecchetto90 opened #1274 "[BUG] Element Id "By.Id("passwordInput")" and "(By.Id("submitButton")" not found in "ADFSLoginAction" method inside WebClient class."
## Bug Report
The login procedure fails because  "passwordInput" and "submitButton"  ids  not found on the login page.

The current version of the WebClient class, method "ADFSLoginAction" uses the following ids to insert password and execute submit action in the form:

 driver.FindElement(By.Id("passwordInput")).SendKeys(args.Password.ToUnsecureString());
 driver.ClickWhenAvailable(By.Id("submitB

[2022-02-26 00:52] tipsey commented on #1157
Were you able to find a Solution?

[2022-02-27 16:02] saadnadir commented on #600
[code]

and yet i am still trying to make it work, getting 0 in the count after i am triggering the save action.

[2022-03-02 13:13] AddalaDeviPriya opened #1275 "xrmApp.CommandBar.ClickCommand, xrmApp.Dialogs.ClickCommand not working"
xrmApp.CommandBar.ClickCommand
xrmApp.Dialogs.ClickCommand

Getting the below error while trying to click on ribbon on entity form or Dialog command bar

CRM version details:
![image](https://user-images.githubusercontent.com/40159922/156368168-c6f13a40-4b5a-42c9-ad45-d8a28010ff08.png)

System.InvalidOperationException: Unable to find the ribbon.
  Stack Trace:
    BrowserCommand`1.Execute[T1,T2,T

[2022-03-03 04:31] AddalaDeviPriya commented on #1275
![image](https://user-images.githubusercontent.com/40159922/156494219-e2bfb919-6e4c-4d04-bd29-a7beb822d7fe.png)

DialogContainer is returning element but ribbon returns null value

looks like data-lp-id is changed with the latest CRM release

previous xpath :
{ "Cmd_ContainerGrid"       , "//ul[contains(@data-lp-id,\"commandbar-HomePageGrid\")]"},

Latest xpath:
{ "Cmd_ContainerGrid"       , "//ul

[2022-03-03 11:22] imartinflores opened #1276 "Wave branch merged into develop"
## Question

Have the wave updates been merged into develop and pushed to nuget package?
Thanks.

[2022-03-03 13:51] namurdock opened #1277 "[BUG] Method not found: 'Void OpenQA.Selenium.Edge.EdgeOptions.set_UseInPrivateBrowsing(Boolean)'.' When using Edge on Windows 11"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2022-03-05 07:51] Shakevg commented on #1276
@TYLEROL Can you please merge, because it hard to support it when dev still out of date so long.
Also as I know new Wave 2022 will be enabled on 1 April 2022 or all cloud environment automatically.

[2022-03-06 20:32] saadnadir commented on #1165
I do have the same issue, i checked my regional settings in my workstation and still have the same issue everytime i run my unit test that fill a date and time field. When i fill a date field only, it works without issue.
[code]

[2022-03-09 17:05] diwanbisht commented on #648
Change the value in app.conf file.:

BrowserType: in below config file is Chrome;

<add key="BrowserType" value="Chrome" />

Change it like
<add key="BrowserType" value="Remote" />

BrowserType Value = "Remote"

And also change : your RemoteHubServer url.

<add key="RemoteHubServer" value="http://1.1.1.1:4444/wd/hub" />

    <add key="BrowserType" value="Chrome" />
    <add key="DriversPath" value

[2022-03-10 12:05] k-Jithesh commented on #1252
@AddalaDeviPriya, there is a bug in the Microsoft.Dynamics365.UIAutomation.Sample\TestSettings.cs,
within public static BrowserOptions Options => new BrowserOptions {
Add the following code, else the CookieСontrolsMode will default to 1.
CookieСontrolsMode = SharedOptions.CookieСontrolsMode;

[2022-03-10 19:54] Shakevg commented on #1252
@AddalaDeviPriya I suppose you should work with dev team to undestand how end user will work with it, becuase looks like it is not related with framework

[2022-03-12 14:30] Roshan64Sinha opened #1279 "[BUG] On Launching the crm app through easyrepro framework is poping up an error message"
![1](https://user-images.githubusercontent.com/101464587/158022041-efb7927d-5a71-409c-9b28-4a04935aff26.png)
steps to Reproduce :
1. Open the crm app
2. Click on the sub area (  As soon as we click on sub area items it pop up with the error message page, It is appearing randomly ).

Attaching a screenshot

![Snag_1b007ac9](https://user-images.githubusercontent.com/101464587/158022001-7d66a36c-35e7

[2022-03-13 21:22] Shakevg commented on #1279
@Roshan64Sinha Looks like it is server side issue. Is it reproduce mannualy?

[2022-03-14 16:58] tipsey commented on #1279
I had same issue but only when executing a Custom Workflow.  You should be able to reproduce your issue manually by going to private mode in your browser.  You may not see this problem in a browser when you don't use private mode.  It's probably a server side security connection issue.  I worked around in EasyRepro by signing in again but it was too flakey.  Gave up and used Playwright automation

[2022-03-15 10:44] Roshan64Sinha commented on #1279
No it occurs on automation

[2022-03-17 07:15] Swetha-479 opened #1280 "How to over come MFA process shown in the below screenm"
How to overcome MFA process in Easy Repro Code Automation?

The related screen is shown in the image below:

![image](https://user-images.githubusercontent.com/101314338/158756346-bc6c526b-46ca-4e91-9206-efe8d8b785b3.png)

[2022-03-17 20:12] Shakevg commented on #1280
@Swetha-479 You should configure MFA for user by instruction for EasyRepro https://github.com/microsoft/EasyRepro#mfa-support
Default method should be login with token

[2022-03-21 03:20] balakj75 commented on #1228
FWIW, the issue is with the Entity.Save method. This method uses the pattern of sending crtl S to the window to save the record. I think the browser thinks the ctrl key is still down after this method finishes executing and that is why the next click end up opening in a new tab. I switched to using the command bar save button and all is well.

[2022-03-21 23:33] Alawode commented on #1006
Hello, I'm facing this same issue currently and I'm not really able to follow these steps. Has there been any resolution for this issue? Seems that I am unable to sign in to https://mysignins.microsoft.com/security-info with the service account it keeps reverting back to my corp account

[2022-03-22 10:42] chandramohand commented on #1274
Is this issue resolve?  Me too facing the issue regarding the Password and submit, workaround is there now and able to proceed.

Thanks

[2022-03-23 09:06] jaithunsheik commented on #1269
Hi @thathi , @tipsey, @Shakevg
I'm trying to deploy the test cases using yaml in azure pipelines but some test cases are passed and other are failed with the above mentioned errors. I'm new to Azure pipelines can somebody help me how to deploy the automated test cases successfully without these issues. Can you please tell me what are these interactive agents and how these can be used?
your help is

[2022-03-23 14:09] SJFellowmind opened #1281 "[BUG] Unable to GetValue from statuscode field"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**

- [x] 9.2.22023.129-RW2-P

[2022-03-23 16:05] Alawode commented on #1006
@Shakevg  please can you assist with this?

[2022-03-24 09:33] Shakevg commented on #1006
[Alawode](https://github.com/Alawode) Can you try to login in incognito mode.
Is it reproduced for all accounts ot just some specific?

[2022-03-24 09:42] Shakevg commented on #1269
[jaithunsheik](https://github.com/jaithunsheik) I suppose it is just flaky tests and you should investigate and fix it as any othe selenium test: add additional waiting or in the worst case use sleep.
Firstly you can try to add sleep before setvalue and look is it help or not. There is no universal approch here. May be some cases were not take into account durig method impementation.

[2022-03-24 09:49] jaithunsheik commented on #1269
Hi @Shakevg Thanks for replying back. I think the issue is caused because of the screen resolution which I tried to set up , some of the issues liking setting up the lookup worked luckily. But setting the date field value to today's date is not working in azure pipelines. Please find the below images
![image](https://user-images.githubusercontent.com/94345311/159889213-19bc2337-d57a-4b61-bf32-30d5

[2022-03-24 13:06] tipsey commented on #1269
I think you need to set the DateTime.Today to the expected String format
i.e.  DateTime.Today.ToString("yyyy/MM/dd"));

Setting up an interactive agent on On-Premise Azure is relatively easy.  Setting up in Cloud much more difficult:
How to configure an Interactive Agent with a Microsoft Hosted Virtual Machine
https://medium.com/@stukalin/self-hosted-azure-devops-agent-on-azure-virtual-machine-704

[2022-03-24 19:00] thathi commented on #1269
@jaithunsheik hope you are running it in headless mode and with fixed width & height settings in pipeline? if not try with that.

[2022-03-24 19:22] Shakevg commented on #1269
To change Azure Agent vm resolution you can use [next](https://github.com/microsoft/EasyRepro/issues/1030#issuecomment-745508929)

[2022-03-24 19:42] Alawode commented on #1006
@Shakevg Thanks for getting back to me. I have just been able to log into the mysignins account but when I try to go into the security info tab, it prompts for MFA asking to choose authentication options and I can't do this because MFA isn't enabled yet.

[2022-03-24 20:01] Shakevg commented on #1006
@Alawode please post the screen

[2022-03-24 20:47] Alawode commented on #1006
@Shakevg Here it is, please let me know if you can't view so that I'll re upload. Now I'm not even able to log in with seeing this
![image](https://user-images.githubusercontent.com/28281192/160007436-63381309-cc83-40ff-9954-8bfb0d160cc6.png)

[2022-03-24 23:42] jaithunsheik commented on #1269
Thanks everyone, I will try all the above option and let you know if there are any issues.

[2022-03-25 02:52] jaithunsheik commented on #1269
I did change the screen resolution but still some of the test cases failing while setting field value. Some times it gets failed by setting option set field, sometimes date, look up. Any idea about this issue?

[2022-03-25 02:54] jaithunsheik commented on #1269
Thanks @tipsey that fixed date field but still some test cases are failing as mentioned in the above comment. All the test cases works properly in visual studio but throws errors when executed in azure pipeline

[2022-03-25 11:36] Swetha-479 commented on #1280
I have tried this my sign-ins, but still this didn't for this screen. where as the same thing worked fine with the MS trial instance

[2022-03-25 17:00] Shakevg commented on #1006
@Alawode Looks like that some MFA method already configured by default for your account. Try to ask IT to help.
Please post the screen of the page with existing MFA methods (where you click button to add new MFA method).

[2022-03-25 17:07] Shakevg commented on #1280
@Swetha-479 Did you set default method to token?
Please post the screen of the page with existing MFA methods (where you click button to add new MFA method).

[2022-03-25 21:36] tipsey commented on #1269
@jaithensheik

I finally figured it out with help on this board.  You need to run all tests headless in Azure.    I forced tests to run headless with these window options and it worked!  Plus to boot they execute a tiny bit faster in headless mode:

**using System.Drawing;**

 var client = new WebClient(TestSettings.Options);
 if (TestSettings.Options.Headless)
                client.Browser.Drive

[2022-03-26 10:04] jaithunsheik commented on #1269
Hi @tipsey ,

Thanks for the approach. I tried to execute the test cases using above approach in visual studio and see that when setting the date field element click is intercepted. I have added delay but still same. Don't know how to resolve this issue :\
I did increased the screen resolution and running in headless mode as you said.

 Test method
 threw exception:
OpenQA.Selenium.ElementClickInt

[2022-03-27 23:00] jaithunsheik commented on #1269
Hi Everyone,
The issue is resolved, I changed the way all the field values are set in form by setting the data field first instead of setting at end. Thanks for everyone support. Much appreciated.

[2022-03-28 11:41] letaoana opened #1282 "[FEATURE] Add a function to take a screenshot with XrmApp"
**Describe the feature**

When using the XrmApp, need to be able to take a screenshot as is with the XrmBrowser.
**Explain why this feature is needed**

The current version's XrmApp instance does not cater for taking a screenshot.
**Additional context**

[2022-03-28 23:18] jaithunsheik commented on #1269
Hi @tipsey , @Shakevg , @thathi
Thanks for your support. Can you please tell me how to use azure pipeline variables to store the credentials and url , and also use them in the test cases while running  ? Currently I have hardcoded them in test setting file and would like to azure pipeline variables for more security.

Your guidance will be highly appreciated!!

Thanks,
Jaithun

[2022-03-29 16:53] Alawode commented on #1006
@Shakevg  thanks, I'll try asking IT. Unfortunately, I can't do that because I am required to sign in to view that page.

[2022-03-29 18:44] Shakevg commented on #1269
@jaithunsheik You can find detail infromation [here](https://github.com/microsoft/EasyRepro/issues/738)

[2022-03-31 06:07] jaithunsheik commented on #1269
Hi @Shakevg ,
I followed the app.config method to change to different environments. Is there any way to test how this transform is working locally in visual studio before doing it in devops?

[2022-03-31 06:09] jaithunsheik commented on #738
Hi @AngelRodriguez8008 ,
Could you please tell me how this transform file can be tested locally in visual studio before testing it in devops?
Your help is highly appreciated.
Thanks

[2022-04-06 07:17] szmeki opened #1283 "Can't open record on Grid"
I am not able to open a record with the xrmApp.Grid.OpenRecord(0).
xrmApp.Grid.SwitchView() doesn't work either. However xrmApp.Grid.Search() works fine.

**Code:**

        [TestMethod]
        public void UCITestEset()
        {
            var client = new WebClient(TestSettings.Options);
            using (var xrmApp = new XrmApp(client))
            {
                xrmApp.OnlineLogin.Login(

[2022-04-11 10:49] aniramibanerjee opened #1284 "Not able to click on Deactivate contact button"
Not able to click on Deactivate contact button .

Tried with taking xpath for Deactivate button in the pop up and trying to call the same from the class file.Stored the object refrence in element refrence.

xpath-  //*[starts-with(@id, 'dialogContentContainer')]//button[@aria-label = 'Deactivate']

Code used

                xrmApp.ThinkTime(3000);
                xrmApp.CommandBar.ClickCommand("D

[2022-04-11 11:03] aniramibanerjee opened #1285 "Not able to click on the 3 dot button >convert to > to lead"
Not able to click on the 3 dot button >convert to > to lead

tried with taking all 3 xpath and storing in element refrence and tried calling the same with clickcommand its not working ..
Xpath -
{"Convert To",                      "//*[@id='tablist_2']" },
            {"threedot",                        "//*[@id='OverflowButton_button2$button']" },
            {"tolead",                          "

[2022-04-12 20:09] rugvedgokhale12 opened #1286 "[BUG] Getting error if dataverse search is turned on. "Global search button not found". Looks like code is referencing internal old searchLauncher button?"
**Description :**
While using EasyRepro on version 9.2.x, we get error for using Relevance Search functionality. Relevance search is now renamed to Dataverse Search. Error "The Global Search button is not available.". I think the framework trying to reference old DOM element "searchLauncher" which is not available in this version as search button is now a centrally located search box.

**Reason :*

[2022-04-13 19:07] tipsey commented on #1284
Have you tried using:

1. xrmApp.Dialogs.ClickCommand....
2. using client.Browser.Driver.LastWindow();  after the popup

[2022-04-14 05:12] aniramibanerjee commented on #1284
HI @tipsey I have tried
xrmApp.Dialogs.ClickCommand("deacti");
using client.Browser.Driver.LastWindow()

and adding deacti xpath in element reference
{"deacti", "//*[starts-with(@id, 'dialogContentContainer')]//button[@aria-label = 'Deactivate']" }

[2022-04-14 09:03] aniramibanerjee commented on #1285
any update on this ?

[2022-04-14 15:57] rugvedgokhale12 commented on #750
Anyone tried to use this solution on new version 9.2.x ? For me its not working, it says, the element (subject field) is not clickable. Also, if I bypass that, the parent element tree-dropdown not found.

[2022-04-26 10:44] sukhi-xrm commented on #1279
@Roshan64Sinha Did you find a workaround to this issue at all? Thx

[2022-04-27 11:04] Shakevg commented on #1279
I suppose it is a known issue in the dynamics (we had the same issue for the USD client, and MS working on a fix). Try to create a ticket to MS.

[2022-04-27 14:08] jdpottle opened #1288 "Use Another Account not selected during Login"
When using the Login method with 5 parameters (private LoginResult Login(IWebDriver driver, Uri uri, SecureString username, SecureString password, SecureString mfaSecretKey = null, Action<LoginRedirectEventArgs> redirectAction = null)), it is supposed to click on Use Another Account if it sees the 'Pick an account' screen (attached). However, in my environment, it does not always work, sometimes t

[2022-04-27 17:04] jdpottle opened #1289 "[BUG] Use Another Account not selected during Login"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2022-04-27 17:04] #1288 closed, assigned to nobody

[2022-04-27 17:05] jdpottle commented on #1288
bug input incorrectly, opened another

[2022-04-27 18:25] bhaskarsamudrala opened #1290 "[BUG] < xrmApp.Entity.SubGrid.OpenSubGridRecord("subgridname",1) is not working>"
## Bug Report

**EasyRepro Version**
 - Develop ReleaseWave2

**UCI or Classic Web**
  - UCI (XrmApp)

**Online or On Premise**
  - Online

**Browser**
  -  Chrome
**Describe the bug**
Recently Dynamics 365 enabled to  2022 release wave 1 and xrmApp is Unable to identify subgrid and Open the Record.
threw exception:
**OpenQA.Selenium.NoSuchElementException: no such element: Unable to locate elemen

[2022-04-27 19:09] tipsey commented on #1277
I am using the default TestSettings.Options and default MFA login
 public static BrowserOptions SharedOptions = new BrowserOptions
        {
            BrowserType = (BrowserType)Enum.Parse(typeof(BrowserType), Type),
            PrivateMode = UsePrivateMode,
            FireEvents = false,
            Headless = false,
            UserAgent = false,
            DefaultThinkTime = 2000,

[2022-04-28 20:05] cTallberg opened #1291 "Which branch to use for v.9.1 onprem?"
## Question

I have Dynamics 365 Sales (UCI, Version 9.1 and On-prem).

Shall I use the [On-Prem branch](https://github.com/microsoft/EasyRepro/tree/releases/OnPremise) which is not updated in several years or shall I use the [9.1 branch](https://github.com/microsoft/EasyRepro/tree/releases/v9.1)?
Thanks!

[2022-04-29 10:43] jdpottle commented on #1290
I had this same bug, but I came up with a workaround that might work for you while we wait to get it fixed. I added these lines to my code to override the values in Microsoft.Dynamics365.UIAutomation.Api.UCI\DTO\AppElementReference.cs

[code]

[2022-05-04 04:52] cookyrag opened #1292 "Headless Mode"
Has any one been able to use Headless Mode. Inspecting the page source it appears Dynamics renders the page differently in headless Mode. For example the site navigations renders as buttons and not LIs.

Is there another setting that needs to be set to get dynamics to render the page the same

[2022-05-04 04:58] cookyrag commented on #1269
Ive  started using and extending locally and also found a problem setting fields in NOT headless when they were in a section that was off the screen. I changed the setfield source to call the hover function to force easyrepro to scroll to the field, sections that are not initially displayed are rendered differently

[2022-05-04 06:33] cookyrag commented on #1292
Found the answer in the Azure DevOps issue , you have to specify a size for headless mode

var client = new WebClient(TestSettings.Options);
if (TestSettings.Options.Headless)
client.Browser.Driver.Manage().Window.Size = new Size(1920, 1080);

[2022-05-04 06:33] #1292 closed, assigned to nobody

[2022-05-04 13:49] bugboogie666 opened #1293 "[HOW-TO] Facing the error - "Cannot read properties of undefined" when running in the headless mode"
## Question

**What is your question?**
My script is setting entity fields on the product form. When this field (e.g. contract length) is set, there is a JSscript calling async operation(code from backend) to perform some calculations on the fly within the form. Setting this field works perfectly when I use selenium and easyrepro in non-headless mode. But with using headless options I am getting t

[2022-05-05 13:32] bhaskarsamudrala commented on #1290
Thank you very much. Looking forward to have fix from the team.
How did you overRide the code, any code snippets help me.

[2022-05-06 09:32] jdpottle commented on #1290
You add the lines above to any test method where you use the xrmApp.Entity.SubGrid method.

There may be a better place to put those lines so they work for any test method, but I'm not sure where

[2022-05-06 10:54] bhaskarsamudrala opened #1294 "[BUG] < xrmApp.Grid.GetGridItems() NOT Working , Error message coming: System.Collections.Generic.KeyNotFoundException: The given key was not present in the dictionary.>"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**

    Develop ReleaseWave2

[2022-05-06 18:11] Sekhon92 commented on #1266
Hi, Did you find a solution to it?
I am struggling with the same problem.

[2022-05-06 18:17] Sekhon92 opened #1295 "xrmApp.Entity.Save() is not working -System.InvalidOperationException: 'Save Button is not available'"
Hi,

I am facing an exception while trying to save my my easy repro project.

**System.InvalidOperationException: Save Buttton is not available**

                xrmApp.Navigation.OpenSubArea("Stakeholder Profiles", "Stakeholder Individuals");
                xrmApp.CommandBar.ClickCommand("New");
                xrmApp.Entity.SetValue("firstname", TestSettings.GetRandomString(5,10));

[2022-05-06 18:30] Sekhon92 commented on #1267
Any luck with this one guys?

[2022-05-08 09:00] Shakevg commented on #1269
I don't know such way.
As solution I can suggest test in AzureDevOps without running tests: transform file, then print it content using powershell

[2022-05-08 09:08] Shakevg commented on #1290
You should add this code to any Init method depend on you test Framework.
For MSTEST: AssemblyInitialize (it is the best), ClassInitialize, TestInitialize

[2022-05-10 09:28] 1fathu opened #1296 "Inbuild command - Grid.HighLightRecord(0) is not working"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2022-05-10 12:52] 14003163 commented on #204
Hi

Can you give access to this mail id lavanya.modukuru@gmail.com to read your blog

[2022-05-25 00:25] MattAtTelstra commented on #1245
Actually found a great way to fix this this without sleeping:

 public void WaitForSavingOverlay()
        {
            while (_driver.FindElement(By.Id("mainContent")).GetAttribute("aria-live") == "polite")
            {
                Thread.Sleep(100);

            }
        }

[2022-05-25 00:25] #1245 closed, assigned to nobody

[2022-06-03 11:54] ralveshsdyn opened #1297 "[BUG] <Save Validation not working>"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2022-06-06 07:07] javed0211 opened #1298 "Login doesnt work when Remote browser options have BrowserStack capabilities"
## Bug Report

### When I add BrowserStack details in Browser Test settings. Login function doesn't enter password and keep refreshing the page to finally timeout.

However, if I remove Browserstack details from test settings and execute tests locally instead of browserstack / remotely. Login function works without any issues, not sure why this is happening.

**EasyRepro Version**
  - [ ] Microsof

[2022-06-08 13:41] Shakevg commented on #1244
[singanivinay](https://github.com/singanivinay) EasyRepro is working not only with MS Authenticator (e. g. I use Duo Mobile app), it just work if you use MS account to login into D365.
You can use any other app when you create MFA on MS site, you should just follow the instruction: https://github.com/microsoft/EasyRepro#mfa-support
Are you using MS account to login into D365?

[2022-06-10 13:25] tipsey commented on #1293
Have you tried setting the viewport in for headless mode?

using System.Drawing;

var client = new WebClient(TestSettings.Options);
if (TestSettings.Options.Headless)
client.Browser.Driver.Manage().Window.Size = new Size(1920, 1080);

[2022-06-14 13:43] Fun-2-work commented on #1283
Hi @szmeki,

did you found an answer to the problem?
I am facing this problem too.

[2022-06-23 04:12] shabfactor29 opened #1303 "The Login to D365 doesn't work with any release branch I choose"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ Y] Microsoft Dynamic

[2022-06-23 05:25] DawidBuszko commented on #1303
Hi, I just want to add some details to this issue. Whatever username and password are used in the app.config file the result is the same - the user is not logged successfully but there is a Login - Success in the log.
![devenv_LatfOO6pyf](https://user-images.githubusercontent.com/18258771/175221739-032c3d8a-efa2-4cdf-acff-632a8be772f3.png)
![devenv_6ea5lrqK4R](https://user-images.githubusercontent

[2022-06-29 10:26] rashish12 opened #1304 "Unable to open entity type record for subgrid using XrmApp.Entity.SubGrid.OpenSubgridRecord() when first column within subgrid view is of lookup type."
When attempting to open a related record via a subgrid for a given index and the first column within the subgrid view is of type lookup; the entity type associated to the lookup is opened and not the entity type for the subgrid.

For example, the following image shows a list of related _Addresses_. When we attempt to open the row via _OpenSubGridRecord_() a double-click action occurs on the second

[2022-07-14 12:33] Nathan15911512 commented on #1277
We are also facing the same issue. Unable to login through "InPrivate" mode in Edge, but in "Chrome" it's working fine.
Also not able to implement the above solution ( options.AddArgument("InPrivate"); ) because "AddArgument" is not included in "EdgeOptions" and "EdgeOptions" is a metadata file so there is no option to edit.

Could someone help us with the solution?

[2022-07-17 07:16] Shakevg commented on #1303
[shabfactor29](https://github.com/shabfactor29) Are you using Microsoft Dynamics 365 Online Version **8.2**?
I suppose that current branches is not compitable with so old version.

[2022-07-18 16:22] mrmwink opened #1305 "Unable to confirm delete of a record using Dialogs.ConfirmationDialog, latest WAVE changes possibly!?"
**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)
  - [ ] Classic Web (XrmBro

[2022-07-20 07:28] Shakevg commented on #1305
[mrmwink](https://github.com/mrmwink)
It is related to D365 changes in build 9.2.22052.152
I had this same bug, but I came up with a workaround that might work for you while we wait to get it fixed. I added these lines to my code to override the values in Microsoft.Dynamics365.UIAutomation.Api.UCI\DTO\AppElementReference.cs

[code]

You should add this code to any Init method depending on your tes

[2022-07-20 10:01] Deekshitha-R opened #1306 "Get id's of dynamic elements"
When validating forms , unable to fetch the id's of the error messages which happen to disappear after the message is seen once.Is there any way to fetch the ids?

[2022-07-20 16:22] mrmwink commented on #1305
Hi, yes that's the one, I made the exact same change myself yesterday, not sure if this is the corect solution hence my raising it in case I was missing something at a lower level in the code base!

Thanks

[2022-07-20 18:53] Shakevg commented on #1306
[Deekshitha-R](https://github.com/Deekshitha-R) Could you explain more detail and provide steps, code and a screenshot

[2022-07-21 09:45] haidykhaled commented on #939
hello, did you find any solution for this please? @renzo305

[2022-07-21 16:51] haidykhaled opened #1307 "can't deal with file explorer when clicking "import from excel""

[2022-07-21 18:26] Shakevg commented on #939
[renzo305](https://github.com/renzo305), [haidykhaled](https://github.com/haidykhaled)
Try this https://stackoverflow.com/a/65929899/8951897

[2022-07-23 19:10] atear10 opened #1308 "[FEATURE] SetValue for Rich text editor memo field type"
**Describe the feature**

Add functionlity to add text data to multi line field type which is using Rich text editor

**Explain why this feature is needed**

Due to this automation for fields which is using Rich text editor is not possible.

**Additional context**

[2022-07-27 19:27] salmanaashish opened #1309 "Change Dropdown in dialog is not working"
I am trying to change state dropdown to canceled but its not working

[2022-07-29 18:12] Shakevg commented on #1309
[salmanaashish](https://github.com/salmanaashish) Please provide code that you tried, a screenshot, and page source screenshot with control.

[2022-08-02 10:18] tdashworth opened #1310 "[BUG] `OpenRelatedGridRow` fails with `element not interactable`"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2022-08-02 10:22] tdashworth opened #1311 "[BUG] `Lookup.SelectRelatedEntity` cannot find the entity name"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2022-08-02 22:33] assurity-ben commented on #1250
Hi @aliyoussefi, I've run into the same issue with the sample tests included in the package and when using the xrmApp.Grid.SwitchView() function in my own test.
[code]
Using the latest code from the `develop` branch using Dynamic 365 version below:
[code]

Any update on this issue?

[2022-08-12 05:57] Shakevg commented on #1276
@TYLEROL are you still supporing this project? Will Microsoft still plan to support it?

[2022-08-16 13:03] haidykhaled opened #1312 "can't access section buttons"
<img width="957" alt="ask" src="https://user-images.githubusercontent.com/33061769/184886163-7eb43d0c-ba74-41eb-a366-af53543ea059.png">

does any body know how to click on the highlighted button ?

[2022-08-17 14:54] microsoft-github-policy-service[bot] opened #1314 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-08-19 04:40] halada92189 commented on #1250
@aliyoussefi same issue and error as @assurity-ben ("Unable to click the View Picker") on the sample tests for UCITestOpenActiveAccount in Edge Driver 104.0.1293.54 with latest `develop` branch code. If you have any insight that would be awesome - thank you for what you and your team does!

2022 release wave 1 enabled
App name: ATMOSPHERE
Organization name: SalesInsightsPOC
SANDBOX
Server version:

[2022-08-19 05:27] bencraig82 commented on #1250
For anyone who comes across this issue when using server version 9.2.x the new package to replace this one is available on the nuget repository: https://www.nuget.org/packages/Dynamics365.UIAutomation.Api/9.2.22023.129-RW2-Preview
You'll have to enable preview to install using nuget manager in VS. Unfortunately no source available for this one but VS can decompile from the nuget package.

[2022-08-19 15:54] halada92189 commented on #1250
Confirmed, the issue is fixed when using that release! Thanks for the tip!

[2022-08-23 21:02] KNC69 opened #1315 "Lookup SetValue - input cannot be null"
I have this line of Code working perfectly in my local `xrmApp.Entity.SetValue(new LookupItem() { Name = "entitybox", Value = "Letter" });`

When deployed the same code via Devops, im getting input cannot be null.
Here is the full error message

System.ArgumentNullException: input cannot be null
Parameter name: input
  Stack Trace:
      at Microsoft.Dynamics365.UIAutomation.Browser.BrowserCommand

[2022-08-24 12:39] tipsey commented on #1312
Try  Subgrid ClickCommand

ie.

xrmApp.Entity.SubGrid.ClickCommand("Name of your Grid", "New Segment Country");

[2022-08-24 20:22] Shakevg commented on #1315
[KNC69](https://github.com/KNC69) Such an error usually means that you are trying to perform some operation (click, FindElement, ....) on the element that was not found.
Maybe some control did not load on DevOps before you try to set the value.
Did you try to add some additional waiter or just Thread.Sleep?

Also, Stack Trace shows that issue is not with xrmApp.Entity.SetValue, could you post all

[2022-08-25 13:03] KNC69 commented on #1315
When I took the screenshot before the Lookup SetValue, I can see the Control Exist.

                string screenShot = string.Format("{0}\\CreateNew.jpeg", TestContext.TestResultsDirectory);
                client.Browser.TakeWindowScreenShot(screenShot, ScreenshotImageFormat.Jpeg);
                TestContext.AddResultFile(screenShot);

               xrmApp.Entity.SetValue(new LookupItem() { N

[2022-08-31 15:33] KNC69 commented on #1315
System.InvalidOperationException: Unable to click element.
  Stack Trace:
      at Microsoft.Dynamics365.UIAutomation.Browser.BrowserCommand`1.Execute[T1,T2,T3,T4,T5,T6,T7,T8,T9](IWebDriver driver, T1 p1, T2 p2, T3 p3, T4 p4, T5 p5, T6 p6, T7 p7, T8 p8, T9 p9)
   at Microsoft.Dynamics365.UIAutomation.Browser.BrowserPage.Execute[TResult](BrowserCommandOptions options, Func`2 delegate)

At this Line

[2022-09-04 18:08] haidykhaled opened #1316 "I want to do multifactor authentication login does any one know how"
## Question

I want to do multifactor authentication login does any one know how?
I want to login with account that use the authenticator application but i don't know how.. if somebody know please help.

[2022-09-04 22:06] haidykhaled commented on #726
@tristanperper did you find any solution for logging with authentication?

[2022-09-04 22:14] haidykhaled commented on #895
did you find any solution ?

[2022-09-06 08:05] VishalaShreshta commented on #238
Can you please give access to vishalu.vs@gmail.com on - how to set up Extent Reports with an EasyRepro project

[2022-09-06 15:05] BigIan1969 commented on #1216
Am seeing this issue in version 9.2.22083.00150 is there a work around

`           int row = 0;
            xrmApp.Grid.OpenRecord(row);
`

Message: input cannot be null (Parameter 'input')

Source: Microsoft.Dynamics365.UIAutomation.Browser

Stack Trace: at Microsoft.Dynamics365.UIAutomation.Browser.BrowserCommand`1.Execute[T1,T2,T3,T4,T5,T6,T7,T8,T9](IWebDriver driver, T1 p1, T2 p2, T3 p3, T4 p

[2022-09-06 20:57] Shakevg commented on #895
[haidykhaled](https://github.com/haidykhaled) I suppose it was some configuration issue.
What issue do you have? Did you try to login mannualy with the same key generated by auth app?

[2022-09-06 20:59] Shakevg commented on #1316
[haidykhaled](https://github.com/haidykhaled) You just need to configure it https://github.com/microsoft/EasyRepro#mfa-support

[2022-09-07 08:03] BigIan1969 opened #1317 "Grids not working in 9.2 (UCI) Online"
**EasyRepro Version**
  - [x] Microsoft Dynamics 365 Online Version 9.2  online via .NET API v9.2.21084.148

**UCI or Classic Web**
  - [x] UCI (XrmApp)

**Online or On Premise**
  - [x] Online

**Browser**
  - [x] Chrome

**Describe the bug**
When I try to get the count of the currently open grid:

`
int qty= (xrmApp.Grid.GetGridItems()).Count;
`

I get the following exception

`
Message: no such

[2022-09-07 11:12] tdashworth opened #1318 "[BUG] `UCI.SubGrid.GetSubGridItemsCount(String subgridName)` fails when no records"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2022-09-12 11:12] haidykhaled commented on #1316
@Shakevg thank you,

[2022-09-12 11:20] Shakevg commented on #1316
[haidykhaled](https://github.com/haidykhaled) Please create separate issue for new question

[2022-09-12 12:01] haidykhaled opened #1319 "how to access Related Grid buttons"
i want to click on new reporting entity ..
I added this line -> xrmApp.RelatedGrid.ClickCommand("New Reporting Entity"); but it clicks on the 3 dots menu button on the right i don't know why !! eventhough it worked in another page

![image](https://user-images.githubusercontent.com/33061769/189648142-00103d7a-4106-4149-b3c6-5e9cc7908e30.png)

[2022-09-12 12:02] haidykhaled commented on #1316
@Shakevg Done

[2022-09-12 12:45] VictoriaB81 commented on #204
Hi, please give access to mail id victoriabaretto81@gmail.com. to your blog. Thanks

[2022-09-12 12:58] VictoriaB81 commented on #435
Please give access to read you blog - victoriabaretto81@gmail.com

[2022-09-12 13:20] Shakevg commented on #1319
[haidykhaled](https://github.com/haidykhaled) I suppose it is not related GRID
Did you try next
xrmApp.Entity.SubGrid.ClickCommand("[NAME]", "New Reporting Entity");

Where [NAME] from id attribute of parent control of the grid
id="dataSetRoot_[NAME]"

[2022-09-12 14:01] haidykhaled commented on #1319
@Shakevg Can you please till me what is the difference between the related grids and sub grid ?

[2022-09-13 06:31] Shakevg commented on #1319
[haidykhaled](https://github.com/haidykhaled) Different in locators that used for each grid types. As I know that Related grid located on Related tab.

[2022-09-15 19:56] ZiaRahman1 opened #1320 ""Sign in to continue" dialog popping up after Dynamics 365 CE Wave 2 2022 update"
## Question

I updated our sandbox to 2022 Wave 2 update. When I tried to run my automation, I get this popup again and again and I can't run the automation. I ran the automation on different sandbox that was not updated and it I didn't see this issue. This happens in chrome incognito mode.
![image](https://user-images.githubusercontent.com/11154264/190496601-6782406f-acda-4f5c-86ad-fc1d9f74d3b5.p

[2022-09-15 20:56] RaviYenumula commented on #1320
Yes one of my colleague mentioned he come across the same error after Wave 2 update. I didn't get chance to investigate yet but I will find more details about it.
Worth trying the following options
1) check if it is same issue in both incognito mode and normal mode
2) try enable the cookies and see if that helps any thing.

Sorry not much helpful but I will come back to as soon as I get an access

[2022-09-16 00:14] ZiaRahman1 commented on #1320
Thanks @RaviYenumula for your suggestions.  Cookie settings did the trick. I set the CookieСontrolsMode to "0" in browserOptions.cs files.

[2022-09-19 12:30] jidmadhu commented on #1320
Thanks @ZiaRahman & @RaviYenumula . This really helped!

[2022-09-22 20:16] asaris-lv opened #1321 "[BUG] Cannot find ".//ul[contains(@id, \"tablist\")]" on the Account form"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2022-09-22 23:42] jeffreyperater opened #1322 "[HOW-TO] <Switch to other subgrid inside My Dashboard>"
## Question

I have 4 subgrids into My Dashboard

Subgrid1, Subgrid2, Subgrid3, and Subgrid4
I look for a solution on how to switch to other subgrid.

Right now, my solution is to check the xpath for subgrid 2 but whenever I use xrmApp.Grid.OpenRecord(0) to open a record, it will open the record for subgrid1 instead of subgrid2.

Thanks in advance.

[2022-09-27 19:49] aliyoussefi opened #1323 "[BUG] Release Wave 2 2022: View Picker not selecting view."
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2022-09-27 20:23] aliyoussefi commented on #1294
This is under review and pending commit and merge into develop-2021ReleaseWave2

[2022-09-27 20:28] aliyoussefi opened #1324 "[BUG] Release Wave 2 2022: Sort not working as expected."
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2022-09-27 20:55] aliyoussefi commented on #1324
Updated XPath and sample test. working as expected pending commit and merge

[2022-09-28 01:46] #1201 closed, assigned to aliyoussefi

[2022-09-28 14:40] aliyoussefi commented on #1324
Completed with merge of PR #1325

[2022-09-28 14:40] #1324 closed, assigned to aliyoussefi

[2022-09-28 14:40] aliyoussefi commented on #1323
Completed with #1325

[2022-09-28 14:40] #1323 closed, assigned to aliyoussefi

[2022-09-28 14:52] aliyoussefi opened #1326 "[BUG] Release Wave 2 2022: UCITestAccountAddAppointment"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2022-09-28 16:02] aliyoussefi opened #1327 "[BUG] Release Wave 2 2022: UCITestAccountAddEmail Failed"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2022-09-28 16:03] aliyoussefi opened #1328 "[BUG] Release Wave 2 2022: UCITestAccountAddPhoneCall Failed"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2022-09-28 16:04] aliyoussefi opened #1329 "[BUG] Release Wave 2 2022: UCITestAccountAddTask Failed"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2022-09-28 16:05] aliyoussefi opened #1330 "[BUG] Release Wave 2 2022: UCITestAccountGetMultiSelectEmail Failed"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2022-09-28 16:05] aliyoussefi opened #1331 "[BUG] UCITestAccountRemoveMultiSelectEmail Failed"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2022-09-30 13:04] VictoriaB81 opened #1332 "Getting sign-in error when we are running automation tests"
**UCI or Classic Web**
  - [ ] UCI (XrmApp)

**Online or On Premise**
  - [ ] Online

**Browser**
  Chrome

Issue Description:
We are using EasyRepro framework with C# selenium in our solution to automate test cases.
We run the tests in Azure pipeline.
We are running our automation scripts on Windows parallel installed on MAC machine.
When we are running automation tests we are getting below sign

[2022-10-03 20:34] tipsey commented on #1261
Experiencing this problem now

**NOTE: Installed EasyRepro-alyousse-develop-2022ReleaseWave2 and this resolved issue**

**2022 release wave 2 enabled**
Server version: 9.2.22093.00184
Client version: 1.4.4799-2209.3

Code:

xrmApp.Navigation.OpenSubArea("Accounts");
xrmApp.Grid.SwitchView("Sites"); //FAILS HERE

Test method Sanity.SanityTests.MyTest threw exception:
OpenQA.Selenium.NoSuchElementEx

[2022-10-04 16:00] tipsey commented on #1267
2022 release wave 2 enabled
Server version: 9.2.22093.00184
Client version: 1.4.4799-2209.3

EasyRepro-alyousse-develop-2022ReleaseWave2

Getting problem now either headless or not now.

Message:
Test method Sanity.SanityTests.MyTest threw exception:
System.InvalidOperationException: Sequence contains no elements

  Stack Trace:
BrowserCommand`1.Execute[T1,T2,T3,T4,T5,T6,T7,T8,T9](IWebDriver drive

[2022-10-06 10:31] ghost commented on #1246
Implemented your change and verified that it works.

[2022-10-11 14:56] chandramohand opened #1333 "Is there any built in method to close the app?"
Is there any built in method to close the app?
Where I am running the tests in Scenario Outline for different user roles, at the end I am trying to use dispose or close and tried quit also. Finally I used to command line Chromedriver kill, where it clears from the task manager, but still chrome browser remains.

Could you please anyone help me.
code snippet for close app:
public static XrmApp Clos

[2022-10-13 20:32] chandramohand opened #1334 "I am using specflow, Easy Repro, Selenium and C#, facing issue while closing app,"
I am using Specflow, Easy Repro, Selenium and C#, facing issue while closing app,
To createapp I am using the following method.
 public static void AdfsLoginAction(LoginRedirectEventArgs args)
        {
            args.Driver.FindElement(By.Name("passwd")).SendKeys(args.Password.ToUnsecureString());  //Input webelemnt has been changed from Password to Passwd
            args.Driver.ClickWhenAvail

[2022-10-14 08:00] RaviYenumula commented on #1334
@chandramohand
You can close the browser AfterScenario using the following dispose method.
xrmApp.Dispose();

Hope that helps

[2022-10-14 14:03] chandramohand commented on #1334
Hi @RaviYenumula, Thanks for your reply.
The issue has been resolved while initialling the webdriver xrmApp declared as Private, I was unable to quit that browser.
Once declared as public its working fine.
Thanks,
Chandra.

[2022-10-14 20:28] RaviYenumula commented on #1334
@chandramohand  Glad it sorted out.

[2022-10-17 02:34] BinduJay opened #1335 "[BUG] ClearValue for LookUp control is not working"
ClearValue for a LookUp field is not working.
_xrmApp.Entity.ClearValue(new LookupItem() { Name = fieldname });

[2022-10-17 02:40] #1335 closed, assigned to nobody

[2022-10-17 02:44] BinduJay opened #1336 "[HOW-TO] How to clear value of a lookup item within a XrmApp Dialog as ClearValue does not exisit in Dialogs"
## Question

I have a lookup item within a dialog. I am able to set value using Dialogs.SetValue however there is no ClearValue for Dialogs. Please help.
![image](https://user-images.githubusercontent.com/90091454/196078141-65ae9f28-c5b3-4edb-9cc0-4fd0db62d2a1.png)

[2022-10-17 10:14] MasemolaCol commented on #1283
I am also experiencing the same issue. How do I resolve this error?

[2022-10-17 16:38] brnbrzl opened #1337 "[HOW-TO] CREATE USER FROM THIRD PARTY URL THEN VERIFYING IN D365 ENVI"
##1337

I want to create an Account record from our third-party URL. The question is where do I put my code? 'coz the one below does not work. Hope someone can help me. Thanks!

[TestMethod]
        public void CreateSampleAccout(LoginRedirectEventArgs args)
        {
            var client = new WebClient(TestSettings.Options);
            using (var xrmApp = new XrmApp(client))
            {

[2022-10-18 08:09] rohitjadhavmsft opened #1338 "How to resolve sing in pop up issue"
## Question

I am getting follow screen while UI test is running for MDA.  Here is the piece of code I use to sign in into dataverse environment and then launch MDA. Initial sing in session work fine but while test case is clicking through MDA suddenly another sign in pop up comes.

Here it is https://ibb.co/dBw7pbn

It looks like initial session is not maintained. Can you confirm is if I need to

[2022-10-19 06:43] Shakevg commented on #1338
@rohitjadhavmsft Did you try https://github.com/microsoft/EasyRepro/issues/1320#issuecomment-1248775349 ?

[2022-10-19 09:42] Shakevg commented on #1337
@brianb23 Could you explain what issue you have?
What error did you get?

[2022-10-19 12:36] brnbrzl commented on #1337
The code works, I just needed to do some tweaks on my codes. My question right now is how I open the newly created Account/Contact in D365? Please see below for the process.

1. Create Account/Contact using our third-party URL
2. Verifying that created Account/Contact record in D365

I just wanted to do those 2 steps in one run of the script. Thanks!

[2022-10-20 05:27] Shakevg commented on #1337
@brianb23 You can use something like this to check accoun\contact (where "name" - account name attribute)
https://github.com/microsoft/EasyRepro/blob/develop/Microsoft.Dynamics365.UIAutomation.Sample/UCI/Read/OpenAccount.cs

[code]

[2022-10-21 16:38] brnbrzl commented on #1337
I would like to try this one, but our environment has set up as the View for "My Account" for an instance is hidden. The only way you can open the created Account record is via the Advance Find. And if I create an Account from third-party URL, the account creator is not set as endUser, it's different User. So the way that I think of is using query "created on = today". If you can help me with this

[2022-10-21 18:24] Shakevg commented on #1337
Advanced search is not covered, for now, you can just implement this method yourself

[2022-10-24 03:46] brnbrzl commented on #1337
I will try this one. Thanks. So we don't have yet covered the Advance Find functionality for now?

[2022-10-25 17:09] chandramohand commented on #1292
Hi @Cookyrag, Me too facing the issue, but where in my Testsettings.cs I am already passing Headless value False.  If put this condition while initializing the client it wont pick.  Please let me know what you declared in options.  Please clarify.
My code in Testing.cs
public static BrowserOptions Options = new BrowserOptions
        {
            BrowserType = (BrowserType)Enum.Parse(typeof(Brows

[2022-10-27 13:53] tdashworth commented on #1310
`XrmApp.Grid.OpenRecord(index);` works instead.

Closing.

[2022-10-27 13:53] #1310 closed, assigned to nobody

[2022-10-29 18:25] Shakevg commented on #1337
Yes

[2022-10-29 18:25] Shakevg commented on #1337
[Microsoft.Bcl.AsyncInterfaces](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered)

[2022-10-31 21:34] tipsey commented on #1216
I am also getting issue on xrmApp.Grid.OpenRecord(0);
2022 release wave 2 enabled
Server version: 9.2.22103.00172

OpenQA.Selenium.NoSuchElementException: No records were found in the grid.

  Stack Trace: 
BrowserCommand`1.Execute[T1,T2,T3,T4,T5,T6,T7,T8,T9](IWebDriver driver, T1 p1, T2 p2, T3 p3, T4 p4, T5 p5, T6 p6, T7 p7, T8 p8, T9 p9) line 138
BrowserCommand`1.Execute(IWebDriver driver) line 

[2022-11-01 12:27] tipsey commented on #1216
I think I found a solution by implementing a fix from ReleaseWave2 patch 1.  It worked for me

https://github.com/microsoft/EasyRepro/pull/1186/commits/27ee5a91936b8d2fd75d6b342a904f31ab40ad42

**WebClient.cs**

internal BrowserCommandResult<bool> OpenRecord(int index, int thinkTime = Constants.DefaultThinkTime, bool checkRecord = false)
        {
            ThinkTime(thinkTime);
            retu

[2022-11-01 12:30] tipsey commented on #1283
See this thread [(https://github.com/microsoft/EasyRepro/issues/1216)]

[2022-11-01 14:54] rohitjadhavmsft commented on #1338
Yes, that is helping but I have to manually enable the third-party cookie on the chrome instance created by Ui test. I am looking for ways to set it programmatically. I came across var [CookieСontrolsMode](https://github.com/microsoft/EasyRepro/blob/46dbe57e5e07254b960baa05bcf5ac45d76cbd10/Microsoft.Dynamics365.UIAutomation.Browser/BrowserOptions.cs)

and by setting it to 0 didnt help. Here is wha

[2022-11-03 12:29] BigIan1969 opened #1339 "[FEATURE] Ability to specify implicit + explicit timeouts"
**Describe the feature**
Can we have properties/methods to set the implicit/explicit timeouts used by the API?

**Explain why this feature is needed**
It would enable people to tune test scripts to their own needs instead of being stuck with the catchall of waiting for a hard coded timeout.

**Additional context**
These are exposed in selenium so why not pass them on

[2022-11-03 14:52] adambarath commented on #1317
Hi,

In my opinion it could be fixed by removing `//div[@data-automationid='ListCell']` postfix from `{ "Grid_Rows"           , "//div[@data-id='grid-container']//div[@data-automationid='ListCell']"},` at Microsoft.Dynamics365.UIAutomation.Api.UCI.AppElements.Xpath *(Line 414, Commit 031ccfeb )

What do you think? Did Microsoft remove automationids?

[2022-11-04 15:27] Sumit4039 opened #1340 "ISSUE with EasyRepro - Azure DevOps command failure: open sub area"
I can not run any **UItest in Azure DEVOps where I need to open subarea**, for the cases where no need to open sub-area  are running in azure devops pipeline.  But running locally is working fine.

{
xrmApp.Navigation.OpenApp(UCIAppName.Sales);
xrmApp.Navigation.OpenGroupSubArea("Sales", "Account");
and
xrmApp.Navigation.OpenSubArea("Sales", "Accounts");
}

above code lines for sub area are not wo

[2022-11-07 16:02] Shakevg commented on #1338
[rohitjadhavmsft](https://github.com/rohitjadhavmsft) Did I correctly understand the set CookieСontrolsMode = 0 is not enabled third-party cookie?
This is mean that google changes this option in the latest version and needs to investigate what new option should be changed, then update the EasyRepro code or use your options to create a chrome driver instance.
Steps described here https://stackoverf

[2022-11-09 14:02] Sumit4039 opened #1341 "[BUG] <EasyRepro : Unable to open subarea in Azure DevOps Pipeline.>"
I can not run any UItest in Azure DEVOps where I need to open subarea, for the cases where no need to open sub-area are running in azure devops pipeline. But running locally is working fine.

{
xrmApp.Navigation.OpenApp(UCIAppName.Sales);
xrmApp.Navigation.OpenGroupSubArea("Sales", "Account");
and
xrmApp.Navigation.OpenSubArea("Sales", "Accounts");
}

above code lines for sub area are not working,

[2022-11-09 14:02] Sumit4039 commented on #1340
Raise it as Bug for better attention

[2022-11-09 14:02] #1340 closed, assigned to nobody

[2022-11-15 06:44] brnbrzl commented on #1337
Hi! I noticed that the GlobalSearch is not working. Is it because of the Release Wave  2 update?

public void UCIOpeningContactRecord()
        {
            var client = new WebClient(TestSettings.Options);

            using (var xrmApp = new XrmApp(client))
            {
                xrmApp.OnlineLogin.Login(_xrmUri, _username, _password, _mfaSecretKey);
                xrmApp.Navigation.Ope

[2022-11-23 09:16] JakeObrienMercuryXrm opened #1343 "[HOW-TO] Headless mode always fails Chrome"
When running the solution in Chrome headless mode the tests always fail due to being unable to find elements but the element that it can't find always changes with each run.

When running the exact same solution not in headless mode the tests all pass as expected.

Why would this happen?

[2022-11-24 15:03] brnbrzl opened #1344 "HOW TO OPEN/CHANGE LOOKUP VIEW"
##1344

My concern is that I need to input a value in the lookup field, but I need to change first the lookup view so I could search for a record.

1. Click lookup field and select Advanced lookup

<img width="360" alt="image" src="https://user-images.githubusercontent.com/57432250/203814987-19aeac68-9b00-4e05-9e65-3c252a04ee06.png">

2. Change the view where I can see the list of the record. From

[2022-11-24 20:01] Shakevg commented on #1337
[brianb23](https://github.com/brianb23) Create separate issue

[2022-11-24 20:02] Shakevg commented on #1337
[brianb23](https://github.com/brianb23) Create separate issue

[2022-11-25 20:21] tipsey commented on #1343
[https://github.com/microsoft/EasyRepro/issues/1269#issuecomment-1079453603](url)

[2022-11-25 20:23] tipsey commented on #1343
Make sure you have this in each Test Method

using System.Drawing;

var client = new WebClient(TestSettings.Options); if (TestSettings.Options.Headless) client.Browser.Driver.Manage().Window.Size = new Size(1920, 1080);

TestSettings.cs
Headless = true,

[2022-11-28 10:57] chandramohand commented on #1267
Hi All, Is this issue got resolved?  Even I am using the latest version or pre-release version still throws error.
Please update if any solution for this.
Thanks and Regards,
Chandra.

[2022-11-28 19:12] #1314 closed, assigned to nobody

[2022-11-30 05:58] jsaikartheek143 opened #1345 "[HOW-TO] <Short Question Description>"
## Question

**What is your question?**
How to select the Open record in CRM AUtomation