[2018-11-14 16:26] kamranRehman opened #245 "composite control data verification issue"
Hi,

I've a address control which is validating fine on 9.02 version successfully, however on 9.02 beta, the validation always FAILED for me.

following code I'm using to setup the composite control.

 var primaryAddress = new List<Field>
                        {
                            new Field() {Id = "address1_line1", Value = "A"},
                            new Field() {Id = "address1_l

[2018-11-15 16:31] TYLEROL commented on #245
Thanks for raising this issue @kamranRehman. One quick item of clarification - is the only different in your testing the branches of EasyRepro code? Testing against the same Dynamics organization?

We'll start taking a look and look forward to hearing back from you.

Regards,
Tyler

[2018-11-15 23:27] TYLEROL commented on #225
Hello All,

We've updated the Entity.Save() operation in the beta/v9.0.2 branch to handle validation on save for field requirement error messages and general error dialogs (e.g. Business Process Error, Generic SQL Error). This method currently runs under the assumption that the save should be successful. If it is not, an InvalidOperationException will be thrown with error text from either the stat

[2018-11-16 09:11] PallaviSrivastava05 commented on #225
How to clear data from any field?

[2018-11-16 09:12] PallaviSrivastava05 opened #247 "Clear data from field"
How to clear data from the field?

[2018-11-16 09:50] bwmodular commented on #225
Hi @TYLEROL,
that works perfectly in my test case that was failing before.

For people who are using MSTest, rather than NUnit (which has it's own Assert.Throws method) a nice way to test that an exception is raised is to add the MSTestExtensions library from Nuget.

If you then extend your test class from BaseTest, you can then use sytax like this:
`Assert.Throws(() => _xrmBrowser.Entity.Save(0),

[2018-11-16 12:03] SindhujaElangovan commented on #187
Hello Tylerol,

Good Day.

I'm facing the same issue "System.InvalidOperationException: unknown error: Xrm is not defined" but in a different browser-Firefox.
I'm getting this error once after the username and password is entered automatically it gets stuck in the Stay Sign In dialog and it is not redirected to the CRM home page.

![firefox page](https://user-images.githubusercontent.com/45093818/

[2018-11-16 17:06] bwmodular opened #248 "Entity.CloseEntity() fails if there are unsaved changes"
If there are unsaved changes on a form, Entity.CloseEntity() fails with this error:
_unexpected alert open: {Alert text : Your changes have not been saved. To stay on the page so that you can save your changes, click Cancel.}_

In some cases, you want this to be the case, but there are definitely scenarios when you want the action to close the form and dismiss the alert.

For example, if you have

[2018-11-17 10:02] triciasinclair opened #252 "OpenSubArea("Project Service","Customers") not working in UCI"
Ive been able to open the Project Service App but trying to open the customers area produces the error "Object reference not set to an instance of an object.". It cannot seem to locate the area "Project Service". Using in the CRM Hub works though. Is this an issue or is the syntax (  xrmApp.Navigation.OpenSubArea("msdyn_ProjectServiceArea", "Customers");) for this incorrect.

[2018-11-19 05:53] SindhujaElangovan commented on #187
@TYLEROL

[2018-11-19 13:34] TYLEROL commented on #252
Hi @triciasinclair,

The expected syntax here would be to supply the display names for the areas you wish to select. If the name of your parent area is '**Project Service**', and you're trying to access an entity named **'Customers**' that is visible, then the following should be the correct syntax.

`xrmApp.Navigation.OpenSubArea("Project Service", "Customers");`

It looks like you may have tried

[2018-11-19 13:35] TYLEROL opened #253 "Stay Signed In Dialog is not clicked in Firefox during Login"
Good Day.

I'm facing the same issue "System.InvalidOperationException: unknown error: Xrm is not defined" but in a different browser-Firefox.
I'm getting this error once after the username and password is entered automatically it gets stuck in the Stay Sign In dialog and it is not redirected to the CRM home page.

![firefox page](https://user-images.githubusercontent.com/45093818/48620039-8fc95b8

[2018-11-19 13:55] TYLEROL commented on #253
@SindhujaElangovan - I've added a small change to the default login method to try and mitigate this issue for you in the Firefox browser.

Please pull down the latest changes for the beta/v9.0.2 branch and let me know if you still have issues with the Stay Signed In dialog not being clicked.

Best Regards,
Tyler

[2018-11-19 14:01] kamranRehman commented on #245
Yes I'm using the same EASYREPRO code in the same Dynamics Organization.....

[2018-11-19 14:06] kamranRehman commented on #252
Hi Tyler,

I've been facing the same issue while accessing one of custom entity.

Following is code I've been using, I'm on BETA 9.02 version.

  {
            var client = new WebClient(TestSettings.Options);
            using (var xrmApp = new XrmApp(client))
            {
                xrmApp.OnlineLogin.Login(_xrmUri, _username, _password, client.ADFSLoginAction);
                xrmApp.Thin

[2018-11-19 14:56] kamranRehman commented on #178
Hi Tyler,

This even not working xrmBrowser.Entity.ClickSubgridGridViewButton(subgridName)
exception gets generated, right now I don't have that exception details with me.

Instead I've done the following to move forward.

 xrmBrowser.Navigation.OpenRelated("ABC");
 xrmBrowser.Related.SwitchView("XYZ",4000);
xrmBrowser.Driver.WaitForPageToLoad();
 List<GridItem> allergies = xrmBrowser.Related.GetG

[2018-11-19 16:44] triciasinclair commented on #252
Hi Tyler,

Yes. I've tried this. However, it doesnt work. I found if I add an additional area that it will work. This means there is a defect which can be replicated by trying to open a sub area in an app with one area. The opensubarea method will not be able to find the area.

[2018-11-19 21:15] TYLEROL commented on #252
I'll try to see how quickly we can get a fix out for this, but it looks like this may have broke in the latest 9.1 update for Dynamics 365.

@triciasinclair and @kamranRehman - Can you confirm that your Dynamics organizations are running on version 9.1 as well?

Thanks,
Tyler

[2018-11-20 08:47] kamranRehman commented on #252
Hi Tyler,

Yes, the organization is running on 9.1.

Thanks.
-Kamran.

[2018-11-20 10:06] SindhujaElangovan commented on #253
@TYLEROL - Thank You for the update.

Will let you know once after checking the beta/v9.0.2.

[2018-11-21 13:29] SachchinAnnam opened #255 "Reporting capability"
Hello Team,
Do we have any reporting capability in EasyRepro like:

When systems toggle between controls  - need to trace them in excel
When test is executed need to save the executed test results in excel.

I tried with EPPlus :https://github.com/JanKallman/EPPlus
But the test scenario fails without any errors

[2018-11-21 13:36] spasupuleti27 commented on #255
I have tried generating HTML Report and it working by installing few package  (N Unit, N Unit Cosole.) and including the configuration in OneTime Setup, Afterclass and TearDown
Below is the sample example:

using Microsoft.VisualStudio.TestTools.UnitTesting;
using Microsoft.Dynamics365.UIAutomation.Api;
using Microsoft.Dynamics365.UIAutomation.Browser;
using System;
using System.Collections.Generi

[2018-11-21 18:53] veerasekharbathala opened #256 "UI test methods for multiple languages"
Hi Team,

Our CRM users are using D365 online with English and French languages. Do we need to create separate UI test methods for both English and French versions?
Or would it be possible to use same UI test methods to test for both English and French versions based on user settings?

Ex: Below command is using display name to open subarea. Would it be possible to use these commands to pass schem

[2018-11-22 14:49] nehagupta08 opened #257 "Dynamics CRM V9 UCI Automation"
Does Github support UCI automation as well, if yes please let me know how i can get it working. I am currently working on Dynamics CRM version 9.1.0.643 on,ine

[2018-11-22 23:14] bwmodular opened #258 "Make default think time a browser option rather than a constant"
An enhancement request: Rather than having default think time as a constant, I think it should be configurable as a browser option. That way, if you want to change the default think time, you can just set it once when instantiating the browser, rather than having to over-ride the default every time you make a command. You'd still have the option to over-ride when calling individual methods, but yo

[2018-11-26 11:00] SachchinAnnam opened #259 "How to find and open a specific record from a view?"
Hello,
I am looking for some help for the below scenario:
Added few records in the Contact Entity using easy repro and i would like to find those records by passing their Names/ID as a parameter and open it.

Please help.

[2018-11-26 15:25] TYLEROL commented on #257
Hello @nehagupta08 - We do support UCI automation. The core APIs for UCI are in the Microsoft.Dynamics365.UIAutomation.Api.UCI project of the **beta/v9.0.2** branch.

There is an active issue #252 currently open that may present some problems with initial navigation that started occurring in the v9.1 update. We're working on getting that fixed and will post an update as soon as we can.

Best Regar

[2018-11-28 10:31] kamranRehman commented on #252
Hi Tyler,

Wondering, did you get a chance to look into this and how long do you think you guys would be able to provide this fix for this issue?

Thanks.
-Kamran.

[2018-11-29 18:24] Testirovishik opened #261 "In Browser.cs bug with internal constructor"
I need to use driver constructor to run tests with Selenium Grid.

This is a workaround I am doing using reflection

[code]

but should be simply doing this with a public constructor:

[code]

[2018-12-03 23:49] TYLEROL commented on #252
@kamranRehman and @triciasinclair - Thank you both for your patience on this.

I've submit a PR for a fix to the existing behavior. I am still reviewing with colleagues internally however on whether to simply restore the existing functionality, or whether we should adjust the design to handle scenarios in which the Sitemap contains multiple references to a single entity (e.g. Accounts under both C

[2018-12-03 23:59] TYLEROL commented on #253
@SindhujaElangovan - Were you able to test out the latest change in the beta/v9.0.2 branch to see if this resolved your issue?

Thanks,
Tyler

[2018-12-04 00:23] TYLEROL commented on #256
Hello @Veerachettebhaktula - Currently, we only support Dynamics 365 Online with the English language. We're doing our best to make each API language independent, however you may encounter issues in some scenarios due to display name changes.

To answer your initial question, you would need to create separate UI methods for both English and French versions based on our current design. In many of t

[2018-12-04 00:23] #256 closed, assigned to nobody

[2018-12-04 00:27] TYLEROL commented on #261
Thanks for raising this @Testirovishik. We'll review this scenario and provide an update as soon as we can.

Best Regards,
Tyler

[2018-12-04 11:36] SachchinAnnam commented on #259
I was able to search the record.

[2018-12-04 11:36] #259 closed, assigned to nobody

[2018-12-04 14:18] SachchinAnnam commented on #255
@spasupuleti27 : which version of ExtentReports you've used in your solution. While trying your code it throw below errors:

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1729	'ExtentReports' does not contain a constructor that takes 1 arguments	Microsoft.Dynamics365.UIAutomation.Sample	C:\EasyRepro-releases-v9.0_ExtentReport\Microsoft.Dynamics365.UIAutomation.Sample\Web\Cr

[2018-12-04 22:51] TYLEROL commented on #252
@triciasinclair and @kamranRehman - We've merged a fix into the beta/v9.0.2 branch for this issue.

Please let us know if you encounter any further issues. In scenarios where duplicate sitemap sub-areas are present, we only add the first item to the collection and will click that (e.g. so if Contacts exists under both Sales and Service and the Sales header came first, that's the Contact entity ele

[2018-12-04 22:51] #252 closed, assigned to nobody

[2018-12-05 08:49] spasupuleti27 opened #264 "How to clear a value in 'search field' in a grid"
I am trying to clear a value in the search field in a grid. can please help me out on this.
trying on D365
![image](https://user-images.githubusercontent.com/42530506/49501286-81ba7c80-f898-11e8-8592-a58e3bff5099.png)

[2018-12-05 18:40] Testirovishik commented on #261
Awesome! Thank you for quick reply!

[2018-12-05 19:18] TYLEROL commented on #264
Hello @spasupuleti27 - Are you looking for just a simple method to remove the text? Or something in which you want to clear and enter a new search term?

I thought we had this functionality, but it looks like it was restricted to Lookups. I'll try to get the above scenarios added for Grid searching as well for both WebClient and UCI.

If you have a scenario outside of the two I described above, pl

[2018-12-05 20:22] kamranRehman commented on #252
Hi Tyler,

Thanks for providing the fix, i will check and will get back to you in case of any questions and or queries.

Thanks.
-Kamran.

[2018-12-05 20:23] triciasinclair commented on #252
Thanks Tyler! I’ll have a look and let you know as well.

[2018-12-06 05:22] spasupuleti27 commented on #264
Hi @TYLEROL , thanks for quick response.
I would like to clear the existing item and search for the new item in the "Search field" in grid.
For time being I am refreshing the form and entering the new search. But, it will be good if i could get a better solution/fix so that i can reduce the time of execution.

[2018-12-06 18:33] adhawan325 commented on #96
@kamranRehman - Kamran - did you ever figure this out?  What was the fix?  We have the same issue.

[2018-12-06 18:36] rbasten commented on #96
Hi, I've not tried this in version 9, but will try next week and will let you know if my previous fix (with other command ofcourse) can resolve this as well.

Kind regards,

[2018-12-06 20:03] kamranRehman commented on #96
In order to by pass this issue temporary, when you run your automation and when this particular dialog appears, you just need to manually click the YES button in order to MOVE FORWARD, this is the only way I've been doing in order to proceed until we get the fix from GITHUB.

Thanks
-Kamran.

[2018-12-06 20:05] kamranRehman commented on #96
Hi rbasten,

Not sure what other command you're referring to? can you please put code snippet for that so that either myself or adhawan325 will give it a try?

Thanks.
-Kamran.

[2018-12-06 22:13] TYLEROL commented on #261
Hello @Testirovishik - We're currently working on changes for version 9.1 support for both WebClient and Unified Interface. We don't have an ETA for when we can get this change added in as of yet.

It may be quicker if you're able to put a change together and submit a PR. We could quickly review that and merge it with the appropriate branch.

If not, we'll try to get to this as soon as we can.

Wa

[2018-12-06 22:45] TYLEROL commented on #96
@kamranRehman - Could you share your code from xrmBrowser.LoginPage.ADFSLoginAction?

Thanks,
Tyler

[2018-12-10 10:06] Dolph-Dragon commented on #248
@bwmodular

I did have the same issue.
There is a way to work around those alert popup Windows.

In my case this worked :

    IAlert alert = xrmBrowser.Driver.SwitchTo().Alert();
    alert.Accept();

Best regards
Dolph

[2018-12-10 10:12] bwmodular commented on #248
@Dolph-Dragon - many thanks for the workaround - that'll work perfectly for now.

[2018-12-11 14:34] hasinthanagodavithana commented on #61
Hi,

In order to this to work in the Activities window, you need to switch the view first. The activity page is construct in an iframe. The filter is in that iframe and you need to change the driver focus the iframe first then you can identify the elements.

Try below code:

                xrmBrowser.Driver.SwitchTo().Frame(xrmBrowser.Driver.FindElement(By.Id("contentIFrame0")));

[2018-12-13 06:57] spasupuleti27 commented on #264
Hi @TYLEROL, can i know when can i expect the solution for the enhancement?

[2018-12-13 07:04] spasupuleti27 commented on #255
@SachinAnnam, version that we used for Extent report is 2.41.0.
try to import all these package if relevant to ur code and they try:
![image](https://user-images.githubusercontent.com/42530506/49921369-59073800-fed3-11e8-81c6-a500312d782e.png)

[2018-12-13 20:44] TYLEROL commented on #264
Hello @spasupuleti27 - My apologies for the delay in getting to this one. After getting a chance to look at this today, the enhancement was a bit easier than anticipated.

The beta/v9.0.2 branch has been updated for both the WebClient and Unified Interface.

By default, the Grid.Search("search criteria") method will clear the search box for both WebClient and Unified Interface scenarios.

I've als

[2018-12-13 20:44] #264 closed, assigned to nobody

[2018-12-13 21:16] TYLEROL commented on #257
@nehagupta08 - The issue from #252 has been resolved.

Have you been able to test out the Unified Interface, or do you have any specific questions about how to use it? You'll want to make sure you're using the beta/v9.0.2 branch of EasyRepro as that contains the additional project to support UCI automation.

Regards,
Tyler

[2018-12-13 21:16] #257 closed, assigned to nobody

[2018-12-13 21:17] TYLEROL commented on #253
@SindhujaElangovan - I am going to mark this as resolved for now. We are using similar automation internally with the Firefox browser and currently have not faced this issue.

If you still encounter problems, please re-open this issue and let us know.

Best Regards,
Tyler

[2018-12-13 21:17] #253 closed, assigned to nobody

[2018-12-14 20:41] TYLEROL commented on #163
@lshraybman - Sorry for not checking back in on this one. We have not seen a response, so I hope this means that the NuGet change worked to your satisfaction.

If not, please let us know right away by re-opening this issue and the current status of any issues should they exist.

Best Regards,
Tyler

[2018-12-14 20:41] #163 closed, assigned to nobody

[2018-12-14 20:42] #175 closed, assigned to nobody

[2018-12-15 18:01] nasrinshaik opened #271 "How to click on footer buttons after opening a lookup"
I am able to open look up dialog using xrmStuff.Entity.SelectLookup("lookup div id");
which clicks look up more records and launch inline dialog frame
Now i want to click on remove value button

I have added this code after clicking on 'Launch More records' button
Browser.ThinkTime(2000);
                    IWebElement frame = driver.FindElement(By.Id("InlineDialog_Iframe"));

[2018-12-16 07:17] nasrinshaik commented on #271
Able to achieve this using
xrmStuff.Entity.SelectLookup("lookp div id");
xrmStuff.Lookup.Remove();
xrmStuff.Entity.SetValue(new LookupItem { Name = "lookup divid", Value = "xyz" });

JFYI:
{ "LookUp_Remove", "id(\"btnRemove\")"} is changed to { "LookUp_Remove", "id(\"btnRemoveValue\")"}

[2018-12-16 07:17] #271 closed, assigned to nobody

[2018-12-17 05:49] SindhujaElangovan opened #272 "Azure Key"

[2018-12-17 05:50] #272 closed, assigned to nobody

[2018-12-17 05:53] SindhujaElangovan commented on #253
@TYLEROL
Sorry for the delay in response, was busy.

Could you please guide me how to pull the latest changes for the beta/v9.0.2 branch.

[2018-12-18 01:53] TYLEROL commented on #253
@SindhujaElangovan - You can do this in the UI from Visual Studio Team Explorer. In Team Explorer, select Branches, and then double-click the beta/v9.0.2 branch in your list to check it out (it should show as your active branch in the lower right of the Visual Studio footer):

![image](https://user-images.githubusercontent.com/29415524/50126977-cc42de00-0234-11e9-89bd-3ae07dd738c8.png)

![image](h

[2018-12-18 06:59] rselva22 opened #275 "How to configure CICD on VSTS for Easyrepro"
I have created scripts for Dynamic 365 using Easyrepro and now I want it to trigger the scripts from VSTS on daily basis.

[2018-12-18 07:00] rselva22 commented on #275
I want to run my UI scripts daily using VSTS. So can any one please suggest me suitable way to do it ijn VSTS

[2018-12-18 15:57] bwmodular commented on #275
Do you already have an automated CI process using VSTS, which you would like to add these tests to, or are you starting from scratch?
If you are starting from scratch, then this article details how to set up a VM to run tests automatically: https://blogs.msdn.microsoft.com/testingspot/2017/07/26/run-your-independent-automated-tests-using-vnext-build-in-visual-studio-online/

Your release pipeline

[2018-12-19 05:35] rselva22 commented on #275
Thanks for the Reply. As of now I dont have Azure environment. So I want to know how to trigger the scripts in our local VCloud from VSTS.

[2018-12-20 14:09] bwmodular commented on #275
I think that Microsoft are now offering at least one free pipeline, so you may not even need to have an Azure environment to get things going:
https://azure.microsoft.com/en-gb/services/devops/pipelines/

However, if you do want to run the process locally, the steps are going to be something like this:
1.) Install the vsts agent on the machine that you are using as your build / release server
http

[2018-12-21 14:15] SachchinAnnam opened #276 "Does EasyRepro supports Automation for New UI?"
Hello @TYLEROL ,
We've upgraded our CRM instance to New UI and in regards to UI automation, please help me to know whether easy repro supports New UI or not?

[2018-12-25 09:50] HIREN-AITC opened #277 "Activity Tab Item Count Gives Wrong value"
I have one issue here. I am creating an account Usins Automatic UI test and there is a plugin running behind to create phone call activity for that account.
But when I try to read a number of records in that grid, it gives me count 4 while it has only one records. Below is my code for the same.

_List<GridItem> items = xrmBrowser.ActivityFeed.GetGridItems().Value;
Assert.AreEqual(items.Count, coun

[2018-12-27 14:31] SachchinAnnam opened #278 "How to search for lookup for UCI automation(using v9.0.2)"
Hello @TYLEROL ,
Am using branch v9.0.2 for New UI automation, could you please help how to search for lookup items.
There are field like Country and Preferred language in the form which are of look up fields.

[2018-12-31 18:35] watsonthecat opened #279 "UCI - Clicking on related Menu"
Using _xrmapp.Entity.SelectTab("Related","Alert") to get associated Alerts to this Account (Shown at 1-2)

This opens/shows alerts related to this Account and from here, I want to click the Add New Alert button (Shown in Second Image at 3).

Doesn't seem like existing Navigation/CommandBar/Entity have controls for this - am I missing something or is this still in development?

![image](https://use

[2018-12-31 18:40] watsonthecat commented on #279
I tried _xrmapp.CommandBar.ClickCommand("Add New Alert") and that didn't work

[2018-12-31 21:45] TYLEROL commented on #276
Hello @SachinAnnam

In terms of the Unified Interface, we released support for that in the beta/v9.0.2 branch. The new Unified Interface APIs are part of the Microsoft.Dynamics365.UIAutomation.Api.UCI project. There are also samples for the Unified Interface via the Samples project UCI folder.

I also want to note that we are still working on full support for both the legacy web client and the uni

[2018-12-31 21:45] #276 closed, assigned to nobody

[2018-12-31 22:40] TYLEROL commented on #278
Hi @SachinAnnam,

For the Unified Interface, we currently support setting values for Lookups, however some features are not yet available compared to the legacy web client.

`xrmApp.Entity.SetValue({Name="lookfieldname", Value="LookupValue"});`

For other functionality, like interacting with the Lookup Page in the Unified Interface, we hope to include in a future update to support the v9.1 release

[2018-12-31 22:47] TYLEROL commented on #279
Thanks for raising this issue @watsonthecat. You are correct in your findings, these items are in the backlog for development as part of our work to support the latest v9.1 release of Dynamics 365 and to bring parity between legacy web client capabilities and the new Unified Interface.

I don't have an ETA to provide at this time, but I'll update again as soon as I have more information to share.

[2019-01-02 16:29] hasinthanagodavithana opened #280 "Get no of records on a sub grid"
Hi,

I need to get the record count of a sub grid on entity form.  I can't find any method available for this purpose.  I tried this with using xpath and did not have much success yet. Can you help me on this?

Regards,
Hasi

[2019-01-03 04:13] hmatsuoka commented on #280
You can use web resources and using Web API in it. Following blog may be useful for you.
https://hihaj.com/retrieve-the-accurate-total-count-of-entities-via-dynamics-crm-web-api-6e777fae650d

[2019-01-03 05:47] krishnacs1993 opened #281 "Easy Repro integration with VSTS"
I am exploring the Easy Repro framework for Dynamics 365 CRM Automation.
Can anybody confirm if it is possible to integrate Easy Repro with VSTS and steps to do it.

[2019-01-03 09:24] bwmodular commented on #281
@krishnacs1993 Running EasyRepro tests as part of your VSTS CI process is really no different from running any other sort of test in VSTS. Configure a 'Visual Studio Test' task in your build or release pipeline which picks up your tests. You'll need the right browser to be installed on the machine on which the tests are running.
Issue #275 has some ideas to get you going in the right direction...

[2019-01-04 07:23] krishnacs1993 commented on #281
@bwmodular Thank you so much.

[2019-01-07 22:49] #170 closed, assigned to nobody

[2019-01-08 15:34] hasinthanagodavithana commented on #178
I am having the same issue and in my scenario I cannot use the OpenRelated() as the related entities menu option removed form the sitemap. The only possible way is to use xpath and navigate thorough the list.

var dataTable = xrmBrowser.Driver.FindElement(By.Id("Appointments_divDataArea"));
var recordList = dataTable.FindElements(By.ClassName("ms-crm-List-Data"));

please let me know if you guys f

[2019-01-09 11:53] krishnacs1993 opened #284 "Data Driven Testing with Easy Repro"
Hi There,

Is it possible to have **data driven testing(Pass test data from Excel)** with Easy Repro framework instead of hard coding the data in the code?

Thanks in advance.

[2019-01-09 11:54] krishnacs1993 opened #285 "Plugin or Custom workflow Testing with Easy Repro"
Hi There,

Does Easy Repro framework support Plugin or Custom workflow Testing in Dynamics 365.

Thanks in advance.

[2019-01-09 12:57] Sand-2050 opened #286 "How to search and set value for lookup field in non unified version?"
Want search for particular record. If manually done, we have to use "Look up for more records" option search for it and then Add. Not sure what to use.
xrmBrowser.Entity.SetValue(new LookupItem { Name = "elementLable", Value = "Value not present in dropdown" }). This throws No element found exception.
Neither did this work
xrmBrowser.Entity.SelectLookup("elementLable", "Value not present in dropdo

[2019-01-09 15:29] hasinthanagodavithana opened #287 "SetValue method does not work for Datetime fields"
SetValue method does not work for Date-time fields

I am trying to update the start time of activity entity which is a date time field. I tried the SetValue method but it doesn't update the field correctly. It just clear off the field existing value.  Can you please help me on this?

Regards,
Hasi

[2019-01-09 15:34] hasinthanagodavithana commented on #280
Hi,
I found a workaround for this. By using findEvelemt method you can get the number of records available on the current sub-grid view 1st page. However, it will rerun only the no of record visible in the 1st page (Max up to 10) of the sub-grid.  In my case I just wanted to see whether sub grid has only one record. So For my scenario, this works fine.

var  dataTable = xrmBrowser.Driver.FindEleme

[2019-01-09 15:34] #280 closed, assigned to nobody

[2019-01-09 15:38] TYLEROL commented on #280
Thanks for raising this @hasinthanagodavithana. I've added this to our backlog.

We're currently working on a new master branch that will support the latest v9.1 update for both the legacy Web Client and new Unified Interface. This should be available in the next three weeks.

We'll try to get a new API added in to support getting the number of records on the subgrid. At a minimum it should return

[2019-01-09 15:44] TYLEROL commented on #287
Thanks for raising this issue @hasinthanagodavithana.

As mentioned on another issue - we're currently working on a new master branch to support the latest v9.1 update for Dynamics 365. I've added this issue to our work log and will do our best to include a fix within that branch.

If you could, please let us know if this is occurirng for your tests in the Unified Interface, or the legacy web clie

[2019-01-09 15:54] TYLEROL commented on #286
Hello @Sand-2050,

For the legacy web client, you could try the following...

[code]

This should be what you're looking for. If you encounter issues, please let us know and I'll add an item to our backlog for review. We're currently working on legacy WebClient and new Unified Interface support for a v9.1 of Dynamics 365. This will also shift to a new, single master branch with the intent on suppo

[2019-01-09 16:06] TYLEROL commented on #285
Hello @krishnacs1993 - As of today, we do not _directly_ support synchronous plugins and workflows. I've added a backlog item to add an API which would allow you to call a wait action if a synchronous plugin or workflow was executed/expected.

For the legacy web client we support executing workflows via clicking on the Workflows button in the command bar to launch the workflow dialog box. After th

[2019-01-09 16:46] TYLEROL commented on #258
@bwmodular - Just confirming that we've added this to our backlog.

We're also working on a new master branch to support v9.1 of Dynamics 365. The intent with this branch will be support for multiple Dynamics versions without requiring consumers to switch between branches depending on their Dynamics version. This item is in the backlog for this update. We anticipate having this available in the ne

[2019-01-09 16:53] TYLEROL commented on #247
@PallaviSrivastava05 - We are missing an API to clear values currently.

This was added to our backlog, however we're currently working on support for v9.1 of Dynamics 365. I'll discuss with my colleagues on whether we can update the APIs to include a a ClearValue() API for both the legacy web client and new unified interface. I don't anticipate this being too much extra work, but need to verify t

[2019-01-09 17:02] TYLEROL commented on #241
Hello @lp12354 - We have very limited capabilties for Reporting currently. Some of this is similar to the lack of support for the Advanced Find UI (as Reporting shares some of this same UI).

In the sample project, there is a Reports.cs file located under \Web\Reports that may provide some help with APIs to get the report to run (a few different sample tests are available using the OOB Account Ove

[2019-01-09 17:02] #241 closed, assigned to nobody

[2019-01-09 17:23] TYLEROL commented on #234
Thanks @NicolasPrats. It looks like this post got missed earlier. I've added this as a backlog item to review with my colleagues.

We're making efforts to try and make the codebase easier to use and reduce overall effort for our consumers to utilize it. I like the idea and thank you for suggesting it.

We're in the middle of updates for v9.1 support for legacy client and unified interface, hopeful

[2019-01-09 21:12] bwmodular commented on #258
Thanks @TYLEROL. FWIW I did try to make this change myself, but got stuck - if I remember rightly this was because it's not actually possible to change the value of the constant during runtime, which is what we are effectively needing to do. A constant can only have its value set during declaration, not at runtime, So it's a bigger change than I anticipated and might need a bit more refactoring th

[2019-01-09 21:38] bwmodular commented on #284
Hi @krishnacs1993,
this isn't really a question about EasyRepro, more about data driven testing in general. If you know how to acheive data driven testing, then you can apply the same methods to any tests, whether they are EasyRepro tests or any others.
There are two main ways to do data driven testing in c#. The first, lite, version can be done in most test frameworks. For example, MSTest v2 supp

[2019-01-09 21:58] rtulaila opened #289 "Cannot login to our MS Dynamics CRM 365 OnPremise login page."
1. Updated app.Config file with Username, pwd and URL
2. Updated TestADFSLogin .cs file with login details.
Cannot login to our MS Dynamics  CRM 365 OnPremise web page
Need Help.

[2019-01-09 22:09] bwmodular commented on #285
Hi @krishnacs1993,
Can I ask what you are actually trying to achieve?
If you are wanting to test that your plugin or workflow is working as expected, I would not do this through the CRM UI, and so EasyRepro is not really what you want for this. UI testing should only ever be used (IMO) for testing things which can only be tested in the UI, as it is slower and harder to maintain than other sorts of

[2019-01-09 23:17] jordimontana82 commented on #284
+1

Re excel, I don't personally like using external data sources (like Excel) in unit tests, they can become quickly out of date and disconnected from the unit tests when the data model changes and it essentially can become a pain to maintain.  And there's no possibility to refactor either :)

[2019-01-10 07:12] Sand-2050 commented on #286
This worked! Thanks a Lot:)

[2019-01-10 09:18] PallaviSrivastava05 commented on #247
@TYLEROL
I have found a solution for the same.
I am using sendkeys and then select all and clear after finding the web element using an instance of Selenium Webdriver.

[2019-01-10 10:49] krishnacs1993 commented on #285
Thanks @TYLEROL and @bwmodular

[2019-01-10 10:50] krishnacs1993 commented on #284
Thank You @bwmodular

[2019-01-10 12:56] NicolasPrats opened #290 "beta / 9.0.2 – Unified Interface : compatibility with the new sitemap"
Hello,

The method `Microsoft.Dynamics365.UIAutomation.Api.UCI.Navigation.OpenSubArea(string area, string subarea)` is not working with the new sitemap ([the one expanded by default](https://blogs.msdn.microsoft.com/crm/2018/10/01/announcing-ui-updates-in-october-for-sitemap-and-command-bar%E2%80%A)).

Could you please add code to support this sitemap please ?

[2019-01-10 13:03] NicolasPrats opened #291 "beta / 9.0.2 – Web Refresh : opening a record from the global search results is working only for the entity account"
Hello,

The following code is not working:
[code]

If we try to run this code, the exception ```Search Results is not available``` is thrown.  It's thrown because no element with ```xpath= id("entityDiv_1")``` were found.  This xpath is only valid when we try to open an account. The good xpath to look for is id("entityDiv_{etc}") where {etc} is the object type code of the entity (1 for account, 2

[2019-01-10 13:09] NicolasPrats opened #292 "beta / 9.0.2 – Unified Interface: Clicking on a button with a submenu does not work"
Hello,

The method ```Microsoft.Dynamics365.UIAutomation.Api.UCI. CommandBar.ClickCommand()``` does not work as expected when the parameter ```submenu``` is provided. The exception ```"No command with the name '{name}' exists inside of Commandbar."``` It's thrown even if the command exists.
The equivalent method for the webfresh (```Microsoft.Dynamics365.UIAutomation.Api.XrmPageClickCommand.ClickC

[2019-01-10 23:04] TYLEROL commented on #291
Thanks @NicolasPrats . I've added this to the backlog and will review it as part of our v9.1 update refresh work.

Regards,
tyler

[2019-01-10 23:06] TYLEROL commented on #292
Thanks @NicolasPrats . I've added this to our current backlog and will have it reviewed as part of the v9.1 update work currently ongoing.

Regards,
Tyler

[2019-01-10 23:24] TYLEROL commented on #290
Hello @NicolasPrats . Thanks for raising this up. We do have an item in our backlog for the v9.1 update work currently in progress on this. We're working on a means to support both the old sitemap, and this new version, as the new one will be opt-in for some period of time for previously existing organizations (versus newly created organizations where it is enabled by default)

Regards,
Tyler

[2019-01-10 23:30] TYLEROL commented on #289
Hello @rtulaila ,

Could you share details on which code branch you're using (v8.1, v8.2, v9.0...), the version of your Dynamics 365 organization, and the error you're receiving when trying to run the tests?

Thanks,
Tyler

[2019-01-11 17:43] rtulaila commented on #289
Hi Tyler,
-I am using code branch  : **releases/OnPremise Updated Feb 2, 2018 by Michał Krawczyk**
[](https://github.com/Microsoft/EasyRepro/tree/releases/OnPremise)

-Our MS Dynamics 365 Version :   **1612 (8.2.2.112)(DB 8.2.2112) on-premises**

-I am not getting any error message and  TestADFSLogin .cs is passed.
 The chrome window opens with URL and  shows the page and closes without logging in

[2019-01-11 17:55] TYLEROL commented on #289
Thanks @rtulaila . This is an example of the 'ADFSLoginAction' from our latest code branches. Could you give this a try?

[code]

You pay need to add a call prior to the 'password' send keys in the event the username is not already populated in your ADFS login page.

Please let me know if you have success using this, or if you encounter any issues.

Thanks,
Tyler

[2019-01-11 18:30] rtulaila commented on #289
Hi Tyler,
Thank you for your quick response:

Tried the new code and I am getting one error msg for follwoing Line:
**d.WaitUntilVisible(By.XPath(Elements.Xpath[Reference.Login.CrmMainPage]) ,new TimeSpan(0, 0, 60),**

 _1>------ Build started: Project: Microsoft.Dynamics365.UIAutomation.Sample.OnPremise, Configuration: Debug Any CPU ------
1>C:\Users\RTulaila\Source\EasyRepro\Microsoft.Dynamics36

[2019-01-11 19:18] TYLEROL commented on #289
@rtulaila - I haven't used the OnPremises branch in some time as we don't officially support that branch. There were some changes in that branch that aren't compatible with the code I provided (minor issues). My apologies for missing that in my earlier reply.

I went ahead and checked in a test method _ADFSLoginActionTest()_ to the ADFSLogin.cs file. Once you pull the latest changes, you should be

[2019-01-11 20:20] rtulaila commented on #289
Hi Tyler,
Thank you for checking in new code for us. I run the new code and ADFSLoginActionTest() PASSED with no errors. But again same thing happened browser opened and closed.  Login didn't work.
 I guess the code is not getting Username and pwd or something wrong with our browser or URL
I will debug this weekend and get back to you on Monday.

Thanks for all your help.
rtulaila

[2019-01-14 15:41] watsonthecat commented on #99
Is this functionality going to be added for UCI/xrmApp (v.9.0.2)? @TYLEROL

[2019-01-16 09:27] krishnacs1993 commented on #84
Hi,
I too faced the similar issue when I created the custom entity and it was lying in the second page of the sitemap which Easy Repro could not identity it and throwing an exception.

As a workaround I had to edit the sitemap and bring my custom entity under any of the groups that are visible in first page.

Easy repro was able to identify my custom entity after I moved it under Sales -> Customer

[2019-01-18 17:06] #286 closed, assigned to nobody

[2019-01-18 19:23] rtulaila commented on #289
@TYLEROL
Good news finlay we are able to login to our OnPremise CRM 365. The issue is in LoginPage.cs
starting at line 88  It checks if the path ends to see if it’s expected for online, if not then it tries to pass the credentials in the url under http:// and skips the callback entirely.

Now we need to customize "Microsoft.Dynamics365.UIAutomation.Sample.Shared" code and run other tests.  I will

[2019-01-18 20:09] TYLEROL commented on #245
Hello @kamranRehman - This isn't checked in officially yet, but in the linked PR we've made some changes to improve CompositeControl SetValue, GetValue, and new ClearValue methods.

I've included a new example test, shown below, in the Sample project Web\Entity.cs file.

[code]

The output from the GetValue<CompositeControl> will return a concatenated list of  strings, using " " as a separator.

I

[2019-01-21 14:35] Sand-2050 opened #316 "Open record from search results using GUID"
Hi,

I wanted to understand how to open record from search results view. There might be multiple records if we search by name. In that case, is there any way where we can pass guid to identify unique record. This would be important to do operations like deletion.
Eg:
//Create and save new record
//read GUID of that record
//move search view
xrmBrowser.Grid.Search(" Data to be searched");
//Open sa

[2019-01-22 19:51] JamesStuder opened #319 "Question: Beta 9.0.2 Unified Interface Send Key Press"
I know how to 'send keys' to send the the tab key in the classic ui.  But using the Beta 9.0.2 how do I send a tab key press for the new unified interface?  I need to be able to do this, so the change event will fire after data is input.  That way my JavaScript will run.

[2019-01-22 21:10] JamesStuder commented on #319
You can close I found it.  For those that might run into the same situation its in the WebClient.Browser.Driver.

[2019-01-22 21:26] hasinthanagodavithana opened #320 "get the test results into a file"
Hi,

I am wondering is there any way that I can get the total test result/details into a file or email so we can refer it later to identify the issues. Currently when I run the tests in VS it gives very high level details but it does not provide consolidated single results file.

[2019-01-24 09:34] thathi opened #323 "DuplicateDetection confirmation is not working"
DuplicateDetection confirmation is not working while trying to delete a duplicate contact **via quick create**. I think DuplicateDetection method in Dialog.cs needs same kind of logic as QualifyLead. I have updated in my local it is working.  (beta/v9.x)

[2019-01-24 17:24] TYLEROL commented on #323
@thathi - I'm going to close this as there are no details in the description about an issue related to EasyRepro.

If you have an issue, please re-open this and add some details regarding your issue/question, or open a new issue. Look forward to any help we can provide.

Warm Regards,
Tyler

[2019-01-24 17:24] #323 closed, assigned to nobody

[2019-01-24 17:38] TYLEROL commented on #320
Hello @hasinthanagodavithana ,

I've had success with this internally using a Visual Studio Test task in our build pipeline. This functions similar to using [VSTest.Console.exe command-line options](https://docs.microsoft.com/en-us/previous-versions/jj155796(v=vs.140)).

You'll need to configure a runsettings file that your test would consume from. While most of our branches are setup using the ap

[2019-01-24 17:38] #320 closed, assigned to nobody

[2019-01-24 18:03] #319 closed, assigned to nobody

[2019-01-24 18:06] JamesStuder opened #325 "Question: Select Lookup Value - Beta 9.0.2 - Unified Interface - Quick Create"
I am working on a test to make sure that my process with JavaScript is working when a lookup field is populated.  I used the SetValue(string, string) that is outlined under QuickCreate.  When I run the test, the value is input and I can see the one record in the choices.  But, as soon as I click out of the field, the value goes away.  How can I select the lookup value to populate the lookup field

[2019-01-24 18:12] TYLEROL commented on #325
Thanks for raising this @JamesStuder .

We'll need to add a method for QuickCreate fields to support this. We're in the process of finalizing a new master branch which will support version 9.1+ moving forward.

I'll discuss with my colleague who has been updating the Unified Interface to see if he can squeeze this in. We'll update once this is available.

Thanks,
Tyler

[2019-01-24 18:26] RusmanCool opened #326 "No Remote WebDriver support"
Hello,
In issue #75, they said  that Remote WebDriver support is being implemented. What is a time frame for this functionality?

[2019-01-24 18:33] JamesStuder opened #327 "Issue: Global OptionSets - Quick Create - Beta 9.0.2"
Ran into an issue using the SetValue(string, string) on a Global OptionSet field on a quick create form.  I pass in the schema name (all lower case) as the first value and the label of the option set value in the second parameter.  I am getting an error that it can't find the field on the form.  The field is on the form and not locked or hidden.  Not sure if it is because it is a Global OptionSet

[2019-01-24 18:39] TYLEROL commented on #327
Thanks for raising this one as well @JamesStuder .

Same concept as with LookupItem. I asked my colleague to review all supported field types (TwoOption, OptionSet, LookupItem, etc...) and make them available for QuickCreate.

The element tags between QuickCreate, Entity Form, Entity Header, Entity Footer, and Business Process Flow all vary slightly so we have to make tweaks to the methods to supp

[2019-01-24 19:11] thathi commented on #323
@TYLEROL sorry updated with the valid description.

[2019-01-24 23:19] TYLEROL commented on #291
@NicolasPrats - Quick follow-up on this one. I'm testing this in my Dynamics 365 organization on version 9.1.0.1121 and I cannot replicate the problem.

I'm going to tweak the xpath call looking for the search results to be generic and not require the ETC value based on your feedback, and since we filter the results accurately after that via the resultsContainer > entityContainers > entityContaine

[2019-01-25 15:52] NicolasPrats commented on #291
Thanks for the update @TYLEROL.

I have tested and I confirm that this "almost" works with contact and with custom entities. The searched records are opened but then the exception "CRM Record is Unavailable or not finished loading. Timeout Exceeded" is thrown. To make the new code works correctly, I had to add a `this.SwitchToContent(); `:

[code]

This is strange because when I did my tests 15 da

[2019-01-25 17:15] TYLEROL commented on #291
Thanks @NicolasPrats . I tested this a bit further and found I could replicate the same problem on the Users entity. It seems as though the frame/window context in some scenarios was not the expected content.

After reviewing, I added two lines, similar to what you've done - but utilizing what we had implemented under the Grid.OpenRecord() method. We have not had any reports of issues with that sc

[2019-01-26 01:08] #174 closed, assigned to nobody

[2019-01-28 21:25] TYLEROL commented on #291
This is now available via the latest releases/v9.1 branch.

[2019-01-28 21:25] #291 closed, assigned to nobody

[2019-01-28 21:26] TYLEROL commented on #287
This has been fixed in the latest releases/v9.1 branch. If you have any further issues, please let us know.

[2019-01-28 21:26] #287 closed, assigned to nobody

[2019-01-28 21:28] TYLEROL commented on #247
@PallaviSrivastava05 - We've added ClearValue methods to the latest releases/v9.1 that should allow you to clear a field value for various field types in the system. Please let us know if you have any issues in using this implementation.

[2019-01-28 21:28] #247 closed, assigned to nobody

[2019-01-28 21:29] TYLEROL commented on #245
This has been added to the latest releases/v9.1 branch. Please let us know if you have any issues using the implementation.

[2019-01-28 21:29] #245 closed, assigned to nobody

[2019-01-28 21:33] TYLEROL commented on #233
TwoOption field capability has been added to the latest releases/v9.1 branch. Please let us know if you have any issues with the current implementation.

[2019-01-28 21:33] #233 closed, assigned to nobody

[2019-01-28 21:34] TYLEROL commented on #228
Clear/Set/Get value methods have been added for BusinessProcessFlows in the releases/v9.1 branch. Please let us know if you have any issues with this implementation.

[2019-01-28 21:34] #228 closed, assigned to nobody

[2019-01-28 21:35] TYLEROL commented on #226
Field support has been added for both Header and Footer fields (e.g. Entity.GetHeaderValue / Entity.GetFooterValue). Please let us know if you have any issues with the implementation in the latest releases/v9.1 branch.

[2019-01-28 21:35] #226 closed, assigned to nobody

[2019-01-28 21:36] TYLEROL commented on #221
A new Entity.GetTabState() method has been added in the latest releases/v9.1 branch. Please let us know if you have any issues with this implementation.

[2019-01-28 21:36] #221 closed, assigned to nobody

[2019-01-28 21:37] TYLEROL commented on #201
A new Entity.GetRecordGuid() method has been added to the releases/v9.1 branch. Please let us know if you have any issues with this implementation.

[2019-01-28 21:37] #201 closed, assigned to nobody

[2019-01-28 21:39] TYLEROL commented on #176
This has been fixed in the most recent releases/v9.1 branch of EasyRepro. The new implementation will select the first element in the list if duplicates are present. If a specific use case appears that requires specific selection from the subarea list, please let us know.

[2019-01-28 21:39] #176 closed, assigned to nobody

[2019-01-28 21:41] TYLEROL commented on #183
We've made changes in the latest releases/v9.1 branch that should resolve this scenario. If you continue to observe issues with the implementation, please let us know.

[2019-01-28 21:41] #183 closed, assigned to nobody

[2019-01-28 21:43] TYLEROL commented on #157
@Raj137  - Support for this has been added in the latest releases/v9.1 branch. The implementation will "close" the FoundPlaces dialog until the 2nd to last field in the composite control list is reached. This will then by default pick the first address in the list unless otherwise specified.

If you have issues with the implementation on Entity.SetValue(new CompositeControl{}) please let us know.

[2019-01-28 21:43] #157 closed, assigned to nobody

[2019-01-28 21:46] TYLEROL commented on #168
This is under consideration for future releases. We are doing our best to keep the controls language agnostic. If you have specific issues that are not working across language, please raise each as a new issue and the use-case behind them. We'll try to address any by avoiding language constraints where possible.

[2019-01-28 21:46] #168 closed, assigned to nobody

[2019-01-28 21:47] #122 closed, assigned to nobody

[2019-01-28 21:50] TYLEROL commented on #200
There are two unique methods available in the latest releases/v9.1 branch that will help accomplish what SantoshDutt has shown.

the first is SwitchToDefaultContent() and then the second is SwitchToDialog(). Both can be called without any input parameters and should be able to target the dialog frames as needed.

If you have any issues with the implementation, please let us know.

[2019-01-28 21:50] #200 closed, assigned to nobody

[2019-01-28 21:51] TYLEROL commented on #154
We've released an array of updates in the latest releases/v9.1 branch that should resolve issues that had been occurring with the GetValue() methods. If you continue to have problems with the latest implementation, please let us know.

e.g.

`string currency = xrmBrowser.Entity.GetValue("transactioncurrencyid").Value;`

Warm Regards,
Tyler

[2019-01-28 21:51] #154 closed, assigned to nobody

[2019-01-28 21:54] TYLEROL commented on #325
@JamesStuder - We've released the new releases/v9.1 branch today that should bring parity to the QuickCreate forms for what was available on Entity form fields. Please let us know if you have any issues with the implementation of QuickCreate methods for Lookup controls.

Warm Regards,,
Tyler

[2019-01-28 21:54] #325 closed, assigned to nobody

[2019-01-28 21:55] TYLEROL commented on #327
Hello @JamesStuder  - As mentioned in the other issue, we've added new functionality in the new releases/v9.1 branch. This should add parity between Entity and QuickCreate form capabilities.

If you continue to have issues with the implementation, please let us know.

Warm Regards,
Tyler

[2019-01-28 21:55] #327 closed, assigned to nobody

[2019-01-28 21:56] ggeiszle commented on #292
Hey @NicolasPrats  - thanks for bringing this to our attention.  We addressed this issue in the 9.1 branch.  if you continue to see issues, please let us know!

[2019-01-28 21:56] #292 closed, assigned to nobody

[2019-01-28 21:59] ggeiszle commented on #278
Hey @SachinAnnam - thanks for bringing this issue to our attention.  We have added support for LookupItems in UCI in the 9.1 branch. If you continue to see issues with it, please let us know and we will do our best to address them.

[2019-01-28 21:59] #278 closed, assigned to nobody

[2019-01-28 23:30] TYLEROL commented on #326
Hello @RusmanCool,

I spoke with a colleague today who mentioned that this should be available (Remote WebDriver support) in the latest releases.

Are you facing any specific issues trying to use the remote webdriver? If so, could you please add any issues/questions here for further comment?

Warm Regards,
Tyler

[2019-01-28 23:32] TYLEROL commented on #316
Hello @Sand-2050 ,

We just added a new Entity.GetRecordGuid() method to the latest releases/v9.1 branch that can help you get the GUID.

Is there a hard requirement on opening the record from a grid? Or just the capability to open _any_ record using a GUID?

Thanks,
Tyler

[2019-01-28 23:32] #289 closed, assigned to nobody

[2019-01-28 23:32] #284 closed, assigned to nobody

[2019-01-28 23:35] TYLEROL commented on #258
@bwmodular - This one didn't quite make the cut for the releases/v9.1 branch we published today. Once my colleague had a chance to look at this, we ran into the same issues you did - and due to the tight timeframe for release it was put back into the backlog.

We'll continue to review this for future updates, but for now I do not have an ETA due to the potential code re-working that may be require

[2019-01-29 09:03] bwmodular commented on #258
@TYLEROL Thanks for the update. Sometimes what looks like an easy change can be surprisingly difficult! Looking at the number of updates overnight, it looks like you guys have been super busy. Good luck with the v9.1 release!

[2019-01-29 21:06] JamesStuder opened #337 "Question/Missing Item in recent release"
First, thank you team for the fast answers to my previous questions and for pushing out an update so fast.  The two issues I raised previously where in fixed in the latest update.  The issue I am running into now, is that the select lookup within entity is not in quick create.  I am assuming that I need the select lookup to choose the lookup item from the drop down that appears.

Prior to v9 of Dy

[2019-01-30 09:44] spasupuleti27 opened #338 "In advance Find - for query --> Unable to enter the END Date for an entity which has date input field"
It’s in Advance find for D365  --> we need to generate a query for an entity
In Automation – **We are able to enter the Begin Date in the Query but unable to enter the End Date.**
Instead of entering the End Date value – its entering again in Begin Date as both of them are having same unique id which is “Date Input”.
We are using the version - EasyRepro-beta-v9.0.2
Can u please suggest on that.
![

[2019-01-31 18:06] rtulaila opened #342 "Any documentation / tutorial, how to customize EasyRepro sample code to real time code."
Hi All,
Anyone can help me if there is any documentation/tutorial, how to customize EasyRepro sample code to real time. wrt ‘Microsoft.Dynamics365.UIAutomation.Sample.Shared’.
As of now I could able to login but our On-premises Dynamics CRM 365 entities are different.
Ex:  Instead of Sales we have ‘Service’
      Service > Contacts
      Service > Case
Thanks in advance - RT

[2019-01-31 23:43] watsonthecat opened #343 "v9.1 (UCI) Not Opening Record"
Trying out tests that were passing with beta 9.0.2 are now failing (current on v9.1)

It is passing on Open Recrod, but the record is never opened (The row is highlighted and it looks like it's selecting the element for that row's Main Phone column in the grid)

It moves on to the next step to select tab and fails with error: System.Exception: The tab with name: Firm Profile does not exist (but it

[2019-02-01 19:19] thathi opened #345 "Did anyone manage to run tests in parallel using specflow,nunit?"
Does anyone successfully manage to run tests in parallel using specflow (gherkin)?

[2019-02-01 23:13] triciasinclair opened #346 "Compatibility with D365 9.1x"
When will we have compatibility with 9.1x using the new UI?

Currently trying to open the Sales Hub app produces the error:

[code]

[2019-02-02 00:14] triciasinclair commented on #290
hi @TYLEROL do you have a estimated date for this?

[2019-02-02 12:49] #346 closed, assigned to nobody

[2019-02-04 20:35] watsonthecat commented on #343
This might be a bug with this specific CRM UCI (App) - tried in another App and it opens the record just fine

[2019-02-04 20:35] #343 closed, assigned to nobody

[2019-02-04 22:39] watsonthecat commented on #233
@TYLEROL will TwoOption field capability be added for UCI (xrmApp)?

or do you have a suggestion on how to GetValue of a TwoOption field?

[2019-02-05 08:37] nlipkow opened #347 "Error while calling XrmApp.Navigation.OpenSubArea("Sales", Quotes")"
I'm in the middle to migrate some UI-Tests to the new UCI. However, I'm getting an error when trying to open a subarea. I'm using v9.1.
The whole steps I'm running are:

[code]
The error I'm getting is:
[code]
Thank you in advance for your help!

Screenshot of the UI where the error occurs:
![error](https://user-images.githubusercontent.com/20375505/52261381-839ccc80-2929-11e9-8a52-3b5f0ec7a125.PN

[2019-02-05 15:16] TYLEROL commented on #347
Hello @nlipkow - This is at the top of our radar for getting a fix out, related to #290 . We were hoping to have something included in the latest releases/v9.1 branch, however the new sitemap had been actively changing causing some issues with navigation stability

I'll discuss with my colleagues about the current status of this and see if we can get something released soon.

Best Regards,
Tyler

[2019-02-05 19:45] RusmanCool commented on #326
@TYLEROL got it, I have already implemented our own code for RemoteWebDriver support. I will close this issue.

[2019-02-05 19:45] #326 closed, assigned to nobody

[2019-02-05 22:12] TYLEROL commented on #347
Related #346

[2019-02-05 22:38] ggeiszle commented on #346
Hey Tricia,

Please try the latest branch for 9.1.  We added functionality this week to provide support for the new sitemap changes.  If you have any issues with it, please let us know and we'll do the best that we can address them.

Thanks!

[2019-02-05 22:39] ggeiszle commented on #347
Hey @nlipkow,

Please try the latest branch for 9.1.  We added functionality this week to provide support for the new sitemap changes.  If you have any issues with it, please let us know and we'll do the best that we can address them.

Thanks!

[2019-02-05 22:40] ggeiszle commented on #290
Hello @NicolasPrats and @triciasinclair (Sorry - I forgot to @ you earlier),

Please try the latest branch for 9.1.  We added functionality this week to provide support for the new sitemap changes.  If you have any issues with it, please let us know and we'll do the best that we can address them.
Thanks!

[2019-02-06 08:27] nlipkow commented on #347
Hello @TYLEROL and @ggeiszle,
thank you very much for your fast support!

With the latest changes my issue was solved and so far I haven't encountered any new problems. I will let you know if I run into new difficulties.

Thank you and best regards,
Norman

[2019-02-06 08:27] #347 closed, assigned to ggeiszle

[2019-02-06 16:52] watsonthecat opened #354 "UCI Subgrid Question/Possible Bug"
Using v.9.1:

I am trying to determine if the subgrid is on the form (basic regression test). So I figure I could use either:

- _xrmApp.Entity.GetSubGridItems("Funds");

- _xrmApp.Entity.GetSubGridItemsCount("Funds");

**I get this error:**
OpenQA.Selenium.NotFoundException: Funds subgrid not found. Subgrid names are case sensitive.  Please make sure casing is the same.

Am I missing something he

[2019-02-06 18:00] watsonthecat commented on #354
Or is this a related grid? If so, is there a way to confirm the related grid name?

[2019-02-06 18:06] watsonthecat commented on #354
And if there is more than one related grid on the tab/form can we specify which one we want?

[2019-02-07 09:31] drkthng opened #364 "Timeline - Create Note - Add Attachment"
Hi everyone,

creating a note via Timeline currently only includes setting the title and the body. Is there a good way to also **add an attachment** with your framework?
The usual way to do this with Selenium seems not to work, since there is no <input> element to be found for the upload process. It seems everything is script-based. Wondering if there is an elegant solution without using "AutoIt"

[2019-02-08 01:08] pramodnairm opened #366 "Not able to find the login elements when using the latest version of Dynamics 365 CE online"
Hi,

When I running the test to create an account I am getting the following error. It is not able to find the login element for email.

OpenQA.Selenium.NoSuchElementException
  HResult=0x80131500
  Message=no such element: Unable to locate element: {"method":"xpath","selector":"//input[@type='email']"}
  (Session info: chrome=72.0.3626.81)
  (Driver info: chromedriver=2.38.552522 (437e6fbedfa8762

[2019-02-08 10:55] yoadster opened #367 "XrmBrowser object not found"
Hi, followed the guide here:
https://waelhamze.wordpress.com/2018/01/04/ui-automation-for-dynamics-365-ce-easyrepro-part-2/

When I add any nuget reference to EasyRepro other than 8.1.0.5 in a project targeting .net 4.6 or 4.7, i get the could not find a reference error message in visual studio. I can continue using 8.1.0.5 for the time being however wish to use the most recent stable build if pos

[2019-02-08 11:41] #367 closed, assigned to nobody

[2019-02-08 11:41] yoadster commented on #367
After consulting the examples (should have done this first) I can see that XrmBrowser has been changed to Browser.

[2019-02-08 18:11] watsonthecat opened #368 "UCI Get Value for Multiple Lines of Text field returns null"
I am trying to see if the description field (Multiple Line of Text Field Type) contains a certain value.

When I do xrmApp.Entity.GetValue for that field, it's returning null.

var value = _xrmApp.Entity.GetValue(p0);

![image](https://user-images.githubusercontent.com/31329210/52497013-936f1780-2b9a-11e9-8d65-88016c4bdacc.png)

[2019-02-08 18:14] watsonthecat commented on #368
I am opening an existing record that has existing comments in the description field and checking the field value:

![image](https://user-images.githubusercontent.com/31329210/52497140-ef39a080-2b9a-11e9-9d14-6755f43f1ce6.png)

[2019-02-10 17:48] SachchinAnnam commented on #278
Hello @ggeiszle  and @TYLEROL
I tried below snippet for lookup but it didn't worked:
xrmApp.Entity.SetValue({ Name = "language", Value = "English"});
Even SelectLookup isn't helping.
xrmApp.Entity.SelectLookup("language");

Please help with some options.

[2019-02-11 07:55] SachchinAnnam opened #371 "Lookup doesn't work in v9.1"
Hello @ggeiszle and @TYLEROL
I tried below snippet for lookup but it didn't worked:
xrmApp.Entity.SetValue({ Name = "language", Value = "English"});
Even SelectLookup isn't helping.
xrmApp.Entity.SelectLookup("language");

Where **language** is the field name.
Please help with some options.

[2019-02-11 14:21] dnamrgrts commented on #371
Hello,
xrmApp.Entity.SelectLookup(string field, int index);
For Example-> xrmApp.Entity.SelectLookup("language", 0);
select the first record of your Look up

[2019-02-11 15:03] SachchinAnnam commented on #371
Hello @dnamrgrts
It give error as 'No overload for method 'SelectLookup' takes 2 arguments	'

[2019-02-11 15:53] SachchinAnnam commented on #371
I modified my scripts:

                LookupItem language = new LookupItem { Name = "language", Value = "English" };
                xrmApp.Entity.SetValue(language);
              // **Above snippet works**

                LookupItem country = new LookupItem { Name = "im360_countryid", Value = "Brazil" };
                xrmApp.Entity.SetValue(country);
            // **Above snippet works**

[2019-02-12 10:06] SantoshDutt commented on #366
What is the OnlineCrmUrl you have given in app.config file? Can you re-verify that once and run the test?
Also, sometimes it might take more time to load the Login Page than expected. So increase the DefaultThinkTime in the API.

Hope that Helps!

Regards,
Santosh Dutt

[2019-02-12 13:20] mVermaat opened #375 "Updating text attributes doesn't work properly"
When updating a text field on a form that already has a value, the value disappears after entering the data.

It can be reproduced by performing the following actions:

1) Create new account with Account name 'Test Account'
2) Save & Close account
3) Reopen account
4) Change account name to 'Updated'

Before update:
![image](https://user-images.githubusercontent.com/13309338/52637833-b8cc9000-2ed0

[2019-02-12 15:18] NicolasPrats commented on #290
Hello @ggeiszle ,

Thanks you for this update. I confirm it's working in my case.

[2019-02-13 09:31] nlipkow commented on #371
I'm running into similar issues here:
[code]
The first instruction to set the value for "pricelevelid" works perfectly fine. The second however fails and I get the following exception:
`System.InvalidOperationException: List does not contain a record with the name:  Nancy Anderson (sample)`

The image below though indicates that it does exist. I had for some reason also some undeterministic behavi

[2019-02-14 21:04] watsonthecat opened #377 "v9.1 (UCI) Navigation.QuickCreate does not work"
In the UCI when clicking Quick Create Button (+), before you can select the Entity you want, you need to first select category to get the drop-down to make them visible.

Click Quick Create and select Category (Activities):
![image](https://user-images.githubusercontent.com/31329210/52816843-c36d5d80-3067-11e9-9cdb-387469676f05.png)
And then you can select the Entity:
![image](https://user-images.

[2019-02-16 02:03] watsonthecat opened #380 "v9.1 (UCI) Cannot GetValue for TwoOption type field"
GetValue does not work for TwoOption type field

[2019-02-16 13:17] cnusrini commented on #170
Can I use easyRepro to perform CRM client side unit testing ?

[2019-02-16 19:08] yoadster opened #381 "IEDriverServer64.exe"
Hi, please could you add support for the 64bit IE driver. There are know performance issues when running the 32 bit driver on a 64 bit OS (it basically runs like a dog). Currently the IE option defaults to the 32 bit version.

Many thanks.

[2019-02-17 09:20] yoadster opened #382 "Switching to categorized view in global search"
Hi, is someone able to tell me how on the global search can i switch the categorised search? I've tried lots of things without any success.

I need to switch to the view before i perform the search.

Thanks in advance.

[2019-02-17 13:44] yoadster opened #383 "V9.1 GlobalSearch.OpenRecord not working as intended"
Hi, I'm on Dynamics 365 1710 (9.1.0.2242) I'm trying to select a lead from a global search. The code does to throw an exception however the record isnt selected or opened.

`public void SearchForLead()
        {
            xrmBrowser.ThinkTime(500);
            xrmBrowser.Navigation.GlobalSearch("a batt");
            xrmBrowser.GlobalSearch.OpenRecord("lead", 0);
            xrmBrowser.ThinkTime

[2019-02-18 21:55] cnusrini commented on #285
Hi @TYLEROL and @bwmodular, I have posted same question but related to javaScript.
I have gone through FakeXrmEasy. But, it seems that this is out date tool. Do you recommend any other tool which is currently active such as https://medium.com/capgemini-dynamics-365-team/unit-test-web-api-calls-with-xrm-mock-and-sinonjs-73584504639

[2019-02-19 12:15] Dolph-Dragon commented on #342
Hi RT,

Is this still an issue or did u solve the Problem?

Could you please clarify your problem? What is your code and what do you want to do?

Best Regards
Dolph

[2019-02-19 20:51] rtulaila commented on #342
Hi @Dolph-Dragon  , Thanks for looking into this issue. I have still the same issue.

Currently we  are running On-premises Dynamics CRM 365 and I am using EasyRepro sample code and trying to customize but the issue is  I cannot change the naming conventions.

example :   We have  'Service' instead of 'Sales' I have attached the pic how our navigation shows.
**Service > Case**

I was looking for a

[2019-02-20 23:03] watsonthecat opened #384 "v9.1 UCI Navigation breaks depending on Security Role and Section permissions"
We are testing different scenarios based on user's security role.

If the security role only has permission to view one section in UCI, the ' ... ' element is not visible, which breaks the test at the Navigation step:

xrmApp.Navigation.OpenSubArea("Sales","Contacts") //throws exception that 'sales' does not exist

![image](https://user-images.githubusercontent.com/31329210/53130820-dc2ab700-3530-

[2019-02-21 07:39] NinjaSakshi commented on #290
Hi,

It is still not working in my case even with the latest branch. Error Given is as following:

[code]
The Area exists as per the screen shot below:

![image](https://user-images.githubusercontent.com/40410459/53151628-8f221000-3618-11e9-9aa9-9c5628e45fdc.png)

[2019-02-21 10:42] SachchinAnnam commented on #371
@TYLEROL : Please help us with any workarounds as we are stuck with this lookup.

[2019-02-21 15:12] gabrielggcc94 opened #385 "fail change field?!"

[2019-02-22 09:06] #385 closed, assigned to nobody

[2019-02-22 09:24] Paca opened #386 "How to connect to Dynamics CE with SSO automatic login"
Hello All,

I get an SSO automatic login with Windows 10 add-in of Chrome install by AD policy group of my company. It means that i get logged directly with my windows credentials to CRM.

I was getting in trouble with that to used Easy Repro so i have found a solution that you can simply used to login.

`client.Browser.Driver.Navigate().GoToUrl(_xrmUri);`

[code]

That is as simple as that :)

Ma

[2019-02-22 09:58] dnamrgrts opened #387 "How to write in a HTML CKEditor"
i have in my Strategy Entity a HTML CKEditor and i would like to add a few lines.
My First step is:
xrmBrowser.Driver.SwitchTo().Frame("Webresource_example");   ////This works
IWebElement Text = xrmBrowser.Driver.FindElement(By.XPath("//*[@id=\"ckeditor\"]"));
Text.SendKeys("...........");   ////////this doesn't work

System.InvalidOperationException : unknown error : cannot focus element

Does an

[2019-02-22 19:15] sri3bala opened #388 "CRM Dynamics 365 - Cannot find a way to select Dashboard system views"
There is sample to select system dashboard. but, there is no way to select system view after that. If there is any way, please provide it to me. I am trying to work with Dashboard -> system dashboards and then to go to each system view and go through the records. I am trying to automate this using Visual Studio + Selenium + Easyrepro nuget packages.

Thanks for your help.
Sri...

[2019-02-22 19:17] sri3bala opened #389 "Automating closing entity and going back to the grid rows one by one is not working"
I am trying to automate this using Visual Studio + Selenium + Easyrepro nuget packages.

After selecting a system view, getting the grid records in list, and going through one by one, opening a record and closing using the close button at the top right corner, then opening the second record is not working. any help?

Thanks for your help.
Sri...

[2019-02-25 10:47] s-bauer opened #391 "UII not working with newest Dynamics 365 version (North America)"
I've set up a new CRM Trial instance in North America and tried to execute the sample UCI tests provided in this repository. It failed for me as some XPaths are not correct anymore. I had to replace the following values so that it works again:

- `{ "Login_CrmMainPage", "//div[contains(@data-id,\"topBar\")]"},`
- `{ "Nav_AppMenuButton"       , "//button[@data-id=\"navbar-switch-app\"]"},`

In addi

[2019-02-25 12:29] nlipkow opened #392 "Version Of Current Release in NuGet"
Hello,

when will the current release branch be available on [nuget](https://www.nuget.org/packages/Dynamics365.UIAutomation.Api/9.1.0)? We need this for our CI environment.

Thanks in advance
Norman

[2019-02-25 12:36] sri3bala opened #393 "IJavaScriptExecutor not working within the CRM Dynamics page"
I am trying to run JavaScriptExecutor and it is not working within the CRM Dynamics page.

IJavaScriptExecutor jsExe = (IJavaScriptExecutor) xrmBrowser.Driver;
string title = jsExe.ExecuteScript("document.title;").ToString();
Console.WriteLine("Title is  " + title);

Please help me. This is important for me to be able to run JavaScript

Thanks

[2019-02-25 13:38] tipsey commented on #393
xrmBrowser.Driver.ExecuteScript("alert('My script executed');");

[2019-02-25 15:44] sri3bala commented on #393
Thanks alot, that worked. This is not working. Please see below

string title = xrmBrowser.Driver.ExecuteScript("document.title;").ToString();
Console.WriteLine("Title is  " + title);

It says "Object reference not set to an instance of an object."

Any idea?

[2019-02-25 16:29] tipsey commented on #393
do you get error on this too?
 var x = xrmBrowser.Driver.ExecuteScript("document.title;");
 Console.WriteLine(x);

DO NOT USE:   IJavaScriptExecutor jsExe = (IJavaScriptExecutor) xrmBrowser.Driver;

[2019-02-25 16:38] sri3bala commented on #393
Thanks, It worked meaning no error thrown. But, it did not get title. It shows empty string. Any idea?

[2019-02-25 22:32] watsonthecat opened #394 "v9.1 (UCI) Clear Value broken - does not clear value"
Scenario: Testing to make sure form controls are working by testing invalid characters.

I want to set the field value (testing for invalid characters) and then clear the field's value, so we can set the field value again with other invalid characters.

_xrmApp.Entity.ClearValue("emailaddress1");  //does not clear the value of the field

I've tried saving the record and then clearing the value and

[2019-02-26 04:00] NinjaSakshi commented on #290
I did some tests on this and turn out that it won't work if you just have one Area and one group under your SiteMap.
It works if you have more than one Area and Group

[2019-02-26 06:04] SantoshDutt opened #395 "Load/Performance Testing with Easy Repro"
Hi @TYLEROL,

I got a situation where I need to perform load testing with multiple users at the same time, like 200 users for example.
one of these scenarios is Creating a lead with 200 users at the same time.

Can we achieve this with Easy Repro?
Can you please let me know how we can do that.

Regards,
Santosh Dutt

[2019-02-26 09:42] krishnacs1993 commented on #285
Hi There,
I want to check the statuses of all the Duplicate detection rules, Plugins, Workflows etc on post deployment of any solution. I should be able to verify the status of each item and check if it is published and in active state. If there are any processes which are not published or not in active state then throw an error or send out an email saying there are processes which are not publish

[2019-02-26 10:10] bwmodular commented on #285
Hi @krishnacs1993, this kind of post deployment smoke test does not need to be done using EasyRepro. You can do this using a plain old integration test using the API to retrive the data you want.
We do this quite a lot, for example we have integration tests running after each release to do things like:
Check that all workflows called 'xxx' are active
Check the right number of message processing st

[2019-02-26 10:15] bwmodular commented on #395
Hi @SantoshDutt, you might want to look at Microsoft's CRM Performance Toolkit to perform this sort of testing, as this is exactly what it's desgined to do:
[https://github.com/Microsoft/CRM-Performance-Toolkit](url)

It uses [Visual Studio webtests](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwi5poCcldngAhXfThUIHQpBA9QQFjAAegQIBxAB&url=https%3A%2F%2Fdo

[2019-02-26 12:14] Dolph-Dragon commented on #342
Hi @rtulaila,

Sorry for the long waiting time.
So, if i get you right, you are trying to navigate to (for Example) "Cases".
The code for that would be :

<  xrmBrowser.Navigation.OpenSubArea("Service", "Cases"); >

"xrmBrowser" is the Api.Browser that you create before/during your tests.

If you want to open any other region you can just use the names that you see on the page. For example, if you

[2019-02-26 13:24] sri3bala opened #396 "Grid going through the record and trying to open one by one gives error"
Hi,

I am trying to automate so I can go through the grid records one by one. I am having issue.

Please check below. When closing the page and trying to open the 2nd record, I get error, "stale element reference: element is not attached to the page document"

Any help?

List<GridItem> gridList = xrmBrowser.Grid.GetGridItems();
                    if (gridList.Count > 0)
                    {

[2019-02-26 13:30] spasupuleti27 commented on #396
Hi You can include them in try and catch blocks as beow which includes SlateElementReferenceException
try
{
// your code
}
catch (StaleElementReferenceException ex)
                {

                }

[2019-02-26 13:53] sri3bala commented on #396
**Thanks, I tried like this**

//Opening the first project
                            var itemsTable = xrmBrowser.Driver.FindElement(By.XPath(@"//*[@id=""gridBodyTable""]/tbody"));
                            List<IWebElement> gridRows = new List<IWebElement>(itemsTable.FindElements(By.TagName("tr")));
                            foreach (var gridRow in gridRows)
                            {

[2019-02-27 03:16] fahadmajeedrana opened #398 "UCI Error on XrmApp.Navigation.OpenSubArea when there is just one Area in Sitemap"
Hi Team,

We are writing UI tests for UCI app. We have only one Area in the app to meet application's UI requirements. The problem we are facing is whenever there is just one area in the sitemap we receive "System.InvalidOperationException: No area with the name 'service management' exists." exception. Could you please advise if this issue is under you radar.

Cheers.

[2019-02-27 03:36] NinjaSakshi commented on #398
Hi,

I am facing the same issue. Error Given is as following:

[code]
The Area exists as per the screen shot below:

![image](https://user-images.githubusercontent.com/40410459/53151628-8f221000-3618-11e9-9aa9-9c5628e45fdc.png)

[2019-02-27 06:49] krishnacs1993 commented on #285
Well, that sounds good and this is what I am expecting. Thanks for that @bwmodular.
If possible, can you please share the code for API and some test examples to my email ID krishnacs1993@gmail.com

[2019-02-27 09:51] NicolasPrats opened #399 "Support of Marketing Members"
Hello,

Do you have in your roadmap the support of the marketing members ? Now we can create a marketing list, then click on the button "Manage Members". However, there is no method to interact with the popup.

![image](https://user-images.githubusercontent.com/33152924/53481269-22c26900-3a7d-11e9-9151-13f9785ce702.png)

I understand that the 3 last options require the support of the advanced find

[2019-02-27 12:49] sri3bala commented on #388
Any help on this?  Thanks

[2019-02-27 16:05] NicolasPrats opened #400 "OpenRecord for the EditableGrid"
Hello,

The method `Microsoft.Dynamics365.UIAutomation.Api.UCI.OpenRecord `is working fine with readonly grids but not with editable grids.
The method is looking for rows with attribute `data-lp-id` but in the editable grids, the rows don't have this attribute.

[2019-02-28 17:32] SantoshDutt commented on #395
Hi @bwmodular ,

I have tried it in the above suggested way, but when i tried to create a project, its creating in a new solution rather than getting added to the existing easy repro solution.
Also when I had run the load tests, I couldnt understand on what basis the load tests were running.

The documentation isnt that clear to right away do something and make it work.

Any other suggestions?

Re

[2019-03-01 15:17] bwmodular commented on #395
Hi Santosh,
like I said, I've only seen it being demoed so can't really help much. What I saw was someone recording their browser interactions in Fiddler, exporting this from Fiddler into Visual Studio and then editing some of the values to make the test more realistic, but there were quite a few steps to get it going.
Sorry I can't be of more help,
Best wishes,
Ben

[2019-03-03 21:11] jeesondk opened #401 "SetValue on Date and Time fields v8.2.3.x OnPrem"
### Problem:
When I try to set the value on a Date and Time field on the Appointment entity i get an error.

### Error:
[code]

### Code:
![setdateandtimefield](https://user-images.githubusercontent.com/39995834/53701754-59430f80-3e00-11e9-919a-e181e8b6edfa.png)

### System:
Version 1612 (8.2.3.8) (DB 8.2.3.8) on-premises
EasyRepro version: "Dynamics365.UIAutomation.Api" version="9.1.0"

Is this a

[2019-03-03 21:27] jeesondk opened #402 "QuickCreate SetValue on DateTime field not wokring"
### Error:
[code]

### Code:
![setdatetime_quickcreate](https://user-images.githubusercontent.com/39995834/53702052-5a297080-3e03-11e9-8388-650590f67e78.png)

### Comments:
Works when I use the depricated syntax, xrmBrowser.QuickCreate.SetValue("db_follow_up", DateTime.Now.AddDays(7));

[2019-03-04 09:55] Dolph-Dragon commented on #401
Hello @jeesondk ,

This is how i use it :

            xrmBrowser.Entity.SetValue("sheduledstart", DateTime.Parse("11/11/2018"));
            xrmBrowser.ThinkTime(2000);

I assumed that "sheduledstart" is the name of the field where you want to put the date in.
Maybe this works for you aswell.

Best regards
Dolph

[2019-03-04 10:05] jeesondk commented on #401
@Dolph-Dragon
Thanks for the reply, but I disagree :-)

using SetValue(string, DateTime) is depricated
![function_deprecated](https://user-images.githubusercontent.com/39995834/53725971-5599a200-3e6d-11e9-8c2e-26a3d5c6e7f2.png)

Even if I use the depricated method I still get the same error as I described above :-)

[2019-03-04 19:21] markcunninghamuk commented on #371
Any updates on this, not working for us either

[2019-03-05 08:17] mVermaat opened #404 "SetValue for TwoOptions doesn't work for checkboxes"
When using the "SetValue(TwoOption option)" method, it doesn't properly work for checkboxes. It clicks next to the box, so the box doesn't get (un)checked.

It currently clicks the fieldelement and not the imput element that is a child of the fieldelement. the fieldelement is too big, so it clicks next to the box. If you click on the input element, it seems to work.

[2019-03-05 10:12] s-bauer opened #405 "Issue with TextFields (multiline form attributes)"
The line
https://github.com/Microsoft/EasyRepro/blob/eed5eec92fb938558bb2c63723557c98ddf98f8c/Microsoft.Dynamics365.UIAutomation.Api.UCI/WebClient.cs#L1885

should be `...GetAttribute("value");` instead

[2019-03-05 10:48] Haywaii opened #407 "[Finding element problem] Using FindElement() doesn't work if used after navigate on CRM"
Hi,

As part of my work we are using easyRepro to build automation.

By testing on **v9 version** i found out an odd behaviour when trying to use
 xrmBrowser.Driver.FindElement(By.Id("MyId"));
The element i am looking for is one of the element of the top left ribbon (the element linked to Dynamics 365 button).

**Steps to reproduce**

**EasyRepro framework: v9.0.2.6**
Other plugin version: doesn't

[2019-03-06 06:35] SachchinAnnam opened #411 "How to test web resources in UCI for v9.1 branch"
Hello Team,
I need to test few scenarios in web resources which are developed as per UCI UI standards, please help us with some insights on how to test web resources.

Thanks,
Sachin Annam

[2019-03-06 12:27] cnusrini opened #412 "Docker for issue reproduceable"
How to use Docker/kubernetes which we can help in reproducing the issue in case of an error occurrence ?
For instance : when I execute a testcase to create contact using easyRepro. It might fail or pass. If it passes no worries. But if it fails, then generally we try to re execute the test case to reproduce it. Or sometimes issue might not be consistent. Because of this, we spend whole lot of time

[2019-03-06 12:44] cnusrini commented on #392
@nlipkow Its seems that the latest is out in the nuget now . Please revisit .

[2019-03-06 12:48] cnusrini commented on #380
@watsonthecat Please share your code so that I can try to reproduce it .

[2019-03-06 12:52] cnusrini commented on #150
@markleavesley I had the same issue yesterday.
Solution : in the TestSettings.cs file, change the privateMode to false. It will switch to non private mode and it will work as expected.

[2019-03-06 14:49] #405 closed, assigned to nobody

[2019-03-06 14:54] dtu11 commented on #412
Which browser?  We've seen inconsistencies in IE with tests failing for no apparent reason and everything works fine in Chrome and Firefox.

[2019-03-06 14:57] NicolasPrats commented on #404
Hello,

We have the same issue. However the deprecated method SetValue(string, bool) is working fine.

[2019-03-06 14:58] NicolasPrats commented on #393
Hello,

Did you try the following ?
[code]

[2019-03-06 15:00] dtu11 commented on #411
The web resource will be in an iframe so you will need to switch to the frame. It would look something like this "driver.SwitchTo().Frame(0);" but you will need to do a little bit of work to figure out what frame it is.   Then you can use the base driver to work with the document.

[2019-03-06 15:10] cnusrini commented on #412
Any browser .

[2019-03-06 15:14] dtu11 commented on #407
So part of the API is to switch to the Content frame and ensure the content is loaded.

 SwitchToContent();
 driver.WaitForPageToLoad();

I've looked at the three versions (v9.0, v9.0.2 and v9.1) and that portion hasn't changed.   I would expect the driver to be on the Content frame and not the default document in all versions after that API is executed.   This would explain why you have to switch

[2019-03-06 15:21] dtu11 commented on #404
Thanks Nicolas for a workaround.

Which version and which client are you working with?

[2019-03-06 15:25] dtu11 commented on #401
I noticed that your CRM version is v8.2 but you are using v9.1 API's.  Have you tried the v8.2 API's and get the same error?

As an FYI, most of the v9.1 API's will work on older versions.  We try to build them to be resilient to application change but there may be subtle differences between the versions that we either can't address or didn't have time.

[2019-03-06 15:28] dtu11 commented on #400
Yes, this is a gap in the API's as the editable grids are a little different as you point out.   I think we have a backlog item for this but if not i'll add it.

[2019-03-06 15:45] dtu11 commented on #402
Ok I'll take a look at it.

[2019-03-06 15:50] sri3bala commented on #393
Thanks, I tried and it returns nothing.

[2019-03-06 15:59] dtu11 commented on #412
What have been the errors that you are receiving?  Are you taking screenshots when an exception is thrown?

[2019-03-06 16:13] NicolasPrats commented on #404
Hello @dtu11 ,

We are working with Chrome and D365 Version 1710 (9.1.0.2640) online.

[2019-03-06 18:26] markcunninghamuk commented on #400
I added a Highlight row as a workaround, you can the click the Edit command if it helps

[2019-03-06 19:41] cnusrini commented on #338
@spasupuleti27 How did you automated for the query part using easyRepro? I could only able to get untill opening the advanced find window?

[2019-03-06 20:36] Haywaii commented on #407
Hi Daren,

Thanks for your answer. Indeed that is what i was thinking, thanks for confirming.
Yes, it's very strange :/
If it's not clear enough v9 version was the version of CRM not easyRepro. EasyRepro is v9.0.2.6 :)
Not problem there is no big rush i just saw that during my testing so i was thinking it could be important to raise.

Thanks for the suggestion! I will try it and then several few o

[2019-03-07 00:34] cnusrini opened #415 "How to query in Advanced find?"
How to perform test automation for querying advanced find?
Such as openAdvancedFInd() and then look for contacts entity and selected a field. something like that using easyRepro.

[2019-03-07 07:43] mVermaat commented on #404
@dtu11

For me exactly the same. Good plan to use the deprecated method for now.

[2019-03-07 12:11] gyepescalle commented on #398
Hi,

I'm having the same issue. Has anybody been able to fix this somehow?

Thanks.

[2019-03-07 23:43] watsonthecat commented on #279
@TYLEROL I didn't see this added in v9.1 - has this been added?

[2019-03-08 00:06] TYLEROL commented on #279
Hey @watsonthecat - Apologies for not circling back on this one. My colleague did most of the UCI work, and after cross-checking, this should be in though I haven't been able to validate it myself.

The first step would be to utilize **Entity.SelectTab("Related", "{subTabName}")** from the entity form. After this, you can then use the **RelatedGrid.ClickCommand("CommandName", "{optionalSubCommandN

[2019-03-08 00:06] #279 closed, assigned to nobody

[2019-03-11 11:26] nlipkow commented on #392
Thanks, it is available now indeed!

[2019-03-11 11:26] #392 closed, assigned to nobody

[2019-03-12 01:46] saurabh-jas opened #417 "ADFSLoginAction"

[2019-03-12 01:46] #417 closed, assigned to nobody

[2019-03-12 01:48] saurabh-jas commented on #417
Created mistakenly while searching for relevant issue. Closed it.

[2019-03-12 04:09] saurabh-jas opened #418 "MultiValueOptionSet"

[2019-03-12 04:09] #418 closed, assigned to nobody

[2019-03-12 10:03] Kumarwgl commented on #342
Hi @Dolph-Dragon
Please help me out on  How to click on drop down option in easyrepro framework..

Request Originator-->>

![Capture](https://user-images.githubusercontent.com/43398677/54191450-f0ccf000-44db-11e9-8417-68df56d5e774.PNG)

Thanks,
Kumar

[2019-03-12 10:06] Kumarwgl opened #419 "DropDown"
Hello Team,
Help me on Clicking on dropdown option..

![Capture](https://user-images.githubusercontent.com/43398677/54191771-96805f00-44dc-11e9-9e52-f37f675cfdd5.PNG)

[2019-03-12 14:11] JINK666 commented on #411
Good afternoon,

I seem to be running into the same problem with v9.1. If I look in the examples and search on Google the following code should work:

[code]

Where the IFrame has the following information (searched with F12 on Chrome):

**_<iframe frameborder="0" id="WebResource_RelatieType" onload="if(!IsNull(Mscrm.InlineIFrameControlView)) Mscrm.InlineIFrameControlView.loadHandler(&quot;WebReso

[2019-03-12 15:38] berellax opened #420 "Edge Browser"
Hi, one of the "Known Issues" is that Edge browser is not currently supported due to known bugs. Can you provide any details about what those bugs are and when they might be resolved?

[2019-03-12 15:54] kavitham1985 opened #421 "Deactivate Account --> Dialog box with options for statecode"
Can you please let me know how to access the dialog box after clicking on deactivate account @TYLEROL

[2019-03-13 16:18] Haywaii opened #422 "[UCI XrmApp Problem] test fails when trying to open sub area, corresponding xrmBrowser one doesn't"
Hi,

I encounter the same problem than this issue (my work is a business project so difficult to share more screenshot or source):
https://github.com/Microsoft/EasyRepro/issues/185

I tried the solution mentioned but i still got the same error.
I know in settings you can choose to use a hybrid Unified Interface. That's what we do.
Even when we disable it, our test still doesn't work.

Here the cod

[2019-03-13 16:37] avanthih commented on #286
I am getting error when trying to set owner for an existing account. Used below code:
 [TestMethod]
        public void WEBAccount()
        {
            using (var xrmBrowser = new Microsoft.Dynamics365.UIAutomation.Api.Browser(TestSettings.Options))
            {
                SecureString AMLogin = System.Configuration.ConfigurationManager.AppSettings["AdminOnlineUsername"].ToSecureString();

[2019-03-14 08:55] Dolph-Dragon commented on #342
Hi @Kumar,

this is the code that works for me with drop down fields (Option Fields) :

<< xrmBrowser.Entity.SetValue(new OptionSet { Name = "fieldname", Value = "desiredOption" }); >>

fieldname should be something like "Request Originator". ( Its the name that is configurated in your CRM Systemview)
desiredOption should be the name of the option that you want to click on. ( "... Provider") ( Cas

[2019-03-14 11:48] Kumarwgl commented on #342
@Dolph - Thank you

On Thu, Mar 14, 2019 at 2:25 PM Dolph-Dragon <notifications@github.com>
wrote:

[2019-03-14 13:55] bhomick opened #423 "How to Automation in Custom html pop up window?"
Hi Team,

Need to Automation in Custom Html pop up window.

![Capture](https://user-images.githubusercontent.com/48288553/54408772-3c181600-4709-11e9-9862-6747d63fd618.PNG)

[2019-03-14 14:19] dolph commented on #342
@Dolph-Dragon ^

[2019-03-14 14:50] kavitham1985 commented on #421
Need help with this please
@TYLEROL @markcunninghamuk

[2019-03-15 07:31] yoadster commented on #116
Are you still having difficulties here? I've set up a full automated Azure DevOps with easy repro, Specflow and MsTest. The tests can be easily executed on demand or scheduled.

[2019-03-18 11:33] triciasinclair commented on #391
thanks this worked for me too. Any new instance created this month in the uk has this change.

Thanks for sharing @s-bauer

[2019-03-18 13:13] triciasinclair opened #424 "Unable to use opensubarea in new UI"
When using the new UI, the OpenSubArea method doesn't work. It throws the error 'Object reference not set to an instance of an object.'

xrmApp.Navigation.OpenSubArea("Customers", "Accounts");

[2019-03-19 12:49] Dolph-Dragon commented on #423
Hi @bhomick,

i ran into the same issue. In my case it was a warning from CRM. I used Selenium to solve this Problem.
This code was helping in my case :

            IAlert alert = xrmBrowser.Driver.SwitchTo().Alert();
            alert.Accept();
            xrmBrowser.ThinkTime(1000);

As i said, this works for me. I dont know if this specific code helps you out. Your pop-up may not be handled as

[2019-03-20 13:46] bhomick commented on #423
Hi @Dolph-Dragon ,

Many Thanks for the response.
But Your mentioned code is not worked in this case. Because this pop is open in new window and its HTML content. If you know about this its really helpful for me.

Hope you could help me !

Regards
Bhomick

[2019-03-21 18:19] sri3bala commented on #393
Any help would be appreciated. I need to run JavaScript to automate some tasks. thanks.

[2019-03-21 19:19] sri3bala opened #425 "Please provide CloseRecord"
It would be nice if  Grid.CloseRecord(0) is provided.  I am trying to use JavaScript to close the page and open the next record from the grid and not successful.

xrmBrowser.Grid.OpenRecord(i);
xrmBrowser.Grid.**CloseRecord(i)**;

Thanks,

[2019-03-22 17:22] Haywaii commented on #422
Updating the package of the framework with the latest version solved the issue but now the system doesn't recognize the area i try to go to as part of this issue: https://github.com/Microsoft/EasyRepro/issues/252

@TYLEROL do you have an update if the change was pushed to the latest version please? (i can't find your code of 9.0.2 anymore and version other than the last one doesn't work)

[2019-03-25 09:33] iblejan opened #426 "xrmApp.OnlineLogin.Login throws "Login Page Failed""
Steps to reproduce.

1. Create a 30 day Dynamics 365 trial version.

2. In your test:

    client = new WebClient(TestSettings.Options);
    xrmApp = new XrmApp(client);
    xrmApp.OnlineLogin.Login(_xrmUri, _username, _password);

This last line throws "Login page failed". If there's a workaround, can you please point me to that?
Thank you.

[2019-03-25 13:21] paulbreuler commented on #426
Had the same issue last Friday and playing around with the code again today to see if I missed something. Stack trace below for reference.

[code]

[2019-03-25 14:49] paulbreuler commented on #426
Looks like some of the elements on the app page have changed. I just updated some of the element reference strings and got things working.

Change Login_CrmMainPage reference in ElementReference.cs:
`{ "Login_CrmMainPage", "//*[@data-id='topBar']"},`

Change Nav_AppMenuButton reference in AppElementReference.cs:
` { "Nav_AppMenuButton" , "//button[@data-id='navbar-switch-app']"},`

Login and OpenA

[2019-03-27 03:36] rcjohnson113 opened #427 "OrderedTests fail - ChromeDriver PATH variable"
1. Downloaded the source code.
2. Build successfully
3. Ran individual tests successfully.
4. Ran the OrderedTest and it fails stating:

![image](https://user-images.githubusercontent.com/6878307/55048784-b8163600-5006-11e9-97a1-d8c7aafef898.png)

[2019-03-27 03:45] rcjohnson113 commented on #427
Tried downloading multiple versions of the Chrome Driver (74.0.3729.6 and 2.38)
Added the location to my system PATH variable
Still receiving the error.

[2019-03-27 13:36] pushpa-kadam opened #428 "Unable to locate custom controls in CRM"
For Custom Controls, CRM embeds a div at the bottom of the page and client.Browser.Driver.FindElement doesn't find out the element.

[2019-03-27 15:29] TYLEROL commented on #426
@iblejan - Thanks for raising this issue. In your scenario with the new trial, after you login to D365 - are you landing inside a UCI app? Or is the system landing you on a generic page which has a list of apps that you can then open?

The latter scenario is a known issue and we're working to accommodate this new behavior so that the loading will be independent of landing page post login.

@paulbr

[2019-03-27 15:47] TYLEROL commented on #422
@Haywaii - When you access your Unified Interface app, do you have more than a single area in the navigation? Or just one area? My screenshot below has multiple areas (Sales, Service, etc...)

I have a backlog item opened with the team to update UCI to support apps that only have a single area, as it changes the element structure of the navigation which causes issues with the current implementatio

[2019-03-27 15:54] blejan-sabin commented on #426
@TYLEROL - Thank you for investigating. To answer your question, I am taken to the page where all the apps are shown. You know, "Sales", "Customer Service", and so forth.

@paulbreuler -  Your solution works for me as well. Many thanks. Drinks to y'all are on me!

[2019-03-27 16:09] #401 closed, assigned to nobody

[2019-03-27 16:16] TYLEROL commented on #389
Related #396

[2019-03-27 17:24] rcjohnson113 commented on #427
I added chromedriver.exe to c:/windows and it worked which means it needed to be in PATH (not sure why it wasn't recognizing). Which means it will work if I have chromedriver.exe added to PATH, not ideal for Devops build/releases.
So with OrderedTests it does not recognize the chromedriver.exe in my bin directory so it fails. Running tests without an ordered test approach it works.

[2019-03-27 19:02] paulbreuler commented on #426
@TYLEROL - Thanks for the response. I am landing on the app picker page.

[2019-03-27 21:19] rcjohnson113 commented on #427
Got it working.

Make sure your Ordered Test Copy Local is set to Always (or newest). This is also needed for DevOps Builds/Releases. Also make sure it isn't within a subfolder or it will not be able to find chromedriver.exe. Since the instantiation of the driver doesn't have the file path of the chromedriver.exe specified each time, it defaults to the working directory and therefore that is why r

[2019-03-27 21:28] rcjohnson113 commented on #423
XrmBrowser.Driver.LastWindow().SwitchTo().ActiveElement();

Now that you are in a custom html web resource you are going to have to find the Ids of the fields and reference them using xpath. Here I get an image and it has an onClick event so I fire .Click().

XrmBrowser.Driver.FindElement(By.XPath("//*[@id=\"img_lookup_search_IccId\"]")).Click();

[2019-03-27 21:41] bwmodular commented on #427
Hi @rcjohnson113,
not wanting to hijack your thread, but I notice you talking about ordered tests and Devops releases. Have you managed to get selenium/easyrepro tests working in different environments in your release pipeline? I've tried parameterising using testContext variables from a runsettings file but the ordered tests don't pick up the testContext, or rather you can't use a ClassInitialise

[2019-03-27 22:35] rcjohnson113 commented on #427
seems like you have been asking this question for awhile with no luck:

https://social.msdn.microsoft.com/Forums/vstudio/en-US/33780ff0-8104-4c95-9a70-3e89777fd28c/orderedtests-and-runsettings-files?forum=vsunittest

I haven't gotten it up to DevOps yet but I was thinking as a workaround (pretty ugly) it my app.config I would hold the variables I am changing (username, password, url, browser type)

[2019-03-28 04:42] bhomick commented on #423
Hi @rcjohnson113 ,

Many thanks for the response.
Your above mentioned code is worked for me.

Regards
Bhomick

[2019-03-28 05:27] #423 closed, assigned to nobody

[2019-03-28 08:59] Haywaii commented on #422
Hey @TYLEROL thanks for your answer!

No, i just have one at the moment which is called "CRM" (your equivalent of "Service")
Yes, If i had more i would see something like you next to "Service" i think.

Yes i understand. In that case we will try to add another area just for our automation to work so we can keep working on it :)
Please let us know when the fix will be made or if we can change it di

[2019-03-28 16:14] SachchinAnnam commented on #411
We have used web resources to meet specific business requirements and the web resources are used as custom forms in different tabs. And they are built using react js components.

These forms are incorporated in tabs.

So do we have any feasibility to achieve automation testing for the web resources?

[2019-03-28 19:37] sri3bala opened #432 "How do i click on alert (popup) window button?"
How do I click on alert (popup) window button (Yes, Cancel) ?

At the last stage of BPF, there is a alert (popup) window that I need to click on the button ont he alert window. How do i click on this?  I looked at the samples and could not find it.

Thanks for the help.

[2019-03-29 06:58] bhomick opened #435 "How to generate Test report ?"
Hi Team,

How to generate Test report ?

I want to see my all test cases in a html file report like total test cases run, failed or how many pass etc.
Please help me how to generate such html file with example.

[2019-03-29 12:27] darthtang commented on #178
This could be a related issue->fix via@markcunninghamuk https://github.com/Microsoft/EasyRepro/pull/403

[2019-03-29 14:15] pushpa-kadam opened #436 "Clicking on a custom button in More Commands gives error, "element not interactable""
If the custom button goes in More Commands, then .click() gives an error, "element not interactable".

If the same button is outside the More Commands, then in that case the button is working as expected.

I suspect the issue is because the Displayed property of the element comes as False. Don't why is this the case.

**Error Message:**
element not interactable
  (Session info: chrome=73.0.3683.86

[2019-03-29 14:18] mVermaat commented on #426
Thanks for the workaround for the login xpath references. They are needed to fix this. Also if I include the app in the url, I won't land in the app picker page but in the actual app. This is a nice workaround. In my case i go to: https://orgname.crm4.dynamics.com/main.aspx?app=d365default

[2019-03-29 18:09] mVermaat opened #439 "OpenEntity method opens wrong link in Microsoft.Dynamics365.UIAutomation.Api.UCI.WebClient"
See below 3 lines. First it gets current URL, then builds up the link to open the entity. Next it navigates to the current URL instead of the link.

`var uri = new Uri(_client.Browser.Driver.Url);`
`var link = $"{uri.Scheme}://{uri.Authority}/main.aspx?etn={entityName}&pagetype=entityrecord";`
`driver.Navigate().GoToUrl(uri);`

Additionally a nice enhancement to this method is to make the GUID opt

[2019-04-01 13:44] mVermaat commented on #394
Anybody found a good workaround for this issue?

[2019-04-01 15:36] jlattimer commented on #281
Documentation has been added to the wiki for this: [https://github.com/Microsoft/EasyRepro/wiki/Azure-DevOps-Test-Execution](https://github.com/Microsoft/EasyRepro/wiki/Azure-DevOps-Test-Execution)

I've also written a [blog post](https://jlattimer.blogspot.com/2019/03/run-your-automated-d365-ce-ui-tests_15.html) on it

[2019-04-01 20:00] gunjain commented on #426
I am having the same problem with my CRMOL8.2. It was working all fine till yesterday. Now, I am getting this error when I run my tests which are not changed at all. If I put breakpoint and run in debug mode, Login works all fine but it throws error when I run the testcase. Very weird.

[2019-04-01 20:02] gunjain opened #445 "Cannot read property 'PerformanceMarkerManager' of undefined"
internal const string GetAllMarkersJavascriptCommand = "return Mscrm.Performance.PerformanceMarkerManager.get_instance().get_allMarkersJson();";

I am getting an error on this line of code. I have a 30days Dynamics trial.

Test Name:	SharedTestUploadTelemetry
Test FullName:	Microsoft.Dynamics365.UIAutomation.Sample.SharedAPI.UploadTelemetry.SharedTestUploadTelemetry
Test Source:	D:\COMMUNITY\GJ Au

[2019-04-01 21:19] rcjohnson113 commented on #436
What is the code and screenshot of the UI?

[2019-04-02 09:41] pushpa-kadam commented on #436
Contact.cs :

       //Click Command Share
       xrmApp.CommandBar.ClickCommand("Share");

WebClient.cs :

internal BrowserCommandResult<bool> ClickCommand(string name, string subname = "", bool moreCommands = false, int thinkTime = Constants.DefaultThinkTime)
        {
            this.Browser.ThinkTime(thinkTime);

            return this.Execute(GetOptions($"Click Command"), driver =>

[2019-04-03 08:38] pushpa-kadam commented on #428
When can I except this to be a part of EasyRepro?

[2019-04-03 13:27] fatboyspy commented on #375
Could be solved by using a small crutch, like that

[code]

Helps in my case

[2019-04-03 19:18] watsonthecat commented on #279
@TYLEROL - getting exception with the RelatedGrid.ClickCommand, could you tell me if I'm doing something wrong here?

Steps:
_xrmApp.OnlineLogin.Login(_xrmUri, _username, _password);
_xrmApp.Navigation.OpenApp("Canada FTC/ISI");
_xrmApp.Navigation.OpenSubArea(area, subarea);
_xrmApp.CommandBar.ClickCommand("New");
_xrmApp.Entity.SetValue("name", "Test Account Automated");
_xrmApp.CommandBar.ClickC

[2019-04-04 08:48] bhomick opened #448 "how to handle javascript alert message?"
Hello Team,

how to handle javascript alert message?
![Capture](https://user-images.githubusercontent.com/48288553/55542364-82e3a500-56e4-11e9-9514-2745194ee12b.PNG)

[2019-04-04 08:51] bhomick commented on #448
@Dolph-Dragon @rcjohnson113 ,

Could you please help me into this?

[2019-04-04 12:55] Vishvajeetcse opened #449 "How to assert for mandatory/recommended fields?"
How to assert for mandatory/recommended fields?

[2019-04-05 06:18] Vishvajeetcse opened #451 "Did anyone verified the BPF titles and corresponding status?"
Did anyone verified the BPF titles and corresponding status?

[2019-04-09 06:14] bhomick commented on #448
@jdhuntington @chad @sverrejoh @sverrejoh @bgianfo

Could you please help me into this?

I am using below code but it not worked.

IAlert alert = xrmBrowser.Driver.SwitchTo().Alert();
   alert.Accept();

Error Message :
Message: Test method Microsoft.Dynamics365.UIAutomation.Sample.Web.BBtestEnq.WEBTestCreateNewAccount threw exception:
_**OpenQA.Selenium.UnhandledAlertException: unexpected alert o

[2019-04-10 11:26] sri3bala commented on #432
Any help on this ?

[2019-04-10 11:48] thathi commented on #432
did you try this?
 if (Driver.AlertIsPresent())
                Driver.SwitchTo().Alert().Accept();

On Wed, Apr 10, 2019 at 12:26 PM Sri Bala <notifications@github.com> wrote:

--
Cheers,
Thathi

[2019-04-10 15:12] SachchinAnnam opened #452 "Select form in UCI(9.1 branch)"
Hello Team,
For all entities, we are using different forms based on region of the user.
Do we have anything similar to the below select form feasibility for 9.1 version.
`var form = "Details";
                xrmBrowser.Entity.SelectForm(form, 1000);`

[2019-04-10 18:32] SachchinAnnam commented on #371
Hello @TYLEROL
Any workaround for this bug?

Appreciate your assistance on this.

[2019-04-10 21:03] markcunninghamuk commented on #371
There is a workaround I added called highlight record. You can then use the 'edit command after it is selected.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Sachchin Annam <notifications@github.com>
Sent: Wednesday, April 10, 2019 7:32:05 PM
To: Microsoft/EasyRepro
Cc: markcunninghamuk; Comment
Subject: Re: [Microsoft/EasyRepro] Lookup doesn't work in v9.

[2019-04-11 12:32] sri3bala commented on #432
That did not work for me.  below is working for me

//Clicking on yes on alert popup window

                xrmBrowser.Document.SwitchToDefaultContent();
                var alertbutton = xrmBrowser.Driver.FindElement(By.XPath("//*[@id='alertJs-dialog']//button[contains(.,'Yes')]")).Text;
                Console.WriteLine("Clicked on alert button = " + alertbutton);
                xrmBrowser.Dri

[2019-04-12 18:52] rupakraj6 commented on #149
Hi TYLEROL,

 is this fix available in the latest releases/9.1 branch. I seem to face this issue as shown below.

Microsoft.Dynamics365.UIAutomation.Sample.UCI.Create.CreateForecast.UCITestCreateForecast threw exception:
System.InvalidOperationException: List does not contain a record with the name:  XXXX

[2019-04-12 19:09] SachchinAnnam commented on #371
@markcunninghamuk: is your workaround related to selecting Account from lookup field?

[2019-04-15 02:09] deepak-surendar opened #460 "EasyRepro Code update when new version comes out"
I am using v9.1 of Easy Repro now. I also did some modification to Microsoft.Dynamics365.UIAutomation.Api.UCI.dll. When the new version v9.2 of EasyRepro comes out later on GitHub, how do I update my v9.1 code to v9.2.

[2019-04-15 12:31] UdayUday330 opened #461 "Options set value not working in Foreach loop"
Hi All,

Please help me below scenario,

on quick creating form there is one field where i want to select one option at a time & create entity,
Next time selecting new options from same field & save.  i wanted to save entity with 4 options.
So i have  take string list & looping it into foreach loop.

my code is not taking exact option while running code. in debug mode it is working fine.
while run

[2019-04-16 07:22] pushpa-kadam commented on #436
Any updates?

[2019-04-16 10:46] UdayUday330 commented on #183
In Debug mode it is working fine. but in direct run taking first value.

[2019-04-18 04:19] pushpa-kadam commented on #428
Any updates?

[2019-04-18 12:49] BillOwens commented on #452
This is a critical need for my company . We have many clients that have multiple forms that we are in the process of starting up testing projects. With UCI becoming the standard, we need this functionality in the UCI side as well as the browser. I am in the middle of setting this up a test and load test for one of our larger clients and we must change forms in order to test.

[2019-04-18 18:56] BillOwens commented on #371
I am having the same issue. Are there any updates as we are stuck now,

[2019-04-19 11:32] bhomick opened #462 "How to open a record from sub-grid?"
Hello Team,

How to open a record from sub-grid?

![Capture](https://user-images.githubusercontent.com/48288553/56422433-f1b82500-62c4-11e9-881e-c1aa7882fd72.PNG)

[2019-04-20 23:30] DigitalFlow opened #463 "Why is window.Xrm not used?"
Hey everyone,

first off, thanks for providing this framework, I tested it quite some times now and I very much appreciate the effort.

I was wondering however, why the window.Xrm functionalities are not used.
This would relax many issues with handling inputs, for example asserting values of controls that are not shown in the current tab of a UCI form.

Was it an active decision not to use it?

Ki

[2019-04-21 18:56] silverbrewer07 commented on #149
Hi @TYLEROL,

I am also still having this issue. It works fine for me if the lookup is on the first tab of the UCI but not if its in a different tab. It work about 50% of the time.

Thanks
Beau

[2019-04-22 13:22] ghost opened #464 "CommandBar.ClickCommand Doesn´t find the button - Unified Interface"
Hi, i have a problem finding a button in the New Interface.

Usually i use xrmBrowser.CommandBar.ClickCommand("New"); and this push the button but in the new interface show me the following error:
Message: Test method Microsoft.Dynamics365.UIAutomation.Sample.TestCRM.NewPDV.Contrato_Proveedores+NuevoContrato.CrearNuevoContrato threw exception:
System.ArgumentNullException the value can´t be null.

[2019-04-22 15:41] BillOwens commented on #371
I was able to get my test to work. I added a ThinkTime afterwards and it worked. I beleive we are just not giving the control enough time to fully function.
[code]

[2019-04-23 14:10] ghost commented on #371
i trying this in the V9.1 but Unified Interface doesn´t work... anyone with the same problem?

[2019-04-24 05:29] markcunninghamuk commented on #371
William Owens is correct. It is much more reliable with a thinktime added.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: MMCod <notifications@github.com>
Sent: Tuesday, April 23, 2019 3:11:01 PM
To: Microsoft/EasyRepro
Cc: markcunninghamuk; Mention
Subject: Re: [Microsoft/EasyRepro] Lookup doesn't work in v9.1 (#371)

i trying this in the V9.1 but Unified

[2019-04-25 07:36] SachchinAnnam commented on #371
It works well, when the lookup has relatively small number of items.. Like while selecting Language or Currency.
But it fails with the below error when we try to select Account where lookup has large number of items.
_List does not contain a record with the name:  **abc_AccountName**_

[2019-04-25 07:43] SachchinAnnam opened #468 "GetValues from Lookup, OptionSet and Multioptionset (v9.1)"
I am trying to get the values from the fields and it worked with single line of text field but it failed with lookup and optionset fields.

Here is the snippet I used:
string acctName= xrmApp.Entity.GetValue(new Lookup { Name = "Account" });
string statusValue= xrmApp.Entity.GetValue(new OptionSet { Name = "statuscode" });

[2019-04-25 10:33] suryapatharlapalli commented on #235
Hi,
One of the method called "SetValue(new OptionSet { Name = , Value =) " is not working for "Case Type" field which is used to create a new case in Case Entity of the Service module of CRM . It is not selecting the specified value from the list and by default it is taking the first value.
It is also not throwing any exception if the text and attribute value is not matching with the specified val

[2019-04-25 12:48] HIREN-AITC commented on #452
We too have a requirement of the same. Can we expect it very soon?

[2019-04-26 11:45] yoadster opened #469 "System.InvalidOperationException: The Office 365 sign in page did not return the expected result and the user 'System.Security.SecureString' could not be signed in."
Hi, using Dynamics Version 1710 (9.1.0.4044) online with the April 2019 updates enabled. The code sample provided has worked flawlessly pre-update.

When the login code runs it does actually log the user in and displays the organisation homepage however the following exception occurs and the test fails

Test Name:	Lead_CreateNewLead_SA_MyAccountA2D_Onmicrosoft_Com
Test FullName:	A2D.DynamicsCE.Tes

[2019-04-30 15:36] sammcquistan commented on #419
When I was trying to figure out how to automate a click on these dropdowns, I found that each of these entities is stored in what is called an "Option Set". When you are logged in to an admin account, you can find these option sets in Dynamics by clicking "Settings", then "Customization", then "Customize the System". In the popup, click "Option Sets" under Components and find the option set that i

[2019-04-30 15:59] sammcquistan opened #470 "Using EasyRepro on webpage written with React elements"
I am trying to automate QA testing within our Dynamics 365 application using EasyRepro and I am currently stuck on automating elements written in React. My issue is that when I try to click a contact in the search box within what we call our "Draftboard", a record populates and it is clicked on so that the "Deal" records that are associated with that contact populate within another divider on that

[2019-05-01 11:07] eduarddalm opened #471 "Help Wanted: Encrypt credentials in app.config"
Hi,

I have  a requirement to encrypt the url, user and password in app.config.
Now when checking in the solution in Azure DevOps the credentials are not encrypted and can be read by anyone who has access.

![image](https://user-images.githubusercontent.com/25723165/57014627-45096c00-6c11-11e9-9865-052b7e7415b4.png)

` <appSettings>
    <add key="OnlineUsername" value="MI2VW41eUDA7eDT2muvm+p0bZ6+l

[2019-05-01 12:01] bwmodular commented on #471
There are probably a few options, but the method we use is to use Azure KeyVault to store passwords.
You can then put the 'key' to your keyvault in you app.config so you're not storing passwords there. You can then restrict access to the keyvault either by App registration (so only registered applications are allowed to get secrets from the vault) or you can restrict by IP address, which means tha

[2019-05-01 13:39] eduarddalm commented on #471
@bwmodular Thanks for the suggestion!
I am aware of Azure Key Vault option and mentioned it to my customer. My customer however does not have the option to use Azure Key Vault. It will take a while until the decision to use Azure will be made.

[2019-05-02 09:19] Dolph-Dragon commented on #468
Hi @SachinAnnam,

have you tried to use xrmBrowser?  Like this :

xrmBrowser.Entity.GetValue(new OptionSet { Name = "statuscode" });

What kind of ErrorMessage do you get?

Best Regards

[2019-05-02 12:17] silverbrewer07 commented on #371
I am also having this issue. I agree with Sachin it works great when you have a small list. The more frustrating issue for me is it was working fine and just stopped working - guess it could be as we have added more records. The more frustrating part is if you debug the test and get the error and continue it ends up setting the value. This has us stopped in automated testing in the UI.

Thanks!!

[2019-05-02 13:55] sammcquistan opened #472 "Javascript Executor - trying to scroll to bottom of page"
Within the contact section of Dynamics, I am trying to scroll to the bottom of a page. I have tried using IJavaScriptExecutor by referencing the xrmBrowser as the driver variable in the following code:

IJavaScriptExecutor jse = (IJavaScriptExecutor)xrmBrowser;
jse.ExecuteScript("window.scrollBy(0,250);");

The error I receive is "Test method (insert test name here) threw exception: System.Invalid

[2019-05-02 14:26] jlattimer commented on #281
Closing

[2019-05-02 14:26] #281 closed, assigned to nobody

[2019-05-02 22:34] JonnySunNZ opened #473 ""Value cannot be null" error when using xrmBrowser.CommandBar.ClickCommand"
I got the following error when using xrmBrowser.CommandBar.ClickCommand("New");
`-> error: Value cannot be null.
Parameter name:    ###source`

following are my stepdefinitions:

[code]

Full error message:

[code]

Please help!

[2019-05-03 03:30] silverbrewer07 commented on #371
After some additional testing it actually types the field and the option is displayed in the lookup box but it just doesn't get selected. I have as a temporary work around just used javascript to set the field values but it does not support any conditional testing. This issue has gotten much worse since the latest update in UCI

[2019-05-03 06:31] SachchinAnnam commented on #371
Do we have any workaround as we are stuck with lookup selection in almost all the scripts?
@TYLEROL : Please help us.

[2019-05-03 11:06] dnamrgrts commented on #462
Hello, i have a similar Problem. I want to delete a record from sub-grid.
Does anyone have a solution?

[2019-05-03 15:40] sammcquistan opened #474 "Test Method throws exception: System.NullReferenceException: Object reference not set to an instance of an object."
In this particular test that is being run, I am unable to interact with the "Add a Phone Call" activity in a contacts page. Our developers do not believe this is code that we have written, but the issue has been narrowed down to the element's onclick attribute having an assignment of "return false;". Normally, a click on this element yields the intended result of the dropdown (second image attachm

[2019-05-06 19:05] luturol commented on #171
Hi, I've tried to update my VS to the lastet version, but my error wasn't from the VS version, it was from my code.

My class did not have the `[TestClass]` annotation in the declaration and that was cause.

[2019-05-07 08:53] GowriRamanujapu commented on #371
I am having the same issue. Not able to select a value from look up . CRM FS version is 8.6.0.274

[2019-05-09 09:48] dnamrgrts commented on #462
@TYLEROL

[2019-05-09 10:09] SachchinAnnam commented on #371
Do we have any updates, as most of us are facing the same issue and not able to proceed further due to the underline issue.

[2019-05-09 11:44] SachchinAnnam commented on #469
I faced similar issues initially and later i tried to create a local user and logged into the system using the local user. Later executed the scripts with that user and it worked any issues. Please try this approach.

[2019-05-12 16:23] jlattimer commented on #471
You're better off not checking in the sensitive bits in the first place. You could simply move those pieces to another file linked to the main app.config and the exclude that from source control and then you wouldn't have to worry. The new file will be additive to whatever is in the app.config appsettings already.

So something like this:

[code]

[2019-05-14 06:20] GowriRamanujapu commented on #426
Log in didn't work as it is, we tweaked it a bit to work for us.
it will be good if Clicking Ok on the Pending email alert is also handled as part of log in.

we changed like below in our local repository and using it as a work around.
![image](https://user-images.githubusercontent.com/50359658/57675003-5bb2b880-763e-11e9-8bf8-e08b2bafa928.png)

[2019-05-14 07:36] spasupuleti27 opened #477 "can you help me with on how to use xpaths in new UCI interface in Easy repro"
EG: I have tried below code for entering value in lastname in contact entity.
Knew that we can use the xrmApp.Entity.SetValue("lastname", TestSettings.GetRandomString(5, 10));

but, I would like to know how we are going to use **xpaths** as we have many customer fields which would resolve me for those.
Here is a sample code i tried but its not working and getting **NullReference Exception: Object

[2019-05-14 13:48] sammcquistan commented on #477
Do you know if this page that you are testing is a custom-written page? Or is this a page that is native to Dynamics? I believe what you're trying to do is create a new contact, so I will detail what I did to get my script to work.

I believe what you are working with may look similar to this:
![full name](https://user-images.githubusercontent.com/49731029/57702326-73307800-7623-11e9-8db1-5bc0852c

[2019-05-14 20:38] SARCASMOOO opened #478 "WEBTestCreateNewAccount HTTP Request to remote Webdriver timed out"
I am using an _on premise Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online_. The browser I am testing with google chrome 74 on windows 2012 R2 in a VM. When I run the WEBTestCreateNewAccount test and it opens the browser but does nothing till I get a browser has time out error. I am using the OnPremise branch of easyRepro. Any ideas? Note the test I am using is not modified and

[2019-05-15 00:36] jlattimer commented on #371
@nlipkow your issue might be because of the way the lookup is set using XrmBrowser. Currently the behavior will open the dialog with the top X results and then attempt to do a case sensitive match on the results. So if Price Level only has a few values, it stands to reason it would be in the list of what is initially displayed before a search. In the case of the Contact lookup, is Nancy Anderson i

[2019-05-15 03:26] jlattimer commented on #275
Documentation has been added to the wiki for this: [https://github.com/Microsoft/EasyRepro/wiki/Azure-DevOps-Test-Execution](https://github.com/Microsoft/EasyRepro/wiki/Azure-DevOps-Test-Execution)

I've also written a [blog post](https://jlattimer.blogspot.com/2019/03/run-your-automated-d365-ce-ui-tests_15.html) on it

[2019-05-15 03:26] #275 closed, assigned to nobody

[2019-05-15 15:10] jlattimer commented on #449
If you aren't using UCI then you'd probably need to use an ExecuteScript call to find the value. Issue is that when labels aren't displayed the page elements don't really make it clear what is required or not.

[code]
That will return none, required, or recommended.

If using UCI you can do something like this:

[code]

That will return:
0 = none
1 or 2 = required
3 = recommended

Also note there

[2019-05-15 15:10] #449 closed, assigned to nobody

[2019-05-15 15:42] jlattimer commented on #463
That wouldn't really be testing the UI in most cases. Example, if you use a JS method to update a field that is hidden it's going to succeed. If you try the same thing via the underlying Selenium it should fail because the field isn't visible which better simulates the user not actually being able to type into it.

[2019-05-15 16:32] DigitalFlow commented on #463
Hi Jason,

Thanks for commenting.

I'd advocate against that: I'm checking whether the field is readonly or hidden and throwing an error in either of those cases.
It's more robust, supported and setting Lookups and Optionsets works flawlessly.
In addition to that, with the rising of custom controls I do not need to handle these separately.

Kind Regards,
Florian

[2019-05-16 09:47] spasupuleti27 commented on #477
@sammcquistan, Thank you so much for your quick response and guidance.

Currently we are using the new "**Unified interface for Dynamics 365 CRM **". This UI looks different than **WEb Client** as shown below:
![contact](https://user-images.githubusercontent.com/42530506/57842308-da982480-77e9-11e9-82c7-5338df80ab96.png)

**__what am exactly trying to do here is:_**:  In Automation, if the element

[2019-05-16 10:30] praveenKumarCh opened #482 "Alert"
How to check weather alert is present or not ?

[2019-05-16 14:38] sammcquistan commented on #477
@spasupuleti27 Did you solve this? You are correct in being able to use XPaths as an alternative form of identifying an element. I haven't had to use this frequently when using EasyRepro (only have had a select few use cases for them that ID or name did not pick up the element). Your third suggestion on ways to set a field value were what I was going to suggest in the event your previous code did

[2019-05-16 14:49] spasupuleti27 commented on #477
@sammcquistan, its resolved and able to set value to the field in different ways

Thanks!

[2019-05-16 16:55] jlattimer commented on #404
When formatted as a list it doesn't work either. Going from false to true opens the drop down but never sets. Going from true to false doesn't open the drop down at all.

[2019-05-17 07:07] spasupuleti27 commented on #482
@praveenKumarCh , can u try with below. Hope this may help you
if(xrmBrowser.Driver.AlertIsPresent())
                {
                xrmBrowser.Driver.SwitchTo().Alert().Accept();
            }

[2019-05-17 21:17] jimmymunoz83 commented on #233
hello, you have been able to solve the problem of attributes of two options ... I can not set the value of two options

[2019-05-19 05:01] #471 closed, assigned to nobody

[2019-05-19 05:09] trevstephenson commented on #395
I've written up a way on how you can do this. Hope it helps.
https://www.linkedin.com/pulse/performance-testing-dynamics-365-online-trevor-stephenson/

[2019-05-19 12:46] #477 closed, assigned to nobody

[2019-05-19 18:10] jlattimer commented on #478
Can you double check the Selenium and Web Driver versions match what is listed as supported?

[2019-05-19 18:22] bhomick commented on #478
@jlattimer how can we increase the time out Number for error message " window timed out after 60  seconds  ?? As above describe error message

Thanks in advance

[2019-05-20 02:11] jlattimer commented on #478
If it's timing out at 60 seconds and hasn't done anything I think there are other issues. Have you tried downloading & compiling the [On Premise branch](https://github.com/microsoft/EasyRepro/tree/releases/OnPremise)?

[2019-05-20 07:25] praveenKumarCh opened #485 "can any body help me to how to click on Ok button in Pop up"
I used this but no luck  :_xrmApp.Dialogs.ConfirmationDialog(p0); So here the parameter is true

[2019-05-20 14:41] #368 closed, assigned to nobody

[2019-05-20 14:42] #384 closed, assigned to nobody

[2019-05-21 00:24] jlattimer commented on #394
Merged into 9.1 branch - closing

[2019-05-21 00:24] #394 closed, assigned to nobody

[2019-05-21 00:24] jlattimer commented on #375
Merged into 9.1 branch - closing

[2019-05-21 00:24] #375 closed, assigned to nobody

[2019-05-21 00:25] jlattimer commented on #371
Merged into 9.1 branch - closing

[2019-05-21 00:25] #371 closed, assigned to nobody

[2019-05-21 01:06] jlattimer commented on #422
#398

[2019-05-21 01:07] jlattimer commented on #290
Closing - @NinjaSakshi raise a new issue if this is still an issue

[2019-05-21 01:07] #290 closed, assigned to nobody

[2019-05-21 09:08] Haywaii opened #488 "[NuGet Package] Date of the next release?"
Hi there,

Not really an issue but I would like to know when the next release for easyRepro as a package is planned.
Indeed many fixes/new things are on master but not release yet in the package.
So we can use nuget package without importing generate dll from the clone we make of the repo and use them as reference in our project :)

Thx a lot,

[2019-05-21 16:12] ryanpiran opened #489 "Unable to interact with any element not currently visible since Dynamics Update"
Hi,

I'm running Dynamics 365 (9.1.0.5024) online with EasyRepro V9.1.0.1. We've recently begun experiencing an issue where we get errors when interacting with any elements which are not currently visible. We've discovered that a recent update of dynamics has introduced 'lazy loading' and the objects not currently visible therefore do not exist. Previously we were able to use a command such as :

[2019-05-22 08:36] herr-mueller commented on #386
Hi @Paca ,
we also need to use "Windows 10 Accounts" extension in our AD to login with Chrome. I tried your approach but now the automated browser sessions are directed to "portal.office.com" and not to Dynamics 365. Do you have any advice on this?

Cheers,
Johannes

[2019-05-22 15:36] sergiodegrazia commented on #178
Hi all,

I am experiencing this issue when trying to interact with a Lookup View. I can enter the Lookup overlay and select/deselect the items but I am not actually able to click on them to navigate to the related record.

xrmBrowser.Entity.ClickSubgridAddButton("Repairs"); //Selecting the 'Add' button in Subgrid
xrmBrowser.Entity.SelectSubgridLookup("Repairs", true); //Selecting the 'View More Re

[2019-05-22 16:15] bhomick commented on #462
@jlattimer Can you please look into this?
Thanks in Advance

[2019-05-22 16:24] bhomick commented on #478
@jlattimer  Error is not occuring if environment is working fast but some time environment is low then time out error is occurring.  Can you please help me to Increase Time Out number , so that if environment is slow then also able to run the script.

Thanks in Advance.

[2019-05-22 16:55] kavitham1985 commented on #468
Hi,
Any updates on this? I am using UCI and want to update statuscode. xrmApp.Entity.SetValue(new OptionSet { Name = "statuscode", Value = "Inactive" }); is throwing statuscode is not found error.
Error Message "Field with name statuscode does not exist."

[2019-05-22 22:45] TYLEROL commented on #488
Hi @Haywaii - We just published version 9.1.0.2 to the NuGet feed this afternoon. Please give this a try for any existing issues you've faced.

If any problems occur, open them as appropriate on the issues list.

Thanks,
Tyler

[2019-05-22 22:45] #488 closed, assigned to nobody

[2019-05-23 07:14] igneshj opened #503 "Not able hit HTML Custom Button and IFrame"
I have a HTML code inside IFrame in the Webresource. But not able to hit the WebResource Frame by the below mentioned Code. Please Suggest ?

               //Switch to the WebResource frame
                xrmBrowser.Driver.SwitchTo().Frame("WebResource_NewAccountType");

                //Custom Input Button Click
                xrmBrowser.ThinkTime(5000);
                xrmBrowser.Driver.Find

[2019-05-23 08:28] Haywaii commented on #488
Lovely thanks a lot, I will try it!

On Wed, May 22, 2019, 11:45 PM Tyler Olson <notifications@github.com> wrote:

[2019-05-23 11:19] Bala-Ramadoss opened #504 "V9.1 XrmApp.GlobalSearch.Search not working as intended"
The Search String in the above method is not entered in the search input field of the global search area which is against the intended function.

Class: Microsoft.Dynamics365.UIAutomation.Api.UCI.XrmApp

Please rectify the issue asap.

[2019-05-23 11:29] Bala-Ramadoss opened #505 "V9.1 XrmApp.GlobalSearch.FilterWith Method is not functioning as intended"
GlobalSearch.FilterWith method is not working as intended, it throws an exception even though GlobalSearch(Relevance Search) results have been successfully displayed.

We are unable to drill down the global search results as per the record type (refer to the highlighted part in screenshots attached).

The stack trace & others details are attached.

**Class:** Microsoft.Dynamics365.UIAutomation.Api

[2019-05-23 12:22] jlattimer commented on #489
Wouldn't you want this to be the case? After all, if a user can't see an element they shouldn't be able to interact with it.

[2019-05-23 12:40] jlattimer commented on #478
You might look at adding a default timeout to the ChromeDriver initialization in [BrowserDriverFactory.cs](https://github.com/microsoft/EasyRepro/blob/develop/Microsoft.Dynamics365.UIAutomation.Browser/BrowserDriverFactory.cs)

Something like:

[code]

[2019-05-23 12:48] Bala-Ramadoss opened #507 "V9.1 WebClient.FilterWith Method is not functioning as intended"
WebClient.FilterWith method is not working as intended, it throws an exception even though GlobalSearch(Relevance Search) results have been successfully displayed.

We are unable to drill down the global search results as per the record type (refer to the highlighted part in screenshots attached).

The stack trace & others details are attached.

Class: Microsoft.Dynamics365.UIAutomation.Api.UCI.We

[2019-05-23 13:01] jlattimer commented on #462
Does this work to open?

[code]

[2019-05-23 13:32] ryanpiran commented on #489
@jlattimer The scenario would be when an element is on the current page but not in view as the user would need to scroll down the page to get to it. Previously a single `Xrm.App.SetValue` call to the element out of view (but on the current page) would cause the script to navigate to the element before setting it. However this no longer functions.

[2019-05-23 13:50] bhomick commented on #462
@jlattimer
Hi,
Thanks for the Response,

xrmBrowser.Grid.OpenRecord(0) is not work for Opening SubGrid Record.

Can you please help me into this?

[2019-05-23 16:56] tipsey commented on #393
1.  Open the page in Chrome
2. Open Developer Tools in Chrome
3. Open Console in Chrome
4. Type this in the console "document.title;"

Does it return anything?

[2019-05-23 17:07] SARCASMOOO commented on #478
@jlattimer I am using the on premise branch and checked that my chrome versions, OS, and chrome driver I used were all compatible. The chrome browser opens up and just sits in the login page of CRM then doesn't do anything.

[2019-05-23 17:14] sri3bala commented on #393
Yes, it returns the title.

[2019-05-23 19:13] jlattimer commented on #468
I believe the lookup issue was solved in an earlier PR and the latest should fix statuscode. It there are continued problems please raise a new issue.

[2019-05-23 19:13] #468 closed, assigned to nobody

[2019-05-24 06:58] eduarddalm commented on #471
@jlattimer
Thanks.

[2019-05-24 10:10] bhomick commented on #462
![Subgrid](https://user-images.githubusercontent.com/48288553/58322837-c84c6500-7e3f-11e9-84a0-dac7475e0114.PNG)
@ggeiszle  Can you please look into this?  How to Open Sub-grid Record?

Thanks in Advance

[2019-05-24 13:29] sri3bala opened #509 "IE Private Mode - URL is not loaded on IE browser when running test"
IE Private Mode - URL is not loaded on IE browser when running test in Visual Studio.

When running test in normal mode (PrivateMode = true), URL is not loaded in IE browser. Any help ?

Thanks,
Sri

[2019-05-24 14:17] lheng18 opened #510 "Does xrmApp.OnlineLogin.Login support loading Chrome default cached profile"
I encountered an error when try to run any of the sample test case and it failed at the login to D365 online. I saw the automation open crm url in Chrome and enter the credential but instead of get redirect to CRM, it is automatically redirecting to a custom web page page and failed. I know I have to manaully go through a 3 steps to login in the CRM as the company policy.
1. I will be redirected t

[2019-05-24 16:37] lheng18 commented on #155
I have an opposite scenario. I want to reuse the cached profile to open chrome browser or reuse existing on e to not have to get authenticated which would additional windows pop ups that Selenium can't handle . Details is in [https://github.com/microsoft/EasyRepro/issues/510#issue-448195713](https://github.com/microsoft/EasyRepro/issues/510#issue-448195713). The test sample always opens a new brow

[2019-05-24 18:32] jlattimer commented on #220
Closing - off topic

[2019-05-24 18:32] #220 closed, assigned to nobody

[2019-05-24 19:46] sri3bala opened #511 "Running in Headless mode not working"
Running tests in Visual Studio in headless mode is not working.

I set the TestSettings.cs file like below

public static BrowserOptions Options = new BrowserOptions
        {
            BrowserType = (BrowserType)Enum.Parse(typeof(BrowserType), Type),
            PrivateMode = false,
            FireEvents = false,
            **Headless = true,**
            UserAgent = false

        };

It is

[2019-05-24 21:10] #244 closed, assigned to nobody

[2019-05-24 21:12] jlattimer commented on #511
IE doesn't support headless mode:
https://stackoverflow.com/questions/46645307/how-to-set-capability-for-ie-browser-to-run-in-headless-mode

[2019-05-25 15:52] #342 closed, assigned to nobody

[2019-05-26 19:57] jlattimer commented on #470
Closing - off topic as this isn’t EasyRepro functionality but more base Selenium code

[2019-05-26 19:57] #470 closed, assigned to nobody

[2019-05-26 20:00] #237 closed, assigned to nobody

[2019-05-26 20:02] jlattimer commented on #387
Closing - off topic as this isn’t EasyRepro functionality but more base Selenium code

[2019-05-26 20:02] #387 closed, assigned to nobody

[2019-05-27 10:04] praveenKumarCh opened #512 "Selecting the value from slow loading lookup field"

[2019-05-27 10:06] praveenKumarCh commented on #512
Selecting the value from lookup field : Lets consider i have entered a text which is present in lookup but taking more time to load and display in between that Script failing with error List does not contain the record with the name. SO how to handle this issue. I have used this code _xrmApp.Entity.SetValue(new LookupItem { Name = p0, Value = p1 });

Is there any option that we can pass time inter

[2019-05-27 15:32] SARCASMOOO opened #513 "On Premise CRM Version 1612 (8.2.2.112) (DB 8.2.2.112) on-premises using google chrome 74 opens browser then times out and does not work."
On Premise CRM  Version 1612 (8.2.2.112) (DB 8.2.2.112) on-premises using google chrome version 74 opens browser then times out and does not work. The browser opens then is greeted by the login page for CRM but stays there until the test times out. Also note I am using Windows Server 2012 R2.

I tried using the CRM on premise branch, V9 branch, and CRM Dev branch from easyRepro. I used the ADFS lo

[2019-05-27 18:55] sri3bala commented on #511
Thank you.

[2019-05-27 19:26] #511 closed, assigned to nobody

[2019-05-27 19:28] jlattimer commented on #513
Is this the same as #478 ?

[2019-05-27 19:30] SARCASMOOO commented on #513
Yes

[2019-05-27 19:38] jlattimer commented on #513
So can we close one of them? Raising the same issue multiple times won't get it addressed faster.

[2019-05-27 19:39] SARCASMOOO commented on #513
I will close the previous issue and keep this one open.

[2019-05-27 19:39] #478 closed, assigned to nobody

[2019-05-28 06:49] bhomick commented on #448
@jlattimer

Could you please help me into this?
I am using below code but it not worked.

[code]

Error Message :
Message: Test method Microsoft.Dynamics365.UIAutomation.Sample.Web.BBtestEnq.WEBTestCreateNewAccount threw exception:
OpenQA.Selenium.UnhandledAlertException: unexpected alert open: {Alert text : Are you sure you wish to qualify this Enquiry to a new Business Opportuninty?}

[2019-05-29 13:55] sammcquistan commented on #512
xrmBrowser.ThinkTime(<time in milliseconds>);

Example: If you want the script to wait for 3 seconds to load the next element you are trying to identify, you would use the following code:
xrmBrowser.ThinkTime(3000);

[2019-05-29 14:00] sammcquistan commented on #510
If you found the Selenium code that solves your situation, you can go to the top of the script where your directives are declared, declare "using OpenQA.Selenium", and use default Selenium code in your script. It will behave similarly to EasyRepro.

[2019-05-29 14:24] sammcquistan commented on #503
Instead of using xrmBrowser.Driver.FindElement(By.XPath("xpath here").Click(), try this:
xrmBrowser.Document.getElementByXPath("xpath here").Click().

I was running into a similar problem when building out my EasyRepro solution, and this was the fix that I ended up using. I found that xrmBrowser.Document was much more reliable than xrmBrowser.Driver.FindElement()

[2019-05-29 14:28] sammcquistan commented on #485
What kind of popup are you trying to click on? Is this a Javascript alert popup? Is this a new window popup? An in-page divider popup? Please elaborate more on the type of popup this is, and please attach some code relating to this popup.

[2019-05-29 14:28] praveenKumarCh opened #514 "How to filter from grid column"
![image](https://user-images.githubusercontent.com/50700992/58565265-0b497680-824c-11e9-8bd6-4ac3b78b6526.png)

[2019-05-29 14:34] sammcquistan commented on #473
Could you post a snippit of the code relating to the command bar element you are trying to click on? For example, if you are trying to click "New Contact":
![commandbar](https://user-images.githubusercontent.com/49731029/58565563-96971d80-81f4-11e9-8492-2b061052a11c.PNG)
This would be the code for that element:
![commandbarcode](https://user-images.githubusercontent.com/49731029/58565808-ff7e9580-

[2019-05-29 14:59] lheng18 commented on #510
I found the code does handle using cached profile. Just a particular test always opens a new clean browser session, others use cached profile.

[2019-05-30 07:41] sathya-devi commented on #371
@TYLEROL  @jlattimer I am facing issues in these type of look up field for Contact and Account, Other Lookups(Country) are working. I tried with Current release v9.1.

![image](https://user-images.githubusercontent.com/48006128/58616825-43989580-82dc-11e9-83c0-cc0ee9453f5f.png)

[2019-05-30 09:43] BenjaminDeveloper commented on #489
Has there been any progress on this?

[2019-05-30 11:00] BenjaminDeveloper opened #517 "V9.1 QuickCreate does not have a ClearValue method"
`XrmApp.Entity.ClearValue()` exists, but `XrmApp.QuickCreate.ClearValue()` does not.

It would be very useful for ClearValue to be implemented for QuickCreate.

[code]

[2019-05-30 11:06] praveenKumarCh commented on #512
My Query is when i am trying to select value from lookup its taking time to load. May it is taking default time to load for searched text. If the searched text is not loaded within the default time then failing to select the text from lookup i think so...

[2019-05-30 13:46] sammcquistan commented on #512
Yes, you can use xrmBrowser.ThinkTime() to delay your script from executing lines of code. If it is taking too long for your searched text to display, you can delay your script by using the ThinkTime line of code.

[2019-05-30 14:05] jlattimer commented on #371
Pull request [515](https://github.com/microsoft/EasyRepro/pull/515) adds the ability to use activity party fields

[2019-05-30 18:12] sri3bala opened #518 "Headless mode - how can i see console output or writing to log file?"
How can I see the console output while test is running in console mode on chrome browser?

Also, how can i write logs to log file?

Thanks,

[2019-05-31 04:54] jlattimer commented on #489
My existing orgs. are only 9.1.0.4834 and didn't exhibit this behavior. I spun up a trial and didn't and still ended up with 4834 so I'll try and circle back to this later if nobody has gotten to it by then.

[2019-05-31 09:41] Bala-Ramadoss commented on #507
waiting for a resolution on this issue. Please let know

[2019-05-31 09:42] Bala-Ramadoss commented on #505
waiting for a resolution on this issue. Please let know

[2019-05-31 09:42] Bala-Ramadoss commented on #504
waiting for a resolution on this issue. Please let know

[2019-05-31 17:08] jlattimer commented on #398
Recently add a new method OpenGroupSubArea which should help to navigate while inside an already open app - regardless of the number areas.

[2019-05-31 17:10] jlattimer commented on #422
Recently add a new method OpenGroupSubArea which should help to navigate while inside an already open app - regardless of the number areas.

[2019-05-31 19:49] kavitham1985 commented on #287
Can this be created for UCI too. Adding Datetime value in UCI throws error. @jlattimer @TYLEROL

[2019-05-31 19:50] kavitham1985 commented on #287
It was working until last week, now it gives a blank page when I use
xrmApp.Entity.SetValue("test_evaldate", DateTime.Today.ToShortDateString());

[2019-05-31 20:04] sammcquistan opened #520 "xrmBrowser.ActivityFeed.AddTask() throws InvalidOperationException"
This issue is very similar to issue #161 . I noticed it hasn't been solved and has been open for nearly a year, but no resolution has been posted. I am running into the same issue, and my code is structured similarly.

**What completes:**
-Subject is filled in
-Description is filled in
-Date under 'Due' is filled in.

**What does not complete:**
-Time under 'due'
-Priority does not change, regardl

[2019-05-31 20:33] jlattimer commented on #287
@kavitham1985 - can you raise a new issue for this?

[2019-05-31 20:38] sammcquistan commented on #474
Solution: Used xrmBrowser.ActivityFeed.AddPhoneCall("string",false,false);

[2019-05-31 20:38] #474 closed, assigned to nobody

[2019-05-31 20:39] sammcquistan commented on #472
Solution: used xrmBrowser.Document.getElementById("elementToScrollTo").hover(xrmBrowser.Driver, true);

[2019-05-31 20:39] #472 closed, assigned to nobody

[2019-05-31 21:26] Haywaii commented on #422
Yes i saw that, it should help thanks!

[2019-05-31 21:55] jlattimer commented on #422
Good deal - closing

[2019-05-31 21:55] #422 closed, assigned to nobody

[2019-06-01 22:05] jlattimer commented on #462
@bhomick - just submitted a PR for this

[2019-06-01 22:05] #398 closed, assigned to nobody

[2019-06-01 22:55] jlattimer commented on #261
RemoteWebDriver support was added in PR #493

[2019-06-01 22:55] #261 closed, assigned to nobody

[2019-06-02 07:14] #482 closed, assigned to nobody

[2019-06-02 07:14] praveenKumarCh commented on #482
thanks its working fine

[2019-06-02 15:24] praveenKumarCh opened #522 "An "XYZ" element is present in a page but not in a view. So when i am trying to validate this element availability in page it's failing. But when i scroll down the page and making the "XYZ" element to be visible then scrip is working fine. So could you please have look into this issue."

[2019-06-02 15:28] praveenKumarCh commented on #522
Since i am working with easyRepro i am noticing that whenever updating the new fixes the exiting methods or function are getting effected. I mean it is not stable...

[2019-06-02 21:30] kavitham1985 opened #523 "Unable to enter DateTime in UCI"
When we try to add date value, it throws error. We used xrmApp.Entity.SetValue("test_evaldate", DateTime.Today.ToShortDateString());

UCI doesnt have DateTimeControl. Interesting thing is, SetValue method was working until last week, now it gives a blank page.
Can you please include DateTimeControl for UCI
I had added this issue under https://github.com/Microsoft/EasyRepro/issues/287. Creating a n

[2019-06-02 21:31] kavitham1985 commented on #523
@jlattimer @Tylerol FYI

[2019-06-02 21:31] kavitham1985 commented on #287
Created an issue https://github.com/microsoft/EasyRepro/issues/523 @jlattimer

[2019-06-03 04:57] praveenKumarCh commented on #522
I am Facing the above issue occasionally.

[2019-06-03 04:57] #522 closed, assigned to nobody

[2019-06-03 05:30] praveenKumarCh opened #524 "chrome not reachable"
When i am executing as batch i am facing this issue : chrome not reachable   (Session info: chrome=72.0.3626.121)   (Driver info: chromedriver=2.38.552522

[2019-06-03 16:20] patemali opened #525 "Loading of unpacked extensions is disabled by the administrator"
Whenever I try to run a test case, I get an error "Failed to load extenion from  from C:\Users\username\AppData\Local\Temp\scoped_dir15084_14424\internal. Loading of unpacked extensions is disabled by the administrator"

Is there a way to fix  this problem ?

[2019-06-03 18:12] jlattimer commented on #525
Can you take a look through this Stack Overflow question and see if you can implement any of the suggestions?
https://stackoverflow.com/questions/43571119/loading-of-unpacked-extensions-is-disabled-by-the-administrator

[2019-06-03 18:17] sammcquistan opened #526 "Interacting with Dashboard Elements"
Is there currently any code within EasyRepro for interacting with the various columns in Dynamics? I believe this issue may have been defined in #388 , but I am unable to interact with elements on the dashboard, such as open activities.This is a very commonly used function of Dynamics that our end-user for our business uses, so we would like to include this in our automated test suite.

Thanks!

[2019-06-03 18:21] jlattimer commented on #489
My orgs just got updated and I can reproduce this - working on a fix.

[2019-06-03 18:22] #452 closed, assigned to jlattimer

[2019-06-03 18:24] #404 closed, assigned to jlattimer

[2019-06-03 18:24] #439 closed, assigned to jlattimer

[2019-06-03 18:30] jlattimer commented on #354
There are 2 issues that I can see.
1 - If the label of the subgrid is set not to be displayed the locator fails. Need to switch to using the unique name or add a method overload to use in conjunction with the label.
2- If the subgrid is displayed in a narrow section and doesn't show rows/columns but instead displays the records more like cards (without field names/column headers) then the locator

[2019-06-04 14:25] Bala-Ramadoss commented on #504
@tyler olson - Any updates on fixes for this issue

[2019-06-04 14:26] Bala-Ramadoss commented on #505
@tyler - Any updates on the fixe for this issue

[2019-06-04 14:29] Bala-Ramadoss commented on #504
@tylerol - Any updates on fix for this issue

[2019-06-04 14:30] Bala-Ramadoss commented on #505
@tylerol - Any updates on the fix for this issue. Eagerly waiting. Please let know.

[2019-06-04 14:32] Bala-Ramadoss commented on #507
@tylerol - Any updates on the fix for this issue. Eagerly waiting. Please let know.

[2019-06-04 14:38] #462 closed, assigned to jlattimer

[2019-06-04 14:38] #156 closed, assigned to jlattimer

[2019-06-04 21:17] jlattimer commented on #469
@yoadster - were you able to resolve this?

[2019-06-04 21:53] jlattimer commented on #415
Not sure if that's something on the road map (currently called out as not supported) - but I was wondering what scenario you were testing that relied on this? Since advanced find is something that can't really be changed it seems like you could probably make your test case a little more terse by skipping over this.

[2019-06-05 23:23] dtu11 commented on #507
I just tested in my test environment, that is version v9.1.0000.5035, and everything worked fine.   The method does a HasElement check looking for the picklist and then throws that exception if iit doesn't exist.   The previous action may not be completed yet and the picklist may not be rendered when the check occurs.

I've modified the method to wait up to 10 seconds before throwing an exception.

[2019-06-06 00:11] TYLEROL commented on #507
@Bala-Ramadoss - Sorry for the delay on this. My colleague just submitted a PR which I've merged into the _develop_ branch.

I'm hoping to do a merge into releases/v9.1 by end of week with some additional fixes, however if you're able - could you kindly try pulling the develop branch and see if this resolves your test scenario? If so, I'll update once we've merged the fix into releases/v9.1.

Warm

[2019-06-06 06:17] Bala-Ramadoss commented on #507
![FilterWith](https://user-images.githubusercontent.com/50577926/59010910-903a1e80-8850-11e9-91a9-b6ca91e85151.png)

The Highilghted area in the above attached screenhsot shows is where we are trying to filter or drill down the search results displayed due to the Global Search(Relevance Search). Expecting a resolution on this lines.

Thank You Team.

[2019-06-06 06:17] Bala-Ramadoss commented on #507
@TYLEROL @dtu11 & team - Please refer to above comment

[2019-06-06 06:18] Bala-Ramadoss commented on #505
@dtu11 @TYLEROL  & team - Request you to Please do the needful

[2019-06-06 06:19] Bala-Ramadoss commented on #504
@dtu11 @TYLEROL  & team - Request you to Please do the needful by providing a appropriate resolution/fix

[2019-06-06 07:22] Bala-Ramadoss commented on #489
@jlattimer - Please let know if there is any update on the fix. Waiting for the fix to be available. thank you

[2019-06-06 09:24] JINK666 opened #533 "Cannot open record from related entity view"
Good morning,

I have an issue with opening records from related entity.

If I navigate to a related entity like this:

xrmBrowser.Navigation.OpenRelated("Progress");

How do I select the first row of these related entities? I want to navigate to that partical entity, so simulate that a user clicks on this entity en do some tasks there.

Thanks in advance for your help.

Best regards,

Huub

[2019-06-06 14:57] TYLEROL commented on #489
@BenjaminDeveloper / @ryanpiran / @Bala-Ramadoss - I've been collaborating behind the scenes with Jason on this one. I have a meeting scheduled with our internal development team that introduced this change in behavior for the Unified Interface.

After my discussion with them we'll determine the best path for fixing this in the long term. Thanks for your patience while we work to resolve this new

[2019-06-06 14:57] dtu11 commented on #507
Ok, the FilterWith was intended for Categorized Search.  I've changed this from a bug to an enhancement as this method was not intended to work with Relevance Search.     I'll see if I can add the appropriate API's to allow you to filter in Relevance.

[2019-06-06 15:03] jlattimer commented on #489
In the meantime - you could add this to you test after the page loads - it will check to see if the page has a scrollbar, if so it will scroll to the bottom and them back to the top forcing a complete load.

[code]

[2019-06-06 16:42] sammcquistan opened #536 "Marking a test as passing when receiving an expected exception"
I have a test that I am running that spits out a NullReferenceException after completing the form in a popup window. The test case works as intended and does exactly what I need it to do. Is there any way to mark a test case as passing if it receives an exception?

I tried using this format:

    [TestClass]
    public class
    {
        private readonly SecureString _username = redacted

[2019-06-06 17:06] ravali-ammu opened #538 "Is this solution compatible with On premise version 7"
Is this solution compatible with On premise version 7

[2019-06-06 18:24] sammcquistan commented on #536
Solution:

Added a using directive pointing to my library of test cases. In my case, this is the following code:
using Microsoft.Dynamics365.UIAutomation.TestCases;

In the case of the sample project:
using Microsoft.Dynamics365.UIAutomation.Sample;

After adding this, I was able to use [ExpectedException{typeof(NullReferenceException))] in the same location as above. This worked successfully.

[2019-06-06 18:24] #536 closed, assigned to nobody

[2019-06-06 20:06] jlattimer commented on #538
Afraid not: https://github.com/microsoft/EasyRepro#crm-versions

[2019-06-06 20:06] #538 closed, assigned to nobody

[2019-06-07 03:40] jlattimer commented on #523
Submitted  fix for this. I'd also recommend using the overload of SetValue specific to dates. The format should match whatever the logged in user's personal options are set to.
[code]
or
[code]

[2019-06-07 06:16] prachiwalke commented on #96
Hi All,
I'm facing the issue of "Stay Signed-in" pop-up during Login, while executing automation script. Username and Password are entered into the text boxes and after this Stay signed in pop-up appears. Manually clicking on Yes/No button won't help in my case, as i need to execute the scripts in bulk. Need the solution urgently.
Kindly help.
Thanks in Advance.
My code:
 private SecureString _use

[2019-06-07 14:25] Haywaii opened #549 "[CRM UCI] Activities tab redirect to Activities area"
Hi team,

We get a weird error from this morning when using UCI functions on CRM.

**Steps to replicate with automation script:**
Go to UCI
Open an Account
Navigate to a tab (activities here, blue circle on the image) where the tab name matched the name of one sub-area ((red circle on the image) from the left side menu

**Expect:** We open the tab
**Current:** We open the area instead

Navigate to

[2019-06-07 14:25] jlattimer commented on #533
In the sample project, search for the example test [WEBTestAccountRelated](https://github.com/microsoft/EasyRepro/blob/develop/Microsoft.Dynamics365.UIAutomation.Sample/Web/RelatedTest.cs)

Once you've navigated to the related records grid - use this to open the first record:
[code]

[2019-06-07 16:15] dtu11 commented on #505
I've added/updated the API's to handle Relevance Search.  I also added a sample test in the GlobalRelevanceSearch.cs file under the Global Search folder.   Please pull the latest changes and test for any issues.   Let me know if you run into any issues, if not then I'll close this issue.

[2019-06-07 19:59] kavitham1985 commented on #523
Thanks a lot Jason

[2019-06-08 00:01] #517 closed, assigned to jlattimer

[2019-06-08 00:02] #523 closed, assigned to jlattimer

[2019-06-08 00:04] #380 closed, assigned to nobody

[2019-06-08 00:08] #402 closed, assigned to nobody

[2019-06-08 00:10] jlattimer commented on #509
Still seeing this? Did any error messages get returned?

[2019-06-08 19:03] jlattimer commented on #424
@triciasinclair - if you use code from the current [develop](https://github.com/microsoft/EasyRepro/tree/develop) branch, do you still see the issue?

[2019-06-08 19:11] jlattimer commented on #337
There is now a SetValue for Lookup fields specific to QuickCreate forms in the develop branch.

[2019-06-08 19:11] #337 closed, assigned to nobody

[2019-06-08 19:18] jlattimer commented on #181
Looks like dependency was removed awhile back

[2019-06-08 19:18] #181 closed, assigned to nobody

[2019-06-08 19:20] jlattimer commented on #238
#435

[2019-06-08 19:20] jlattimer commented on #204
#435

[2019-06-08 19:55] kcouck commented on #181
See NugetSpecs/Microsoft.Dynamics365.UIAutomation.Api.9.0.0.0.nuspec:
`        <dependency id="Selenium.Chrome.WebDriver" version="2.31" />`
Is still in there...

In case this nuspec is auto-generated, you can add 'developmentDependency="true" ' to the package.config to avoid inclusion:
`<package id="Selenium.Chrome.WebDriver" version="74.0.0" targetFramework="net46" developmentDependency="true" /

[2019-06-08 21:42] jlattimer commented on #181
It doesn't appear the latest .nuspec for 9.1 is there. If you check what is published on [NuGet](https://www.nuget.org/packages/Dynamics365.UIAutomation.Api/) there isn't dependency on Selenium.Chrome.WebDriver anymore.

[2019-06-08 22:10] triciasinclair commented on #424
Hi! Yes, unfortunately. However whereas before it didn’t work consistently, it now works intermittently.

[2019-06-08 22:11] triciasinclair commented on #424
Hi! This works now thanks so much!

[2019-06-08 22:11] #424 closed, assigned to nobody

[2019-06-08 22:15] triciasinclair commented on #512
I’m experiencing this issue too. I’ve tried extending the think time in the setvalue function. This doesn’t seem to work consistently. It seems that there needs to be someway to check that the lookup has completed its search for the lookup value before selecting it. Else you get the error lookup item not found although it later becomes visible on the screen.
Is this possible?

[2019-06-09 00:18] kcouck commented on #181
You are right, it's gone since 9.0.2. Thanks for checking!

[2019-06-09 03:00] jlattimer commented on #381
Guessing this one can be closed - the IE driver linked on the [main page](https://github.com/microsoft/EasyRepro#internet-explorer) is the 64 bit version

[2019-06-09 03:00] #381 closed, assigned to nobody

[2019-06-09 03:15] jlattimer commented on #366
@pramodnairm - did you get this resolved?

[2019-06-09 17:13] TYLEROL commented on #549
@Haywaii - I've merged a change by @jlattimer into the develop branch if you want to test it out and validate that it will resolve your scenario.

We have a few more items that we want to fix, and then we'll be merging the latest from develop into the releases/v9.1 branch - probably a few more days out from that merge.

[2019-06-10 09:13] Haywaii commented on #549
@TYLEROL and @jlattimer thanks for the super quick reactivity.
I tested it on the dev branch and it works perfectly fine.

Do you know the root cause of the issue from MS side? (i guess it's not easyrepro because nothing change on the framework).
Good improvement tho so at least it's more specific now!

[2019-06-10 14:16] #507 closed, assigned to dtu11

[2019-06-10 14:17] dtu11 commented on #507
Closing this issue.  If the fix doesn't address your problem please reopen.

[2019-06-11 08:41] JINK666 commented on #533
Thank you for the response, I tried this and ran into the following error:

Test method Microsoft.Dynamics365.UIAutomation.Sample.Web.Create.CreateBericht.WEBTestCreateBericht threw exception:
System.InvalidOperationException: unknown error: Element <iframe frameborder="0" id="contentIFrame1" name="contentIFrame1" title="Inhoudsgebied" style="border: 0px none; overflow: hidden; position: absolute;

[2019-06-11 09:01] JINK666 commented on #533
Somehow a part of the text above will not post:

After

Other element would receive the click:
<div class="navBarOverlay" id="navBarOverlay" style="display: block;"></div>

Best regards Huub

[2019-06-11 09:09] JINK666 commented on #533
Somehow I am not able to post the text that is behind "Other element would receive the click":

<div class =”navBarOverlay” id=”navBarOverlay” style=”display: block; “></div>

[2019-06-11 18:38] #525 closed, assigned to nobody

[2019-06-11 19:04] SB20122019 opened #561 "xrmBrowser.Navigation.OpenSubArea"

[2019-06-11 19:04] #561 closed, assigned to nobody

[2019-06-11 19:17] SB20122019 opened #562 "xrmBrowser.Navigation.OpenSubArea("Sales", "Dashboards") Object reference not set to an instance of an object."
It fails at this line : xrmBrowser.Navigation.OpenSubArea("Sales","Dashboards"); It can't seem to locate where the Sales tab is.

[2019-06-12 07:58] priyabratamahanta opened #564 "Advance find - unable to get pagesource elements to automate"
Is there any way to get the pagesource/webelements of advancefind page ?
trying to achieve that with extension methods after
 "  xrmBrowser.Navigation.OpenAdvancedFind();"

xrmBrowser.Driver still contains main page not advancefind page elements. Is there any way to get advance find page elements ?

[2019-06-12 13:31] JINK666 commented on #533
I have been able to solve it.

Somehow the navbaroverlay blocked the element. I found a way to work around this by using:

var navbar = retry.findElementIdWithRetry("navBarOverlay");
            driver.ExecuteJavaScript("arguments[0].setAttribute('style', 'display: none')", navbar);

After that I navigated to the proper frame and was able to use:
xrmBrowser.Related.OpenGridRow(0);

This question c

[2019-06-12 13:43] #533 closed, assigned to nobody

[2019-06-12 14:46] #562 closed, assigned to nobody

[2019-06-12 16:28] Haywaii opened #565 "[CommandBar Management] Number of button not accessible"
From one of my scenario i want to make sure all buttons in the top ribbon (command bar) on different entities are displayed.

So far i try to get acces through:
xrmApp.CommandResults.Count

But it doesn't displayed the result i expected because it's not the commandBar button per se.

I also tried using xrmApp.CommandBar. but I can't find anything related to count the number of button.

By going de

[2019-06-12 19:41] TYLEROL commented on #565
Hello @Haywaii

There is not currently a Count method on the CommandBar - however this is something we could look at adding. I don't think it would be too difficult to add based on the existing logic for targeting CommandBar buttons in ClickCommand.

For now, you would need to do handle this with raw selenium code. Marking this as a feature enhancement for consideration.

Thanks,
Tyler

[2019-06-12 19:50] TYLEROL commented on #489
@BenjaminDeveloper / @ryanpiran  / @Bala-Ramadoss / @jlattimer - We've merged in an update to the develop branch in an effort to address this behavior. This change introduces a new browser option called **UCITestMode**. When this option is set to True, we will enable a flag that puts the UCI app into test mode. This test mode disables the lazy loading functionality that was introduced in a recent

[2019-06-12 21:31] TYLEROL commented on #473
I tested this on my environment running Dynamics 365 v9.1.0.5229 and had no issues. Could you please let us know if this is still an issue, and if so, which version of Dynamics 365 your organization is running?

It sounds as though the initial entry point to get the first list of commands in the CommandBar is returning no results - which we expect to have for the subsequent linq query to see if th

[2019-06-12 21:44] TYLEROL commented on #463
Hello @DigitalFlow - To Jason's point - we avoid usage of window.Xrm where possible as the intent behind EasyRepro is to simulate real user interactions with the Dynamics 365 application.

We have an open ask to add methods that return the state of a field (e.g. is the field hidden / readonly, etc...) in which I could see us using window.Xrm to help us determine those without reliance on DOM eleme

[2019-06-12 21:44] #463 closed, assigned to nobody

[2019-06-12 23:05] jordimontana82 commented on #470
Hi @sammcquistan!

Wondering... wouldn't it be better to use jest for testing custom react components ?

Curious to know why do you need EasyRepro for this? Maybe end to end scenario?

[2019-06-12 23:10] sammcquistan commented on #470
Hi @jordimontana82 ,

Relatively new to the QA realm, here. Just started doing automated testing (and manual, in fact) just a few months ago. I plan on implementing a few other tools into our automation suite after I have a majority of our suite automated with EasyRepro. The more I learn, the more I will implement! Jest has been on my radar and will probably be what I use in the future.

[2019-06-12 23:14] jordimontana82 commented on #470
Cool! Was just wondering thanks! :)

[2019-06-13 09:25] Haywaii commented on #565
No problem @TYLEROL , thanks for your quick answer again.
It works fine with selenium code ;)

I don't think it will be too difficult either. I am busy with my automation but once it's in good shape i can take a look to add some enhancement if you are keen to :)

[2019-06-13 11:59] Bala-Ramadoss commented on #507
@dtull @tylerol - What is the link to the enhancement[issue number]? Please let know on the status of adding a appropriate API to perform filtering & iterate through search results of relevance search

[2019-06-13 13:41] bwmodular opened #566 "Suggestion: Add methods to retrieve lists of Areas and SubAreas"
I think it would be useful to add a GetAreas and GetSubAreas method to the Navigation class of the API project.
It would be useful to be able to check that a user who has a particular role can only see those Areas and SubAreas which they are supposed to see.
We've implemented this ourselves previously for CRM 2015 using Selenium, but I can see that it would be pretty straightforward to do this wit

[2019-06-14 13:43] TYLEROL commented on #507
Hi @Bala-Ramadoss ,

The fix is in PR #546 . This added the following changes:

Please see the new test sample, UCITestGlobalRelevanceSearch, made available last night via the latest changes in releases/v9.1 branch - or via the 9.1.0.5229 NuGet package.

If you have any issues with these changes, please raise new issues as required.

Warm Regards,
Tyler

[2019-06-14 13:44] TYLEROL commented on #504
Hi @Bala-Ramadoss ,

The fix is in PR #546 . This added the following changes:

Please see the new test sample, UCITestGlobalRelevanceSearch, made available last night via the latest changes in releases/v9.1 branch - or via the 9.1.0.5229 NuGet package.

If you have any issues with these changes, please raise new issues as required.

Warm Regards,
Tyler

[2019-06-14 13:44] #504 closed, assigned to nobody

[2019-06-14 13:45] TYLEROL commented on #505
Hi @Bala-Ramadoss ,

The fix is in PR #546 . This added the following changes:

Please see the new test sample, UCITestGlobalRelevanceSearch, made available last night via the latest changes in releases/v9.1 branch - or via the 9.1.0.5229 NuGet package.

If you have any issues with these changes, please raise new issues as required.

Warm Regards,
Tyler

[2019-06-14 13:45] #505 closed, assigned to nobody

[2019-06-14 15:08] kishkk84 opened #569 "GetValue from Ribbon Items"
Hi

I am quite a newbie to EasyRepro and trying to use it to automate Dynamic CRM 365.

I am trying to getValue from the items in the ribbon like Delivery, Enquiries, Marketing etc.

I am able to open the menu but not sure how to get the values or perform click on each.
xrmBrowser.Navigation.OpenMenu();

![image](https://user-images.githubusercontent.com/19428883/59518815-691dc580-8ebe-11e9-9816-0

[2019-06-14 19:28] #549 closed, assigned to jlattimer

[2019-06-14 19:59] jlattimer commented on #524
Is this still an issue?

[2019-06-17 06:56] ArvindBhat83 opened #571 "javascript error: Cannot read property 'isAppIdle' of undefined"
Below line in function WaitForTransaction(this IWebDriver driver, int maxWaitTimeInSeconds)
is returning an error.

Filename - SeleniumExtensions.cs
Line 467 - state = (bool)driver.ExecuteScript("return window.UCWorkBlockTracker.isAppIdle()", "")

Error:
OpenQA.Selenium.WebDriverException
  HResult=0x80131500
  Message=javascript error: Cannot read property 'isAppIdle' of undefined
  (Session info

[2019-06-17 06:58] ArvindBhat83 commented on #571
I am trying the scenario to create a case.  I have specified the crm url, credentials, the UCI app name, sub area. Can you please help? I am really keen to adopt this framework for automation testing

[2019-06-17 14:29] TYLEROL commented on #571
@ArvindBhat83 - Do you receive this error when running a test normally? Due to current implementation you will likely receive this when debugging, but you should be able to F5/Continue with the rest of the test.

If this is specific to debugging, please let me know and I'll see what we can do to adjust this behavior when debugging.

Thanks,
Tyler

[2019-06-17 14:58] #566 closed, assigned to nobody

[2019-06-17 22:43] anato-s commented on #171
This issue is well and alive. I already fixed it by installing update to VS17.
For example, if you declare

[code]

You will get this behavior. Why not give the message like _"`TestContext` should be non-static"_. Instead we have to break the head what went on. Especially, coincident that create new test doesn't create this property

[2019-06-18 07:28] eduarddalm opened #575 "can't create related lead from leads editable subgrid on account form"
Help Wanted

Hi,
I am trying to access the new button on a related leads subgrid on an account form.

So far I have implemented this:

[code]

![image](https://user-images.githubusercontent.com/25723165/59661001-27d13280-91aa-11e9-9fcf-c7d2183e3c53.png)

![image](https://user-images.githubusercontent.com/25723165/59661186-88606f80-91aa-11e9-911b-c028021f5dc1.png)

[code]

![image](https://user-ima

[2019-06-18 11:46] ArvindBhat83 commented on #571
Hello Tyler,

So nice to see a quick response from you! Firstly, thanks for the speed at which the execution takes place.  Feel so much better in comparison to spec flow.

You are right, this comes up during debug and am able to continue but the reason I had to resort to debug is that when chrome launches and it connects to CRM, it enters the specified credentials, then redirects to my organizatio

[2019-06-18 12:26] ArvindBhat83 opened #576 "Chrome login failed - Test run fails due to login redirection"
Hello!,

After making my required changes and executing the test case, chrome launches and it connects to CRM, it enters the specified credentials, then chrome redirects to my organization page where in it expects the credentials to be specified again.  The code isn't able to handle that as it expects CRM to be launched by then.  I am able to get over this during debug as I can manually key it in

[2019-06-18 12:53] eduarddalm commented on #576
Hi,
The login procedure assumes single signon.
If you are connecting out side your domain, you need to connect through a VPN for ADFS to work.
Hope this helps
Regards,
Eduard

[2019-06-18 19:08] sammcquistan commented on #576
I believe you are running into an issue that I ran into right away when I was creating my automation test suite. Our previous QA engineer created a new class file called "LoginHelper" and this seemed to help a lot. Try this code and see if this works:

//create a new class under Microsoft.Dynamics365.UIAutomation.Sample.Web named "LoginHelper.cs".

using Microsoft.Dynamics365.UIAutomation.Api;
usi

[2019-06-19 06:24] ArvindBhat83 commented on #576
Hi Eduard - I am connecting from MS n/w itself.  Its just I am connecting with my v-id.  I don't think that should case the redirection and its something most of us would experience.

Regards,
Arvind

[2019-06-19 09:16] praveenKumarCh opened #577 "Batch execution not launching browser after first test runs"
When I am triggering the batch execution the first script is working fine and from next script onward _xrmApp.OnlineLogin.Login(url,user name,password) this fun not able to launch the browser itself. It became very difficult to to run as batch execution

[2019-06-19 11:06] ArvindBhat83 commented on #371
I still don't see it working while creating cases in UCI.  It doesn't set the lookup but the test case execution says it was successful

[2019-06-19 11:07] ArvindBhat83 opened #578 "xrmApp.Entity.SelectLookup(customer) to create case in UCI not working"
I tried several ways to make this xrmApp.Entity.SelectLookup(customer) work while trying to create case in UCI but its not working. I saw some suggestion that a timeout would work but it didn't.  Request your help.

[2019-06-19 19:33] TYLEROL commented on #577
@praveenKumarCh - Could you provide some more details of how you've configured your tests for batch execution for us to replicate?

[2019-06-20 13:29] chfarr opened #580 "Issue with setting a phonecall format field in UCI"
Hi,

I am having difficulties trying to setvalue for single line of text fields on a CRM form which have a format other than Text. Example if you look at telephone1 field on a form i keep getting the following error when trying to set it

_**Details: invalid element state: Element is not currently interactable and may not be manipulated
(Session info: chrome=75.0.3770.100)
(Driver info: chromedriv

[2019-06-20 14:50] TYLEROL commented on #580
Thanks @chfarr for raising this. I'll quick setup a repro and assuming no issues getting it reproduced, will let you know once a fix is made available.

Warm Regards,
Tyler

[2019-06-20 14:51] TYLEROL commented on #578
Thanks for raising this issue @ArvindBhat83 . I'm going to setup a repro similar to what you described. If I have any issues I'll reach back out - otherwise will let you know once a fix is made available.

Warm Regards,
Tyler

[2019-06-20 15:02] TYLEROL commented on #576
@ArvindBhat83 - As @sammcquistan suggested, and from your description of events, you'll need to utilize the alternate login method using a login helper redirect method. The intent behind this is to deviate from the standard O365 login experience and allow you to handle custom ADFS pages.

Depending on the element IDs for your custom forms login experience, you may need to make small tweaks to the

[2019-06-20 15:19] TYLEROL commented on #569
Thanks for raising this inquiry @kishkk84 . We previously did not have this capability to return available Area values, however PR #570  was recently merged into the current develop branch. In the near future this will get merged into releases/v9.1

The PR has some samples available, so if you wished to test it, you could try through the develop branch for now.

To click one of the items, you shou

[2019-06-20 15:26] TYLEROL commented on #564
Hello @priyabratamahanta - We currently have very limited support of the Advanced Find window. We have an item in the roadmap to work on adding these capabilities, but I do not have an ETA.

We could potentially add more capabilities to interact with the CommandBar buttons on the AdvancedFind page, however query customization will be more difficult.

Could you please let us know some of the scenar

[2019-06-20 15:54] TYLEROL commented on #526
Hi @sammcquistan - To date, we do not have any specifics for interacting with elements within a dashboard.

If you could, could you provide a list of scenarios that you'd like to try and cover with dashboards via automation? Once I have this, I'll review with the team to see how we could try to implement this. The elements (grids, charts, etc) on the dashboard are rather generic compared to other

[2019-06-20 16:17] TYLEROL commented on #520
Thanks for raising this issue @sammcquistan . I'll take a look into this and let you know if I have any problems reproducing the issue reported.

If all goes well, I'll let you know once I've confirmed the problem and when a fix is available.

Warm Regards,
Tyler

[2019-06-20 16:20] TYLEROL commented on #524
This may be a duplicate of #577 . @praveenKumarCh please let us know via #577 how you're batching your tests.

I'd also recommend updating your version of the ChromeDriver to match your corresponding version of the Chrome browser.

http://chromedriver.chromium.org/downloads - If you're still using Chrome v72, then I'd suggest upgrading your project to use ChromeDriver v2.46.

If you've upgraded to

[2019-06-20 16:20] #524 closed, assigned to TYLEROL

[2019-06-20 16:24] TYLEROL commented on #512
@triciasinclair / @sammcquistan / @praveenKumarCh - We made some changes to SetValue methods in the most recent update of the releases/v9.1 branch.

Could you try out your scenarios again and let me know if they are still an issue. If this is persisting in the most recent update, I'll take another look at this problem.

Warm regards,
Tyler

[2019-06-20 16:29] TYLEROL commented on #489
The change to fix this was made available last week in the latest releases/v9.1 branch and via the 9.1.0.5230 NuGet package. Please let us know via new issues if you have any problems with the latest release.

Thanks,
Tyler

[2019-06-20 16:29] #489 closed, assigned to nobody

[2019-06-20 16:36] TYLEROL commented on #460
@deepak-surendar - Thanks for raising this issue. We're starting to update the main releases/v9.1 branch to the latest and greatest as new builds of Dynamics start releasing.

The best way to utilize this will be via the NuGet packages made available. With this latest release, we plan to snap to specific versions of Dynamics 365. The newest package is 9.1.0.5230 and should support that version of

[2019-06-20 16:36] #460 closed, assigned to nobody

[2019-06-20 16:49] TYLEROL commented on #448
@bhomick - Were you able to get past this problem.

I am curious what sort of delay there is between the time that one clicks the 'Create Event' command, and the when the alert actually opens on the screen. In the example you've shown, I suspect this could be susceptible to timing issues and it may try to switch and accept an alert that doesn't actually exist.

If the issue persists, could you try

[2019-06-21 05:59] sathya-devi opened #581 "SetHeaderValue is not working for Datetime field in UCI"
_xrmApp.Entity.SetHeaderValue("scheduledend", DateTime.Now, " M/d/yyyy h:mm tt ");  (or)

 _xrmApp.Entity.SetHeaderValue("scheduledend", DateTime.Now, " M/d/yyyy");

When i tried to use **SetHeaderValue** with both date format the following error occurs.
System.InvalidOperationException: Field: scheduledend Does not exist

![image](https://user-images.githubusercontent.com/48006128/59901083-bb5b6b

[2019-06-21 09:56] #345 closed, assigned to nobody

[2019-06-22 15:32] jlattimer commented on #435
I did a [blog post](https://jlattimer.blogspot.com/2019/06/reporting-on-easyrepro-test-runs.html) which shows how to set up Extent Reports with an EasyRepro project.

[2019-06-22 15:32] #435 closed, assigned to nobody

[2019-06-22 15:33] jlattimer commented on #238
I did a [blog post](https://jlattimer.blogspot.com/2019/06/reporting-on-easyrepro-test-runs.html) which shows how to set up Extent Reports with an EasyRepro project.

[2019-06-22 15:33] #238 closed, assigned to nobody

[2019-06-22 15:33] jlattimer commented on #204
I did a [blog post](https://jlattimer.blogspot.com/2019/06/reporting-on-easyrepro-test-runs.html) which shows how to set up Extent Reports with an EasyRepro project.

[2019-06-22 15:33] #204 closed, assigned to nobody

[2019-06-22 15:34] jlattimer commented on #255
I did a [blog post](https://jlattimer.blogspot.com/2019/06/reporting-on-easyrepro-test-runs.html) which shows how to set up Extent Reports with an EasyRepro project.

[2019-06-22 15:34] #255 closed, assigned to nobody

[2019-06-24 09:14] medehn opened #585 "OpenSubGridRecord throws ElementClickInterceptedException"
Hi there,

I am trying to refactor our Tests and incorporate the OpenSubGridRecord functionality - I keep getting a ElementClickInterceptedException. Subgridname is set to unique name, clicking on a record was done with a workaround up to now by clicking on a CSS selektor...
Any idea what could cause this?

[2019-06-24 10:56] Haywaii opened #586 "[Enhancement] Delete an entry on a grid / subgrid"
Hi dev team,

Would it be possible to add the option of deleting an grid item or sub grid item in easyRepro please?
I know we can do that by commandBar through xrmApp.RelatedGrid and then using the commandBar of the relatedGrid and select "Delete" but it doesn't work.

Everytime i get: "button not found. Button names are case sensitive. Please check for proper casing of button name" even if the bu

[2019-06-24 11:32] praveenKumarCh commented on #577
From Test explorer i am trying to execute as a batch but i am getting the issue :Message=Unexpected error. System.Net.WebException: Unable to connect to the remote server ---> System.Net.Sockets.SocketException: No connection could be made because the target machine actively refused it
![image](https://user-images.githubusercontent.com/50700992/60015596-83ffef00-96a1-11e9-8729-5b0ca3f2203f.png)

[2019-06-24 12:58] thathi commented on #520
Looks like the test in devlop branch is passing with no issues.  @sammcquistan which version of CRM are you using?

[TestMethod]
        public void WEBTestAddTask()
        {
            if (!HasData) return;
            XrmTestBrowser.ActivityFeed.SelectTab(Api.Pages.ActivityFeed.Tab.Activities);
            **XrmTestBrowser.ActivityFeed.AddTask("Schedule an appointment", "Capture preliminary cu

[2019-06-24 14:38] sammcquistan commented on #520
@thathi we are currently on version 1710 (9.1.0.5626).

[2019-06-24 16:14] praveenKumarCh opened #587 "Not able to click on command bar.I have shown the diff where it is not working with images."
![Image-1](https://user-images.githubusercontent.com/50700992/60035224-f84e8880-96c9-11e9-8607-521cf06f5eb0.png)

**As shown in the above image code working fine.**

![Image-2](https://user-images.githubusercontent.com/50700992/60035237-013f5a00-96ca-11e9-8eff-2c36d865cb41.png)
**For this code is not working**
_**xrmApp.CommandBar.ClickCommand("Add New Contact");**

[2019-06-24 16:42] TYLEROL commented on #587
Hi @praveenKumarCh,

Could you try adjusting your last code line to this instead?

`                _xrmApp.RelatedGrid.ClickCommand("Add New Contact");
`

The idea behind this RelatedGrid.ClickCommand() method is that it focuses on the unique Command Bar objects that show up _within the context of a Related Grid_.

You'll notice from your provided screenshots, there are technically _two_ Command

[2019-06-24 23:00] TYLEROL commented on #520
@sammcquistan - I was able to take a look at this today as well, and like @thathi , I did not experience any problems. Both the Time and Priority values were set as expected. I tested with both the Develop and current releases/v9.1 branch. My test CRM organization is running on build 9.1.0.5626 was well.

If this issue still exists, I will note that for my Chrome browser testing, I was using v75 o

[2019-06-25 11:02] praveenKumarCh commented on #587
after using **_xrmApp.RelatedGrid.ClickCommand("Add New Contact"); below error is coming.**
![image](https://user-images.githubusercontent.com/50700992/60093026-04882380-9766-11e9-8296-b269cca02089.png)

I tried with **_client.ClickRelatedCommand(p0)** but no luck...
![image](https://user-images.githubusercontent.com/50700992/60093302-bb849f00-9766-11e9-94ae-a5f11eee4db8.png)

[2019-06-25 11:08] praveenKumarCh commented on #587
In first two images if you see the image screen size where we have more commands ("...") then
**_xrmApp.CommandBar.ClickCommand("Add New Contact");** is working fine

But not same with second screen here it is failing

[2019-06-25 12:47] praveenKumarCh commented on #577
Message=Unexpected error. System.Net.WebException: Unable to connect to the remote server ---> System.Net.Sockets.SocketException: No connection could be made because the target machine actively refused it

[2019-06-25 13:07] TYLEROL commented on #587
Thanks @praveenKumarCh . I'll take a look at this and report back my findings.

Regards,
Tyler

[2019-06-25 14:03] TYLEROL commented on #587
@praveenKumarCh - Quick update for some context on my earlier replies. In the first screenshot below, I've shown the two different CommandBars and expected method use cases depending on which CommandBar you need to interact with.

![image](https://user-images.githubusercontent.com/29415524/60104724-a3d9f600-9727-11e9-8730-26a601165f77.png)

In the 2nd screenshot below, I've shown the F12 Dev Tools

[2019-06-25 14:55] sammcquistan commented on #520
Hi all,

Thanks for helping me look into this. @TYLEROL I am using Chrome 75.0.3770.100 and my chromedriver version is 74.0.0 (most up-to-date version according to NuGet). I am still having issues with this script and am still unable to add a task to my activity feed. I have attached a GIF to display the behavior I am experiencing.

![createtask](https://user-images.githubusercontent.com/49731029/

[2019-06-25 15:32] TYLEROL commented on #520
Thanks again @sammcquistan for these additional details. Based on what you provided, I suspect the issue was a missing _d in the Name of the OptionSet you provided.

**I have checked in a change to the develop branch to alleviate this. Could you please try this again using the latest from develop? Please note some additonal details following this...**

The checked in change adjusts this test metho

[2019-06-25 16:24] Haywaii commented on #587
@TYLEROL
I think the issue here is the same than the one i reported as enhancement in https://github.com/microsoft/EasyRepro/issues/586 :)

I checked on my side as well and the command object are within the grid itself so neither the place the two method are looking hence the error we get.

[2019-06-25 16:31] TYLEROL commented on #587
@Haywaii - Thanks for updating here. Reading your post, I agree these sound identical now.

Could you let me know what version of Dynamics you are testing against, as well as the Client Version listed on  your UCI app? I'll discuss with our internal UCI team on how to "shift" the command bar into the grid, assuming its not related to a newer update.

Regards,
Tyler

[2019-06-25 17:59] Haywaii commented on #587
@TYLEROL i am using Dynamics v10 (the latest version).
I don't have access to the client version listed on my UCI app right now but i will give you the details tomorrow when back to work!

Thanks for your quick answer.

[2019-06-25 18:44] sammcquistan commented on #520
Hi @TYLEROL ,

Great news, these hotfixes worked great. I did have to comment out this line of code from ActivityFeed.cs in my own solution:
this.SetCalenderValue(Elements.ElementId[Reference.ActivityFeed.ActivityAddTaskDueTimeId], dueDate.ToShortTimeString());

When I used the latest dev branch I was noticing that I was receiving a different error this time related to setting the time and that th

[2019-06-25 19:23] sammcquistan commented on #526
Hi @TYLEROL ,

Our use cases are fairly simple. Most of the elements we use that are interact-able are lists. These lists (**grids** as far as the code is concerned) contain what we call "Deals", where we staff a temp employee with a client. We have various stages of the deal and our career counselors are able to track the progress of where their temp is in the placement process. These grid rows a

[2019-06-25 21:04] TYLEROL commented on #571
@ArvindBhat83 - This will be resolved via PR https://github.com/microsoft/EasyRepro/pull/591 currently merged into the develop branch.

I've assigned a milestone to the PR that you can track as an ETA for when we'll merge the change into master.

Thanks,
Tyler

[2019-06-25 21:04] #571 closed, assigned to TYLEROL

[2019-06-25 21:08] TYLEROL commented on #565
@Haywaii - I've introduced a new method for UCI and WebClient under CommandBar.GetCommandValues(bool checkMoreCommandsMenu = false), currently in the develop branch via PR #591 .

This method will return a list of values from the command bar, with an option flag to return values from the more commands menu if desired. You should be able to use the Count property against the returned list of values

[2019-06-25 21:08] #565 closed, assigned to TYLEROL

[2019-06-25 21:58] TYLEROL commented on #520
Hi @sammcquistan - Thanks for helping validate here. I am having some difficulties getting my environment configured correctly, but is it possible that your 'DateTime' field within the organization is only enabled to show **Date Only** and not both **Date and Time**?

I have pushed one more change via #592 which performs a check to see if the 'Time' field is present, and if so, attempt to set it.

[2019-06-26 06:42] praveenKumarCh commented on #587
![image](https://user-images.githubusercontent.com/50700992/60157101-9dbd4580-980b-11e9-8c49-2a1b5be413c6.png)

[2019-06-26 06:44] praveenKumarCh commented on #587
Can you please look into this issue as well Issue No:577

[2019-06-26 08:08] Haywaii commented on #587
@TYLEROL by client version you mean the easyrepro client or the one for UCI in CRM?
EasyRepro i use the latest one, 9.1.0.5230
UCI in CRM, the client app version is 1.3.1894-190618-173044

[2019-06-26 08:47] demanibo opened #593 "I add the username, password and the URL in App.config, but it's not filling the username and the password"
## Question

I add the username, password and the URL , but it's not filling the username and the password. What did I wrong or should I configure something else? I want to log in and try out some tests.

[2019-06-26 10:03] SachchinAnnam commented on #578
@ArvindBhat83 :
Update EasyRepro references and try the below snippet:
LookupItem parentID = new LookupItem { Name = "account", Value = "Testing Account" };
                xrmApp.ThinkTime(5000);
                xrmApp.Entity.SetValue(parentID);
                xrmApp.ThinkTime(3000);

[2019-06-26 10:54] praveenKumarCh commented on #87
could you please share the logic how you handle this. lets consider i have 3 scripts in that for fist script browser is able to close but for second script it executing fine but not able to close the browser.due to this 3rd test case is failing.

[2019-06-26 13:38] TYLEROL commented on #577
@praveenKumarCh - what browser configuration are you trying to run under? I've done this previously using our OOB sample test groupings, with all but the remote browser option, and have not faced this issue.

[2019-06-26 13:47] #576 closed, assigned to TYLEROL

[2019-06-26 13:48] #512 closed, assigned to TYLEROL

[2019-06-26 13:57] sammcquistan commented on #593
Could you give more details surrounding your issue? Such as:
1) What was the last action chromedriver successfully completed? Did chromedriver complete _any_ actions successfully?
2) What version of EasyRepro are you using? What version of chromedriver are you using?
3) Does the sign in for your Dynamics solution use the standard Office 365 login or do you use a custom ADFS page? If you're unsure,

[2019-06-26 14:04] #569 closed, assigned to TYLEROL

[2019-06-26 14:29] Haywaii commented on #565
Hi @TYLEROL

Thanks for the update! I tested it and it works like expected. I can now get value and number.
The parameters to get more command are super cool as well and work fine.

You can merge it on master!

[2019-06-26 18:00] sammcquistan commented on #520
Hi @TYLEROL ,

I'm fairly certain our organization has DateTime set to show Date initially, but a user is able to select a Time after confirming a Date. I believe that is what is leading me to this error with the most recent push, where the test method is unable to find that Time field. The test method continues to search for the Time field but instead is unable to. After a bit of time, the test f

[2019-06-27 06:05] praveenKumarCh commented on #577
I am using the chrome browser 72.3626.121 version.

lets consider we have A,B,C test methods
------------------------------------------------------
### A test method : **launching the browser successfully** and after completing the all the test steps able to **close browser successfully.**
------------------------------------------------------
### B test method : **launching the browser successful

[2019-06-27 07:38] demanibo commented on #593
Yes off course...

1. The browser is starting, but not filling the username and the password on the windows server pop up.
2. Easypro version 9.1 and two new fixes ares added last 17 hours by TYLEROL. Chromedriver 74.0.0.
3. I see the dynamics 365 and no logo available.
4. I add just the username, password and the url to the app.config. After that I was to try out if log on was working. The code i

[2019-06-27 11:18] GuySimcox commented on #391
I too am observing this. Save is not working with the xpath for the create account sample in headless chrome mode.

[2019-06-27 14:18] sammcquistan commented on #593
How is your code set up in your test cases? For example, mine are structured like this:

![image](https://user-images.githubusercontent.com/49731029/60272061-1201f280-98b9-11e9-82dc-6ee1c1d06561.png)

Lastly, does your code look similar to this in app.config?

![image](https://user-images.githubusercontent.com/49731029/60272311-850b6900-98b9-11e9-8c19-8927c4799b1f.png)

If your code is set up like

[2019-06-27 14:29] TYLEROL commented on #577
Thanks @praveenKumarCh - have you tried updating the ChromeDriver version to match the version of Chrome you are using?

http://chromedriver.chromium.org/downloads

For version 72, you should upgrade to ChromeDriver 2.45 or 2.46. I can't say with any certainty that this will resolve the issues, but we commonly have faced issues that are resolved by pairing up the appropriate driver to your browser

[2019-06-27 14:32] TYLEROL commented on #577
Thanks @praveenKumarCh - have you tried updating the ChromeDriver version to match the version of Chrome you are using?

http://chromedriver.chromium.org/downloads

For version 72, you should upgrade to ChromeDriver 2.45 or 2.46. I can't say with any certainty that this will resolve the issues, but we commonly have faced issues that are resolved by pairing up the appropriate driver to your browser

[2019-06-27 14:36] #509 closed, assigned to nobody

[2019-06-28 07:34] Bala-Ramadoss opened #595 "V9.1 Grid.OpenRecord is not working properly"
The Grid.OpenRecord method of **Microsoft.Dynamics365.UIAutomation.Api.UCI**  is not opening a record of the grid as it is intended to do.

In few cases instead of opening the record of the grid, it is clicking on a column of the record [which is a link, for example a owner/contact]. Can attach screenshots of the grid if needed.

Code Example:
**_xrmApp** is an instance of the class **Microsoft.Dy

[2019-06-28 09:29] krishnacs1993 opened #596 "Check default form and view is set correctly for each entity"
Hi There,

Can you please let me know how can I check that for each key entity, the default view and form is set correctly. Also for each view, check that the columns are present and in the right order.

Thanks in advance.

Regards,
Krishna Kumar

[2019-06-28 13:19] praveenKumarCh commented on #577
I tried with both chrome driver 2.45 & 2.46 but no luck. Same issue, no changes.

[2019-06-28 14:01] robinsonnemans commented on #595
We had the same problem, the function selects the row it doesn't open it like the function name would suggest.

Try this:

- Navigate to the OpenGridRow function in Webclient.cs
- Change link.Click() to driver.DoubleClick(link)*;

*might want to create a second function for selecting a row and use the link.Click() for that function so that function won't be lost.

This worked for us, we will commi