[2020-02-25 15:49] tipsey commented on #696
Getting random occurrences too:  tried increasing Chrome Driver timeouts., add.options("no-sandbox") with no success.  Using Easyrepro v 9.1, Chrome v79.0.0

OpenQA.Selenium.WebDriverException: A exception with a null response was thrown sending an HTTP request to the remote WebDriver server for URL http://localhost:2628/session/852114ea163286f254724ff5fa44cd2e/window. The status of the exception

[2020-02-25 17:12] tipsey commented on #393
Okay after debugging, it's returning a null string.  I got the page title without using Javascript.

xrmBrowser.Entity.SwitchToContentFrame();
 var x = xrmBrowser.Driver.Title;
Console.WriteLine(x);

[2020-02-25 18:18] xuejunh opened #780 "[HOW-TO] modify the login to handle the redirect to organization SSO if its webbased?"
After enter the username of CRM login and click Next, if our company SSO is webbased, how could I modify the login script to handle the SSO? Could you please post the code? Thanks!

[2020-02-25 21:06] AngelRodriguez8008 commented on #393
I think. You need to SwitchToContentFrame to be able to execute the JS properly. You can see some examples in my library [FormJS](https://github.com/microsoft/EasyRepro/blob/f84b08a94e25a1cb55567f071c484dc57e114fd5/Microsoft.Dynamics365.UIAutomation.Api/Pages/FormJS.cs).

[2020-02-25 21:34] ejfdejesus commented on #777
Thank you. I'll wait for your enhancement. :)

[2020-02-26 00:53] tristanperper commented on #778
Hi @AngelRodriguez8008 ,

Yes I was able to login manually either SMS or OTC.

Regards,

Tristan Perper

[2020-02-26 15:16] joesfshin13 commented on #740
here is what I see - I am literally been banging my head abouts trying to resolve this its more a goal now than a bug for me now =). I have tried my debugging brains stepping, custom methods to debug the whole boat - I NEED to find this solution just so I can sleep at night but logically I am stumped -

<button aria-label="New" aria-hidden="true" tabindex="-1" data-id="lead|NoRelationship|HomePage

[2020-02-26 15:17] joesfshin13 commented on #740
button aria-label="New" aria-hidden="true" tabindex="-1" data-id="lead|NoRelationship|HomePageGrid|Mscrm.HomepageGrid.lead.NewRecord" data-lp-id="HomePageGrid:lead-lead|NoRelationship|HomePageGrid|Mscrm.HomepageGrid.lead.NewRecord" type="button" class="u kk gt ea  t kq s kr ks flexbox"><span class="cg ca a fk "><span class="fx  fs kt dh cj a s "><img src="/uclient/resources/images/Add.svg?v=1.3.42

[2020-02-26 16:03] tipsey opened #781 "[HOW-TO] Run Tests in Parallel"
## Any notes or suggestions how to run Tests in Parallel?

**What is your question?**  I've tried using a testsettings file with MSTest Adapters such as
![image](https://user-images.githubusercontent.com/3397653/75363801-a11c3b80-5888-11ea-9f58-209d3f3f78c4.png)

AND adding this to the Class File containing the tests but no luck

[assembly: Parallelize(Workers = 2, Scope = ExecutionScope.ClassLeve

[2020-02-26 16:35] AngelRodriguez8008 commented on #740
It is fine that you find the button.

I set numbers to the XPaths in my comment:
- Did you find it manually or you use the XPath **2. (b)**?

I ask because the XPath should find an `<li>` tag, not a button.

Please don't look for the button manually, paste the XPath in the search box, like in the picture show. that simulate what  the EasyRepro code does. It should highlight the HTML element in yel

[2020-02-26 17:43] joesfshin13 commented on #740
![XapthNew](https://user-images.githubusercontent.com/60446533/75371926-da52ac80-5884-11ea-8154-6bcd124ff87b.png)

[2020-02-26 17:51] joesfshin13 commented on #740
![Clientversion](https://user-images.githubusercontent.com/60446533/75372527-e5f2a300-5885-11ea-9fc5-80613b26efa9.png)

[2020-02-26 20:54] AngelRodriguez8008 commented on #740
Do not enter your own path, try what I give you.
![image](https://user-images.githubusercontent.com/27274469/75386559-33046280-58e2-11ea-8f2c-3d42347a9c85.png)

[2020-02-26 21:08] AngelRodriguez8008 commented on #740
![image](https://user-images.githubusercontent.com/27274469/75387926-5b8d5c00-58e4-11ea-87a1-9ae9f931becd.png)
Is it UCI ? In Test you are navigating to UCI > "Sales Hub"

[2020-02-26 21:11] joesfshin13 commented on #740
Yes I am navigating to UCI - Also plugging in your Xpath examples it works for Views not Forms it finds the element

[2020-02-27 12:07] smitmich opened #782 "[HOW-TO] use Easyrepro for the CRM MSD 365 ON PREMISE version (not online/cloud)"
## Question

Can I use EasyRepro for the On Premise version (the non-cloud / non-online version) CRM MSD 365 V9?
Any suggestions?

[2020-02-27 19:47] joesfshin13 commented on #740
![SalesHubUCI](https://user-images.githubusercontent.com/60446533/75480862-430e5780-595f-11ea-8f00-ba57c83c31f9.png)

[2020-02-27 20:54] AngelRodriguez8008 commented on #740
Hi, I really want to help you, but I have not enough information. Try follow:
[code]
Step 1: Looks like:
![image](https://user-images.githubusercontent.com/27274469/75485841-b8077e80-59ab-11ea-84c3-cc7aed237529.png)

Step 2: Looks like:
![image](https://user-images.githubusercontent.com/27274469/75485696-6f4fc580-59ab-11ea-83f1-3c074b259490.png)

[2020-02-28 16:51] SARCASMOOO opened #784 "[BUG] <GuidedHelp.CloseGuidedHelp not closing form>"
## Bug Report

**EasyRepro Version**
  - [x] Microsoft Dynamics 365 OnPremise Version 8.1 (8.1.x) (DB 8.1.x) onpremise

** Classic Web**
  - [x] Classic Web (XrmBrowser)

**Online or On Premise**
  - [No] Online
  - [Yes ] On Premise

**Browser**
  - [Yes ] Chrome, Version: Google Chrome | 80.0.3987.122 (Official Build) (64-bit) (cohort: Stable)
  - [ ] Firefox
  - [ ] IE
  - [ ] Edge

**Describe

[2020-03-01 06:40] rahiltg commented on #233
I am using UCI on-premise and still unable to change a value from option set. I have tried below:

XrmApp.Entity.SetValue(new Api.UCI.OptionSet { Name = "vrp_isuploaded", Value = "Yes" });
XrmApp.Entity.SetValue(new Api.UCI.OptionSet { Name = "vrp_isuploaded", Value = "1" });

Please guide me if anyone has a solution

[2020-03-01 07:16] rahiltg opened #785 "How to change option set value in UCI On-Premise"
Hi, I am using below version of UCI On-Premise and i am unable to change the option set value.

![image](https://user-images.githubusercontent.com/60732048/75621457-ff5d5d00-5bad-11ea-8b57-d6393f5dc06d.png)

I have tried below but no luck. The error says object reference not set to an instance of an object.

XrmApp.Entity.SetValue(new Api.UCI.OptionSet { Name = "vrp_isuploaded", Value = "Yes" });

[2020-03-01 08:21] kalyanip1 opened #786 "[BUG] Not able to SetValue for flipswitch boolean control"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-03-01 21:37] ejfdejesus commented on #785
Same case with me when updating lookup value. Initial setting of value when the lookup is blank is working fine but when I tried to update to other value, it is showing an error.

xrmApp.Entity.SetValue(new LookupItem { Name = "primarycontactid", Value = "test test" });
xrmApp.Entity.SetValue(new LookupItem { Name = "primarycontactid", Value = "EasyRepro Test" });

Error message:
Microsoft.Dynamic

[2020-03-02 13:48] aalad commented on #523
I'm still having a similar issue, can someone help?
All I do is call `xrmApp.Entity.SetValue("estimatedclosedate", DateTime.Today.AddMonths(1), "dd.MM.yyyy"); ` and the result is like this (gif):
![easyrepro_uci_datetime](https://user-images.githubusercontent.com/48445423/75681467-ecbd5380-5c93-11ea-9f0c-0c82c840e5f0.gif)
Then it just stops and the test fails because it's a required field. Sometim

[2020-03-02 13:55] jlattimer commented on #523
You should open a new issue instead of adding on to a closed one.

[2020-03-03 10:00] anaprikho opened #788 "Unable to set DateTime in UCI"
xrmApp.Entity.SetValue("contactdate", DateTime.Today, "dd/MM/yyy") does not work for me. The value will be entered and then deleted again. I also take ThinkTime 3 sec
What would you suggest me?

[2020-03-03 13:21] anaprikho commented on #637
Hey did you find any solution?

[2020-03-03 13:49] AngelRodriguez8008 commented on #788
Also if you remove the Format ("dd/MM/yyy")? Try with the default one, remove the parameter

[2020-03-03 14:25] anaprikho commented on #788
Thank you, it did work for me!

[2020-03-03 14:25] #788 closed, assigned to nobody

[2020-03-03 14:36] anaprikho opened #790 "[HOW-TO] <set value on option/two set in business process flow stage>"
I tried to change the vlaue to "yes" with
 xrmApp.BusinessProcessFlow.NextStage("Identify"); xrmApp.ThinkTime(2000); xrmApp.BusinessProcessFlow.SetValue(new OptionSet { Name = "themabestaetigt", Value = "Ja" })
but it throws an exeption. I have also tried to increase the think time to wait until the element is visibale.
<img width="245" alt="Unbenannt" src="https://user-images.githubusercontent.co

[2020-03-03 15:51] #775 closed, assigned to nobody

[2020-03-03 17:33] alphonso77 commented on #742
Sorry for the delayed response. I haven't tested UCI, do you think it would make a difference?

[2020-03-03 20:31] AngelRodriguez8008 commented on #742
Probably xrmBrowser & xrmApp are different code. We are working more active in xrmApp.

[2020-03-03 21:54] ejfdejesus opened #791 "SetValue and ClearValue for Lookup field are throwing an error when the Lookup field already contains a value"
Initial setting of value when the lookup is blank is working fine but when I tried to update to other lookup value or clear lookup value, it is failing the test.

**Set Value:**
xrmApp.Entity.SetValue(new LookupItem { Name = "primarycontactid", Value = "test test" }); //When lookup is blank this is working fine
xrmApp.Entity.SetValue(new LookupItem { Name = "primarycontactid", Value = "EasyRepro T

[2020-03-04 17:48] tipsey commented on #713
Hi Not using xrmApp but got it working with xrmBrowser.  You cannot assign the name of the ribbon but only the index, 0, 1, 2 etc

xrmBrowser.BusinessProcessFlow.SelectStage(2);

[2020-03-05 05:05] dynamicsk commented on #190
Hello

I am using the XrmApp and i am facing the similar issue.

How can i call Browser/Driver using XrmApp?.

If i use **"client.Browser.Driver"** it is opening a different window.

Also to scroll down the page i am using the below code

            IJavaScriptExecutor js = (IJavaScriptExecutor)**XrmApp**;
            js.ExecuteScript("window.scrollTo(0, 1000)");

Error : Message:
    Unable to c

[2020-03-05 10:14] anthonys2885 opened #794 "How to use EasyRepro for Dynamics 365 V 9.0 On Premise - UCI?"
## Question

How to use EasyRepro for Dynamics 365 V 9.0 On Premise - UCI? I encounter issues when I'm using the EasyRepro package for Dynamics 365 online, in which I can't login automatically since my Dynamics 365 on premise setup is using windows authentication.

However, when I use the release for on premise (https://github.com/microsoft/EasyRepro/tree/releases/OnPremise), although I'm able to

[2020-03-05 10:30] #790 closed, assigned to nobody

[2020-03-05 15:07] aalad opened #795 "[BUG] Entering a value in Date control fails"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-03-05 20:12] AngelRodriguez8008 commented on #795
Can you check #788? Maybe is the same problem.

[2020-03-06 13:04] anaprikho opened #796 "[BUG] <xrmApp.Entity.ClearValue does adds "a" to exisitng value>"
When I tryx to clean a fiel with existing predefined value, the method
xrmApp.Entity.ClearValue("fieldname"); delete only the last character of the given string. I have also tried to make it to the iteration process but then the last character will be deleted and one "a" to the string will be added.

I want either to delete the whole predefined string und put in my value or to put in my value in t

[2020-03-06 15:21] SARCASMOOO opened #797 "[HOW-TO] How to close a dialog opened in a different iframe."
## Question
When a radio button is clicked a dialog is created. I looked in google chrome inspector and saw that it was created in it's own iframe. I tried to switch to that iframe so I can click a confirmation button. I grabbed all the iframes using FindElements. The function call returned 4 iframes but none of them had a name or the id that I saw in the DOM. How do I close the dialog?

[2020-03-08 11:32] rahiltg commented on #750
when shall I expect a solution to handle tree-input?

[2020-03-09 08:45] ismail4u commented on #791
What is the update on this bug ? any work around ?

[2020-03-09 09:54] aalad commented on #795
Thanks Angel, it's similar but not the same problem. In #788 it was solved by removing the format option, which did not work for me.
Without the format option, the time is also entered. The field is date-only, so that cannot work from my point of view.

I tried changing the date format of the test user's personal options from German to English (US) as well, but no luck either.

[2020-03-09 12:01] VasanthChidambaram commented on #791
We are also facing this issue from today morning.
We have got workaround for this. Please click the Lookup field before entering value. It works for me.

![image](https://user-images.githubusercontent.com/33891447/76386221-ea40b500-6389-11ea-8f1b-9fcc6c24920d.png)

[2020-03-09 15:01] joesfshin13 commented on #740
Ok performed this for you please let me know what I can perform to help better troubleshoot! Thank you again
[HTML from CRM Page.txt](https://github.com/microsoft/EasyRepro/files/4307416/HTML.from.CRM.Page.txt)

[2020-03-09 15:03] aalad opened #798 "[BUG] CommandBar.GetCommandvalues fails if MoreCommands == true"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)
  - [ ] Clas

[2020-03-10 09:04] aalad opened #800 "[BUG] XrmApp.Grid.GetGridItems() resultset: GUIDs and URLs are incorrect"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)
  - [ ] Clas

[2020-03-10 16:12] #706 closed, assigned to TYLEROL

[2020-03-10 16:15] xuejunh opened #801 "[HOW-TO] Does CRM support basic authentication?"
Is there a way to let Online CRM land at homepage by passing the user credential in the CRM url? My colleague asks me this question but my trial is not successful. I ask this question in case there is a way for the CRM basic authentication works. Thanks!

[2020-03-11 03:54] dynamicsk opened #802 "How to Select Tab on the UCI form using XrmApp"
## Question

**What is your question?**
How to Select Tab on the UCI form using XrmApp

XrmApp.Entity.SelectTab("SUMMARY_TAB");

This is failing

![image](https://user-images.githubusercontent.com/61816550/76380850-06ebe580-63a8-11ea-8068-63eea5d652dd.png)

[2020-03-11 04:01] dynamicsk opened #803 "How to use Selenium Driver using XrmApp"
Hi

I am using the latest version of API, with Selenium and Spcflow framework.

How can i call Browser/Driver using XrmApp?.

I am Initiating the xrmApp in the "Hooks.cs" as below :

            _BrowserOptions options = BrowserSettings.Options;

            client = new WebClient(options);
            xrmapp = new XrmApp(client);
            _container.RegisterInstanceAs(xrmapp);_

I login to D36

[2020-03-11 04:15] easyrepro opened #804 "[BUG] Clearing single value Lookup item failing with exception"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [ ] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [X] UCI (XrmApp)
  - [ ] Clas

[2020-03-11 05:49] VasanthChidambaram commented on #802
@dynamicsk - Just provide the tab name.
`XrmApp.Entity.SelectTab("Summary"); `

[2020-03-11 07:51] majeshpk opened #805 "[HOW-TO] Set lookup value without using Entity.SetLookup"
## Question

Can someone please suggest how we can set a value for a lookup field directly using Selenium ?
I know the Entity.SetValue option but i need to set the lookup on a form that is not associated with an entity, hence cannot use that.
Please note, this is for a lookup where you can search and not the option/combo box.

usually, we would do something like this -
LookupItem customer = new Lo

[2020-03-11 10:57] AngelRodriguez8008 commented on #740
From your 'txt' I deduce that in Forms should EasyRepro works fine but, in Views there is no command in the command bar or the HTML was changed in some way.

[2020-03-11 17:08] xuejunh commented on #791
I click the lookup field before setValue but I still got OpenQA.Selenium.ElementNotInteractableException : element not interactable

[2020-03-11 22:55] dynamicsk commented on #802
Hi Vasanth, Thanks for your reply.
 Tried those options. Even i cant select any tab on any entity

[2020-03-11 23:23] joesfshin13 commented on #740
not that I was told - but is there a way I could alter the code on Easyrepro that you see to make this work?

[2020-03-12 02:53] ejfdejesus commented on #791
This is what I've done as a workaround.

//Click the lookup field
WebDriver.FindElement(By.Xpath("//ul[@data-id='{field}.fieldControl-LookupResultsDropdown_{field}_SelectedRecordList']")).Click

//Click the "X" from the lookup value to remove the value
WebDriver.FindElement(By.Xpath("//button[@data-id='{field}.fieldControl-LookupResultsDropdown_{field}_selected_tag_delete']")).Click

//Set value
x

[2020-03-12 08:18] AngelRodriguez8008 commented on #740
Yes, of course. [Here is the method](https://github.com/microsoft/EasyRepro/blob/af9605bf86f0605e1f37083fa3770006d89f4756/Microsoft.Dynamics365.UIAutomation.Api.UCI/WebClient.cs#L1070)

[2020-03-12 13:11] chetanshetty1387 commented on #99
Hi Tyler Olson,

I am also facing same issue with web resource.

Thanks,
Chetan

[2020-03-12 20:53] xuejunh opened #806 "[HOW-TO] Validate GridItem list contains a sub Grid Item list"
public void TestViewForAccounts()
        {
            _xrmApp.Grid.SwitchView("All Accounts");
            _driver.FindElement(By.Id("A_link")).Click();

            List<GridItem> lstAllAccount = _xrmApp.Grid.GetGridItems();

            _xrmApp.Grid.SwitchView("My Active Accounts");
            _driver.FindElement(By.Id("A_link")).Click();
            List<GridItem> lstMyAccount =_xrmApp.Grid.

[2020-03-13 16:00] mVermaat commented on #803
Are you sure you are using the same instance of the 'XrmApp? in your code you initialize 'xrmapp' variable and then in your comment the name of the variable is '_XrmApp'.

client.Browser.Driver should be the way to go. Take at look at my example here: https://github.com/mVermaat/Crm.Specflow/blob/master/Vermaat.Crm.Specflow/EasyRepro/UCIApp.cs

[2020-03-13 16:05] mVermaat commented on #802
Are you sure you are using the label of the tab not the internal name of the tab?

[2020-03-13 16:13] mVermaat commented on #794
So you are saying you automatically login? Would it work if you just skip the Login method and directly open CE by URL?

[2020-03-15 18:22] ejfdejesus commented on #791
Related to #804

[2020-03-16 12:06] Haywaii commented on #279
@TYLEROL does this one is supposed to be merge on master for a later release?

[2020-03-16 19:49] kavitham1985 commented on #790
I am receiving error too. May I know what is the fix @anaprikho

[2020-03-16 21:17] anaprikho commented on #790
That is how it did  work for me @kavitham1985. BooleanItem method
![image](https://user-images.githubusercontent.com/42543248/76800394-db1b9600-67d3-11ea-9fc8-8275bc2e1b1f.png)

[2020-03-17 14:54] badarmunir opened #808 "Unable to enter password when run a sample test case"
Steps to reproduce
open easyrepro latest version in visual studio
build the solution
go to uci>create>CreateCase.cs run following test case

**EasyRepro Version**

  - [ ] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [ ] UCI (XrmApp)

**Online or On Premise**
  - [ ] Online

**Browser**
  - [ ] Chrome

**Describe the bug**

**Code to reproduce**

[2020-03-17 14:55] badarmunir commented on #808
@TYLEROL kindly look into this issue

[2020-03-18 21:44] xuejunh opened #809 "[BUG] getValue from Lookup item returns value in lowercase (lose the case information of the value)"
I use getValue for a lookup item, the value I expect is in mix case but the value returned is in lower case, so cannot compare exact string when using getValue

[2020-03-20 01:55] dynamicsk commented on #803
Hi mVermaat,

Thanks for your reply.
"_" just came up here when i tried to make the below line as Italic. :)
_XrmApp.OnlineLogin.Login(_url, _username, _password, mfaSecrectKey);

Any how this issue is solved bu using this in Hooks.cs.

container.RegisterInstanceAs(client);

Thanks

[2020-03-20 06:39] mVermaat commented on #803
@dynamicsk Good to hear it is solved :) You should close this issue then.

[2020-03-22 16:29] jeffryvu opened #810 "[BUG] Login with certain password(s) doesn't work"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-03-23 10:19] Shakevg commented on #605
Is this possible for new UCI client?

[2020-03-23 15:03] mVermaat commented on #810
I assume you write your password in app.config. Can you check if it hasn't got anything to do with escaping?

In example is your password is: 'Some&Password', you need to set in the app.config as 'Some&amp;Password'.

[2020-03-23 19:34] jeffryvu commented on #810
I think github removed your escaping :). Do you mean that I should escape `&` to `&amp;`? Do you mean escaping or encoding? And is that documented somewhere?

[2020-03-24 02:10] mhossen commented on #637
Use `xrmBrowser.BusinessProcessFlow.SetValue(new LookupItem{Name = "filedName", Value ="Value to Set"})` this works for setting value, but nothing that will remove the value or clear the filed

[2020-03-24 09:09] badarmunir commented on #786
@kalyanip1 did you find any solution or work around

[2020-03-24 09:10] badarmunir commented on #786
@TYLEROL  is there a solution or work around to this problem

[2020-03-24 09:13] kalyanip1 commented on #786
@badarmunir fix has been checked in. use the latest code it will work as expected.

[2020-03-24 09:13] #786 closed, assigned to nobody

[2020-03-24 09:18] badarmunir commented on #786
@kalyanip1 i have added latest nuget package in solution and tried following solutions
mApp.Entity.SetValue(  "mzk_diagnosisrequired", "true" );
xrmApp.Entity.SetValue( new BooleanItem { Name = "mzk_diagnosisrequired", Value = true });

but still unable to setValue in flipswitch

[2020-03-24 10:37] kalyanip1 commented on #786
@badarmunir may be this hasn't made to nuget yet. Here is the original pull request https://github.com/microsoft/EasyRepro/pull/787

[2020-03-26 13:54] mVermaat commented on #810
Yes, exactly like that. It's not part of easyrepro. It's because an app.config file is a XML file.

You can find it here: https://stackoverflow.com/questions/1091945/what-characters-do-i-need-to-escape-in-xml-documents

[2020-03-26 14:41] #810 closed, assigned to nobody

[2020-03-26 15:39] issieeman opened #811 "[HOW-TO] xrmApp.Entity.AddSubgridItem("xxx"); can't find element"
Hi,
I'm having an issue where using the AddSubgridItem method returns the no such element error.
When the application is fullscreen this does not work, because the button is hidden under the 3 dots.
However if I make my screen smaller, the add new opportunity button does appear together with the refresh button and i can click them.
anyone know how i can solve this?

![afbeelding](https://user-imag

[2020-03-27 00:09] dynamicsk opened #812 "[HOW-TO] When i click on "Resolve Case" It opens up a pop up window."
When i click on "Resolve Case" It opens up a pop up window.

How do i enter details on that pop up and Click on Resolve button. Please help.

![image](https://user-images.githubusercontent.com/61816550/77708098-35f68e00-701b-11ea-9b46-30dff52e484a.png)

[2020-03-27 17:31] issieeman commented on #812
I'm also pretty new at this, but i think to click the resolve button you have to use:

xrmApp.Dialogs.ConfirmationDialog(true);
Let me know if this works.

Not sure about how to fill in the field though.
please comment if you find out, i'll probably also need it in the future...

[2020-03-29 09:44] dynamicsk commented on #812
Hi issieeman

Thanks for your reply.
 xrmApp.Dialogs.ConfirmationDialog(true);      did Not work.

I managed to fill in the fields though. XrmApp.Entity.SetValue("resolution_id", "Test");

Will try different options to click on Resolve button.

[2020-03-30 07:50] mVermaat commented on #812
I think this is similar to the opportunity close dialog. It's a different element. You see in that method they use a different XPATH query to press the OK button. You will need to do something like that, but create your own XPATH query.

[2020-03-30 09:01] imartinflores opened #813 "[BUG] - Add Phone Call - Description"
Hi guys, I have noticed that when you Add a Phone Call on the timeline, the method is taking the "Description" field in the main form (Case) and not the PhoneCall form.

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [ ] UCI (XrmApp)

**Online or On Premise**
  - [ ] Online

**Browser**
  - [ ] Chrome

**Describe the bu

[2020-03-30 09:03] imartinflores opened #814 "[HOW-TO] TrackPerformanceEvent"
## Question

Hi guys, can you please check if this is working?

TrackPerformanceEvent is giving me an error on this line

Dictionary<string, double> markers = GetPerformanceMarkers(metadata["PageName"]);

Saying that value does not exists.

Thanks!

[2020-03-30 13:44] badarmunir opened #815 "[HOW-TO] <Open record in subgrid >"
## Question

**How to open record in subgrid- i have multiple grids - i am able to click on first grid record by using
global.xrmApp.Grid.OpenRecord(0);

![Capture](https://user-images.githubusercontent.com/23335796/77919256-c9b19f80-7251-11ea-9d5c-a0b64a9b1329.PNG)
but i dont know how to open record on second grid (Delivery Frequency)

[2020-03-31 10:58] vaclavrozsypal opened #816 "[BUG] UCI BusinessProcessFlow Lookup SetValue fails"
- [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online
  - [x] UCI (XrmApp)
  - [x] Online
  - [x] Chrome

_xrmApp.BusinessProcessFlow.SelectStage("stageName");
xrmApp.BusinessProcessFlow.SetValue(new LookupItem { Name = "attributeLogicalName", Value = "someValue", Index = 0 });_

I thing it fails at:
_input.SendKeys(Keys.Control + "a");_

[2020-04-01 05:19] shiyamtj commented on #802
As @mVermaat,
XrmApp.Entity.SelectTab("TabDisplayName") should work without issues. If didn't work, try putting debug point in webclient > SelectTab method to see what element locator your code checking.

[2020-04-01 12:54] rbasten opened #817 "Change Area Within UCI App"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-04-01 20:06] vaclavrozsypal opened #818 "[BUG] UCI Entity can't OpenSubGridRecord in subgrid with hidden label"
- [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online
  - [x] UCI (XrmApp)
  - [x] Online
  - [x] Chrome

can't OpenSubGridRecord in subgrid with hidden label

[2020-04-01 20:16] vaclavrozsypal opened #819 "[BUG] UCI BusinessProcessFlow Lookup SetValue fails if the same attribute exists on the form and is set to read-only"
**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)
  - [ ] Classic Web (XrmBro

[2020-04-01 20:16] #816 closed, assigned to nobody

[2020-04-01 20:17] vaclavrozsypal commented on #816
Open in new issue labeled BUG

[2020-04-06 05:11] krishnacs1993 opened #820 "Unable to set Date field in UCI"
Facing issue with Date field in UCI. I see multiple bugs been raised for this issue but none of the solutions worked for me. Below is the line of code I'm using

xrmApp.Entity.SetValue("new_dateonly", DateTime.Now, "dd/MM/yyyy");

Sometimes hard coding of date field value works fine but not always.

xrmApp.Entity.SetValue("new_dateonly", "06/04/2020")

Can someone help me out here

[2020-04-06 06:56] gabyMe commented on #808
I had the same issue. The solution is to add a think time in the WebClient class ->  login method , before the EnterPassword statement.
But this means that you need to modify the framework and is not a good practice.
Also, regarding the MFA login, in Online, I discovered that we were using another Element reference, for the verification code, so I needed to modify also the "Login_OneTimeCode" from

[2020-04-08 12:15] rbasten commented on #817
Fixed By Adding ChangeAreas Code

[2020-04-08 12:15] #817 closed, assigned to nobody

[2020-04-10 10:20] badarmunir commented on #820
@krishnacs1993 try this method

DateTime birthday = new DateTime(1995, 3, 1);
xrmApp.ThinkTime(500);
xrmApp.Entity.SetValue("birthdate", birthday);

if this dosent work try this
DateTime startdate = DateTime.Today.AddDays(1);
xrmApp.Entity.SetValue("mzk_startdate", startdate);

Or add some think-time

[2020-04-14 07:49] Sand-2050 opened #821 "[HOW-TO] Get value of Note title created on Lead's timeline"
How to get title and Note contents of Note that is already created and seen on Lead record's Timeline?

[2020-04-14 16:51] Claydon commented on #171
I had either this same error or something very similar.  The root cause was a malformed config file in my C# assembly. Although I've gotten similar errors when not all of the assemblies in the solution compiled to the same CPU architecture. Project Properties > Debug > Active (Any CPU).  Just leaving notes so I can find this again...

[2020-04-15 09:20] nareshbak commented on #795
Do we have resolution for the above issue. I too face the same issue while entering dates in Date fields

[2020-04-15 09:38] prashantThakuri commented on #820
A force feed code can be written to enter he value as below in the SetValue Field:

   int counter = 1;
                    fieldElement.SendKeys(date.ToString(format));
                    String st = date.ToString(format);

                    while(!(fieldElement.GetAttribute("value") == date.ToString(format)) && counter<=3)
                    {

                        fieldElement.SendKeys(d

[2020-04-16 15:25] AlexandreMReis commented on #171
Had the same problem and resolved this issue by changing the platform target from x64 to any CPU on Properties > Build > Platform target > Any CPU.

[2020-04-17 20:45] jowells1 commented on #689
This should be closed as TwoOption has been replaced with BooleanItem. BooleanItem type is expecting a true/false value.  If you review the values for each label of a Two Options field, you’ll see that the label with a value of 0 means it is a boolean value of false and the other, that has a value of 1, is a boolean value of true.  This example is from the Marketing Materials field within the Lead

[2020-04-17 20:51] #689 closed, assigned to nobody

[2020-04-18 09:20] saurabhchanchawat opened #824 "[HOW-TO] [UCI] Open related record from list(Related - Common)"
I wanted to select 'Alerts' or 'Income' or any other related menu from list.
I am using `xrmApp.Entity.SelectTab("Related", "Income");` to perform the action. But, it is not working and giving exception as 'The tab with name: Related does not exist'.
Is there is anything which is wrong here?
![image](https://user-images.githubusercontent.com/23567469/79633373-bde73800-8182-11ea-9620-6d49f8c231db.p

[2020-04-18 10:50] saurabhchanchawat commented on #824
After dig into the code, I see in "ClickTab" method, at last else condition, code is throwing exception. That's why it is not clicking on Related record
[code]
When I commented this line, it is working perfectly.

[2020-04-20 13:01] nareshbak commented on #815
Do we have solution for this? I too have same issue.

[2020-04-21 11:18] rbasten opened #825 "[HOW-TO] Select Team To User (Lookup Dialog)"
## Question

I'm trying to add an user to a specific team, but don't get it to work.
I'm using the Unified interface, navigate to the user and click "Join Teams"
This opens a new popup dialog which contains a Lookup to Teams.

With some custom code I've managed to enter text in this lookup, but then I have to click the extended list and click the Join Teams button to actually add the team to the u

[2020-04-21 15:35] JordanD96 opened #826 "[HOW-TO] Set Hidden/Locked fields in a BPF stage"
## Setting Hidden/Locked fields in a BPF stage

Hi guys,

I'm new to EasyRepro and was wondering if you could help me out.

I have a BPF stage called 'Review'.
When I click this stage, I need to populate multiple fields before I can go on to the next stage, however some of the fields are either locked or hidden on the form.
![image](https://user-images.githubusercontent.com/28263476/79884685-5e409

[2020-04-21 15:38] JordanD96 opened #827 "[HOW-TO] Set Hidden/Locked fields in a BPF stage"
## Setting Hidden/Locked fields in a BPF stage

Hi guys,

I'm new to EasyRepro and was wondering if you could help me out.

I have a BPF stage called 'Review'.
When I click this stage, I need to populate multiple fields before I can go on to the next stage, however some of the fields are either locked or hidden on the form.
![image](https://user-images.githubusercontent.com/28263476/79884685-5e409

[2020-04-22 13:43] VivianVoss commented on #695
Hi all,
I have just tried the tests again but with UCI and it seems to work fine. Thanks for the help :)

[2020-04-22 13:43] #695 closed, assigned to nobody

[2020-04-22 20:56] TYLEROL commented on #795
@aalad - Using _English (United States)_ personal format options, and example formatting below. I was able to set a value on the DateTimeControl for both DateOnly and Date+Time control formats.

I'll have this change reviewed and merged into the develop branch today, could you kindly let me know if you are successful with this sample code below?

[code]

Warm Regards,
Tyler

[2020-04-22 21:33] #795 closed, assigned to nobody

[2020-04-22 21:33] #820 closed, assigned to nobody

[2020-04-24 22:05] AlexanderFickert opened #834 "UCI - Retrieving avialable values of optionssets"
**Describe the feature**
At one point of my developement, i am getting some errors trying to set an optionset to a non existing value (we use some scripts to make them dynamically). I steped into the callstack and found
the current options are retrieved before the exceptions was thrown. So i decided to inject a method to retrieve all available values of an optioset.

The extension i made are movin

[2020-04-27 12:09] vijaypallap opened #835 "[HOW-TO] <Switch between the browser windows on UCI>"
Hi,

Can i know the command to be used to switch between the browser windows when using UCI test cases as during test a pop up window opens up as per the requirement. I am unable to switch to new browser window during the test.

Please help me to get this resolved.

Thanks

[2020-04-28 10:51] keval71 opened #836 "[BUG] Lookup SetHeaderValue fails to clear value when there is another element with same name in part of page"
## Bug Report

### When there are more than one fields present on form one in header and one in other part of page representing same field and having same name an exception is thrown

Exception:

### Stale element reference: element is not attached to page document

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Onli

[2020-04-28 14:24] keval71 opened #837 "[BUG] Trygetvalue does not return value for lookup item in header"
## Bug Report

### When used GetHeaderValue to get value of look up from header Trygetvalue method fails to identify existing element and code fails.

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) onli

[2020-04-29 09:46] imartinflores opened #839 "Alerts Grid Canary Env"
Hi guys, just wanted to drop a question because I have seen that some of out test are failing on Canary env, so just to be aware if there will be any changes that can break easyrepro methods.

The GetGridItems() is not working correctly on Canary env, so not sure if thats a locator that has changed. When we execute GetAttribute<string>("win_description") it returns null on Canary, but works fine o

[2020-04-29 14:45] jjbright opened #840 "[HOW-TO] Old CRM interface to UCI interface"
## Question

**I've a lot of automation done using the old CRM browser interface.  Now that my organization is planning to move to UCI for D365.

1. How much is the change that will impact my existing automation code?
2. As an initial look, I see even the way of Dashboard navigation is changed, if so should I completely rewrite my automation code?
**

@TYLEROL @dtu11 Could you please guide me on t

[2020-04-29 17:27] #836 closed, assigned to nobody

[2020-04-29 17:27] #837 closed, assigned to nobody

[2020-04-29 17:31] TYLEROL commented on #836
@keval71 - I've checked in changes for this issue and issue #837. These are currently in the Develop branch. Please let me know if these have not resolved the problem.

Warm Regards,
Tyler

[2020-04-29 17:31] TYLEROL commented on #837
@keval71 - I've checked in changes for this issue and issue #836 . These are currently in the Develop branch. Please let me know if these have not resolved the problem.

Warm Regards,
Tyler

[2020-04-30 10:45] imartinflores opened #842 "[HOW-TO] Performance - Simulate network"
## Question

Hi guys!

Just a quick question, when using performance, is there anyway to simulate different networks ?
I know thats possible to set on chromdevtools or when creating the chromedriver, just wonder if you have anything in place on easyrepro to control that.

Thanks!

[2020-04-30 21:20] rswafford commented on #155
Any updates on this? I am testing it in Chrome, with Azure AD SSO and I get through the "Taking you to your organization's sign in page..." redirect, it goes to a blank screen and then pops a native browser dialog for credentials. At that point, the test bombs. If I put in creds, it passes through and authenticates correctly.  Seems like I should be able to code around that?

[2020-05-01 02:11] jowells1 commented on #818
Currently working on the support on this.  WebClient was parsing based on the label.  Adding the ability to pass the component unique name as well.

[2020-05-01 02:30] jowells1 opened #843 "[BUG] Different subgrid experience within a Form based on size of page"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-05-01 14:49] #587 closed, assigned to TYLEROL

[2020-05-01 15:25] TYLEROL commented on #808
@badarmunir - Is this still occurring? It looks like the failure is likely occurring around Line 124 of WebClient.cs (the EnterUsername() method. If this returns false, then you get down into a path of code that eventually leads to your error.

[code]

What login experience do you see when you test this? Is it a standard O365 cloud identity login? Or a federated experience?

I'm going to make an a

[2020-05-01 15:45] #803 closed, assigned to nobody

[2020-05-01 15:55] jowells1 opened #846 "[BUG] OpenRecordSetNavigator fails with no such element"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-05-04 22:02] aliyoussefi opened #849 "[FEATURE] Log PATCH timeline event for SaveForm workblock for app insights"
**Describe the feature**
Performance Center includes a timeline event for the SaveForm KPI that is helpful for users and support as it includes metrics and identifiers that could help troubleshoot server issues.

**Explain why this feature is needed**
The timeline event includes patchDuration and ServerActivityId which are helpful for further debugging of performance related issues.

**Additional

[2020-05-04 22:52] allanzh opened #851 "[BUG] Lookup value returning lowercase strings"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)
  - [ ] Clas

[2020-05-05 07:52] krishnacs1993 opened #852 "Unable to open record from editable subgrid"
Hi there,

I'm trying to open a record from the editable subgrid using the below lines of code

xrmApp.Entity.SelectTab("Related", "Booking Products");
xrmApp.Entity.OpenSubGridRecord("Booking Product Associated View", 0);

looks like there is some issue with OpenSubGridRecord, I am not getting any error but no action is being performed, control moves to the next line of code.

I have many tests t

[2020-05-05 08:08] krishnacs1993 commented on #852
@TYLEROL Can you please help me out here.

[2020-05-05 14:59] TYLEROL commented on #851
@allanzh - Thanks for raising this. I just tried to replicate this issue, but I am not reproducing the problem with the **develop** branch. There have been an array of changes made recently that are not yet merged with the NuGet packages. I plan to merge them either later this week, or ~approx. end of next week.

_**Removed ask**_

**Edit**: Disregard my prior request, this was fixed in this PR -

[2020-05-05 15:04] TYLEROL commented on #852
@krishnacs1993 - Thanks for raising this. I have an open work item to take a look at the grid experience when editable. I'll let you know once I have a set of changes posted to the develop branch that you can test, hopefully in the next couple days.

Warm Regards,
Tyler

[2020-05-05 15:20] TYLEROL commented on #809
@xuejunh - Thanks for raising this. This is fixed and merged with the latest develop branch. I plan to update the NuGet packages and releases/v9.1 by end of next week.

Warm Regards,
Tyler

[2020-05-05 16:40] jowells1 commented on #769
I was able to workaround this by doing a clearvalue prior to the setvalue:

[code]

[2020-05-05 21:45] jowells1 opened #854 "[FEATURE] Select record from Lookup Record Dialog"
**Describe the feature**

After clicking on "Add Existing Contact" within the Account form, it opens up a Lookup Records dialog:
![image](https://user-images.githubusercontent.com/34693792/81118863-438f1580-8eef-11ea-8f09-2996392b0259.png)

![image](https://user-images.githubusercontent.com/34693792/81118969-7f29df80-8eef-11ea-9539-fa78c8114d69.png)

**Explain why this feature is needed**

Need to

[2020-05-06 02:51] jowells1 commented on #801
@xuejunh Dynamics 365 Online only supports Azure AD authentication methods:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-authentication-methods

When setting the username and password within the app.config file, you would use the same username and password that you would use when logging into Dynamics.

[2020-05-06 02:53] jowells1 commented on #814
@imartinflores currently the TrackPerformanceEvent is broken. The reference elements we used to handle the markers were removed by the Unified Interface feature team.  We are looking at how we handle the changes to get this back working again.

[2020-05-06 02:55] jowells1 commented on #815
Please see and track #852 as @TYLEROL is currently doing work to address this.

[2020-05-06 02:55] #815 closed, assigned to nobody

[2020-05-06 03:13] jowells1 commented on #811
@issieeman, can you try the following:
[code]
Let's discuss the parameters being passed:
1. New Opportunity - This is the name of the button as you see it on the form
2. null - If the button led to a sub-area and another button, then you would pass the value of that label here
3. true - This is needed if you have to click the ellipses button (...)
4. contactopportunitiesgrid - This is the unique n

[2020-05-06 03:30] jowells1 commented on #806
@xuejunh can you explain what your requirements are?  What are you trying to achieve with your test?

[2020-05-06 12:16] xuejunh commented on #806
1. I would like to validate the fields in the entity view list, eg. the Account Name, Account Type, etc in the My Active Account view.
2. I would like to validate the entities listed in the My Active Account view is a sublist of the entities listed in the Active Account. seems this is not possible since the getGriditem only return visible grid items.

[2020-05-06 12:17] #801 closed, assigned to nobody

[2020-05-06 12:39] SUNILKUMARSL opened #857 "Cannot start the driver service on http://localhost:xxxxx/."
Cannot start the driver service on http://localhost:xxxxx/.

Hi MIT Team/Tylor,

While I run the scripts on DevOps some of the scripts are breaking with the error "Cannot start the driver service on http://localhost:xxxxx/.". Where xxxx=integers.

<img width="655" alt="1" src="https://user-images.githubusercontent.com/30647660/81177763-d057d300-8fc4-11ea-8564-bb21350d9946.PNG">

<img width="676" a

[2020-05-06 13:46] allanzh commented on #851
Nice!!
Thanks @TYLEROL for the quick answer. Thanks to @AngelRodriguez8008 too, great job!

[2020-05-06 13:46] #851 closed, assigned to TYLEROL

[2020-05-06 18:02] Ramz45 opened #858 "Can Selenium test scripts in Python work with EasyRepro?"
Hello, can test scripts written in Python or Java work with EasyRepro framework?
Or should the test scripts be written in C#?

Thank you for your time and guidance

[2020-05-08 11:45] Khushbukumaripathak commented on #104
"xrmApp.Navigation.OpenAdvancedFind()" is not working as of now.

[2020-05-08 11:57] krishnacs1993 opened #861 "Unable to get/set values for custom/system fields in Phone Call form"
Hi there,

I'm trying to get/set values of the fields (OOTB & Custom) present on the Phone Call activity form, but my tests always fail saying, field does not exist

Message:
    Field with name directioncode does not exist.
  Stack Trace:
    System.Exception: Field with name directioncode does not exist.

For "description" field, When I change my code to something below, it actually works

xrmAp

[2020-05-08 11:58] krishnacs1993 commented on #861
@TYLEROL Can you please help me out here with the ways to set custom fields in Phone Call activity form.

[2020-05-12 15:05] ryanpiran opened #862 "[BUG] Frame AppLandingPage is not loaded - Exception When Opening App"
## Bug Report

**EasyRepro Version**
  - [X] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [X] UCI (XrmApp)

**Online or On Premise**
  - [X] Online

**Browser**
  - [X] Chrome

**Describe the bug**
Upon calling Xrm.App.Navigation.OpenApp(); the following exception is thrown:
System.InvalidOperationException: 'Frame AppLandingPage is not loaded. Ex

[2020-05-14 07:22] krishnacs1993 commented on #485
@TYLEROL @jlattimer I do have similar issue with the confirmation pop up.
xrmAPP.Dialogs.ConfirmationDialog(false); works for me but problem is when I change the Form type there are two confirmation pop ups shown on the page like below

![image](https://user-images.githubusercontent.com/40267658/81904842-77e68e00-95e1-11ea-8565-fa83effa72bd.png)

![image](https://user-images.githubusercontent.com/

[2020-05-14 21:15] veerasekharbathala opened #863 "Unable to load Dynamics 365 Apps page in UCI once login is successful"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-05-14 21:18] veerasekharbathala commented on #863
Please find online crm Url config from app.config file.
[code]

[2020-05-15 00:38] AngelRodriguez8008 commented on #840
I can say that, it depends on what are your automation is doing, almost each line of your automation code change from XrmBrowser to XrmApp. The Logic is similar with similar functions names, but not really the same.
in other words: I will not need to rethink everything, but rewrite it.

[2020-05-15 01:49] AngelRodriguez8008 commented on #863
Your are trying to open the Sales App. Do you has it installed?

Maybe you should choose the right App, at this line:
        `xrmApp.Navigation.OpenApp(UCIAppName.Sales);`

[2020-05-15 02:58] veerasekharbathala commented on #863
I tried to open the apps which are already installed. The page is still redirected to office 365 home page once the login is successful and xrmApp is not able to load appropriate app.

Please find screenshots below.

![image](https://user-images.githubusercontent.com/35842369/82006556-16044380-9636-11ea-9a81-7ae8273a5dec.png)

![image](https://user-images.githubusercontent.com/35842369/82006605-33

[2020-05-15 03:47] AngelRodriguez8008 commented on #863
Sorry, i misunderstood your question.

What if you navigate to D365 in your Redirect Action or after Login,
 ` driver.Navigate().GoToUrl(_xrmUri);`

[2020-05-15 14:29] jjbright commented on #840
Oh, then it looks to be a big change for us... will come back once I get my UCI env ready.

[2020-05-15 18:37] #863 closed, assigned to nobody

[2020-05-15 21:14] jowells1 opened #865 "[BUG] Creating activities from Timeline controls fail when trying to SetValue"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-05-15 23:35] jowells1 opened #867 "[BUG] SetValue for MultiValueOptionSet is failing"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-05-18 08:25] badarmunir opened #868 "[BUG] Unable to SelectTab using Entity.SelectTab Method"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**

**UCI or Classic Web**

[2020-05-18 09:50] jtemple2 opened #869 "[BUG] UCI BusinessProcessFlow BooleanItem SetValue fails"
**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)
  - [ ] Classic Web (XrmBro

[2020-05-18 14:40] noor4263 commented on #868
even though its a bug, it can be easily made to work as below...
change your Entity_TabList as role rather id... it works

            { "Entity_TabList", "//ul[@role=\"tablist\"]" },
            //{ "Entity_TabList", "//ul[@id=\"tablist\"]" },

why someone messing with the code already proven working ?

[2020-05-18 15:08] badarmunir commented on #868
@noor4263 I am using nugget package

[2020-05-19 07:33] krishnacs1993 commented on #852
@TYLEROL @jowells1 @jlattimer Any update on this, please?

[2020-05-19 09:36] imartinflores opened #870 "[BUG] Entity.SelectForm() throwing StaleElement exception"
**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [ ] UCI (XrmApp)

**Online or On Premise**
  - [ ] Online

**Browser**
  - [ ] Chrome

**Describe the bug**
Using Entity.SelectForm() is throwing StaleElement exception.

**Code to reproduce**
 XrmApp.Entity.SelectForm(formName);

[code]
 -->

**Expected behavior**
Select t

[2020-05-19 09:53] krishnacs1993 commented on #852
I tried the alternative way for this and I could find the solution with the help of Actions in selenium.
The below code helps in opening the record from Grid/SubGrid/Editable Subgrid

 Actions actions = new Actions(client.Browser.Driver);
 IWebElement elementLocator = client.Browser.Driver.FindElement(By.XPath($".//div[@data-id='cell-{0}-1']"));
actions.DoubleClick(elementLocator).Build().Perform(

[2020-05-19 14:29] imartinflores opened #871 "[BUG] OpenEntity throwing CRM Unavailable record"
**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [ ] UCI (XrmApp)

**Online or On Premise**
  - [ ] Online

**Browser**
  - [ ] Chrome

**Describe the bug**
XrmApp.Entity.OpenEntity("incident", incidentId); is throwing error on Canary environment. Probably locator has changed.

**Code to reproduce**

[code]
 -->

**Expect

[2020-05-19 19:42] imartinflores commented on #871
FYI, seems like the Reference.Entity.Form (id=tablist) does not exist anymore in Canary. Updating that locator should be enough. [id^=tablist] works.

[2020-05-20 16:00] TYLEROL commented on #871
Thanks @imartinflores . I've incorporated this fix into #864

-Tyler

[2020-05-20 16:04] TYLEROL commented on #870
@imartinflores - I made changes to the form selector element references in #833 which is currently merged into the develop branch.

Can you confirm whether this issue reproduces in develop? I am not able to reproduce with the latest develop changes.

-Tyler

[2020-05-20 16:07] TYLEROL commented on #868
@badarmunir - Thanks for raising this. This was an issue that popped up on our end as well. The fix is slightly different from your proposal, but is confirmed working in the develop branch via #859 .

I hope to merge this into the latest code branches + NuGet package very soon.

Warm Regards,
Tyler

[2020-05-20 16:11] #846 closed, assigned to jowells1

[2020-05-20 16:13] TYLEROL commented on #839
@imartinflores - I believe this issue should be fixed by pending changes in #864

We hope to have these merged into the release branch and NuGet packages very soon.

-Tyler

[2020-05-20 16:15] TYLEROL commented on #824
@saurabhchanchawat - Thanks for raising this. We've merged a fix for SelectTab in #859. With some additional changes going in later today with #864

Once these are merged, we plan to update the release branch and NuGet packages.

Thanks,
Tyler

[2020-05-20 16:16] #865 closed, assigned to jowells1

[2020-05-20 18:34] TYLEROL commented on #869
@jtemple2 - If you have not, could you try testing this with the latest develop branch?

We're planning to push a new release very soon -- if you still have problems I may be able to try and get a change in if necessary.

Warm Regards,
Tyler

[2020-05-20 18:57] TYLEROL commented on #861
Hi @krishnacs1993 -

How are you creating the phone call specifically? If through the Timeline.AddPhoneCall() method, I have pushed a fix in #864 that should resolve some issues with that.

[code]

If you are creating them via the Activities left-hand navigation men, then it looks like we'll need to add some new methods to extend existing SetValue() methods, but to set context to these custom dial

[2020-05-20 18:59] imartinflores commented on #871
Thanks @TYLEROL !

[2020-05-20 19:01] imartinflores commented on #870
@TYLEROL  Thanks for the update, I will have a look and confirm. We are using the latest version in the Nuget, let me try again and will let you know. The changes you made are not in Nuget yet, right ?

Thanks.

[2020-05-20 19:18] TYLEROL commented on #870
@imartinflores - That's correct. This change is only in develop, though I plan to release an updated NuGet package either today or tomorrow, depending on when #864 is merged to develop.

-Tyler

[2020-05-20 19:19] imartinflores commented on #870
Perfect, thanks a lot @TYLEROL

[2020-05-20 20:20] #824 closed, assigned to nobody

[2020-05-20 20:20] #839 closed, assigned to nobody

[2020-05-20 20:20] #843 closed, assigned to jowells1

[2020-05-20 20:20] #867 closed, assigned to nobody

[2020-05-20 20:20] #871 closed, assigned to nobody

[2020-05-20 22:41] TYLEROL commented on #870
This has been merged into releases/v9.1 and the latest 9.1.0.17138 NuGet package.

[2020-05-20 22:41] #870 closed, assigned to nobody

[2020-05-20 22:42] TYLEROL commented on #869
@jtemple2 - We moved ahead with merging to releases/v9.1 and publishing the 9.1.0.17138 NuGet package. Please test accordingly and let us know if this problem persists.

Warm Regards,
Tyler

[2020-05-20 22:42] TYLEROL commented on #868
This has been merged into releases/v9.1 and the latest 9.1.0.17138 NuGet package.

[2020-05-20 22:42] #868 closed, assigned to nobody

[2020-05-20 22:44] TYLEROL commented on #862
@ryanpiran - We merged the latest code from develop into releases/v9.1 and published a new 9.1.0.17138 NuGet package today. Could you please try this against the latest branch? I tried earlier today but did not see any issues.

Happy to re-evaluate if you're still seeing issues.

-Tyler

[2020-05-20 22:46] TYLEROL commented on #852
This has been merged into releases/v9.1 and the latest 9.1.0.17138 NuGet package. It should work with all grids.

`xrmApp.Entity.SubGrid.OpenSubGridRecord(string subGridSchemaName, int index);`

[2020-05-20 22:46] #852 closed, assigned to TYLEROL

[2020-05-20 22:48] TYLEROL commented on #819
@vaclavrozsypal - We've made some changes to SetValue() that should better handle the 'context' of which you are setting the field value.

These were merged today into both the releases/v9.1 branch and the 9.1.0.17138 NuGet package. Please re-open this accordingly if the issue is not resolved.

Warm Regards,
Tyler

[2020-05-20 22:48] #819 closed, assigned to nobody

[2020-05-20 22:50] TYLEROL commented on #818
@vaclavrozsypal - We've introduced support for SubGrids in the latest release. This was merged into the releases/v9.1 branch and the 9.1.0.17138 NuGet Package. Due to the lack of consistency with labels, we shifted the name input to the schema/unique name of the subgrid control on the form.

The expected usage format is:

xrmApp.Entity.SubGrid.OpenSubGridRecord(string SchemaName, int index);

[2020-05-20 22:50] #818 closed, assigned to jowells1

[2020-05-20 22:51] TYLEROL commented on #813
@imartinflores - This should also be fixed in the latest releases/v9.1 branch and the 9.1.0.17138 NuGet package.

Please re-open this issue if you continue to observe the problem.

Warm Regards,
Tyler

[2020-05-20 22:51] #813 closed, assigned to nobody

[2020-05-20 22:53] TYLEROL commented on #809
@xuejunh - A few days late, but we've merged the latest changes from develop into the releases/v9.1 branch and the 9.1.0.17138 NuGet package.

Warm Regards,
Tyler

[2020-05-20 22:53] #809 closed, assigned to TYLEROL

[2020-05-20 22:55] TYLEROL commented on #811
@issieeman - We have introduced some changes from the latest develop branch to releases/v9.1 and the 9.1.0.17138 NuGet package.

These changes include proper support for SubGrids. While the 'AddSubgridItem' method has been deprecated, you can instead use the following to click the appropriate command on the grid to create a new record:

`xrmApp.Entity.SubGrid.ClickCommand(string subGridSchemaName,

[2020-05-20 22:55] #811 closed, assigned to jowells1

[2020-05-20 22:58] TYLEROL commented on #802
This was recently broken, but should be fixed in the latest releases/v9.1 branch and 9.1.0.17138 NuGet package released today.

The expected usage is:

`xrmApp.Entity.SelectTab(string tabName, string subNameIfRequired);`

If this is not resolved, please re-open this issue for further discussion.

Warm Regards,
Tyler

[2020-05-20 22:58] #802 closed, assigned to nobody

[2020-05-20 23:00] #808 closed, assigned to TYLEROL

[2020-05-20 23:04] TYLEROL commented on #796
@anaprikho - Could you please validate that this issue is still occurring in the latest releases/v9.1 branch or 9.1.0.17138 NuGet package?

If so, please let me know and I'll add this to the next milestone release.

Warm Regards,
Tyler

[2020-05-20 23:08] #699 closed, assigned to TYLEROL

[2020-05-20 23:09] #580 closed, assigned to TYLEROL

[2020-05-20 23:12] TYLEROL commented on #610
This has been [deprecated ](https://docs.microsoft.com/en-us/power-platform/important-changes-coming#legacy-web-client-is-deprecated)with a focus on UCI (Unified Client) APIs.

[2020-05-20 23:12] #610 closed, assigned to nobody

[2020-05-20 23:14] TYLEROL commented on #575
This has been replaced by the Unified Interface. The new APIs will be:

`xrmApp.Entity.SubGrid.ClickCommand(string subgridSchemaName, string commandButton, string subCommandButtonIfRequired);`

[2020-05-20 23:14] #575 closed, assigned to dtu11

[2020-05-21 08:23] badarmunir opened #872 "[BUG] Unable to ClickCommand Using RelatedGrid.ClickCommand"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**UCI or Classic Web**
  - [ ] UCI (XrmApp)

**O

[2020-05-21 08:24] imartinflores commented on #871
hi @TYLEROL , just tried new version of NuGet this morning and seems like ClickCommand stopped working. Is throwing Object reference not set to an instance of an object. It was not happening before so I assume there were some changes on it ?

Thanks.

[2020-05-21 09:07] imartinflores commented on #871
Not sure but seems like this validation is made twice, is failing the second time.

 if (!string.IsNullOrEmpty(subname))
                {
                    var submenu = driver.WaitUntilAvailable(By.XPath(AppElements.Xpath[AppReference.CommandBar.MoreCommandsMenu]));

                    var subbutton = submenu.FindElements(By.TagName("button")).FirstOrDefault(x => x.Text == subname);

[2020-05-21 09:36] dylanhaskins commented on #872
Hey @badarmunir , if you are using the latest NuGet package (published today) then as the grid you are using is a SubGrid and not a RelatedGrid I believe you should be using the new xrmApp.Entity.SubGrid.ClickCommand(SubGridName, Name) i.e xrmApp.Entity.SubGrid.ClickCommand(“All Visits”, "New Work Order")

[2020-05-21 11:16] MikeBristol opened #874 "[HOW-TO] Close the "Pending Email Warning" message"
## Question
Currently running 8.2 OnPrem. When starting an EasyRepro test, we get the "Pending EMail Warning" message.

How can I close this?

[2020-05-21 11:49] imartinflores commented on #872
@dylanhaskins Hi Dylan, sorry not sure if this is related, but I had the same issue updating the nuget using the CommandBar.ClickCommand("Button1","Button2") was there any changes on this as well ?

I think there is a validation on ClickCommand that is checking the submenu twice, not sure if the second time it validates should be for subSecondmenu.

if (!string.IsNullOrEmpty(subname))

 if (!strin

[2020-05-21 13:25] TYLEROL commented on #871
@imartinflores - I'm making an assumption you're referring to CommandBar.ClickCommand()?

If there are others not working, please let me know right away. In addition to this, could you let me know the version of your D365 organization? (e.g is it 17138 or higher?)

I'll start taking a look in the meantime. Thanks!

[2020-05-21 13:30] badarmunir commented on #872
@dylanhaskins yes I am using updated nugget package  . and I have changed my code but the issue still exists.
![image](https://user-images.githubusercontent.com/23335796/82563792-1bf7a880-9b91-11ea-832b-81530949bda1.png)

[2020-05-21 13:59] TYLEROL commented on #871
@imartinflores - I confirmed the problem on CommandBar.ClickCommand(). The second null check should be referencing 'subSecondName', not subname a second time.

I'll standby to make sure you haven't seen any other problems, but will plan to get this fix pushed shortly.

Thanks,
Tyler

[2020-05-21 14:05] TYLEROL commented on #872
Hi @badarmunir - There was a critical change in how to reference subgrids. @dylanhaskins is correct, in this scenario you should use Entity.SubGrid.ClickCommand() as the context of your page is an entity tab containing a subgrid control. Only the 'Related' tab entities use the special RelatedGrid context.

In regards to your posted screenshot, the key problem is you're not referencing the subgrid

[2020-05-21 14:17] imartinflores commented on #871
@TYLEROL yes, I think that is, I put it on a different comment and ticket, since this one was closed.
The version of D365 we are using is 17154.

Thanks for the update!

[2020-05-21 14:23] badarmunir commented on #872
@TYLEROL
There is no schemaName/Unique name
![image](https://user-images.githubusercontent.com/23335796/82568918-f53d7000-9b98-11ea-8dbb-093d6bc83e37.png)

and I have also tried using
xrmApp.Entity.SubGrid.ClickCommand(“All Visits”, "New Work Order") it's not working either

[2020-05-21 15:00] TYLEROL commented on #872
@badarmunir - If you drill lower in the element structure, you'll come across a div tag that looks like 'DataSetHostContainer_datasetRoot_{subgridSchemaName}'

The ending of that tag will contain the schemaName/UniqueName as referenced in customizations of the environment. The Inspector is the fastest way to find this without having to go drill into system customizations on the form.

[2020-05-21 15:15] TYLEROL commented on #871
@imartinflores - I pulled version 17138 from NuGet, it should be replaced with version 9.1.0.17139 shortly.

Thanks!
Tyler

[2020-05-21 15:44] badarmunir commented on #872
@TYLEROL it worked thanks, now the problem is I have to update all my test cases. But Thanks

[2020-05-21 15:51] #872 closed, assigned to nobody

[2020-05-21 15:54] TYLEROL commented on #874
@MikeBristol - I'm not sure if this method is in your branch, but if so, you can give this a try (present in the releases/v8.2 branch).

[code]

[2020-05-21 18:35] thathi commented on #871
I think my the following merge might fix this issue.
https://github.com/microsoft/EasyRepro/pull/873

On Thu, May 21, 2020 at 4:16 PM Tyler Olson <notifications@github.com>
wrote:

--
Cheers,
Thathi

[2020-05-22 05:56] swethagampala commented on #371
Hello. I cloned latest v9.1 version. I still see this error:
Message: Test method Microsoft.Dynamics365.UIAutomation.Sample.Web.CreateAccount.WEBTestCreateNewAccount threw exception:
System.InvalidOperationException: Login page failed
I am using IE. It logs in with username, password and IE ask to remember dialog and then test fails.
I added this line also:

 xrmBrowser.LoginPage.Login(_xrmUri, _u

[2020-05-22 05:57] swethagampala commented on #862
Hello. I cloned latest v9.1 version. I still see this error:
Message: Test method Microsoft.Dynamics365.UIAutomation.Sample.Web.CreateAccount.WEBTestCreateNewAccount threw exception:
System.InvalidOperationException: Login page failed
I am using IE. It logs in with username, password and IE ask to remember dialog and then test fails.
I added this line also:

xrmBrowser.LoginPage.Login(_xrmUri, _us

[2020-05-22 12:38] jtemple2 commented on #869
@TYLEROL
Thank you for your update.

I got the latest off releases/v9,1 and modified one of the sample tests to set the value for the field on the BPF I am trying to interact with.
The test is still throwing an error though this time it's "System.NullReferenceException: 'Object reference not set to an instance of an object.'"

I checked the AppElementReferences for the xpath:
{ "BPF_BooleanFieldCo

[2020-05-23 19:05] sigerd opened #876 "How to set lookup in Matching Information Lookup after Qualify"
Hello,

After the qualify of my lead i get a dialog that asks for selecting a matching account/contact. How can i do this with easyrepro ?

![image](https://user-images.githubusercontent.com/65828495/82738605-f7d6cb80-9d38-11ea-86bc-c04549772d33.png)

Can someone help me with this ?

Kind regards,

Sigurd

[2020-05-26 08:49] MikeBristol commented on #874
Hi, Yes both the OnPrem and 8.2 branches have this, however, the dialog doesn't close. The WaitUntilAvailable throws the timeout exception.

What can I try?

[2020-05-26 15:36] veerasekharbathala opened #877 "Unable to execute test cases using Azure DevOps build pipeline"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [ X] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [ X] UCI (XrmApp)
  - [ ] Cl

[2020-05-27 14:16] Sangeetha1986 opened #879 "Report File Name is not captured"
Hi All,

I was trying to consume reporting in my project using easyrepro framework.

I used the same TestBase as mentioned in "https://jlattimer.blogspot.com/2019/06/reporting-on-easyrepro-test-runs.html".

But my report html is created in console and not able to view in File Explorer. Plz help.

![image](https://user-images.githubusercontent.com/66020443/83031817-b0ab4c00-a052-11ea-99f1-86a9c4961

[2020-05-27 14:32] Sangeetha1986 commented on #879
Above file is not available in Solution Explorer in the mentioned path.

[2020-05-28 09:53] KumarSoniLove commented on #861
The xrmApp.Timeline.AddPhonecall works fine but if we want to use the same logic for creating a phone activity under Activities tab/entity, at the moment it does not work. Is there any way to work around or road map to fix that. Thanks
[ActivityScreenshot.docx](https://github.com/microsoft/EasyRepro/files/4694725/ActivityScreenshot.docx)

[2020-05-28 10:22] Sangeetha1986 opened #880 "Difference between WebClient & Browser"
## Question

For what sort of Dynamics 365 application we have to use xrmApp  - WebClient. xrmBrowser - Browser.

Please elaborate us when to use WebClient or Browser.

Thanks in advance for helping us

[2020-05-28 12:36] mVermaat opened #881 "[BUG] Form Fields without label throw 'ElementNotInteractable' when setting a value"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-05-29 07:17] krishnacs1993 opened #883 "[HOW-TO] Integrate BrowserStack with Easy Repro"
How to integrate BrowserStack with Easy Repro

[2020-05-29 13:39] Sangeetha1986 opened #884 "Find what object we are going to access?"
How will we know that these are "RelatedGrid,SubGrid, SubArea" from Dynamics 365UI. Please clarify, so that it will be helpful for developing scripts?

Note: Whether we need to use any inspect element. Please suggest

[2020-05-29 17:13] sakib5 opened #885 "[HOW-TO] <Select "Assign" in a pop-up window>"
## Question: I am trying to select **Assign** button on this pop up window. I have tried the below
Using:
Branch: Develop
UCI ()xrmApp)
Online
Browser: Chrome
code:
Below are the steps that I am performing:
xrmApp.Navigation.OpenSubArea("Customers", "Clients");
xrmApp.Grid.Search("Name");
xrmApp.Grid.OpenRecord(0);
xrmApp.Entity.SelectTab("Related", "Leads");
xrmApp.RelatedGrid.OpenGridRow(0);

[*

[2020-05-29 18:29] sakib5 opened #886 "[HOW-TO] <Select from a drop-down menu>"
## Question I am trying to select Phone Call from the + New Activity drop-down menu but as this a little bit different different then a regular data field

Using:
Branch: Develop
UCI ()xrmApp)
Online
Browser: Chrome

Code:
xrmApp.Navigation.OpenSubArea("Customers", "Clients");
xrmApp.Grid.OpenRecord(0);
xrmApp.Entity.SelectTab("Related", "Leads");
xrmApp.RelatedGrid.OpenGridRow(0);
xrmApp.Entity.S

[2020-06-01 07:22] ismail4u commented on #748
Can we get update on this question , i am also looking to set up automation for MS CRM Mobile app , any help to get started is highly appreciated

[2020-06-01 09:20] imartinflores opened #887 "[BUG] Add Activity on Timeline locator (Improvement)"
**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [ ] UCI (XrmApp)

**Online or On Premise**
  - [ ] Online

**Browser**
  - [ ] Chrome

**Describe the bug**
When using Timeline.AddPhoneCall() , seems like the (+) button to add a new activity will change the locator. It is looking for a li node now, and I could see on Cana

[2020-06-01 20:55] todstanis opened #888 "[HOW-TO] Select an OptionSet or LookupItem with Entity.SetValue in 8.2"
## Question

I'm having an issue working with selecting options. It seems to just open the selection box and never actually pick anything.

I'm not overly familiar with Selenium from the Dynamics365.UIAutomation.Api side and I'm not a Dynamics developer so I'm even sure what the control type is for certain.
The class of the "select" tag contains "ms-crm-SelectBox ms-crm-Inline-OptionSet-AutoOpen"

[2020-06-03 13:26] ryanpiran opened #889 "[BUG] Assign Opportunity Dialog is broken in latest version"
**EasyRepro Version**
  - [X] Microsoft Dynamics 365 Online Version 9.1 (9.1.0.17139) (DB 9.1.x) online

**UCI or Classic Web**
  - [X] UCI (XrmApp)

**Online or On Premise**
  - [X] Online

**Browser**
  - [X] Chrome

**Describe the bug**
Since updating to EasyRepro version 9.1.0.17139 via NuGet. The Assigning of an opportunity throws an exception. Reverting back to Version 9.1.0.11711 this is no

[2020-06-03 15:14] ryanpiran commented on #889
I should add that we're on Dynamics 365 version 9.1.0000.18036

[2020-06-04 02:04] sakib5 opened #890 "[BUG] <Cannot Select System Dashboard>"
## Bug Report
Changing Dashboard View Throws **OpenQA.Selenium.StaleElementReferenceException** Error

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [x] Microsoft Dynamics 365 Online Version

[2020-06-05 00:29] devonuto opened #891 "[BUG] QuickCreate Save doesn't work after navigating from another quick create"
## Bug Report

**EasyRepro Version**
Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
UCI (XrmApp)

**Online or On Premise**
Online

**Browser**
chrome=83.0.4103.97

**Describe the bug**
When dealing with a quick create form which was created from another Quick Create form, executing XrmApp.QuickCreate.Save() results in this error:

OpenQA.Selenium.Elemen

[2020-06-05 12:47] imartinflores opened #892 "[FEATURE] Locator for timeline Add (+) button"
**Describe the feature**
The button for the Timeline Popout seems is gonna change.
//li[contains(@id,"notescontrol-action_bar_add_command")]
Looks like a <button> not a <li> on Canary env.

**Explain why this feature is needed**
Add Activities through timeline

Test
<img width="799" alt="test" src="https://user-images.githubusercontent.com/17011557/83877784-09ee3c00-a733-11ea-8b51-f99070278e4c.PNG

[2020-06-05 14:28] sakib5 commented on #888
Can you try:
xrmApp.Entity.SetValue(new OptionSet { Name="name", Value="value" });

[2020-06-06 02:37] todstanis commented on #888
Actual there's no name in any tag related to this control. After a bit more testing I have determined how to get it to work:

[code]
This is what's generated in relation to that select control with the classes stripped out. It turns out the ID to get it to work is "header_process_approveproject", which makes sense based on the error, as the id needed to be a parent to the "select" tag. The funny t

[2020-06-06 02:37] #888 closed, assigned to nobody

[2020-06-07 10:59] badarmunir commented on #877
@veerasekharbathala run this testcase using vstest command on local
Step to follow
vstudio > tools > Command Line > open-shell you want to open
then move to project folder  > bin> Debug
and write this line
vstest.console Project name/solution name.dll
check that if it's working on local

[2020-06-07 14:06] badarmunir opened #893 "[BUG] Unable to Click the Delete button in more command using CommandBar.ClickCommand("Delete")"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**

  - [ ] Microsoft Dynamic

[2020-06-08 14:20] badarmunir commented on #893
@TYLEROL can you please help me with this or suggest any solution that's working?

[2020-06-09 09:48] imartinflores opened #894 "[FEATURE] Support Modal on case creation"
**Describe the feature**
There is a modal we are using on case creation, if I am not wrong, currently not supported.

**Explain why this feature is needed**
Case creation in Customer Engage is using Modal and not opening a new window now to create a case. So everything using xrmApp.Entity is not working since the context is not the same.

**Additional context**
Think this should be the new formCon

[2020-06-10 06:14] rajendrabhole opened #895 "Multi-factor authentication ( mfa ) not working."
I follow all steps that are given in Readme doc in **MFA Support**. I able to follow steps successfully and I got a secret key that I used in easy repro config file. I am able to run my test case in the Chrome browser. On the Chrome browser, I can log in successfully but it failed in the MFA process. The MFA dialog opened and OTP entered automatically using a secret key. But that OTP always shows

[2020-06-10 06:36] Omkar93 opened #896 "Need function to add products in Quote/Order"
## Question

I am trying to add products and get all products in Quote but grid function is not working for that. which function and property name i should use to add product and get list of product in quote

[2020-06-10 07:22] Omkar93 commented on #896
Never mind, issue resolved.

// Here we need to pass the gridName which is 2nd part of id control after dataSetRoot_
            var items=xrmApp.Entity.SubGrid.GetSubGridItems("quotedetailsGrid");

[2020-06-10 07:22] #896 closed, assigned to nobody

[2020-06-10 12:20] krishnacs1993 opened #897 "[HOW-TO] Run tests on different browsers and different OS when running in parallel"
## Question

How to run tests on different browsers and different OS when running in parallel?

I want to run my tests in different browsers and different operating systems when I run them in Parallel remotely (BrowserStack).

Does Easy Repro support this? if Yes, please guide me  through the steps.

[2020-06-10 16:30] badarmunir commented on #893
@dylanhaskins can you please help me with this or suggest any solution that's working?

[2020-06-10 21:01] s-bauer commented on #391
Probably outdated by now. Closing.

[2020-06-10 21:01] #391 closed, assigned to nobody

[2020-06-11 06:17] sakib5 opened #898 "[HOW-TO] <Search if a record exist or not>"
## Question
Using:
Branch: Develop
UCI ()xrmApp)
Online
Browser: Chrome
I am looking for some sort of code or function to identify if a particular record exist or not under any system view or area.

[2020-06-11 17:48] 1301950 commented on #854
any chance this can be fixed? literally, we can't automate "add existing" in any 1:N or N:N relationship

[2020-06-11 18:21] sakib5 commented on #629
Hi There!
I am facing the same issue from yesterday. I am new to this and don't know much. Can you please give me the step by step instructions for solving this issue from the very beginning?
I am using **_Developer_** brunch

Thank you,
Sakib

[2020-06-12 06:50] maattaa opened #899 "[HOW-TO] Browsing to a page through N:1 lookup"
Using:
Branch: releases/v9.11
UCI xrmApp
Online
Browser: Firefox

I'm struggling to figure out how to browse into another entity form going through Lookup field. The field is on the Entity form, and is not a subgrid, and the value has been set and the form saved. The related entity has been removed from related entity list, thus can't be used to navigate.

I've tried using
`xrmApp.Entity.SelectLoo

[2020-06-12 06:52] Sand-2050 opened #900 "[HOW-TO] Read hidden field value from Record"
## Is their a way to read value from a field which is not seen on record UI?

**What is your question?**

[2020-06-12 14:33] shariquekhan1997 commented on #100
I get this error while using the traditional method (2.) "Exception has been thrown by the target of an invocation." Any Update on this #100 issue?

[2020-06-14 11:24] chauhanrupesh opened #901 "[BUG] SetheaderValue sometimes getting error sometimes it works"
While creating sometimes it's working, but most of the time I am getting error (refer after the code)

   public void CreateAccount()
        {
            var client = new WebClient(TestSettings.Options);
            using (var xrmApp = new XrmApp(client))
            {
                xrmApp.OnlineLogin.Login(_xrmUri, _username, _password, _mfaSecretKey);

                xrmApp.Navigation.OpenS

[2020-06-15 16:23] KumarSoniLove commented on #887
Dear Sir/Madam,
I work with imartinflores in CRM.
I have experienced this morning while checking our automation nightly scheduled build that the below suddenly stopped working.

It is any activity like adding PhoneCall or Email using by trying to choose using Timeline function, it does not actually choose and fill the mandatory fields. Please could someone have a look and get back to us. We are ha

[2020-06-16 07:06] ewingjm commented on #800
Also facing the same issue. I believe the problem is that the ID (at least for the URL) is being taken from the `data-lp-id` attribute of the rows.

[code]

However, this appears to be the ID of the view rather than the the record. I've searched the DOM for  the ID of a record which is shown in the grid and no results are returned. I suspect that it will not be possible to return the record IDs or

[2020-06-16 10:13] shariquekhan1997 commented on #886
After this,
xrmApp.Entity.SelectTab("Related", "Activities");
try this,
xrmApp.RelatedGrid.ClickCommand("New Activity");
xrmApp.RelatedGrid.ClickCommand("Name of Activity");

If the last line doesn't work then find the XPath and use the "Click()" method.

[2020-06-16 11:44] ewingjm commented on #800
The same issue appears to apply to subgrids.

[2020-06-16 14:33] Jackclarke95 commented on #889
I'm having the same issue... any update on this?

[2020-06-16 18:53] todstanis opened #902 "[HOW-TO] Get to Dynamics365.UIAutomation.Api to work with 9.1 UI"
## Does the Dynamics365.UIAutomation.Api work with Dynamics 9.1 Unified Interface

Our Environment and Library version
Dynamics 365 Online: Server version: 9.1.0000.18935
NuGet Package: Dynamics365.UIAutomation.Api: v9.1.0.17139
Chrome=83.0.4103.97 and the associated version of the web driver.

We recently moved our on-premise testing to our cloud releases of the applications. There are just so ma

[2020-06-16 19:19] todstanis commented on #902
I believe I've found the answer to this question. I hadn't realized the library was split:
Microsoft.Dynamics365.UIAutomation.Api.UCI;

I' assuming I just need to move over to this library and the xrmApp vs Browser.

[2020-06-16 19:19] #902 closed, assigned to nobody

[2020-06-17 02:20] sakib5 commented on #889
I am also having the same issue. I just hope that someone will respond soon to this problem.

[2020-06-17 14:47] todstanis opened #903 "[BUG] GetGridItems in UIAutomation.Api.UCI returning incorrect ids for attributes."
## How do you validate anything in a grid when the attributes are essentially random?

`List<GridItem> items = xrmApp.Grid.GetGridItems();`

Lets say I wanted to know any row where column XXXX had "hello" in it.
`items.FindAll(r => r.GetAttribute<string>("XXXX") == "hello");`
This works great if not using the UCI version of the UIAutomation.Api.

With UIAutomation.Api.UCI the attribute "XXXX" is a

[2020-06-17 21:38] todstanis commented on #903
WebClient.cs: line 1523
[code]

`var id = header.GetAttribute("id"); `
needs to be
`var id = header.GetAttribute("data-id");`
in order to get the correct field name associated to the column.

Also I noticed:
` item[id] = cellData.Replace("-", "");`
Not sure why the **Replace** is in there, but it occurred to me this would break the results and a quick test reveals it does. Any data in the grid wit

[2020-06-18 17:10] sakib5 opened #904 "[HOW-TO] <Enter Date & Time in UCI>"
## Question
Getting **OpenQA.Selenium.NoSuchElementException** while entering data in a **date & time** filed
**What is your question?**

Branch: Developer
UCI (XrmApp)
Online
Chrome

I have used multiple types of code to fill up date and time fields, but every time the code will insert the data and throw below error. I seem to find no resources to solve this issue. However earlier it was working

[2020-06-18 20:39] todstanis opened #905 "[BUG] BusinessProcessFlow SetValue not setting field correctly"
## The clear functionality for BusinessProcessFlow doesn't work so setting a value appends or toggles values instead

**EasyRepro Version**
  - [X] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [X] UCI (XrmApp)

**Online or On Premise**
  - [X] Online

**Browser**
  - [X] Chrome

**Describe the bug**
Using BusinessProcessFlow to set a value either

[2020-06-18 21:02] sakib5 commented on #899
I am also looking for the same solution. Please let me know you get any.
Thank you.

[2020-06-20 13:09] gbhuvanesh commented on #762
I will add few.

[2020-06-22 09:36] maattaa commented on #899
@sakib5 I went went through shortcut here to overcome this:
`Guid RecordToOpen = xrmApp.Entity.GetObjectId();`
`xrmApp.Entity.OpenEntity("Name of the related entity", RecordToOpen);`
I was able to get the GUID during previous part of the test, but you might need to do some navigation if this isn't possible.
I don't feel like this is the best practice to simulate user behaviour, however this should

[2020-06-23 06:55] Shakevg commented on #892
Looks like it is changed on prod environments now.
The same for sub-menu items.
Can we update Timeline xpaths to the next?
[code]

[2020-06-23 14:52] myjex opened #906 "[BUG] - Required Fields cause error"
I'm running a test, and have a simple text field. The code is exactly the same (other than the field name) as the line above it.

The only different is that the second simple text field is required.

The test than crashes.

Is there a known issue with Required fields?

[2020-06-23 15:16] Shakevg opened #907 "[BUG] Cannot add Timeline note due changes Note Text control from textarea to text editor field"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)
  - [ ] Clas

[2020-06-24 14:56] shariquekhan1997 commented on #906
While running the test you have to make sure you are giving input for the required field too with the other fields or else it will give a required error. @myjex

[2020-06-24 15:00] shariquekhan1997 commented on #891
You have to use SwitchTo() method to switch from one form to another then you can click on the buttons on the form you switched to. The issue is which is causing you is because the target window is the previous form and you are clicking on another form.
@devonuto

[2020-06-24 18:17] todstanis opened #908 "[HOW-TO] Configure Initialization of UCI App - opening app is really slow and loads page multiple times"
## Login and OpenApp actually cause the same steps to occur multiple times and has long pauses for no apparent reason.

[code]

Running the above test on a 9.1 Unified App takes about 1 min.

`xrmApp.OnlineLogin.Login(uri, userName, password);`

- Logins into the application in about 5 seconds and loads the app menu page. - I can visually see the login and load are successful.
- Waits about 5 seco

[2020-06-24 21:10] todstanis commented on #880
XrmApp/WebClient is part of the UCI library, which is for the Unified Interface. So if you have an on premise Dynamics using the older 8.x interface you have to use the xrmBrowser. If you're testing Dynamics Online and your application is using the newer Unified Interface you use the XrmApp/WebClient. I'm not certain which to use if you have a Dynamics Online app that isn't a unified interface app

[2020-06-25 04:55] #886 closed, assigned to nobody

[2020-06-25 10:25] Martin138 opened #909 "How to get column attributes from Grid.GetGridItems()"
I had some code that previously worked but at some point Dynamics 365 must've changed and it no longer works.
GetGridItems() returns a list of records on a grid and each record contains attributes which were accessible using the GetAttribute<>() method.

The attributes used to be properly named such as "accountnumber" or "name" but recently they have changed into "Grid754ff515-8cf0-6241-9442-93d30

[2020-06-25 14:10] JordanD96 opened #910 "[HOW-TO] [AzureDevOps - Transform File] DriversPath variable error"
Hi All,

im wondering if you could help me out setting up the transform file job on Azure DevOps

After following this comment by AngelRodriguez8008 on how to setup the transform job [here](https://github.com/microsoft/EasyRepro/pull/729#issuecomment-577407021), im getting an error with the following message:

##[debug]Detecting file encoding using BOM
##[debug]Unable to find node with tag 'applic

[2020-06-25 14:13] ryanpiran commented on #907
I'm also experiencing this. It affects quite a few of our regression tests and we've had to revert to a previous version of EasyRepro for now.

[2020-06-26 14:49] shariquekhan1997 commented on #886
Hey, Did it work? @sakib5

[2020-06-26 14:53] sakib5 commented on #886
Hi @shariquekhan1997 , the solution will be xrmApp.RelatedGrid.ClickCommand("New Activity", "Name of Activoty"); But thank you for the response.

[2020-06-28 08:34] mounahn commented on #155
I'm getting similar issue on chrome version 80.0.3987.100. I have to login to Azure using test credentials, but selenium is using default user credentials to auto login in chrome.

If there were any solutions to this issue, could anyone share it

[2020-06-28 13:42] Shakevg opened #911 "Sub-tab selection failed when sub-menu item appeared with some delay"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)
  - [ ] Clas

[2020-06-29 01:07] #885 closed, assigned to nobody

[2020-06-30 02:23] sakib5 commented on #899
Thank you!

[2020-06-30 02:36] devonuto commented on #891
Given SwitchTo is a Selenium WebDriver function, it's not exactly a EasyRepro fix.

I was able to code around it using Selenium, but it still remains a bug with EasyRepro.

[2020-07-01 00:19] renzo305 opened #912 "[HOW-TO] Selecting a specific sub grid if a record/screen has multiple subgrid"
Hello Everyone.

I ran into a situation wherein I need to select a specific sub grid in a record which contains more than one subgrid.  Is this possible in easyrepro?

[2020-07-02 15:08] sakib5 opened #913 "[BUG] <Not being able to open a record from global search>"
## Not being able to open a record from global search window

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [ x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or

[2020-07-02 18:37] shariquekhan1997 commented on #891
Yes I provided you the workaround that I also used. I am also an end-user like you. 😊

[2020-07-02 19:46] sakib5 commented on #889
@Jackclarke95 & @ryanpiran, Guys did you find any solution to this problem?

[2020-07-02 19:48] sakib5 commented on #890
@taylorb-microsoft can you please have a look at this problem?

[2020-07-02 19:55] thecloudtaylor commented on #890
I think you might have the wrong Taylor... I work on operating systems and azure.

[2020-07-02 20:09] sakib5 commented on #890
@TYLEROL & @AngelRodriguez8008 can you please have a look at this problem?

[2020-07-02 20:10] sakib5 commented on #890
Opps sorry about that!

[2020-07-04 20:32] todstanis commented on #909
I logged this issue (https://github.com/microsoft/EasyRepro/issues/903) a couple of weeks back, but haven't received any response. I actually reviewed the underlying code, so I know why it doesn't work and wrote my own work around, which I'll post in a few  minutes.

[2020-07-04 20:46] todstanis commented on #909
I found the number of bugs in the 9.1 Unified Interface version of the library to be a major road block and ended up writing a set of mirror classes that wrap the existing framework. Most of the methods are passthrough, but it makes it easy to pop in a fix and then pull it out when the framework is updated.

I added this in my Grid class wrapper:

[code]

[code]

Hopefully it'll be fixed in the ne

[2020-07-06 09:26] Martin138 commented on #909
Excellent! That worked for me. Glad I'm not the only one who has this issue.
I had managed a crude workaround using purely Selenium, but had to change a lot elsewhere in order for it to work, so I'm happy to revert it back to how it was.

Thanks for your help. I'll close this issue and mark it as a duplicate to yours.

[2020-07-06 09:26] Martin138 commented on #909
Duplicate of #903

[2020-07-06 09:26] #909 closed, assigned to nobody

[2020-07-07 17:43] badarmunir opened #916 "Unable to Update lookup value in Subgrid"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-07-07 22:56] lewginn commented on #703
Has there been any progress on this?

[2020-07-08 07:39] badarmunir commented on #904
@sakib5

                DateTime mzk_proposedvisitdatetime = DateTime.Today.AddDays(1).AddHours(10);
                global.xrmApp.Entity.SetValue("mzk_proposedvisitdatetime", mzk_proposedvisitdatetime);

mzk_proposedvisitdatetime is field name try this method this works for me

[2020-07-08 16:42] sakib5 commented on #904
HI @badarmunir

Thank you for your response. But can you please explain what is the "global" on your second line of the code?

[2020-07-08 17:20] badarmunirr commented on #904
That's nothing remove global and try

[2020-07-09 10:15] jef3003 opened #917 "[BUG] SeleniumExtensions.ClearFocus causes problems"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-07-15 11:18] badarmunir opened #919 "Is there any method which i can use to interact with change country field? in a form"
## Question

there is a change country field in my automation but I am unable to find any method which I can use to click on this button and select country
![changecountry](https://user-images.githubusercontent.com/23335796/87539056-b0284c80-c6b6-11ea-819a-894d2cac36a9.PNG)

[2020-07-15 11:22] badarmunir opened #920 "Is there any method which i can use to select dropdown of input field"
## Question

Is there any method which I can use to select dropdown of the input field
![search](https://user-images.githubusercontent.com/23335796/87539456-5aa06f80-c6b7-11ea-9371-99d106db4566.png)

[2020-07-15 11:22] badarmunir commented on #920
@TYLEROL

[2020-07-15 11:23] badarmunir commented on #919
@TYLEROL

[2020-07-16 16:59] #913 closed, assigned to nobody

[2020-07-17 07:30] VasanthChidambaram commented on #769
This is not working for me in Quick create form

[2020-07-17 07:33] VasanthChidambaram commented on #769
Any fixes for this issue ? I was facing this issue only for selected values in lookup option

[2020-07-17 11:21] shariquekhan1997 commented on #920
The input field is an option set or multi-option set field? If it is option set field then you can set the value: xrmApp.Entity.SetValue(new OptionSet { Name = entityName, Value = value } ).

[2020-07-18 06:52] shariquekhan1997 commented on #913
@sakib5  Is it solved? How?

[2020-07-20 14:47] sakib5 opened #921 "Check If a box has any next/previous page arrow or not"
Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online
UCI (XrmApp)
Online
Chrome

I am trying to test if all the record boxes under my current dashboard view have the next/previous page arrows or not. Is there any functionality available that can be used to test it? Image is given below:

![image](https://user-images.githubusercontent.com/47485407/87952556-f34c3c00-ca77-11ea-96bf-bc9

[2020-07-20 15:02] sakib5 opened #922 "Check if a box has scroll bar or not"
Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online
UCI (XrmApp)
Online
Chrome

How can I check if all the records boxes under my current dashboard view have a scroll bar or not?

[2020-07-21 17:18] badarmunir commented on #920
@shariquekhan1997 its not an option field its just an input field but when i type data it searches for data and gives me related searches

[2020-07-21 20:50] sakib5 opened #923 "GetValue For OptionSet field"
Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online
UCI (XrmApp)
Online
Chrome

Is there any functionality to get the list of all possible value for an **OptionSet** field. For my dynamics 365 instance there is a status filed which have four possible values. I would like to get a list of all available values for that status filed.

[2020-07-23 00:19] sakib5 commented on #889
@Jackclarke95 @ryanpiran @TYLOR is there anyone who can give me the solution to this issue?

[2020-07-23 01:04] billyzh1 opened #924 "[Bug] WaitUntilVisible(xpath for input in new contact page ) always returns false and fails to setValue"
Backgound:
I am in the middle of automating dynamics 365 regression suite and I met an issue of creating a new contact page and I failed to setValue to first name, last name, etc with the command SetValue or SendKeys(value) due to the display=false. Actually the element like first name is shown on the page and the script found the element and I could update its value with javascript but I could no

[2020-07-23 17:59] sakib5 commented on #920
Try this:
LookupItem name = new LookupItem { Name = "entityname" Value = "value", Index =0};
xrmApp.Entity.SetValue(name);

[2020-07-23 18:07] sakib5 commented on #834
Great Work! I also agree with the fact that this feature is needed.

[2020-07-23 22:08] sakib5 commented on #890
@TYLEROL & @AngelRodriguez8008 can you guys please give me some updates on this issue? Thank You.

[2020-07-24 14:17] sakib5 opened #925 "How to open Advanced Settings"
Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

UCI (XrmApp)

Online

Chrome

Hi there, I know according to the easyrepro README.md the **Settings Area (Administration)** functionality has not been covered yet, but due to our testing requirements there is a strong need of accessing the Settings Area. So is there any other possible way to access Settings/Advanced Settings?
If n

[2020-07-24 18:14] C3Dynamics opened #926 "[BUG] When writing a test case on an Activity entity (eg. Phone Call) which tries to UPDATE the a lookup field (eg. "regardingobjectid"), the SetValue function fails."
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-07-24 21:20] Shakevg commented on #925
@sakib5 You can implement your own solution or just open direct url to settings page

[2020-07-24 21:29] Shakevg commented on #926
@C3Dynamics Did yoy try to use OptionSet:

[code]

[2020-07-27 01:55] billyzh1 commented on #924
Can someone help me please? I am struggling for the fix for a long time and blocked by this.

[2020-07-27 08:46] mazma26 opened #927 "Edge Browser Compatability"
## Question

Morning,

It's listed that Edge is not currently supported. Can you advise if it's on your roadmap to add this support and what the bugs are?

[2020-07-27 10:33] KCLAutomation opened #928 "[BUG] xrmApp.Entity.SetValue(LookupItem): No results in List. but results can be seen on screen when testing."
### **Bug Report**
Issues should only be created for items related to covered functionality.
Not covered functionality, feature requests, and questions should use the Feature Request or Question templates.
EasyRepro Version

- [ ]  Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
- [ ]  Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
- [ ]  Microsoft Dynamics

[2020-07-27 13:38] #928 closed, assigned to nobody

[2020-07-27 19:38] #907 closed, assigned to nobody

[2020-07-28 04:44] shariquekhan1997 commented on #920
XPath is the way!
Click on the link [here ](https://www.inogic.com/blog/2020/06/how-to-set-value-for-multi-select-attribute-in-dynamics-365-crm-using-xpath-in-easyrepro/)to check the blog.

[2020-07-28 23:53] sakib5 commented on #616
I am also looking for the same code, for navigating to the previous page but it is for UCI.

[2020-07-29 15:08] #881 closed, assigned to nobody

[2020-07-29 15:27] #778 closed, assigned to nobody

[2020-08-03 10:56] vcinampudi opened #932 "[HOW-TO] <How can we set Zoom level of Browser using BrowserOptions>"
## Question

I want to set the zoom level in browser but I couldn't able to find any options in BrowserOptions class for Chrome browser to set an argument. I am using UCI 9.1 version.

[2020-08-03 11:06] vcinampudi opened #933 "[BUG] Assign is not working if the command is not displayed but available in extra commands"
## Bug Report
when trying to assign a record but the assign command is displayed within vertical three dots menu.
### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions shou

[2020-08-03 12:10] vcinampudi commented on #924
you need to write a custom method where you pass XPath or CSS Selector based on that you can make it wait until the element load.

[2020-08-06 01:05] sujitkoganti opened #934 "How to create a new record in a subgrid"
Hi there

I have multiple tabs and each tab contains multiple subgrids.
I am trying to create new records from the sub grids.. (Screenshot attached)

I tried below options.. but no luck :(

XrmApp.CommandBar.ClickCommand("New Medical Review Notification");
XrmApp.RelatedGrid.ClickCommand("New Medical Review Notification");
XrmApp.Entity.SubGrid.ClickCommand("Active Medical Review Notifications", "

[2020-08-06 20:43] TYLEROL commented on #934
Hi @sujitkoganti - You'll want to pass the _schema name_ of the subgrid control, not the name of the view. As the View Picker and Name options can be hidden, the schema name is the consistent/reliable way to always locate the subgrid.

You can find this by looking at the 'name' of the ListItemControl on an entity form, or by using the browser dev tools (f12) inspector . In the example below, the _

[2020-08-06 20:43] #934 closed, assigned to nobody

[2020-08-06 20:53] gurunadhd opened #935 "[BUG] CheckAreasAvailableOnMenu test script is failing as element paths are changed"
We are trying to execute CheckAreasAvailableOnMenu test script in EasyRepro, Which is failing due to few elements are not identifiable.
We verified these element’s CSS/XPATHs in the O365 app, unable to identify these elements. Is there a way to fix these elements to pass this test script.

We are using EasyRepro NuGet package in our custom framework, We could not override these elements or methods

[2020-08-06 22:34] sujitkoganti commented on #934
Thanks Tylerol

[2020-08-06 22:39] sujitkoganti opened #936 "[HOW-TO] How to navigate to the recent Entities"
## Question

Hi,

Can you suggest how to navigate to recently opened entities from the Left Pane. I need to navigate the most recent, second most, third most etc..

![image](https://user-images.githubusercontent.com/13937838/89589589-3d5f5b00-d889-11ea-9268-c4418b002203.png)

[2020-08-07 00:46] TYLEROL commented on #933
@vcinampudi - Could you try validating this with the latest samples from the develop branch? A contribution was merged today that impacted this area specifically.

Thanks,
Tyler

[2020-08-09 10:56] jazzyuppal commented on #769
Hi,

Also facing this issue, running in Visual Studio 2019. Similar to others, the lookup appears but it just isn't selected. An exception is generated:

`Managed Debugging Assistant 'ContextSwitchDeadlock'
  Message=Managed Debugging Assistant 'ContextSwitchDeadlock' : 'The CLR has been unable to transition from COM context 0x6e19a8 to COM context 0x6e1a60 for 60 seconds. The thread that owns the

[2020-08-09 12:58] Shakevg commented on #935
@gurunadhd Could you add mode details: code, screenshots, stacktrace?

[2020-08-10 00:26] renzo305 opened #939 "[HOW-TO] Upload an excel or a CSV file"
## Question

**Hello guys,

I want to ask  how do easyrepro upload files?  Hoping for your immediate response**

![image](https://user-images.githubusercontent.com/62869917/89745020-6da23600-dae3-11ea-96e8-492dbb76656b.png)

[2020-08-10 09:23] srinu24k commented on #149
It seems this issue is still replicates now. Have been working on this project but suddenly today I am facing this issue. Any help, how to resolve it.
![image](https://user-images.githubusercontent.com/38425186/89768643-7ca3db00-db19-11ea-8dbc-0fd643d718b1.png)

[2020-08-10 12:25] srinu24k opened #940 "xrmApp.Entity.SetValue() method is not working"
It seems this issue is still replicates now. Have been working on this project but suddenly today I am facing this issue. Any help, how to resolve it.
![image](https://user-images.githubusercontent.com/38425186/89782357-c2b96880-db32-11ea-97b9-7edb998d8828.png)

[2020-08-10 22:38] samadane opened #942 "[BUG] Grid Sort not working in UCI | No more 1 click sort"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-08-11 00:14] gurunadhd commented on #935
@Shakevg

CheckAreasAvailableOnMenu  test script in the below snapshot is failing.
![image](https://user-images.githubusercontent.com/13935447/89842818-9b12d200-db2b-11ea-8e82-378f1ae08f9d.png)

xrmBrowser.Navigation.GetAreas() is returning NULL. When i debug further, Reference.Navigation.TopLevelItem, Reference.Navigation.ActionButtonContainer and other elements in OpenMenu functions are returnin

[2020-08-11 04:20] srinu24k opened #944 "xrmApp.Entity.SetValue() method is not working"
## Bug Report

**EasyRepro Version**
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)

**Online or On Premise**
  - [x] Online

**Browser**
  - [x] Chrome

**Describe the bug**
Lookup field is not accepting the value although its available in the list.
Message:
    Test method Microsoft.Dynamics365.UIAutomation.abc.UCI.Entitie

[2020-08-11 10:35] badarmunirr commented on #920
@shariquekhan1997 thanks sharique khan I was able to proceed using XPath but I wanted to know is there a solution to this problem available in easyrepro

[2020-08-11 12:40] vladimir-goncharov commented on #933
Hi Tyler,

I have tried out the latest changes from the develop branch and can still reproduce the issue. We love to use the easy repro framework and would appreciate very much to get a fix for the reported issue.

Cheers,
Vladimir

[2020-08-11 12:57] badarmunirr commented on #944
@srinu24k
you can set lookup value like this
            LookupItem LookupVeriable = new LookupItem { Name = LookupFieldName, Value = LookupFieldValue, Index = 0 };
            global.xrmApp.Entity.SetValue(LookupVeriable);

[2020-08-11 13:00] badarmunirr commented on #923
@sakib5
            var variable = xrmApp.Entity.GetValue(new OptionSet { Name= "mzk_visitstatus" });
you can getvalue of optionset like this

[2020-08-11 13:06] badarmunirr commented on #827
id_approve is not an optionset value its boolean item
 new BooleanItem { Name = "donotemail", Value = false });
  try this

[2020-08-11 15:01] srinu24k commented on #944
@badarmunirr , the code doesn't work as it's no difference with the code i have shared

[2020-08-11 15:09] badarmunirr commented on #944
@srinu24k try this
LookupItem LookupVeriable = new LookupItem { Name = "Customer", Value = "Lifetouch Inc", Index = 0 };
xrmApp.Entity.SetValue(LookupVeriable);
if customer is your field name . it should work  because I have just ran a follow with lookup and its working for me

[2020-08-12 05:56] srinu24k commented on #944
@badarmunirr It wont works. the issue is not how you are using the SetValue() method.

Have debugged the method and came to know that this below piece of code in SetLookUpByValue(IWebDriver driver, LookupItem control, int index) method is not working where it should return an integer >0 but it's returning 0 only. Hence it is failing.

            var dialogItems = OpenDialog(flyoutDialog).Value;

[2020-08-12 06:22] srinu24k commented on #944
Below is the further investigation of the code, where title links are expected to return an integer > 0 but returns only 0.

![image](https://user-images.githubusercontent.com/38425186/89981880-5190c700-dc92-11ea-8e86-7fd4b38330ff.png)

[2020-08-12 14:54] frhil opened #945 "[BUG] Not able to select an option from the lookup field"
## Bug Report

There is no way to select an option from a lookup field. I can see that many people have had this problem before but it does not seem to be solved.

It is in Easy Repro version 9.1 and seems to be well known that it's not working in this version.
This functionality is really crucial and important for the Dynamics testing.

Iv'e been trying most off the "Get around the problem" solut

[2020-08-13 16:43] srinu24k commented on #944
@badarmunirr  any update for the fix?

[2020-08-14 19:52] #703 closed, assigned to TYLEROL

[2020-08-18 06:04] markcunninghamuk opened #948 "[BUG] XrmApp.Lookup.SwitchView(viewName) selenium exception."
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-08-19 19:06] gurunadhd commented on #935
Hi All, anyone else facing this issue, any help here is appreciated.

[2020-08-19 20:33] PandaBoy00 opened #949 "[BUG] GlobalSearch is very buggy/flaky"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-08-20 06:04] aaa132452 commented on #945
I have met this bug for a long time...
I have thought that to write a new method for lookup by using selenium.

[2020-08-20 11:57] imartinflores opened #950 "[HOW-TO] Performance Mode on OpenEntity"
## Question

Hi guys, I 've seen there is a check in OpenEntity for the UCITestMode, should the PerfMode be added as well ?
As if you need to track any action after opening an Entity, you are not able at the moment, since it refreshes the url and PerfMode is not added.

Thanks.

[2020-08-20 12:34] imartinflores commented on #950
I was trying to push changes, but I could not.

This should do the trick in WebClient OpenEntity method:

var queryParams = "&flags=easyreproautomation=true";

if (Browser.Options.UCITestMode) queryParams += ",testmode=true";
if (Browser.Options.UCIPerformanceMode) queryParams += "&perf=true";

driver.Navigate().GoToUrl(link + queryParams);

[2020-08-21 06:27] rbhukta commented on #945
Can you please share your selenium code when you write a new method for look up. I appreciate.

[2020-08-21 06:29] aaa132452 commented on #945
public static void SetLookUp(this IWebDriver driver, FieldDictionary fieldDictionary)
        {
            var input=driver.FindElement(By.XPath($"//*[@data-id='{fieldDictionary.FieldName}.fieldControl-LookupResultsDropdown_{fieldDictionary.FieldName}_textInputBox_with_filter_new']"));
            input.Click();
            input.Clear();
            input.SendKeys(fieldDictionary.FieldValue);

[2020-08-21 10:51] nareshbak commented on #149
We are also seeing this issue. Any resolution to this. Please help.

[2020-08-24 09:25] Probstson opened #951 "Problems with Selenium in Azure Devops"
Hello,

I have a problem with running EasyRepro tests in Azure DevOps which are running locally.

2020-08-24T08:55:55.1300146Z [command]C:\hostedtoolcache\windows\VsTest\16.7.1\x64\tools\net451\Common7\IDE\Extensions\TestPlatform\vstest.console.exe "@D:\a\_temp\lejgxjfuh4w.tmp"
2020-08-24T08:55:55.5029040Z Microsoft (R) Test Execution Command Line Tool Version 16.7.1
2020-08-24T08:55:55.5029596Z C

[2020-08-25 15:20] jaimalleshk opened #952 "Unable to build project - Missing ExpectedConditions object"
Line wait.Until(ExpectedConditions.AlertIsPresent()) in SeleniumExtensions.cs is throwing error saying ExpectedConditions object is not found. I dont find this object of file any where in solution.

[2020-08-25 17:24] jaimalleshk commented on #945
I have same problem as well. Setting think time also did not help. This feature is fundamental and it does not work

[2020-08-26 13:21] adrian-johnson-vanguard opened #953 "[HOW-TO] Test Microsoft PowerApps Control Framework Fields"
## Question

I am currently testing Microsoft Dynamics using EasyRepro and I am running into the issue of testing PowerApps Control Framework (PCF) fields.

When I attempt to access the fields as I would with out-of-the-box fields, I get a null pointer exception saying that the object does not exist. I have attempted multiple methods of testing these fields, but no method properly accesses the dat

[2020-08-27 11:48] JakeObrienMercuryXrm commented on #948
I am having an issue with the switch view but my error is a different. It clicks on the switch view drop down but then when attempting to click on the option from the drop down list it then errors with the following:

` Message:
    Test method B_Microsoft.Dynamics365.UIAutomation.Sample.Tests.IndividualTests.ContactTimeline.SearchForContactAndAddAppointmentOnTimeline.test_SearchForContactAndAddAp

[2020-08-28 00:51] billyzh1 commented on #924
Thank you so much for your reply. Actually, I am sure the element and page are loaded successfully and I could locate the element but displayed property of the returned element is set to be false. I cannot click the element and I cannot fill data either.

[2020-08-28 09:44] nareshbak commented on #944
Any update on this. I am also facing the same issue

[2020-08-28 10:14] tobz1000 opened #954 "[BUG] NullReferenceException when calling .GetValue() for an option set which is not on the form"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)
  - [ ] Clas

[2020-08-28 12:24] srinu24k commented on #944
@nareshbak , try this piece of code once. It works for me. Let me know if you face any issue further.

 public BrowserCommandResult<List<ListItem>> OpenDialog(IWebElement dialog)
        {
            var list = new List<ListItem>();
            var dialogItems = dialog.FindElements(By.XPath(".//li"));

            foreach (var dialogItem in dialogItems)
            {
                //var titleLi

[2020-08-28 15:34] adrian-johnson-vanguard opened #955 "[FEATURE] PowerApps Control Framework Functionality"
**Describe the feature**
The ability to Read/Update fields that are created using PowerApps Control Framework (PCF).

**Explain why this feature is needed**
When testing a dynamics page that utilizes PCF fields, it is not possible to read or update the PCF fields. This causes issues and incomplete tests. It also effectively negates the usefulness of EasyRepro when testing PCF fields is required.

[2020-08-28 15:46] adrian-johnson-vanguard opened #956 "[BUG] PowerApps Control Framework Is not read"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-08-31 07:09] tlunawat1 commented on #945
I have fixed this by updating existing method to select value from lookup field.

[2020-08-31 10:55] shytikov commented on #945
@tlunawat1 can you share the code?

[2020-09-02 16:03] imartinflores commented on #814
Thanks @jowells1 , do you know if there is any update on this ?

[2020-09-02 20:24] gurudokku opened #957 "System.InvalidOperationException: session not created: This version of ChromeDriver only supports Chrome version 83"
**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [ ] UCI (XrmApp)

**Online or On Premise**
  - [ ] Online

**Browser**
  - [ ] Chrome

**Describe the bug**
I have downloaded the EasyRepro from github repository and tried building. It was not building, I have updated Dynamics365.UIAutomation.Api (version 9.1) references f

[2020-09-02 22:22] shiyamtj opened #958 "Any idea why login field loading but not password field when running on azure self hosted agent?"
## Question

Any idea why login field loading but not password field when running on azure self hosted agent?
This behavior not showing when I execute automated tests on local machine, but showing  this issue when executing on self hosted agents.
Am I missing any configuration on repro?

![AutomationTestsPlanProgressRemovedSensored1](https://user-images.githubusercontent.com/3245424/92042901-429fb

[2020-09-03 11:39] fifo01 opened #959 "Question - Which Branch/Version should i have to use for UCI testing but on-premise"
Hi,

my test does not type in the credentials in the chrome browser.

We use the UCI but on premise. Is this supported from easy repro and which repro should i use?

Server version: 9.0.8.9
Client version: 1.3.163-190805-180003
Chrome version: 81.0.4044.138

my code:

xrmApp.OnlineLogin.Login(_xrmUri, _username, _password);

Thank you.

[2020-09-03 18:51] gurudokku commented on #857
I have the same issue. I can not run selenium on the http://localhost:xxxx, local host is blocked in my company network. Is there a way to run EasyRepro without using localhost ?

Can it open D365 URL directly without navigating to localhost url while opening the browser window?

[2020-09-03 21:10] TYLEROL commented on #957
@gurudokku - Which version of Chrome browser are you testing with locally? I assume something higher than v83?

You'll need to make sure your local version of the Chrome WebDriver matches the Chrome browser version you're using.

[2020-09-03 21:28] gurudokku commented on #957
Thanks @TYLEROL  for the reply. I have Chrome browser version V84 and also downloaded the same version of the chrome WebDriver.

Interestingly EasyRepro worked with IE on the same machine but not with Chrome.

[2020-09-04 11:33] nareshbak commented on #944
This is working for me @srinu24k . Thanks for this fix

[2020-09-04 12:56] Fietlux opened #961 "[FEATURE] Dialog Support for Lead Dis-/Qualification and Reopening"
**Describe the feature**
Like winning and closing opportunities i want to dis-/qualify any lead record and reopen closed ones with the UI test.
This should also include setting the required fields of the used dialogs, usually the status reasons.

**Explain why this feature is needed**
Dis-/Qualification and reopening lead records is a major part of the sales process.
UI tests should be able to per

[2020-09-04 13:23] jef3003 opened #962 "[HOW-TO] Go to the related section on the account screen"
## Question
In the account screen for interactive experience, there is a related section on the summary tab, containing the related contacts, recent opportunities and cases.  I cannot figure out how I can navigate to the related cases. Can anyone give a sample on how this can be acchieved?

Thanks in advance
Jef
<img width="1112" alt="Account Account for Interactive experience Paccar - Microsoft D

[2020-09-04 16:07] Fietlux opened #963 "[BUG] Field.IsReadOnly does not work properly on lookup attributes"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-09-04 16:28] Fietlux commented on #963
In another case a lookup is initially readonly. The first request of Field.IsReadOnly works fine. After switching to writeable and back to readonly Field.IsReadOnly does not return the correct state for the lookup. All other fields that are not of type lookup are working fine.

[2020-09-06 22:52] Fietlux opened #967 "[BUG] Error while setting DateTime value on QuickCreate"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-09-06 22:57] Fietlux opened #968 "[FEATURE] Switching Views on Dashboard for Charts"
**Describe the feature**
I want to be able to switch views on dashboards for charts.

**Explain why this feature is needed**
Customer needs to check, if any required view is enabled/accessible.

**Additional context**
Switching views on dashboards is already possible for subgrids.

[2020-09-06 23:28] Fietlux opened #969 "[BUG] Command not found inside "More Commands" of form or subgrid"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-09-08 10:19] Probstson commented on #951
Push

[2020-09-08 11:24] asmaafayed commented on #187
Hello @TYLEROL
 I am very new to EasyRepro and using the latest version but still getting the same error <<Xrm not found>>
I am using "Firefox" and ADFLogin

xrmBrowser.LoginPage.Login(_xrmUri, _username, _password, xrmBrowser.LoginPage.ADFSLoginAction);
xrmBrowser.GuidedHelp.CloseGuidedHelp();

Here's the stack error
Test Name:	WEBTestCreateNewAccount
Test FullName:	Microsoft.Dynamics365.UIAutoma

[2020-09-09 09:21] Probstson commented on #951
I downgraded Selenium packages to 3.11.2 and now I have the following problem:

2020-09-09T07:58:04.3791802Z Logging Vstest Diagnostics in file: D:\a\_temp\Attempt--1_itcvxm.diag
2020-09-09T07:58:05.0608446Z A total of 1 test files matched the specified pattern.
2020-09-09T07:59:28.1465499Z   X TestMethod1 [1m 19s]
2020-09-09T07:59:28.1484104Z   Error Message:
2020-09-09T07:59:28.1486013Z    Test

[2020-09-09 10:46] jjbright opened #970 "[HOW-TO] alternate methods for ActivityFeed.OpenActivity & Entity.IsUnsavedChangesMessageExistOnForm"
## Question
After the update of EasyRepro latest version, unable to find the replacement method for below:

`while (xrmBrowser.Entity.IsUnsavedChangesMessageExistOnForm())`

Error	CS1061	'Entity' does not contain a definition for 'IsUnsavedChangesMessageExistOnForm' and no accessible extension method 'IsUnsavedChangesMessageExistOnForm' accepting a first argument of type 'Entity' could be found (a

[2020-09-10 15:14] Fietlux opened #971 "[BUG] Boolean (TwoOption) is set to false after setting twice at business process flow"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-09-11 18:19] pvinjam opened #972 "Relacement for xrmApp.Grid.SelectRecord(0)"
## Question
what is the replacement for below methods.

 xrmApp.Grid.SelectRecord(0);
 xrmApp.Navigation.OpenRelated("Offer Details");

[2020-09-11 18:21] pvinjam opened #973 "HOW-TO] alternate methods for ActivityFeed.OpenActivity"
## Question

**What is your question?**

[2020-09-13 15:40] rbhukta commented on #945
Thanks Much

[2020-09-13 15:41] rbhukta commented on #945
Thanks for sharing

[2020-09-14 12:40] pvinjam opened #974 "[BUG] What is the Substitute for xrmApp.Navigation.OpenRelated() Method"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-09-15 12:45] rkrishnad opened #975 "xrmApp.Entity.SwitchToDialogFrame() method is not working"
**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [ ] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [ ] UCI (XrmApp)

**Online or On Premise**

[2020-09-16 00:25] easyrepro opened #976 "[BUG] GetHeaderValue(LookupItem()) fails with not exists error"
## Bug Report

**EasyRepro Version**
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)

**Online or On Premise**
  - [x] Online

**Browser**
  - [x] Chrome

**Describe the bug**
GetHeaderValue(LookupItem) fails with element not exists exception due to below code block

https://github.com/microsoft/EasyRepro/blob/0700eb13fdcec84

[2020-09-16 14:41] hrathiko opened #977 "OpenApp() is opening the app twice after Login"
## Question

OpenApp is opening the application twice after login to the application.

Here is the code snippet for your reference

client = new WebClient(BrowserOptions);
xrmApp = new XrmApp(client);
xrmApp.Navigation.OpenApp(appname)

[2020-09-16 15:12] rkrishnad commented on #975
//xrmApp.Entity.SwitchToDialogFrame() is deprecated and below code is used as replacement.

XrmPage xrmPage = new XrmPage(client.Browser);
xrmPage.SwitchToDialogFrame();

[2020-09-16 15:12] #975 closed, assigned to nobody

[2020-09-17 07:40] badarmunirr opened #978 "Unable to Set Value in a form After Dynamics365 Wave2 Update"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**

  - [x] Microsoft Dynamic

[2020-09-17 09:23] ewingjm opened #979 "[BUG] Selecting a sub-tab (e.g. Related -> Documents) doesn't work if the Related tab is within the overflow menu"
## Bug Report

**EasyRepro Version**
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)

**Online or On Premise**
  - [x] Online

**Browser**
  - [x] Chrome

**Describe the bug**

Selecting a sub-tab (e.g. Documents within Related) works fine unless the number of tabs and screen size is such that the Related tab is within the ov

[2020-09-17 12:44] ewingjm opened #980 "[BUG] Sub-grid command is not found when it is in the overflow menu"
## Bug Report

**EasyRepro Version**
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)

**Online or On Premise**
  - [x] Online

**Browser**
  - [x] Chrome

**Describe the bug**

When a sub-grid command is in the overflow menu, `ClickSubGridCommand()` is unable to find it.

**Code to reproduce**

[code]
 -->

**Expected behavio

[2020-09-17 16:06] falkon13 opened #981 "Implementing Retry Logic with XrmPage methods"
Hi,
We are looking at implementing retry logic with EasyRepro and looking at the codebase we have noticed that one key `BrowserCommandOptions` method doesn't implement retrying logic when it seems suitable to do so. For example, in the XrmPage.cs file we have this method
[code]
The first 0 is the argument for retry attempts, and the second argument is for the delay between retries, obviously this

[2020-09-17 19:51] aliyoussefi opened #982 "[BUG] Firefox reporting issue when switching UCI app"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-09-18 15:43] hrathiko opened #983 "Not able to interact with the elements not visible in the form or page even after UCITestMode is set to true"
Hi @TYLEROL

We are not able to set / get the value of the field which is not visible on the form (sections below the visible screen) even after setting the UCITestMode to true.

In Testsetting file , we use like below

        public static BrowserOptions Options = new BrowserOptions
        {
            BrowserType = (BrowserType)Enum.Parse(typeof(BrowserType), Type),
            PrivateMode =

[2020-09-18 16:10] hrathiko opened #984 "Login functionality to login into the CRM App happens twice"
Hi @TYLEROL

We are facing issue in the  login functionality. Below are the details:

Both client.Login() and client.InitializeModes() methods in XrmApp.Login() are launching the app and there is a performance hit in terms of login into the application.
The total time taken for logging into app is ~5mins.

If we ignore client.InitializeModes() in Login(),  we wont be able to interact with the elem

[2020-09-20 21:17] TYLEROL commented on #969
@Fietlux - This is fixed in the develop branch. The release branch and NuGet package should be updated on Monday.

Thanks,
Tyler

[2020-09-20 21:17] #969 closed, assigned to nobody

[2020-09-20 21:36] TYLEROL commented on #980
@ewingjm - This has been fixed in the develop branch. It should be merged into release branch tomorrow as well as a NuGet update.

Thanks,
Tyler

[2020-09-20 21:36] #980 closed, assigned to nobody

[2020-09-20 21:54] #976 closed

[2020-09-21 00:27] #967 closed, assigned to nobody

[2020-09-21 00:32] TYLEROL commented on #979
@ewingjm - Could you provide version details from the organization you tested with? I have pushed several fixes over the weekend into the Develop branch and in a few scenarios I was calling this exact scenario when testing.

I did not observe any issues, however I am also testing with the latest from a First Release Environment (9.1.0.23435). I plan to publish the latest from develop to NuGet and

[2020-09-21 10:12] ryanpiran opened #993 "[BUG] UCITestMode browser option to prevent Lazy Loading is no longer working"
## Bug Report
**EasyRepro Version**
  - [X] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [X] UCI (XrmApp)

**Online or On Premise**
  - [X] Online

**Browser**
  - [X] Chrome

**Describe the bug**
The issue reported in https://github.com/microsoft/EasyRepro/issues/489 fixed by @TYLEROL is back and setting the browser option called UCITestMode to t

[2020-09-21 13:40] ewingjm commented on #979
Hi Tyler,

Here's the version information from our organisation -

We've got series of tests which are very similar and it's working fine in the scenarios where the 'Related' tab is not pushed into the overflow menu. I'll retry with the latest version when it's available.

[2020-09-21 17:25] Fietlux commented on #967
Still throwing an error. I'm not sure what the function is used for or why it should throw an exception:

![image](https://user-images.githubusercontent.com/70751142/93799726-d67ee100-fc3f-11ea-9de1-10f2bad0b28f.png)

![image](https://user-images.githubusercontent.com/70751142/93799549-93bd0900-fc3f-11ea-95dc-2abd902912f1.png)

The expected Date is already set:

![image](https://user-images.github

[2020-09-22 08:35] thathi commented on #942
@samadane can you be able to check if that solves your issue?

[2020-09-22 11:20] IshaAnshu commented on #983
Facing the same issue, until last Friday easyrepro was interacting with the elements which were not visible, but suddenly tests have started to fail.

[2020-09-22 14:42] hrathiko opened #996 "Unable to click command in Actions Flyout Menu on Case or Contact pages."
Not able to click on sub command under 'Actions' Flyout menu on Case page using the below method
xrmApp.CommandBar.ClickCommand("Actions", activityDisplayName);

[2020-09-23 07:25] badarmunirr opened #997 "[BUG] SetValue For Lookup Taking too much time ."
## Bug Report

  - [ ] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [ ] UCI (XrmApp)

**Online or On Premise**
  - [ ] Online

**Browser**
  - [ ] Chrome

**Describe the bug**
SetValue For LookupItem is taking more than 50sec .its increasing test time

**Code to reproduce**

            LookupItem LookupVeriable = new LookupItem { Name = LookupFie

[2020-09-24 09:18] Fietlux opened #998 "[BUG] GetValue for LookupItem returns value twice"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-09-28 07:22] badarmunirr commented on #978
@TYLEROL any solution or workaround for this ?

[2020-09-28 08:06] Shakevg opened #999 "[BUG] Field.IsReadOnly failed with the exception on properly without a label"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)
  - [ ] Clas

[2020-09-28 08:35] ankitadeore19 commented on #854
Is it fixed, please help

[2020-09-28 11:14] ankitadeore19 opened #1000 "[FEATURE] Add existing record from sub grid lookup dialog"
**Describe the feature**
I want to add an existing contact to an account.
I am able to click on add existing contact button with following code:
xrmApp.Entity.SubGrid.ClickCommand("accountContactsGrid", "Add Existing Contact", null, null);
![image](https://user-images.githubusercontent.com/55141024/94425118-ff0b5b80-01a8-11eb-9c53-046ead6609b8.png)

I want to be able to select the contact from the

[2020-09-28 20:27] Shakevg commented on #958
@shiyamtj I also faced the same issue, but it is reproduced really now. Issue that test switch to the password field too fast. Previously I implementation custom login with additional sleep after navigation to the password field.
Does it reproduce always?

[2020-09-28 20:29] Shakevg commented on #997
@badarmunirr  Issue in XPath that used to search value in lookup located in DOM root now. I will add a fix.

[2020-09-29 09:25] Meir017 opened #1001 "[FEATURE] Support playwright-sharp"
**Describe the feature**
I would like to use playwright-sharp instead of Selenium

**Additional context**
https://github.com/microsoft/playwright-sharp

[2020-09-29 12:12] BenjaminP-GitHub commented on #998
We are also experiencing this issue

[2020-09-29 20:36] shiyamtj commented on #958
@Shakevg Yeah. Yes, it is reproducible always on CI. This behavior can be seen when after a test got fail.
Any solution for it?

[2020-09-30 03:37] andrew-sumner opened #1002 "[FEATURE] Support RemoteWebDriver connection via a proxy"
**Describe the feature**
The RemoteWebDriver connection should be able to take a proxy setting.

**Explain why this feature is needed**
In our environment our tests developed and run on premise, the grid is running on a kubernetes cluster in Azure (using a product called Moon). All internet access goes through the corporate proxy.

**Additional context**
This is the only solution I have found that

[2020-09-30 06:12] ankitadeore19 commented on #598
I am also not able to select values in the multiselect option set, any resolution for the above issue?

[2020-09-30 10:48] shariquekhan1997 commented on #598
Check out this blog for a workaround:
https://www.inogic.com/blog/2020/06/how-to-set-value-for-multi-select-attribute-in-dynamics-365-crm-using-xpath-in-easyrepro/

[2020-09-30 12:06] badarmunirr commented on #997
@Shakevg  when this fix will be available?

[2020-09-30 13:36] shijinzu commented on #598
Thank you for posting this workaround. Could you share an example of get value on multi-select?

[2020-10-01 09:20] ismail4u commented on #997
Waiting for the fix , please let us know when this will be available ?

[2020-10-01 09:20] ismail4u commented on #983
Please let us know when the fix will be available for this issue ?

[2020-10-01 11:47] hrathiko commented on #983
After getting the latest version of easyrepro UCI library, the issue got resolved.

[2020-10-01 11:47] #983 closed, assigned to nobody

[2020-10-01 11:48] hrathiko commented on #983
The issue is resolved after updating with the latest version of UCI Easyrepro library.

[2020-10-01 11:50] #984 closed, assigned to nobody

[2020-10-01 11:50] hrathiko commented on #984
Verififed from the Easyrepro team that this is due to the 2nd rendering of the url in InitializeModes() – extra parameters are getting set in the url and then there is a redirect to same page with the extra parameters

[2020-10-01 11:54] hrathiko commented on #977
This is due to the 2nd rendering of the url in InitializeModes() – extra parameters are getting set in the url and then there is a redirect to same page with the extra parameters

[2020-10-01 11:54] #977 closed, assigned to nobody

[2020-10-05 10:20] chrizz-msweb commented on #978
What is the error message?  Is it :   Field: 'blablabla' does not exist
I have this problem but only with date attribute.

[2020-10-05 12:15] chrizz-msweb commented on #978
Try get latest version of easyrepro,  it solve my issue

[2020-10-05 14:21] Deep4569 opened #1004 "[HOW-TO] Keep Bowser open for multiple tests"
## Question

Hello there,

I am new to EasyRepro and I was wondering if there is a way to keep the browser session open so that I can run multiple tests on it without it closing. Currently, after a test method if executed the browser closes. I would like to keep it open and run another test method in the same session so I don't have to execute the login method for the same user again which adds to

[2020-10-05 14:22] Deep4569 opened #1005 "[HOW-TO] Keep Browser open to run multiple tests"
Hello there,

I am new to EasyRepro and I was wondering if there is a way to keep the browser session open so that I can run multiple tests on it without it closing. Currently, after a test method if executed the browser closes. I would like to keep it open and run another test method in the same session so I don't have to execute the login method for the same user again which adds to the executio

[2020-10-05 14:23] #1004 closed, assigned to nobody

[2020-10-05 15:41] badarmunirr commented on #978
@chrizz-msweb  I have Update nugget package still this issue exist

[2020-10-05 20:50] #1005 closed, assigned to nobody

[2020-10-05 20:52] Deep4569 commented on #997
Also waiting for the fix. Currently, the execution time is too long. Please provide a fix to this issue ASAP @Shakevg

[2020-10-07 14:34] gayatrig808 opened #1006 "For MFA enabled Service Account, how to generate the MFA secret key"
## Question

**What is your question?**
I am following the steps given in the ReadMe to generate MFA Secret Key for the service account, however I got struck at Step#3 Click on 'Additional security verification' as I am not able to see this 'Additional security verification'  link to proceed. Please let me know how to proceed and it would be great help if anybody has done this recently and if they

[2020-10-08 12:23] manas3487 commented on #1000
Hi Bro is the above feature is fixed or do we need to wait for some more time to get this feature. I am hardly trying on this feature but could not find any single blog related to it. Much Appreciated if any documentation is available on this along with the feature

Thanks,
Manas.

[2020-10-08 12:41] manas3487 commented on #854
Hi team is there any chace this issue can be fixed? we are unable to add records. Much Appreciated if this is released soon.

Thanks

[2020-10-08 13:03] manas3487 commented on #514
Hi Team,
Can anyone resolved this issue ? I am inable to filter the field. Is there alternative solution to work on this issue please.?

Thanks

[2020-10-08 19:45] Shakevg commented on #1006
@gayatrig808 Steps were outdated

Here is the list of actual steps:

1. Go to your Office365 'Security info' page at https://mysignins.microsoft.com/security-info
2. Enter your O365 login and password
3. Click 'Add method' and select "Authenticator app" in Combobox, click Add
4. Click on "I want to use a different authenticator app" link if you want to use
not 'Microsoft Authenticator' authenticat

[2020-10-12 04:05] sridharchintalapati opened #1010 "[FEATURE] .Net Core Support for EasyRepro"
Current EasyRepro project is based on .Net Framework and it should be more useful to have .Net core support as most of the future test projects will be in .Net Core . Getting many functional issues  like secure login errors, commandbar class errors etc., on building .Net Core project with current versions, even for the hybrid projects we have the same issues.

This is a required feature as the fut

[2020-10-12 11:26] badarmunirr commented on #997
Still, waiting for the update?

[2020-10-13 03:35] renzo305 opened #1011 "[BUG] Signout not working after CRM update 2020 Wave 2."
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2020-10-13 04:07] chrizz-msweb commented on #998
Is this bug fixed ?

[2020-10-15 06:53] Shakevg commented on #958
@shiyamtj Can try custom login implementation (but it is without MFA support)?

[code]

[2020-10-15 08:14] Shakevg commented on #997
@badarmunirr Not yet committed, I created a pull request with a fix and waiting for code review (but looks like @TYLEROL on vacation).

[2020-10-15 08:35] badarmunirr commented on #997
@Shakevg Oh okay Thanks for the response once its done please let me know

[2020-10-20 04:39] paarrivanan opened #1012 "[BUG] SetValue method for DateTime field is not working"
**EasyRepro Version**
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)

**Online or On Premise**
  - [x] Online

**Browser**
  - [x] Chrome

**Describe the bug**
SetValue method for DateTime field is not working as the input tag within the TextField container of the field is not having data-id attribute now. It was working unt

[2020-10-20 14:37] ewingjm commented on #1012
Hi @paarrivanan. It looks like this was fixed in #992. I had the same issue but upgrading to 9.1.0.23435 fixed it.

[2020-10-20 15:01] paarrivanan commented on #1012
I have the latest libraries. the data-id attribute went missing in the input tag for the DateTime field which eventually had the schema name of the field. I didn't change anything with the library and it worked until last friday without any issues.

I checked the fix in #992 which seems to be something for Quick create. Let me dig into it further.

[2020-10-20 15:03] ewingjm commented on #1012
Apologies - the issues I was having was on quick creates only, assumed it was the same issue.

[2020-10-22 08:23] CAltschaffel commented on #1012
A quick workaround is to use the date-field as a normal text-input:
`xrmApp.Entity.SetValue("my-field-id", DateTime.Now.ToString("MM/dd/yyyy"));`
worked for me.

[2020-10-22 08:25] CAltschaffel commented on #1012
A quick (and dirty) workaround is to use the date-field as a normal text-input:
`xrmApp.Entity.SetValue("my-field-id", DateTime.Now.ToString("MM/dd/yyyy"));`
worked for me.

[2020-10-22 11:33] paarrivanan commented on #1012
I do have a work around for now. I had to change the field container to the 'div' tag where it use the schema name to identify it and find the field using the input tag from the container. I was able to test them successfully in Entity, BPF and Quick Create forms.

[2020-10-22 14:06] SahooNar opened #1014 "Test result/output is not stored in Test result folder"
## Question

**What is your question?**
When test script is passed/failed, i can see the test result by opening the output in VS2017 after completion of test run .

But the test result/output is not stored in Test result folder, so its difficult to verify the test result output later on.
Can anyone please guide me how can i store the Test result files
.
![image](https://user-images.githubuserconte

[2020-10-23 06:26] Shakevg commented on #1014
@SahooNar actually VS do not save the results from the test explorer window run. You can just run tests via vstest.console.exe and save results:
https://stackoverflow.com/questions/28235129/saving-unit-test-results-after-running-tests
https://stackoverflow.com/questions/29898499/where-is-the-visual-studio-test-explorer-output-located-is-it-a-saved-file

[2020-10-24 05:23] shariquekhan1997 commented on #1000
Hi,

Is this feature added? in the latest release?

[2020-10-26 02:24] nakhtar-ntg opened #1015 "[FEATURE] S2S (Server-2-Server) connection to have Application user support (Client Secret)"
**Describe the feature**
I am looking to connect EasyRepro through the application user/client secret key (Azure app registration).

**Explain why this feature is needed**
Most of the time we have non-interactive test executions. we don't want to use the functional account which utilizes a license in Dynamics 365. Therefore, the application user is the best option to connect any application with d

[2020-10-26 15:53] bimaleshdash opened #1016 "Add Phone call not working"
Test method Microsoft.Dynamics365.UIAutomation.Sample.UCI.AddActivity.UCITestAccountAddPhoneCall threw exception:
    System.ArgumentNullException: input cannot be null
    Parameter name: input
  Stack Trace:
    DefaultWait`1.ctor(T input, IClock clock)
    DefaultWait`1.ctor(T input)
    SeleniumExtensions.WaitUntil(ISearchContext driver, Func`2 searchFunc, Nullable`1 timeout, Action`1 successC

[2020-10-27 01:46] poi023 commented on #812
Hi @dynamicsk @mVermaat what command should I use to click or access this
![image](https://user-images.githubusercontent.com/72900519/97246795-28b3b300-1839-11eb-90c3-0efd92681cc7.png)

and select Active Cases
![image](https://user-images.githubusercontent.com/72900519/97246822-3ec17380-1839-11eb-91a1-159de09b4254.png)

[2020-10-28 08:23] SriVHari commented on #997
Fix available for Issue in XPath that used to search value in lookup located in DOM root ??

[2020-10-28 12:40] imartinflores opened #1017 "[HOW-TO] ByPass UI Login"
Hey guys, do you have any helper method here to bypass the UI login ? i.e get the token first with username and password and visit dynamics directly without login in ?

Thanks.

[2020-10-28 14:39] SahooNar opened #1018 "How to click on Go Back button available"
Hi @TYLEROL

I need to click on Go Back button but not finding any command to click the button.

Its looks like present in command bar, but its not the case. also I have tried with command bar code CommandBar.ClickCommand() still not working.
Also checked in Xpath file AppElementRefference.cs , the structured xpth is not available

Please guide me which code i need to use to click Go Back button
!

[2020-10-28 19:33] sanatlami opened #1019 ""LookupItem" taking so much long time to select value"
When i try to select the value from lookup field using   xrmApp.Entity.SetValue(new LookupItem() { Name = "inputfield", Value = "VXXX" }); its taking around 45-50 second. Is there any other way to select value from Lookup filed? The project i am working on has bunch of lookup fields, if it take 45-50 seconds per field its take around 15-20 Minutes to populate each entity. This is kind of blocker f

[2020-10-29 05:46] Shakevg commented on #997
Yes

[2020-10-29 05:46] Shakevg commented on #1019
@sanatlami duplicate of #997

[2020-10-29 05:47] Shakevg commented on #997
Anyone can apply to [fix](https://github.com/microsoft/EasyRepro/pull/1008) locally until the pull request will be approved

[2020-10-29 11:37] imartinflores commented on #998
seems it is not fixed, I am still having the issue

[2020-10-30 01:45] rvmithun opened #1020 "How to open first row in the second grid in the same page"
When a page has more than one grid, then how can we select the first row in the second grid.

![image](https://user-images.githubusercontent.com/6620378/97650403-f91acb80-1a2f-11eb-9bf9-758de11eeb79.png)

Here if I use xrmapp.Grid.OpenRecord(0) then it opens up the item in grid 1, is there a way to open grid 2 1st row?

[2020-10-30 05:13] badarmunirr commented on #997
the problem is I am using the nugget package

[2020-10-30 20:17] Shakevg commented on #1020
@rvmithun you should use OpenSubGridRecord
https://github.com/microsoft/EasyRepro/issues/934#issuecomment-670182266
https://github.com/microsoft/EasyRepro/blob/develop/Microsoft.Dynamics365.UIAutomation.Api.UCI/Elements/Subgrid.cs

[2020-11-02 21:46] deshazer722 commented on #48
I am having this issue with this line of code in the login page. EasyRepro logs me in and I get to my dynamics dashboard.

![image](https://user-images.githubusercontent.com/73856449/97922723-886efa00-1d22-11eb-8bb5-3f0f354ed4db.png)
I comment it out and wait it works but for some reason I am not sure why this fails.

[2020-11-04 10:43] badarmunirr commented on #997
@TYLEROL  any update on this issue

[2020-11-04 18:07] Shakevg commented on #956
@adrian-johnson-vanguard For Power app (canvass app) controls you should use a custom implementation

Per https://github.com/microsoft/EasyRepro#crm-functionality-not-covered
CRM Functionality Not Covered
- Customization

[2020-11-05 17:23] sanatlami opened #1021 "Need help reading value and printing."
How can i get value from site/ page  and print that value in Output result ?  for example if i want to print full name to my result is what is the code i should write?

[2020-11-06 15:22] SherlyArem opened #1022 "[BUG] Lookup field is not picking up values from the drop down"
Bug Report

Hi,
Please would like to mention about this issue for the lookup field which is not picking up the values from the drop down we have also tried to check this in debug mode and we can see that in debug mode the values are being passed correctly to the lookup field but when the automation test case in run it fails and does not picks up the value from the drop down, alternatively we have

[2020-11-06 15:52] Shakevg commented on #1022
@SherlyArem Could you post a code that failed, error, and screenshot with markup?

[2020-11-07 09:18] sudipmandal commented on #1022
This bug is indeed causing our cases to fail as well.
The following simple code to set lookup value is failing

xrmApp.Entity.SetValue(new LookupItem() { Name="customerid", Value="John Doe" });

The code simply types the value in the lookup field, but does not press enter, hence value does not get set.

[2020-11-07 09:33] sudipmandal commented on #997
Please push fix to nuget

[2020-11-09 17:11] thathi commented on #1021
var name = xrmApp.Entity.GetValue("name");
                Console.WriteLine(name);

[2020-11-09 17:43] Shakevg opened #1023 "[BUG] Field.IsReadOnly always return false for input field on Cannary"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)
  - [ ] Clas

[2020-11-09 22:31] sanatlami commented on #1021
Hello @thathi i used that but i dont see my value in console/ Test output window. i just see BrowserAutomation Information: Truncated. do you know what's going on ?

and thank you for the response :)

[2020-11-10 08:39] thathi commented on #1021
@sanatlami its working for me. Did you check that field has some value in it?
![image](https://user-images.githubusercontent.com/15817637/98649894-1143f200-2330-11eb-9fa2-433a6fd35f77.png)

[2020-11-11 12:13] badarmunirr commented on #997
@Shakevg this fix will work for quick create lookup too? and ETA for this fix @TYLEROL

[2020-11-11 20:16] Raji254 commented on #565
Hi @TYLEROL,
 "CommandBar.GetCommandValues" is really helpful to get primary menu available on commandbar,  I need to check with submenu from available ribbon buttons also, could you please suggest is there any way for it.

Thanks,
Raji

[2020-11-13 21:20] dewilliams704 commented on #812
@dynamicsk, did you ever come up with a solution to this?  Did you need to select a new frame or anything before using XrmApp.Entity.SetValue("resolution_id", "Test");?

[2020-11-17 12:43] SherlyArem commented on #1022
Hi,
This is the code we have used and the name value is being passed from the feature file

private void SetLookupValue(string name, string value)
        {
            Microsoft.Dynamics365.UIAutomation.Api.UCI.LookupItem lookupItem = new Microsoft.Dynamics365.UIAutomation.Api.UCI.LookupItem { Name = name, Value = value };
            browser.Entity.SetValue(lookupItem, 0);
            browser.Th

[2020-11-17 12:43] SherlyArem commented on #1022
Hi,
This is the code we have used and the name value is being passed from the feature file

private void SetLookupValue(string name, string value)
{
Microsoft.Dynamics365.UIAutomation.Api.UCI.LookupItem lookupItem = new Microsoft.Dynamics365.UIAutomation.Api.UCI.LookupItem { Name = name, Value = value };
browser.Entity.SetValue(lookupItem, 0);
browser.ThinkTime(5000);
}

[2020-11-17 12:48] SherlyArem commented on #1022
Hi,

Hi,
This is the code we have used and the name value is being passed from the feature file

private void SetLookupValue(string name, string value)
{
Microsoft.Dynamics365.UIAutomation.Api.UCI.LookupItem lookupItem = new Microsoft.Dynamics365.UIAutomation.Api.UCI.LookupItem { Name = name, Value = value };
browser.Entity.SetValue(lookupItem, 0);
browser.ThinkTime(5000);
}

Regards,
Sherly
_____

[2020-11-17 14:23] eckevinv commented on #1018
I ran into this issue as well.  I ended up using the following:

[code]

[2020-11-18 14:53] SherlyArem commented on #1022
![lookup](https://user-images.githubusercontent.com/74060466/99545681-8f963900-29ad-11eb-9ad8-e4096a243e4c.png)
![lookup1](https://user-images.githubusercontent.com/74060466/99545835-b2285200-29ad-11eb-9431-acceaa4aead1.PNG)

Please find the attached screenshots for the code and error message of the lookup issue

[2020-11-18 19:27] Shakevg commented on #997
Fix already in dev branch.
@sudipmandal I suppose yes, but you should check

[2020-11-18 21:55] thathi commented on #1022
@SherlyArem I did quick test and it looks like working fine with the latest code.
![image](https://user-images.githubusercontent.com/15817637/99592328-fd5f5680-29e7-11eb-89d5-c33602b9a0b6.png)

I think this might be case sensitive.

[2020-11-19 13:16] ewingjm commented on #1015
I'm not sure that's going to be possible. I think application users by their very nature are non-interactive, so not suitable for UI testing. I might be wrong, though.

[2020-11-19 14:20] TYLEROL commented on #1015
Hello @nakhtar-ntg,

As @ewingjm correctly stated, application users are intended to be a non-interactive service account that operates in the background to securely and seamlessly communicate between Dataverse and your web applications and service.

The account is not intended to access UI elements required for UI Automation testing with EasyRepro.

Warm Regards,
Tyler

[2020-11-19 14:20] #1015 closed, assigned to nobody

[2020-11-19 15:55] manaswinipolkampally opened #1025 "Problem with parallel executive when done in both vstestconsole.exe and also visual studio by enabling parallel execution mode"
![IMG_20201119_212142](https://user-images.githubusercontent.com/22270535/99690128-cbb0c300-2aad-11eb-8a5e-54662a76c5aa.jpg)

## Bug Report

**EasyRepro Version**
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)

**Online or On Premise**
  - [x] Online

**Browser**
  - [x] Chrome

**Describe the bug**
My main objective is to r

[2020-11-23 10:28] badarmunirr commented on #997
@TYLEROL, please release updated nugget package

[2020-11-23 12:48] badarmunirr opened #1026 "Does Easyrepro Support Fin&ops Automation?"
## Question

**What is your question?**

[2020-11-23 19:03] jcregg2 opened #1027 "[HOW-TO] Button not found in Headless Mode"
I am running a number of tests successfully to create a lead record with an associated activity. I created the lead first, then navigate to the activities tab and select the New Activity > Phone Call buttons as per the line below

**xrmApp.Entity.SubGrid.ClickCommand("Activities", "New Activity", "Phone Call");**

This works fine when running in the browser without using headless mode, but when en

[2020-11-23 21:32] sanatlami opened #1028 "How can i populate fields which is set up in PCF form ?"
Help!!!

How can i populate fields which is created under PCF form ? i tried to use selenium code but its not working at all. I have tried both of the following code but noting is working.

var RQSTAMNT = client.Browser.Driver.FindElement(By.XPath("//div[@data-id='abc_requestedamount']"));
 var PopuulateRQSTAMNT = RQSTAMNT.FindElement(By.XPath("//input[@aria-label='Requested Amount']"));
   Popuul

[2020-11-24 08:54] Shakevg opened #1029 "[HOW-TO] Methods for Grid fileds inline edit"
## Are any methods for grid or subgrid inline edit?

[2020-11-24 10:20] maheshmallamsc commented on #286
im Getting issue for CE when i select Lookup

[2020-11-24 10:21] maheshmallamsc commented on #286
by using this :
  LookupItem ethnicity = new LookupItem { Name = "po_ethnicityid", Value = "Asian or Asian British - Indian" };
                xrmApp.Entity.SetValue(ethnicity);

[2020-11-24 13:49] badarmunirr commented on #997
@Shakevg setvalue for lookup item in quick create is still taking too much time .

[2020-11-24 13:56] Shakevg commented on #997
@badarmunirr Could you please post a code example

[2020-11-24 14:20] badarmunirr commented on #997
@Shakevg
  LookupItem LookupQuickVeriable = new LookupItem { Name = LookupFieldName, Value = LookupFieldValue, Index = 0 };
   xrmApp.QuickCreate.SetValue(LookupQuickVeriable);

[2020-11-25 04:38] maheshmallamsc commented on #149
Test method Microsoft.Dynamics365.UIAutomation.Sample.UCI.CreateContactUCI.UCITestCreateContact threw exception:
    System.InvalidOperationException: List does not contain a record with the name:  Romania
  Stack Trace:
    WebClient.SetLookUpByValue(IWebDriver driver, LookupItem control, Int32 index) line 1926
    <>c__DisplayClass64_0.<SetValue>b__0(IWebDriver driver) line 1833
    DelegateBrow

[2020-11-25 04:39] maheshmallamsc commented on #149
this is the issue geeting while selecting value in lookup in contact form

[2020-11-25 04:49] maheshmallamsc commented on #286
Test method Microsoft.Dynamics365.UIAutomation.Sample.UCI.CreateContactUCI.UCITestCreateContact threw exception:
    System.InvalidOperationException: List does not contain a record with the name:  Romania
  Stack Trace:
    WebClient.SetLookUpByValue(IWebDriver driver, LookupItem control, Int32 index) line 1926
    <>c__DisplayClass64_0.<SetValue>b__0(IWebDri

[2020-11-25 07:31] thathi commented on #286
@maheshmallamsc did you try using with latest code from devlop branch?

And also try with the following updated code.

LookupItem ethnicity = new LookupItem { Name = "po_ethnicityid", Value = "Asian or Asian British - Indian" };
xrmApp.Entity.SetValue(ethnicity, **0**);

Cheers,
Thathi@jlitconsulting.co.uk

[2020-11-25 11:39] maheshmallamsc commented on #286
Hi Thathi,

Yes dowloaded few months back from GIT and customized.is the latest one there now?

and the i used same way as well still getting error

[2020-11-25 13:05] maheshmallamsc commented on #286
Test method Microsoft.Dynamics365.UIAutomation.Sample.UCI.CreateContactUCI.UCITestCreateContact threw exception:
System.InvalidOperationException: List does not contain a record with the name:  Romania
Stack Trace:
WebClient.SetLookUpByValue(IWebDriver driver, LookupItem control, Int32 index) line 1926
<>c__DisplayClass64_0.b__0(IWebDriver driver) line 1833
DelegateBrowserCommand1.ExecuteCommand(I

[2020-11-25 13:30] thathi commented on #286
@maheshmallamsc I have tested using a trail instance and it is working fine the latest code from github. It should be strightforward to debug and see whats going wrong.

Let me know if you need further help happy to help you debugging.

Cheers,
thathi@jlitconsulting.co.uk

[2020-11-25 14:22] maheshmallamsc commented on #286
Sure thathi,Thanks you very much for your support

[2020-11-25 14:30] maheshmallamsc commented on #286
Hi Thathi,How can i reach you

[2020-11-25 14:33] thathi commented on #286
you can reach me at thathi@jlitconsulting.co.uk

On Wed, Nov 25, 2020 at 2:30 PM maheshmallamsc <notifications@github.com>
wrote:

--
Cheers,
Thathi

[2020-11-25 19:25] Shakevg commented on #1028
@sanatlami Could post a screenshot with markup?

[2020-11-26 13:17] manaswinipolkampally commented on #1025
It's been a week and no response from team?

[2020-11-26 18:42] Shakevg commented on #997
@badarmunirr
I checked on the contact quick create form. It is working very fast (about 2 seconds per lookup) on the dev branch and also with the latest NuGet.
Could you check that you really use the latest fixes?
![image](https://user-images.githubusercontent.com/42133199/100383864-bac4fc00-302f-11eb-920a-c2551fe3c064.png)

[2020-11-29 18:36] Shakevg commented on #1025
@manaswinipolkampally,
I just saw an issue with logging during parallel execution.
Could you provide information:
1) How you create a client instance for each thread
2) Stack trace with error

[2020-11-30 11:17] srikanth-katukam commented on #889
There is a change in Web Element to select User or Team. I created an extension method and Overloading the Assign method as shown below:

[code]

[2020-11-30 14:57] badarmunirr commented on #997
@Shakevg it's working fine thanks.

[2020-11-30 14:57] #997 closed, assigned to nobody

[2020-11-30 15:01] badarmunirr commented on #1025
@manaswinipolkampally  this problem isn't with mstest it's with chrome doesn't run scripts in the background. it only executes the on-screen script

[2020-12-04 11:53] itsmyownview opened #1030 "[HOW-TO] Maximize the chrome browser with easyrepro"
## Question

In my local machine when I run my easyrepro code using chrome browser, it opens with 1920x1080 size. But when I run the same code in my Azure pipeline in headless mode, It is not coming as maximized. I added some debug logs, and understood that height and width is of 600x800. And as a result some of the command bar buttons trapped inside the "More Options".

Could you please guide me

[2020-12-07 07:09] vdro commented on #858
up

[2020-12-08 18:38] ewingjm commented on #1030
You do this by passing a `BrowserOptions` object to the `WebClient` constructor. In my experience, `StartMaximized` needs to be explicitly set to `false` and `Height` and `Width` need to be set when running in headless mode on Azure Pipelines hosted agents.

[2020-12-09 05:40] ghost opened #1032 "[BUG] Unable to set value on Text field with AutoComplete control"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [X] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [X] UCI (XrmApp)
  - [ ] Clas

[2020-12-10 15:19] ismail4u commented on #998
Any workaround ? when this will be fixed ?

[2020-12-11 02:38] chrizz-msweb commented on #998
Temporary workaround:   Assert.IsTrue(countryValue.Contains("Germany"));

[2020-12-11 09:47] imartinflores commented on #998
I'd suggest to split it before Asserting

[2020-12-11 10:41] chrizz-msweb commented on #998
Right!!..     Here the method

        protected void checkLookupValue(XrmApp xrmApp, string idLookup, string value)
        {
            string val = xrmApp.Entity.GetValue(new LookupItem { Name = idLookup });
            string[] correction = val.Split(';');
            Assert.AreEqual(value, correction[0]);
        }

[2020-12-14 09:26] badarmunirr opened #1037 "EasyRepro Scripts are Failing On Azure Devops"
## Bug Report

**EasyRepro Version**

  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)

**Online or On Premise**
  - [x] Online

**Browser**
  - [x] Chrome

**Describe the bug**

[2020-12-14 14:51] ewingjm commented on #1025
I don't think this is a bug with EasyRepro - we're running in parallel with it fine. The issue here is going to be in how you're instantiating `XrmApp` and `WebClient`. You'll need to share that code.

[2020-12-14 14:57] ewingjm commented on #1037
@badarmunirr it looks like you've forgotten to include the error details

[2020-12-14 19:35] #979 closed, assigned to nobody

[2020-12-14 19:36] #998 closed, assigned to nobody

[2020-12-14 19:43] #869 closed, assigned to nobody

[2020-12-14 19:43] #971 closed, assigned to nobody

[2020-12-14 19:44] #1011 closed, assigned to nobody

[2020-12-15 12:58] manaswinipolkampally commented on #1025
Can you please tell me how ur executing the scripts in parallel that too in the same browser.
Can you provide me the steps that u had followed or any documentation so that I could refer and do the same to execute the tests in parallel
![IMG_20201215_182742](https://user-images.githubusercontent.com/22270535/102217897-40d3b480-3f03-11eb-9c74-39bbe64cb49f.jpg)

[2020-12-15 13:02] ewingjm commented on #1025
You've got `WebClient` and `XrmApp` as static, meaning there will only ever be a reference to one instance. You need to create an instance of each per test method to run in parallel.

https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/static

[2020-12-15 15:08] merchantshehzad commented on #948
Hi,

Do you have any ETA of this issue.

Regards

Shehzad

[2020-12-15 19:06] #598 closed, assigned to nobody

[2020-12-15 19:18] TYLEROL commented on #1030
Another option you can try is to either force the agent resolution with PowerShell script, or use the 'Screen Resolution Utility' build task. Call either of these in the build pipeline prior to test execution and the maximized browser window should match the display resolution you set on the agent:

- [Screen Resolution Utility](https://marketplace.visualstudio.com/items?itemName=ms-autotest.scree

[2020-12-15 19:18] #1030 closed, assigned to nobody

[2020-12-16 09:43] badarmunirr commented on #1025
I have WebClient , XrmApp  both public but still not running in parallel
![image](https://user-images.githubusercontent.com/64267888/102331740-06265680-3fad-11eb-9c3d-806303e0e995.png)
Not sure what I am doing wrong here. it's a simple case

[2020-12-16 09:51] ewingjm commented on #1025
Are you seeing the tests in-progress at the same time in the Test Explorer window? Or are the test methods themselves running sequentially?

[2020-12-16 09:52] badarmunirr commented on #1025
test methods are running parallel.
![image](https://user-images.githubusercontent.com/64267888/102332907-87cab400-3fae-11eb-98d9-e23fe6f69fa2.png)

[2020-12-16 09:57] ewingjm commented on #1025
And you're only seeing one browser instance? I'm not really sure if so, instantiating an `XrmApp` and `WebClient` instance per test is what I've implemented on [powerapps-specflow-bindings](https://github.com/Capgemini/powerapps-specflow-bindings/blob/master/bindings/src/Capgemini.PowerApps.SpecFlowBindings/PowerAppsStepDefiner.cs).

[2020-12-16 10:01] badarmunirr commented on #1025
I am seeing 2 browser instances, but the problem is only the on-screen browser is executing the test case and the background browser  is stuck

[2020-12-16 10:03] manaswinipolkampally commented on #1025
Yes my issue is also the same

[2020-12-16 10:05] ewingjm commented on #1025
I've never seen that before. Does the test that instantiated the one in the background fail? Have you tried running in headless mode?

[2020-12-16 10:06] manaswinipolkampally commented on #1025
Yup tried but no Luck!

[2020-12-16 10:56] badarmunirr commented on #1025
@ewingjm  your test cases are running parallel on chrome?

[2020-12-16 10:59] ewingjm commented on #1025
Yes, but I use NUnit rather than MSTest.

[2020-12-16 11:29] TheSarcasticGuy commented on #673
I'm facing the issue. Have anyone found any workaround for this?

[2020-12-16 11:42] thathi commented on #673
@TheSarcasticGuy @simonbridgwater xrmApp.Dialogs.ConfirmationDialog(true); Is this the one you are looking?

[2020-12-16 11:45] badarmunirr commented on #1025
Tried with Nunit still the same error

[2020-12-16 11:48] ewingjm commented on #1025
What's the error message?

[2020-12-16 11:50] badarmunirr commented on #1025
Not an error message. getting the same results I got with Mstest browser is getting stuck in the background

[2020-12-16 11:53] ewingjm commented on #1025
So does the test run itself actually succeed if it doesn't end in an error message? What happens if you put breakpoints on both test methods and try to debug through?

[2020-12-16 11:57] TheSarcasticGuy commented on #673
Nope. Actually the issue is after using xrmApp.CommandBar.ClickCommand("custom command button name"), a confirmation alert is shown. Further code is executed after clicking on Ok button from the alert box. While doing this through EasyRepro, the alert disappears in fraction of seconds. I was wondering how to interact with that alert box?

[2020-12-16 12:45] badarmunirr commented on #1025
I got it running using Firefox but its not working with chrome . but firefox is slow and keeps breaking

[2020-12-17 16:54] selvafelix commented on #522
Facing the same issue, how to solve or overcome this issue any idea?

[2020-12-17 16:58] selvafelix commented on #913
Try this :
 xrmApp.CommandBar.ClickCommand("YourString");

[2020-12-18 22:46] #963 closed, assigned to nobody

[2020-12-18 22:47] #942 closed, assigned to nobody

[2020-12-18 22:47] #874 closed, assigned to nobody

[2020-12-18 22:47] #762 closed, assigned to nobody

[2020-12-18 22:47] #861 closed, assigned to nobody

[2020-12-18 22:47] #862 closed, assigned to nobody

[2020-12-18 22:47] #933 closed, assigned to nobody

[2020-12-18 22:47] #982 closed, assigned to nobody

[2020-12-21 13:33] aliyoussefi commented on #1028
The PCF control was launching a modal form which was not detected in the SetValue flow. The workaround was to first identify the command within the PCF control, click, and find the container for the modal. This required a change and will be submitted as a PR.

@sanatlami Can we submit the PR and move to close this issue?

[2020-12-22 06:09] Shakevg commented on #1030
@itsmyownview Next steps are working for me for browser in Headless mode on Azure Hosted Agent(ScreenWidth=1920; ScreenHeight=1080):
1. Set "Display Settings" = "Optimal Resolution" settings using [Screen Resolution Utility](https://marketplace.visualstudio.com/items?itemName=ms-autotest.screen-resolution-utility-task#overview)
2. Set browser size for Headless mode
[code]

[2020-12-24 17:23] merchantshehzad commented on #1037
Hi,

I have deployed the project to Azure Devops and it fails to execute test with the error

Test method Microsoft.Dynamics365.UIAutomation.Sample.UCI.CreateContactUCI.UCITestCreateContact threw exception:
**System.InvalidOperationException: Unable to click element.** . Please see the file enclosed

<img width="820" alt="azuredevops_testassemblies_error" src="https://user-images.githubusercontent

[2020-12-25 14:24] Shakevg commented on #1037
@badarmunirr,
Looks like login was not performed. Could you capture a screenshot?

[2020-12-29 08:49] Shakevg commented on #950
@imartinflores Next code is working for me:
[code]

OpenEntity method modifications:
[code]

[2020-12-29 17:24] merchantshehzad commented on #1037
@Shakevg
Actually I used this issue raised by @badarmunirr

My issue has been resolved and I specified the incorrect path of testfiles in a Test Filter Criteria

Test files are located in two different folders, In order to execute the test files from Azure DevOps I have to use path AzureDevOps\UCI\<Name of Test File>. In order to execute the test files from VS then the folder path should be UCI\Cr

[2020-12-30 23:15] RavitejaMuthyala opened #1049 "UCITestMode not working, doesn't detect elements that requires scrolling."
Hi, I have been trying to set a value of lookup element using
`xrmApp.Entity.SetValue(new LookupItem { Name = "to", Value = "Automated UI Contact" });` but getting an error as the field is a single scroll down the page and getting an error `MoveToElement cannot move to a null element with no offset.`

While running it on my local computer, if I manually scroll the page the element is being detecte

[2020-12-30 23:25] RavitejaMuthyala commented on #1037
@badarmunirr use below method to get screenshots of the issue while running build on Azure and compare them against your local screenshots. There is a possibility that your login page for local runs and Azure runs are different.

[code]

[2021-01-05 16:23] tomdaleywork opened #1050 "Field.IsReadOnly not working for Input"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-01-06 12:28] jef3003 commented on #750
Are there any updates on this? we are facing the same issue.

[2021-01-10 07:09] smallteam1 opened #1054 "Gettting exception as 'Login page failed'"
## Question

**What is your question?**
After login success, I am getting issues at

                    driver.WaitUntilVisible(By.XPath(Elements.Xpath[Reference.Login.CrmMainPage])
                        , new TimeSpan(0, 0, 60),
                        e =>
                        {
                            driver.WaitForPageToLoad();
                            MarkOperation(driver);

[2021-01-10 08:53] Shakevg commented on #1054
@smallteam1, Could you post error text?

[2021-01-10 09:13] smallteam1 commented on #1054
CreateCase
   Source: UIT_023_CreateCase.cs line 39
   Duration: 1.5 min

  Message:
    Test method Microsoft.Dynamics365.UIAutomation.Testing.TestMethods.CaseCreation.UIT_023_CreateCase.CreateCase threw exception:
    System.Exception: Login page failed.
  Stack Trace:
    UIT_023_CreateCase.CreateCase() line 196

   Open additional output for this result

[2021-01-10 09:16] smallteam1 commented on #1054
I can see Apps screen after login, then it stays for 2 minutes and returns to the above exception

[2021-01-11 12:03] Shakevg opened #1055 "[BUG] Performance Widget is opened on settings tab when performance issues exist"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [+] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [+] UCI (XrmApp)
  - [ ] Clas

[2021-01-12 04:49] smallteam1 commented on #1054
Message:
        Test method Microsoft.Dynamics365.UIAutomation.Testing.TestMethods.CaseCreation.UIT_023_CreateCase.CreateCase threw exception:
        System.InvalidOperationException: Login page failed.
      Stack Trace:
        <>c__DisplayClass47_0.<WaitUntilVisible>b__0()
        SeleniumExtensions.WaitUntil(ISearchContext driver, Func`2 searchFunc, Nullable`1 timeout, Action`1 successCallba

[2021-01-15 15:15] sanatlami opened #1057 "How can i Lunch Chrome when lower version of ChromDriver[85] and upper version of chrome?"
I have ChromeDriver 85 version in code which is the biggest in the NuGet but my system chrome version is  87. How can i handle this condition please help ?

![image](https://user-images.githubusercontent.com/51536031/104744034-03389600-5712-11eb-97ee-4913b4cb89cb.png)
![image](https://user-images.githubusercontent.com/51536031/104744150-28c59f80-5712-11eb-82d1-5db16684a338.png)
![image](https://us

[2021-01-15 20:45] aliyoussefi commented on #1057
Hi @sanatlami,

The NuGet package needs to be updated in the test assembly. You can find this by managing the NuGet Packages with the Package manager in Visual Studio. Please refer to this video which includes a demo: [EasyRepro - Troubleshooting - SessionNotCreated Exception](https://www.youtube.com/watch?v=bXCbx1gM6MM&list=PLtQtmfRDxadM6iYpmiivgrACsQrzFa_t6)

[2021-01-15 20:58] sanatlami commented on #1057
Thank you @aliyoussefi for your reply.

i did update that but in my case NuGet has only 85 the latest one but Chrome in Version 87. I have attached the picture of NuGet and Chrome.
![image](https://user-images.githubusercontent.com/51536031/104777825-0186c680-5742-11eb-8d8b-3e7f5f4a2a18.png)
![image](https://user-images.githubusercontent.com/51536031/104777844-08add480-5742-11eb-9cba-46fba42892f0.

[2021-01-15 21:12] thathi commented on #1057
for workaround you can try this webdriver.

![image](https://user-images.githubusercontent.com/15817637/104779087-5f350600-5776-11eb-8dbc-31f654a1097e.png)

[2021-01-15 21:14] thathi commented on #1057
you can use this package as workaround @sanatlami
![image](https://user-images.githubusercontent.com/15817637/104779229-9efbed80-5776-11eb-9034-478eff36b7f6.png)

[2021-01-15 23:21] aliyoussefi commented on #1057
Hi @sanatlami Please review @thathi comment as this is the correct package to use moving forward. I will create an issue to update the assembly in the source. Please confirm so we can close this out.

[2021-01-15 23:26] aliyoussefi opened #1058 "[BUG] Update ChromeDriver NuGet package to use Selenium.WebDriver.ChromeDriver"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-01-15 23:28] aliyoussefi commented on #1057
https://github.com/microsoft/EasyRepro/issues/1058

[2021-01-17 13:25] shariquekhan1997 commented on #598
https://www.inogic.com/blog/2020/06/how-to-set-value-for-multi-select-attribute-in-dynamics-365-crm-using-xpath-in-easyrepro/

Selected Items are always stored in a div container with class name “msos-selecteditems-container”, the values are in the title attribute. To fetch the values from there please check the below code.

![image](https://user-images.githubusercontent.com/36981186/104844289-73e

[2021-01-19 11:14] davider9429 opened #1059 "Not able to switch a form in a standard entity using Entity.SelectForm() [BUG] <Issue Description>"
##Bug Report
`xrmApp.Entity.SelectForm();`

**Online or On Premise**
  - [x] Online

**Browser**
  - [x] Chrome

**Describe the bug**
 I would like to change a form but I'm not able using the function Entity.SelectForm(). The form remains as it is.

**Expected behavior**
Change an active form inside a standard Entity

[2021-01-19 17:48] meetamalhotra opened #1060 "[HOW-TO] set the zoom level in chrome and Edge browser in easy repro ?"
Can anybody tell me how to reset the screen zoom level (from 100% to 70-80%) in Google chrome and Edge chromium browser in easyrepro framework? As when I run the test script in chrome and edge chromium browser by default launch the browser with screen size zoom level (by default as 100%). Due to this, elements are not found on a particular page and display an error of element not found (xpath is n

[2021-01-19 17:53] meetamalhotra opened #1061 "[HOW-TO] Open, Read & Write data of a file (file format - excel & docs)"
## Question

Please tell how can we Open, Read, Write data of Excel and Docs files in easyrepro framework. I have researched that by 'IronXL API' in C# we can do so but finding it as a challenge to customize according to easyrepro framework.
Kindly help in this case.

[2021-01-19 18:04] meetamalhotra opened #1062 "[HOW-TO] Scroll down in selenium C# in easyrepro framework."
Tried few methods to scroll down in selenium C# in easyrepro framework but nothing worked.
I have tried with "IJavaScriptExecutor" but it is not working. Please help me.

[2021-01-19 19:19] sanatlami commented on #1057
Hi @aliyoussefi yes i am able to lunch the chrome with @thathi way. I am getting some error i dont think that's related to chrome.

[2021-01-19 19:19] #1057 closed, assigned to nobody

[2021-01-19 20:19] bottbott commented on #1010
#1056 is open to merge in a bunch of updates to the super outdated last commit (dad1ea1c2b779f9769f1d2b87fe4d23fab32c743)  on the features/dotnet/core branch. Hopefully things move forward with it. Looks like it's currently stuck on waiting for @ajmunar to sign the CLA.

[2021-01-20 10:24] LA999 opened #1063 "[HOW-TO] <Click Command Bar Follow in more commands/ellipsis >"
## Question

Hi I would like to ask on how to automate on clicking the more command/ellipsis inside the record.
As I achieving to click the Follow button.

Below the details of the environment and steps to reproduce.

- EasyRepro Version - Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

- UCI

- ONLINE

- BROWSER - CHROME

Reproduce

 xrmApp.Navigation.OpenApp("Sales Professio

[2021-01-20 19:17] Shakevg commented on #1063
@LA999 Could please post a screen with UI and markup?

[2021-01-21 00:49] LA999 commented on #1063
Hi @Shakevg thank you for your response.

Automation should click the follow button after opening the account record.

**Screenshot 1**
![image](https://user-images.githubusercontent.com/40414388/105258559-ff4ebd00-5bc4-11eb-96f4-92044d2c937d.png)

**Screenshot 2**
![image](https://user-images.githubusercontent.com/40414388/105258807-7d12c880-5bc5-11eb-8f44-1e1b37c64402.png)

[2021-01-21 15:47] imartinflores commented on #950
yeah, is this merged ?

[2021-01-21 16:13] imartinflores opened #1064 "[HOW-TO] Send Performance Logs"
## Question

Hey guys, is there any way to log the Warning Logs on the performance tool and send them through App Insights as Telemetry?
Thanks

[2021-01-22 09:43] imartinflores commented on #1064
To be more specific, this warnings:
<img width="213" alt="logs" src="https://user-images.githubusercontent.com/17011557/105474521-3345e300-5c96-11eb-8f2d-2032362c788d.PNG">

[2021-01-22 10:27] Fietlux opened #1065 "[BUG] App.RelatedGrid.ClickCommand executes button before selecting the grid"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-01-22 20:56] Shakevg commented on #1064
@imartinflores As I know this functionality is not implemented. You can implement and push code.

[2021-01-22 23:08] sanatlami opened #1066 "How can i click on OptionSet value under PCF control form ?"
I have one of the entity created under PCF control i was able to populate Text field value using following code which is working but when i used same idea to populate OptionSet, its not working ? Can someone help here ?

**Code for Text field value: WORKING**
entity.SetValue("Amount", "5000000",Microsoft.Dynamics365.UIAutomation.Api.UCI.DTO.FormContextType.Dialog)

**OptionSet Value: NOT WORKING**

[2021-01-24 16:06] Shakevg commented on #812
@dynamicsk You should implement a custom solution.
This custom code working for me:
[code]

[2021-01-24 16:08] Shakevg commented on #812
[code]

[2021-01-24 16:27] Shakevg commented on #1054
@smallteam1
Looks like you have some specific configuration of Dynamics. Could you post the screen of the CRM page just after login if it is possible?
Login method check that after login navigation bar exists by XPath (see below). Could you check Xpath "//*[contains(@id,'crmTopBar') or contains(@data-id,'topBar')]"?
If it does not exist you can creatу custom Login method and change the expected be

[2021-01-27 06:29] Shakevg opened #1069 "[BUG] ClearValue for LookupItem sometimes does not work when clear many lookup fields"
## Bug Report

**EasyRepro Version**
  - [ ] Microsoft Dynamics 365 Online Version 8.2 (8.2.x) (DB 8.2.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0 (9.0.x) (DB 9.0.x) online
  - [ ] Microsoft Dynamics 365 Online Version 9.0.2 (9.0.2) (DB 9.0.2) online
  - [x] Microsoft Dynamics 365 Online Version 9.1 (9.1.x) (DB 9.1.x) online

**UCI or Classic Web**
  - [x] UCI (XrmApp)
  - [ ] Clas

[2021-01-27 17:50] RavitejaMuthyala commented on #1063
@LA999 you can use `xrmApp.CommandBar.ClickCommand("More commands for Account", "Follow");`
![image](https://user-images.githubusercontent.com/33097696/106032140-b780d780-6095-11eb-9a74-c47d79cfad27.png)

[2021-01-27 22:06] RavitejaMuthyala opened #1071 "[BUG] setvalue for Radiobutton not working if field is blank (fieldControl-checkbox-empty)"
Hi,
I'm trying to update a two-optionset radiobutton field which is initially blank this is what the input ID looks like as the initial value is empty,
![image](https://user-images.githubusercontent.com/33097696/106059943-10159c00-60b9-11eb-86da-d3ff3cf11f39.png)

and getting below error when I execute `xrmApp.Entity.SetValue(new BooleanItem { Name = "FieldName", Value = true });`
![image](https:/

[2021-01-29 16:51] dewilliams704 opened #1072 "How to check if I'm already logged into Dynamics?"
To speed up my test suite, I'd like to check if I'm already signed in to the correct test account, as opposed to signing out and back in to make sure.  Is there a way to check if I'm logged in and retrieve the username built into the framework?

[2021-01-29 17:29] VikramKurri opened #1073 "[BUG] - Unable to identify Web Elements using the LookupItem and OptionSet options"
**Case 1**: unable to identify the lookup field using the LookupItem functionality we have in Easy Repro even using BusinessProcessFlow

Here’s the code that I am using,

LookupItem Origin = new LookupItem { Name = "header_process_aac_originid.fieldControl-LookupResultsDropdown_aac_originid_textInputBox_with_filter_new", Value = "DFW" };
xrmApp.Entity.SetValue(Origin);

![Lookupfield](https://user

[2021-02-02 17:46] tomdaleywork commented on #821
@Sand-2050 I know this is old now, but did you get anywhere with this?

[2021-02-03 00:36] Keyshon opened #1074 "[BUG] SaveAndClose() not closing Related Entity page"
## Bug Report

**EasyRepro Version**: 9.2.21012.00135
**UCI or Classic Web**: UCI (XrmApp)
**Online or On Premise**: On Premise
**Browser**: Chrome (88)

**Describe the bug**
The scenario we implement:
1. Create an account (customer) and contact person with API
2. Log in with EasyRepro
3. Search the account with EasyRepro
4. Select Related > Credit Checks with EasyRepro
5. Click New Credit Check w

[2021-02-03 17:30] tomdaleywork opened #1075 "Timeline.AddNote fails to save note content"
## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).

### [Not covered](https://github.com/microsoft/EasyRepro#crm-functionality-not-covered) functionality, feature requests, and questions should use the Feature Request or Question templates.

**EasyRepro Version**
  - [ ] Microsoft Dynamics

[2021-02-04 04:18] krishnacs1993 opened #1076 "[BUG] GetCommandValues does not retrieve hidden button names in More commands"
GetCommandValues method retrieves only the visible button names in the command bar, it fails to retrieve the hidden button names which are under "More commands"

List<string> commandValues = xrmApp.CommandBar.GetCommandValues(true);
            Assert.IsTrue(commandValues.Contains("buttonName"));

[2021-02-04 20:44] Shakevg commented on #1074
@Keyshon Could you guide me on how you make this "1. Create an account (customer) and contact person with API"

[2021-02-04 21:21] Keyshon commented on #1074
@Shakevg
Sure, here is the code snippet:
[code]
where WebApiHelper just creates a new instance of CRMWebAPI with proper connection
[code]

and here is an example of a JSON we send (line 3)
[code]
Then we just search this account by ID and use it to create other entities through UI (e.g. Credit Check which doesn't save properly).

Also, I have made a research and found out that there was an update

[2021-02-05 20:20] #1073 closed, assigned to nobody

[2021-02-05 20:21] VikramKurri commented on #1073
Used the BusinessProcessFlow code available in framework and it worked. Please use that.

[2021-02-08 06:11] renzo305 opened #1077 "[HOW-TO] Find a specific record depending on specific column data in a grid view"
## Question

**Do we have a function wherein we have to find a specific record based on a specified column data?**

Example:

Entity: Contact
Specific column: State
Record's state to find: "Delaware"

Goal:
To find contact records in the state of Delaware

[2021-02-09 04:39] chrizz-msweb opened #1078 "[HOW-TO] Use Advance Find on UCI"
Our project has some entity that do not exist at sitemap.  The only way to create new data is through Advance Find.
How to use Advance Find on UCI at EasyRepro ?

[2021-02-09 10:57] imartinflores opened #1079 "[HOW-TO] UCIPerformanceTimeline"
## Question

Hi Guys, did someone notice this error intermittently ?

"UCIPerformanceTimeline is not defined".

I've seen sometimes there is no information on the performance tool, even after navigation and screen needs to be refreshed in order to display something. Noticed that before ?

Thanks

[2021-02-09 11:10] imartinflores opened #1080 "[HOW-TO] Login"
## Question

Hi, why is this needed during Login ?

 do
            {
                entered = EnterOneTimeCode(driver, mfaSecretKey);
                success = ClickStaySignedIn(driver) || IsUserAlreadyLogged();
                attempts++;
            }

We dont have that on the Online version after login in, should not be a validation before executing this ? Is taking too much time.

Thanks

[2021-02-09 15:04] PavanMudigonda opened #1081 "[HOW-TO] When executing simple login and opening Dashboard test from Jenkins getting Null Reference Exception"
## When executing simple login and opening Dashboard test from my organization Jenkins I am getting Null Reference Exception. But when I run locally from Visual Studio by selecting method and right click and run it works without any issues and passes. I have been struggling from last 24 hours. Any help or suggestions would be appreciated. Please see image below.

**What is your question?**
<img wi

[2021-02-09 19:50] PavanMudigonda commented on #1081
Issue is happening on line number 16. I enter user name password and Crm URL in app settings but it's not working

![image](https://user-images.githubusercontent.com/29324338/107419671-0db63780-6ae6-11eb-9508-5882cce0bb52.png)

[2021-02-10 06:01] chrizz-msweb opened #1082 "[BUG] Cannot click view list command bar after update"
## Bug Report

**EasyRepro Version**
9.1.0.27021

**UCI or Classic Web**
UCI (XrmApp)

**Online or On Premise**
Online

**Browser**
Chrome

**Describe the bug**
Cannot click command bar after new crm update.
System.NullReferenceException: Object reference not set to an instance of an object

**Code to reproduce**
                xrmApp.Navigation.OpenApp(UCIAppName.CustomerService);

[2021-02-10 08:27] MansaBajaj opened #1083 "[BUG] <Issue Description> Performance issue: Automation is taking longer than expected time for Area Navigation, View change, SAving a form or entity details & after clicking on New command in the commandbar"
I upgraded to latest version of easyrepro. Facing performance issues for below actions:

- Area navigation
- change of view
- saving any form or entity
- after searching a record in the grid
- after clicking new button in the command bar

## Bug Report

### Issues should only be created for items related to [covered functionality](https://github.com/microsoft/EasyRepro#crm-functionality-covered).